:host {
  .group-container {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;

    .content {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &.direction-row {
        gap: 20px;
        flex-direction: row;
      }
    }
  }

  .label {
    .wpp-internal-label {
      &::part(info-wrapper) {
        cursor: default;
      }
    }
  }
}
