.container {
  margin-top: 20px;
}

.containerTooltips {
  margin-bottom: 20px;
}

.button {
  margin-right: 12px;
}

.title {
  padding-top: 30px;
}

.otherTooltipsContainer {
  padding-bottom: 150px;
}

.customTooltipContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  .customContentTitle {
    margin-bottom: 20px;
  }

  .theme-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;

    .changeBtn {
      margin-right: 10px;
    }
  }
}

.customContentContainer:not(.light) {
  .item {
    margin-bottom: 4px;

    &::part(item) {
      &:hover {
        background-color: var(--wpp-grey-color-500);
      }
    }

    &::part(label) {
      color: var(--wpp-grey-color-000);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
