.row {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.example {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.datepicker {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
