.checkbox {
  margin-right: 15px;
}

.checkboxGroupContainer {
  display: flex;
  width: 1200px;
  margin-top: 20px;

  .checkboxGroupElement {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-right: 20px;

    .checkboxGroup {
      margin-top: 20px;
    }
  }
}
