:host {
  --mc-wrapper-width: var(--wpp-mc-wrapper-width, 100%);
  --mc-list-box-max-width: var(--wpp-menu-context-list-box-max-width, 350px);
  --mc-item-bg-color-active: var(--wpp-mc-item-bg-color-active, var(--wpp-grey-color-200));
  --mc-item-icon-color-active: var(--wpp-mc-item-icon-color-active, var(--wpp-grey-color-800));
  --mc-item-width: var(--wpp-mc-item-width, var(--custom-menu-context-width, 100%));
  --mc-item-margin: var(--wpp-mc-item-margin, 4px 0 0 0);
  --mc-nested-wrapper-border-radius: var(--wpp-mc-nested-wrapper-border-radius, 6px);
}

:host(.wpp-menu-context-wrapper) {
  display: inline-block;
  box-sizing: border-box;
  width: var(--mc-wrapper-width);
  max-width: var(--mc-list-box-max-width);
  @include menuList;

  .trigger-wrapper {
    display: inline-flex;

    &.nested {
      width: 100%;
    }

    &.nested {
      border-radius: var(--mc-nested-wrapper-border-radius);

      &[aria-expanded='true'] {
        background-color: var(--mc-item-bg-color-active);
      }
    }
  }
}

:host(.wpp-menu-nested-context-wrapper) {
  ::slotted(*) {
    .tippy-box[data-reference-hidden] {
      visibility: visible;
      pointer-events: all;
      transition-duration: 300ms !important;

      .tippy-content {
        transition-duration: 300ms !important;
      }
    }
  }
}

::slotted([slot='trigger-element']:active) {
  &::part(icon-extended) {
    color: var(--mc-item-icon-color-active);
  }
}

::slotted(*) {
  .tippy-box[data-animation='fadein'][data-state='hidden'] {
    opacity: 0;
  }

  .wpp-list-item,
  .wpp-menu-context {
    width: var(--mc-item-width);
    --li-width: var(--mc-item-width);
    overflow: hidden;

    &:not(:first-child) {
      margin: var(--mc-item-margin);
    }
  }
}
