<div>
  <header>
    <h2 class="app-title">Components Library Examples</h2>
    <nav>
      <a routerLink="/accordion" routerLinkActive="active">Accordion</a>
      <a routerLink="/ag-grid-table-pagination" routerLinkActive="active">AG Grid table - Pagination</a>
      <a routerLink="/ag-grid-table-load-more" routerLinkActive="active">AG Grid table - Load More</a>
      <a routerLink="/ag-grid-table-infinite-scroll" routerLinkActive="active">AG Grid table - Infinite Scroll</a>
      <a routerLink="/ag-grid-table-hybrid-infinite-scroll" routerLinkActive="active"
        >AG Grid table - Hybrid Infinite Scroll</a
      >
      <a routerLink="/autocomplete" routerLinkActive="active">Autocomplete with pills</a>
      <a routerLink="/back-to-top-button" routerLinkActive="active">Back To Top Button</a>
      <a routerLink="/banners" routerLinkActive="active">Banners</a>
      <a routerLink="/chat-input" routerLinkActive="active">Chat Input</a>
      <a routerLink="/checkboxes" routerLinkActive="active">Checkboxes</a>
      <a routerLink="/color-generator" routerLinkActive="active">Colors Generator</a>
      <a routerLink="/color-picker" routerLinkActive="active">Color Picker</a>
      <a routerLink="/datepickers" routerLinkActive="active">Datepickers</a>
      <a routerLink="/echarts" routerLinkActive="active">ECharts</a>
      <a routerLink="/file-upload" routerLinkActive="active">File Upload</a>
      <a routerLink="/form-controls" routerLinkActive="active">Form Controls</a>
      <a routerLink="/menu-context" routerLinkActive="active">Menu Context</a>
      <a routerLink="/menu-context-based-components" routerLinkActive="active">Menu Context based components</a>
      <a routerLink="/modals" routerLinkActive="active">Modals</a>
      <a routerLink="/overlay" routerLinkActive="active">Overlay</a>
      <a routerLink="/radio-buttons" routerLinkActive="active">Radio Buttons</a>
      <a routerLink="/rich-text" routerLinkActive="active">Rich Text</a>
      <a routerLink="/search" routerLinkActive="active">Search</a>
      <a routerLink="/selects" routerLinkActive="active">Selects</a>
      <a routerLink="/single-select" routerLinkActive="active">Single Select</a>
      <a routerLink="/multiple-select" routerLinkActive="active">Multiple Select</a>
      <a routerLink="/text-select" routerLinkActive="active">Text Select</a>
      <a routerLink="/combined-select" routerLinkActive="active">Combined Select</a>
      <a routerLink="/skeleton" routerLinkActive="active">Skeleton</a>
      <a routerLink="/sticky-bar" routerLinkActive="active">Sticky bar</a>
      <a routerLink="/swiper" routerLinkActive="active">Swiper / Carousel</a>
      <a routerLink="/toggles" routerLinkActive="active">Toggles</a>
      <a routerLink="/topbar" routerLinkActive="active">Topbar</a>
      <a routerLink="/time-picker" routerLinkActive="active">Time Picker</a>
      <a routerLink="/bugfixes" routerLinkActive="active">Bugfixes</a>
      <a routerLink="/bugfixes" routerLinkActive="active">Performance</a>
      <a routerLink="/bugfixes" routerLinkActive="active">Custom Select</a>
      <a routerLink="/vc" routerLinkActive="active">Visual Comparison</a>
    </nav>
  </header>
</div>

<main>
  <router-outlet></router-outlet>
</main>
