/**
  * @prop --wpp-tooltip-padding:
  * @prop --wpp-tooltip-border-radius:
  * @prop --wpp-tooltip-with-header-padding:
  * @prop --wpp-tooltip-with-value-padding:
  * @prop --wpp-tooltip-icon-margin-right:
  * @prop --wpp-tooltip-text-margin-bottom:
  * @prop --wpp-tooltip-error-text-color:
  * @prop --wpp-tooltip-error-bg-color:
  * @prop --wpp-tooltip-dark-bg-color:
  * @prop --wpp-tooltip-dark-value-color:
  * @prop --wpp-tooltip-dark-text-color:
  * @prop --wpp-tooltip-dark-with-value-text-color:
  * @prop --wpp-tooltip-dark-header-text-color:
  * @prop --wpp-tooltip-light-bg-color:
  * @prop --wpp-tooltip-light-value-color:
  * @prop --wpp-tooltip-light-text-color:
  * @prop --wpp-tooltip-light-with-value-text-color:
  * @prop --wpp-tooltip-light-header-text-color:
  * @prop --wpp-tooltip-light-box-shadow:
*/

// do not forget to add CSS variables to consts.ts file, to add an opportunity to style tooltip as much as possible

:host {
  --tooltip-padding: var(--wpp-tooltip-padding, 6px 8px);
  --tooltip-border-radius: var(--wpp-tooltip-border-radius, var(--wpp-border-radius-s));
  --tooltip-with-header-padding: var(--wpp-tooltip-with-header-padding, 8px 12px);
  --tooltip-with-value-padding: var(--wpp-tooltip-with-value-padding, 6px 12px);
  --tooltip-icon-margin-right: var(--wpp-tooltip-icon-margin-right, 4px);
  --tooltip-text-margin-bottom: var(--wpp-tooltip-text-margin-bottom, 2px);

  --tooltip-error-text-color: var(--wpp-tooltip-error-text-color, var(--wpp-grey-color-1000));
  --tooltip-error-header-text-color: var(--wpp-tooltip-error-header-text-color, var(--wpp-grey-color-1000));
  --tooltip-error-bg-color: var(--wpp-tooltip-error-bg-color, var(--wpp-danger-color-200));
  --tooltip-error-with-header-header-color: var(
    --wpp-tooltip-error-with-header-header-color,
    var(--wpp-grey-color-1000)
  );
  --tooltip-error-with-header-text-color: var(--wpp-tooltip-error-with-header-text-color, var(--wpp-grey-color-800));
  --tooltip-error-with-value-text-color: var(--wpp-tooltip-error-with-value-text-color, var(--wpp-grey-color-800));
  --tooltip-error-with-value-value-color: var(--wpp-tooltip-error-with-value-value-color, var(--wpp-grey-color-1000));

  --tooltip-dark-bg-color: var(--wpp-tooltip-dark-bg-color, var(--wpp-text-color-info));
  --tooltip-dark-value-color: var(--wpp-tooltip-dark-value-color, var(--wpp-grey-color-000));
  --tooltip-dark-text-color: var(--wpp-tooltip-dark-text-color, var(--wpp-grey-color-000));
  --tooltip-dark-with-header-header-color: var(--wpp-tooltip-dark-with-header-header-color, var(--wpp-grey-color-000));
  --tooltip-dark-with-header-text-color: var(--wpp-tooltip-dark-with-header-text-color, var(--wpp-grey-color-100));
  --tooltip-dark-with-value-text-color: var(--wpp-tooltip-dark-with-value-text-color, var(--wpp-grey-color-200));
  --tooltip-dark-with-value-value-color: var(--wpp-tooltip-dark-with-value-value-color, var(--wpp-grey-color-000));
  --tooltip-dark-header-text-color: var(--wpp-tooltip-dark-header-text-color, var(--wpp-grey-color-000));

  --tooltip-light-bg-color: var(--wpp-tooltip-light-bg-color, var(--wpp-grey-color-000));
  --tooltip-light-value-color: var(--wpp-tooltip-light-value-color, var(--wpp-text-color));
  --tooltip-light-text-color: var(--wpp-tooltip-light-text-color, var(--wpp-grey-color-1000));
  --tooltip-light-with-header-header-color: var(
    --wpp-tooltip-light-with-header-header-color,
    var(--wpp-grey-color-1000)
  );
  --tooltip-light-with-header-text-color: var(--wpp-tooltip-light-with-header-text-color, var(--wpp-grey-color-800));
  --tooltip-light-with-value-text-color: var(--wpp-tooltip-light-with-value-text-color, var(--wpp-grey-color-800));
  --tooltip-light-with-value-value-color: var(--wpp-tooltip-light-with-value-value-color, var(--wpp-grey-color-1000));
  --tooltip-light-header-text-color: var(--wpp-tooltip-light-header-text-color, var(--wpp-text-color));
  --tooltip-light-box-shadow: var(--wpp-tooltip-light-box-shadow, var(--wpp-box-shadow-m));

  --tooltip-warning-bg-color: var(--wpp-tooltip-warning-bg-color, var(--wpp-warning-color-200));
  --tooltip-variant-box-shadow: var(--wpp-tooltip-variant-box-shadow, var(--wpp-box-shadow-m));

  display: inline-flex;
  width: -webkit-fit-content;

  .anchor {
    display: inline-flex;
  }

  .content-wrapper {
    &.hidden {
      position: absolute;
      display: none;
    }
  }

  .tooltip-custom-content {
    width: 100%;
    background-color: var(--tooltip-dark-bg-color);
    padding: var(--tooltip-padding);
    border-radius: var(--tooltip-border-radius);
    overflow-wrap: break-word;

    &.light {
      box-shadow: var(--tooltip-light-box-shadow);
      background-color: var(--tooltip-light-bg-color);
    }
  }
}

:host(.in-dropdown) {
  max-width: 100%;
  .anchor {
    max-width: 100%;
  }
}

:host(.transparent) {
  opacity: 0;
  pointer-events: none;
}
