<div class="checkboxes">
  <h3>With Label</h3>
  <wpp-checkbox
    class="checkbox"
    [labelConfig]="getLabelConfig('Option 1')"
    name="options 1"
    required
    auto-focus
    data-testid="focus-checkbox"
  ></wpp-checkbox>

  <wpp-checkbox
    class="checkbox"
    [labelConfig]="getLabelConfig('Option 2')"
    name="options 2"
    data-testid="сheckbox-with-label"
    required
  ></wpp-checkbox>

  <wpp-checkbox class="checkbox" name="options 3" [labelConfig]="labelConfig" required data-testid="checkbox-with-icon"></wpp-checkbox>

  <wpp-checkbox
    class="checkbox"
    [labelConfig]="getLabelConfig('Option 4')"
    name="options 4"
    data-testid="checkbox-with-optional-label"
  ></wpp-checkbox>

  <wpp-checkbox
    class="checkbox"
    [labelConfig]="getLabelConfig('Option 5')"
    indeterminate
    name="options 5"
    required
    data-testid="indeterminate-checkbox"
  ></wpp-checkbox>

  <wpp-checkbox
    class="checkbox"
    [labelConfig]="getLabelConfig('Option 6')"
    required
    name="options 6"
    [messageType]="errorType"
    [message]="message"
    max-message-length="10"
    data-testid="checkbox-with-inline-message"
  ></wpp-checkbox>

  <div class="checkboxGroupContainer">
    <div class="checkboxGroupElement">
      <wpp-typography type="xl-heading">With 3 items</wpp-typography>
      <wpp-checkbox-group
        [labelConfig]="labelConfigGroup"
        class="checkboxGroup"
        [value]="value"
        (wppChange)="handleWppChange($event)"
      >
        <wpp-checkbox
          *ngFor="let checkbox of checkboxes"
          [key]="checkbox.value"
          [name]="checkbox.text"
          required
          [value]="checkbox.value"
          [labelConfig]="{ text: checkbox.text }"
        >
        </wpp-checkbox>
      </wpp-checkbox-group>

      <wpp-button [style]="{ marginTop: '10px' }" [disabled]="checkboxes.length === 5" (click)="handleAddOption()">
        Add option
      </wpp-button>

      <wpp-button [style]="{ marginTop: '10px' }" (click)="selectAllOptions()"> Select All options </wpp-button>
    </div>

    <div class="checkboxGroupElement">
      <wpp-typography type="xl-heading">With error message</wpp-typography>
      <wpp-checkbox-group
        class="checkboxGroup"
        [labelConfig]="labelConfigGroup"
        [value]="value"
        message="Error message"
        [messageType]="errorType"
        (wppChange)="handleWppChange($event)"
      >
        <wpp-checkbox required value="option-1" name="option 1" [labelConfig]="{ text: 'Option 1' }"></wpp-checkbox>
        <wpp-checkbox required value="option-2" name="option 2" [labelConfig]="{ text: 'Option 2' }"></wpp-checkbox>
        <wpp-checkbox required value="option-3" name="option 3" [labelConfig]="{ text: 'Option 3' }"></wpp-checkbox>
        <wpp-checkbox required value="option-4" name="option 4" [labelConfig]="{ text: 'Option 4' }"></wpp-checkbox>
      </wpp-checkbox-group>
    </div>

    <div class="checkboxGroupElement">
      <wpp-typography type="xl-heading">With warning message</wpp-typography>
      <wpp-checkbox-group
        class="checkboxGroup"
        [labelConfig]="labelConfigGroup"
        [value]="value"
        message="Warning message"
        [messageType]="warningType"
        (wppChange)="handleWppChange($event)"
      >
        <wpp-checkbox required value="option-1" name="option 1" [labelConfig]="{ text: 'Option 1' }"></wpp-checkbox>
        <wpp-checkbox required value="option-2" name="option 2" [labelConfig]="{ text: 'Option 2' }"></wpp-checkbox>
        <wpp-checkbox required value="option-3" name="option 3" [labelConfig]="{ text: 'Option 3' }"></wpp-checkbox>
        <wpp-checkbox required value="option-4" name="option 4" [labelConfig]="{ text: 'Option 4' }"></wpp-checkbox>
        <wpp-checkbox required value="option-5" name="option 5" [labelConfig]="{ text: 'Option 5' }"></wpp-checkbox>
      </wpp-checkbox-group>
    </div>

    <div class="checkboxGroupElement">
      <wpp-typography type="xl-heading">With warning message</wpp-typography>
      <wpp-checkbox-group
        class="checkboxGroup"
        [labelConfig]="labelConfigGroup"
        [value]="value"
        message="Warning message"
        [messageType]="warningType"
        [maxMessageLength]="maxMessageLength"
        (wppChange)="handleWppChange($event)"
      >
        <wpp-checkbox required value="option-1" name="option 1" [labelConfig]="{ text: 'Option 1' }"></wpp-checkbox>
        <wpp-checkbox required value="option-2" name="option 2" [labelConfig]="{ text: 'Option 2' }"></wpp-checkbox>
        <wpp-checkbox required value="option-3" name="option 3" [labelConfig]="{ text: 'Option 3' }"></wpp-checkbox>
        <wpp-checkbox required value="option-4" name="option 4" [labelConfig]="{ text: 'Option 4' }"></wpp-checkbox>
        <wpp-checkbox required value="option-5" name="option 5" [labelConfig]="{ text: 'Option 5' }"></wpp-checkbox>
      </wpp-checkbox-group>
    </div>
  </div>

  <h3>Without Label</h3>
  <wpp-checkbox class="checkbox" name="option 1" required data-testid="checkbox-without-label"></wpp-checkbox>
</div>
