/**
  * @prop --wpp-pill-group-item-margin:
  * @prop --wpp-pill-group-label-margin:
*/

:host {
  --pill-group-item-margin: var(--wpp-pill-group-item-margin, 0 8px 0 0);
  --pill-group-label-margin: var(--wpp-pill-group-label-margin, 0 0 8px 0);

  display: inline-flex;
  flex-direction: column;

  .label {
    margin: var(--pill-group-label-margin);
  }

  .pills-wrapper {
    display: inline-flex;

    ::slotted(.wpp-pill:not(:last-child)) {
      margin: var(--pill-group-item-margin);
    }
  }
}
