<div data-testid="datepickers">
  <div class="row">
    <div class="datepicker">
      <h3 data-testid="datepicker-test-label">Single select Datepicker</h3>
      <wpp-datepicker
        (wppBlur)="handleBlur($event)"
        (wppFocus)="handleFocus($event)"
        value="21/02/2023"
        toggle-selected
        data-testid="single-select-datepicker"
      ></wpp-datepicker>
    </div>

    <div class="datepicker">
      <h3>With MM/dd/yyyy format</h3>
      <wpp-datepicker
        min-date="04/20/2022"
        max-date="04/27/2022"
        value="04/23/2022"
        [locale]="modifiedDataFormat"
        data-testid="overridden-date-format-datepicker"
      ></wpp-datepicker>
    </div>

    <div class="datepicker">
      <h3>Range datepicker</h3>
      <wpp-datepicker range [value]="initialValue" data-testid="range-datepicker"></wpp-datepicker>
    </div>

    <div class="datepicker">
      <h3>With MM/dd/yyyy format</h3>
      <wpp-datepicker
        range
        [value]="initialValueNewFormat"
        [locale]="modifiedDataFormat"
        data-testid="new-format-range-datepicker"
      ></wpp-datepicker>

      <p class="belowCalendar" data-testid="clickout-label">Below click-out label</p>
    </div>

    <div class="datepicker">
      <h3>Datepicker with autofocus</h3>
      <wpp-datepicker value="12/12/2022" auto-focus data-testid="init-date-datepicker"></wpp-datepicker>
    </div>
  </div>

  <div class="rowPresets">
    <div class="datepicker">
      <h3 data-testid="datepicker-test-label">Disabled Single Datepicker</h3>
      <wpp-datepicker
        (wppBlur)="handleBlur($event)"
        (wppFocus)="handleFocus($event)"
        value="21/02/2023"
        disabled
        toggle-selected
        data-testid="disabled-single-select-datepicker"
      ></wpp-datepicker>
    </div>

    <div class="datepicker">
      <h3 data-testid="datepicker-test-label">Single Datepicker with no date</h3>
      <wpp-datepicker
        (wppBlur)="handleBlur($event)"
        (wppFocus)="handleFocus($event)"
        toggle-selected
        data-testid="single-datepicker-no-value"
      ></wpp-datepicker>
    </div>
  </div>

  <div class="rowPresets">
    <div class="datepicker">
      <h3>Range Datepicker with presets</h3>
      <wpp-datepicker
        [presets]="presets"
        range
        [value]="rangeValuePresets"
        data-testid="range-datepicker-with-presets"
      ></wpp-datepicker>
    </div>
  </div>

  <div class="customRow">
    <wpp-typography type="xl-heading">
      These datepickers have the following restrictions: minDate = 05/09/2023, maxDate = 14/05/2024 (dd/MM/yyyy)
    </wpp-typography>
    <div class="customRowContent">
      <div class="datepicker">
        <h3>"EEEE dd MMM, yyyy" format</h3>
        <wpp-datepicker
          [locale]="customLocalePrimary"
          min-date="Tuesday 05 May, 2024"
          max-date="Tuesday 27 May, 2024"
          value="Wednesday 14 May, 2024"
          data-testid="init-date-datepicker"
        ></wpp-datepicker>
      </div>
      <div class="datepicker">
        <h3>"dd MMM yyyy" format</h3>
        <wpp-datepicker
          [locale]="customLocaleSecondary"
          minDate="05 May 2024"
          maxDate="27 May 2024"
          value="14 May 2024"
          data-testid="init-date-datepicker"
        ></wpp-datepicker>
      </div>
      <div class="datepicker">
        <h3>"MMMM dd EEEE, yyyy" format</h3>
        <wpp-datepicker
          [locale]="customLocaleTernary"
          min-date="May 05 Tuesday, 2024"
          max-date="May 27 Tuesday, 2024"
          value="May 14 Wednesday, 2024"
          data-testid="init-date-datepicker"
        ></wpp-datepicker>
      </div>
    </div>
  </div>

  <div class="customRow">
    <wpp-typography type="xl-heading">
      This datepicker has the following restrictions: minDate = 13/05/2024, maxDate = 28/05/2024 (dd/MM/yyyy)
    </wpp-typography>
    <div class="customRowContent">
      <div class="datepicker">
        <h3>"dd/MM/yy" format</h3>
        <wpp-datepicker
          [locale]="customDateFormat"
          min-date="13/05/24"
          max-date="28/05/24"
          value="15/05/24"
          data-testid="init-date-datepicker"
        ></wpp-datepicker>
      </div>
    </div>
  </div>

  <div class="lastRow">
    <div class="datepicker">
      <wpp-datepicker
        (wppBlur)="handleBlur($event)"
        (wppFocus)="handleFocus($event)"
        [value]="singleValue"
        toggleSelected
      ></wpp-datepicker>
      <wpp-button onClick="{handleSingleValueChange}">Set new date</wpp-button>
    </div>
    <div class="datepicker">
      <wpp-datepicker
        (wppBlur)="handleBlur($event)"
        (wppFocus)="handleFocus($event)"
        [value]="rangeValue"
        range
        toggleSelected
      ></wpp-datepicker>
      <wpp-button onClick="{handleRangeValueChange}">Set new range</wpp-button>
    </div>
  </div>
</div>
