<div class="group" data-testid="cards-group-container">
  <h3>Multiple Group</h3>
  <wpp-card-group
    class="multiple"
    multiple
    [value]="multipleGroupValue"
    size="s"
    (wppChange)="handleMultipleCardGroupChange($event)"
  >
    <wpp-card class="item" value="item-a" data-testid="multiple-card-item-a">
      <div>Information about item a</div>
      <wpp-typography slot="header" type="s-strong"> Item A </wpp-typography>
    </wpp-card>
    <wpp-card class="item" value="item-b" data-testid="multiple-card-item-b">
      <div>Information about item b</div>
      <wpp-typography slot="header" type="s-strong"> Item B </wpp-typography>
    </wpp-card>
    <wpp-card class="item" value="item-c">
      <div>Information about item c</div>
      <wpp-typography slot="header" type="s-strong"> Item C </wpp-typography>
    </wpp-card>
  </wpp-card-group>

  <h3>Multiple Group with dynamic value</h3>
  <wpp-button class="multipleButton" (click)="handleShowCardGroup()">
    Click to show/hide Cards
  </wpp-button>
  <wpp-card-group
    *ngIf="isShown"
    class="multiple"
    multiple
    [value]="dynamicMultipleGroupValue"
    size="m"
    (wppChange)="handleDynamicMultipleCardGroupChange($event)"
  >
    <wpp-card
      *ngFor="let card of cardList"
      [value]="card.value"
      [key]="card.id"
      class="item"
    >
      <div>Information about {{ card.label }}</div>
      <wpp-typography slot="header" type="s-strong">
        {{ card.label }}
      </wpp-typography>
    </wpp-card>
  </wpp-card-group>

  <h3>Single Group</h3>
  <wpp-card-group
    class="single"
    value="item-a"
    size="l"
    (wppChange)="handleSingleCardGroupChange($event)"
  >
    <wpp-card class="item" value="item-a" data-testid="single-card-item-a">
      <wpp-typography slot="header" type="l-strong"> Item A </wpp-typography>
    </wpp-card>
    <wpp-card class="item" value="item-b" data-testid="single-card-item-b">
      <wpp-typography slot="header" type="l-strong"> Item B </wpp-typography>
    </wpp-card>
    <wpp-card class="item" value="item-c" disabled>
      <div slot="header" class="cardHeader">
        <wpp-icon-user class="userIcon"></wpp-icon-user>
        <wpp-typography class="disabledLabel" slot="header" type="l-strong">
          Item C
        </wpp-typography>
      </div>
    </wpp-card>
  </wpp-card-group>

  <h3>Single Group - Allow Empty Value</h3>
  <wpp-card-group
    class="single"
    value="item-a"
    size="l"
    allow-empty-selection
    (wppChange)="handleSingleCardGroupChange($event)"
  >
    <wpp-card class="item" value="item-a" data-testid="single-card-item-a">
      <wpp-typography slot="header" type="l-strong"> Item A </wpp-typography>
    </wpp-card>
    <wpp-card class="item" value="item-b" data-testid="single-card-item-b">
      <wpp-typography slot="header" type="l-strong"> Item B </wpp-typography>
    </wpp-card>
    <wpp-card class="item" value="item-c">
      <div slot="header" class="cardHeader">
        <wpp-icon-user class="userIcon"></wpp-icon-user>
        <wpp-typography slot="header" type="l-strong">
          Item C
        </wpp-typography>
      </div>
    </wpp-card>
  </wpp-card-group>

  <h3>Single Group without radio</h3>
  <wpp-card-group
    class="single"
    value="item-a"
    size="l"
    with-radio-or-checkbox="false"
    (wppChange)="handleSingleCardGroupChange($event)"
  >
    <wpp-card class="item" value="item-a">
      <wpp-typography slot="header" type="l-strong"> Item A </wpp-typography>
    </wpp-card>
    <wpp-card class="item" value="item-b">
      <wpp-typography slot="header" type="l-strong"> Item B </wpp-typography>
    </wpp-card>
    <wpp-card class="item" value="item-c">
      <wpp-typography slot="header" type="l-strong"> Item C </wpp-typography>
    </wpp-card>
  </wpp-card-group>
</div>
