swiper-container {
  --swiper-theme-color: var(--wpp-brand-color);
  --swiper-navigation-size: 40px;
  --swiper-navigation-sides-offset: 18px;
  --swiper-navigation-arrow-bg-color: var(--wpp-grey-color-000);
  --swiper-navigation-bg-color: var(--wpp-grey-color-800);
  --swiper-navigation-bg-opacity: 0.2;
  --swiper-navigation-bg-opacity-hover: 0.28;
  --swiper-navigation-bg-opacity-pressed: 0.36;
  --swiper-navigation-bg-opacity-disabled: 0.12;
  --swiper-pagination-bottom: 26px;
  --swiper-pagination-bullet-inactive-color: var(--wpp-grey-color-800);
  --swiper-pagination-bullet-inactive-opacity: 0.24;
  --swiper-pagination-bullet-active-color: var(--wpp-brand-color);

  &::part(button-prev),
  &::part(button-next) {
    display: block;
    overflow: hidden;
    width: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));

    &::before {
      content: '';
      display: block;
      width: var(--swiper-navigation-size);
      height: var(--swiper-navigation-size);
      color: var(--swiper-theme-color);
      background-color: var(--swiper-navigation-bg-color);
      opacity: var(--swiper-navigation-bg-opacity);
      border-radius: 50%;
    }

    &:hover {
      &::before {
        opacity: var(--swiper-navigation-bg-opacity-hover);
      }
    }

    &:active {
      &::before {
        opacity: var(--swiper-navigation-bg-opacity-pressed);
      }
    }

    &:disabled {
      &::before {
        opacity: var(--swiper-navigation-bg-opacity-disabled);
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: var(--swiper-navigation-size);
      height: var(--swiper-navigation-size);
      mask-image: url("data:image/svg+xml,%3Csvg fill='none' role='img' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m18 14 6 6-6 6' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E");
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg fill='none' role='img' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m18 14 6 6-6 6' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E");
      background-color: var(--swiper-navigation-arrow-bg-color);
      border-radius: 50%;
    }
  }

  &::part(button-prev)::after {
    transform: rotate(180deg);
  }

  &::part(pagination) {
    height: var(--swiper-navigation-size, var(--swiper-pagination-bullet-height));
    line-height: var(--swiper-navigation-size, var(--swiper-pagination-bullet-height));
  }

  &::part(bullet-active) {
    background-color: var(--swiper-pagination-bullet-active-color);
  }
}
