@import '../../../../global/tabFocus.scss';

/**
  * @prop --DEPRECATED-wpp-combined-select-border-color:
  * @prop --DEPRECATED-wpp-combined-select-border-color-hover:
  * @prop --DEPRECATED-wpp-combined-select-border-color-active:
  * @prop --DEPRECATED-wpp-combined-select-first-border-color-focus:
  * @prop --DEPRECATED-wpp-combined-select-second-border-color-focus:
  * @prop --DEPRECATED-wpp-combined-select-bg-color:
  * @prop --DEPRECATED-wpp-combined-select-bg-color-hover:
  * @prop --DEPRECATED-wpp-combined-select-bg-color-active:
  * @prop --DEPRECATED-wpp-combined-select-icon-color-hover:
  * @prop --DEPRECATED-wpp-combined-select-inline-message-margin:
  * @prop --DEPRECATED-wpp-combined-select-option-padding:
  * @prop --DEPRECATED-wpp-combined-select-width:
  * @prop --DEPRECATED-wpp-combined-select-menu-width:
  * @prop --DEPRECATED-wpp-combined-select-text-input-width:
  * @prop --DEPRECATED-wpp-combined-select-label-margin:
*/

@mixin combinedSelect {
  --combined-select-border-color: var(--wpp-combined-select-border-color, var(--wpp-grey-color-500));
  --combined-select-border-color-hover: var(--wpp-combined-select-border-color-hover, var(--wpp-grey-color-700));
  --combined-select-border-color-active: var(--wpp-combined-select-border-color-active, var(--wpp-grey-color-800));
  --combined-select-first-border-color-focus: var(--wpp-combined-select-first-border-color-focus, var(--wpp-grey-color-000));
  --combined-select-second-border-color-focus: var(--wpp-combined-select-second-border-color-focus, var(--wpp-brand-color));

  --combined-select-bg-color: var(--wpp-combined-select-bg-color, var(--wpp-grey-color-100));
  --combined-select-bg-color-hover: var(--wpp-combined-select-bg-color-hover, var(--wpp-grey-color-200));
  --combined-select-bg-color-active: var(--wpp-combined-select-bg-color-active, var(--wpp-grey-color-100));
  --combined-select-icon-color-hover: var(--wpp-combined-select-icon-color-hover, var(--wpp-icon-color-hover));
  --combined-select-inline-message-margin: var(--wpp-combined-select-inline-message-margin, 4px 0 0 0);
  --combined-select-option-padding: var(--wpp-combined-select-option-padding, 0 8px 0 0);
  --combined-select-height: var(--wpp-combined-select-height, 40px);
  --combined-select-width: var(--wpp-combined-select-width, 260px);
  --combined-select-menu-width: var(--wpp-combined-select-menu-width, auto);
  --combined-select-text-input-width: var(--wpp-combined-select-text-input-width, 100%);
  --combined-select-label-margin: var(--wpp-combined-select-label-margin, 0 0 8px 0);

  display: inline-flex;
  flex-direction: column;
  width: var(--combined-select-width);

  .combined-input-wrapper {
    display: inline-flex;
    outline: none;

    &:focus-visible {
      @include tabFocusProperties(var(--combined-select-first-border-color-focus), var(--combined-select-second-border-color-focus), var(--wpp-border-radius-m));

      .single-select-input, .wpp-input::part(input), .wpp-input::part(input-label) {
        border-color: var(--combined-select-border-color);
        background-color: var(--combined-select-bg-color);
      }
    }

    .single-select-input .input-text {
      padding: var(--combined-select-option-padding);
    }

    &:hover {
      .single-select-input, .wpp-input::part(input), .wpp-input::part(input-label) {
        border-color: var(--combined-select-border-color-hover);
        background-color: var(--combined-select-bg-color-hover);
      }
    }

    &.focused {
      &:hover {
        .single-select-input, .wpp-input::part(input), .wpp-input::part(input-label) {
          background-color: var(--combined-select-bg-color-active);
        }

        .wpp-input::part(input-label) {
          background-color: transparent;
        }
      }

      .single-select-input, .wpp-input::part(input), .wpp-input::part(input-label) {
        border-color: var(--combined-select-border-color-active);
      }
    }

    &.warning {
      @include tabFocusVisible(var(--combined-select-first-border-color-focus), var(--wpp-warning-color-400));

      .single-select-input, .wpp-input::part(input), .wpp-input::part(input-label) {
        border-color: var(--wpp-warning-color-400);
      }

      .wpp-menu-list {
        &:focus-visible {
          @include tabFocusProperties(var(--combined-select-first-border-color-focus), var(--wpp-warning-color-400));

          &::after {
            background-color: var(--wpp-warning-color-400);
          }
        }
      }

      &:hover {
        .single-select-input, .wpp-input::part(input), .wpp-input::part(input-label) {
          border-color: var(--wpp-warning-color-500);
        }
      }
    }

    &.error {
      @include tabFocusVisible(var(--combined-select-first-border-color-focus), var(--wpp-danger-color-400));

      .single-select-input, .wpp-input::part(input), .wpp-input::part(input-label) {
        border-color: var(--wpp-danger-color-400);
      }

      .wpp-menu-list {
        &:focus-visible {
          @include tabFocusProperties(var(--combined-select-first-border-color-focus), var(--wpp-danger-color-400));

          &::after {
            background-color: var(--wpp-warning-color-400);
          }
        }
      }

      &:hover {
        .single-select-input, .wpp-input::part(input), .wpp-input::part(input-label) {
          border-color: var(--wpp-danger-color-500);
        }
      }
    }
  }

  .wpp-input {
    width: var(--combined-select-text-input-width);
  }

  .wpp-inline-message {
    margin: var(--combined-select-inline-message-margin);
  }

  .label {
    width: fit-content;
    margin: var(--combined-select-label-margin);

    &:hover:not(.disabled) {
      & + .combined-input-wrapper {
        .single-select-input, .wpp-text-input::part(input), .wpp-input::part(input-label) {
          border-color: var(--combined-select-border-color);
          background-color: var(--combined-select-bg-color);
        }

        &.error {
          .single-select-input, .wpp-text-input::part(input), .wpp-input::part(input-label) {
            border-color: var(--wpp-danger-color-500);
          }
        }

        &.warning {
          .single-select-input, .wpp-text-input::part(input), .wpp-input::part(input-label) {
            border-color: var(--wpp-warning-color-500);
          }
        }
      }
    }
  }

  .single-select-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:hover {
      background-color: var(--combined-select-bg-color-active);

      .wpp-icon-chevron {
        color: var(--combined-select-icon-color-hover);
      }
    }
  }

  .wpp-input {
    &::part(input), &::part(input-label) {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
