.items {
  margin-bottom: 50px;
}

.item {
  margin-right: 15px;

  &.withMargin {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.chatItems {
  display: flex;
  gap: 16px;
}

.chatItem {
  position: relative;
  margin: 8px 0;
}

.toastBtnsWrapper {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}
