@import '../../datepicker.css';
@import '../../global/air-datepicker.scss';
@import '../../global/datepicker-presets.scss';

:host {
  @include air-datepicker;
  width: max-content;

  .wpp-datepicker-portal {
    min-width: var(--datepicker-min-width);

    .air-datepicker {
      position: relative;
    }

    &.wpp-with-presets {
      box-shadow: var(--wpp-box-shadow-m);
      border-radius: var(--datepicker-border-radius);
      overflow: hidden;

      .air-datepicker {
        border-radius: 0;
        box-shadow: none;
      }

      @include datepicker-presets;
    }

    .air-datepicker {
      --adp-cell-background-color-in-range: var(--wpp-grey-color-100);
    }

    &.wpp-range-selected {
      --wpp-datepicker-range-bg-color: var(--wpp-primary-color-100);
      --wpp-datepicker-day-in-range-border-color: var(--wpp-primary-color-100);
      --wpp-other-month-color-in-range: var(--wpp-primary-color-100);

      .air-datepicker {
        --adp-cell-background-color-in-range: var(--wpp-primary-color-100);
      }
    }

    &.wpp-static-portal {
      position: relative;
      visibility: visible;
    }

    &.wpp-static-portal.wpp-with-presets {
      display: flex;

      .air-datepicker {
        .air-datepicker--buttons {
          &::before {
            left: -8px;
          }
        }
      }
    }
  }

  .calendar-icon {
    color: var(--wpp-grey-color-600);

    &:hover {
      color: var(--wpp-grey-color-800);
    }
  }

  #container {
    display: inline-flex;
    flex-direction: column;
    position: relative;

    &.single-datepicker.has-default-format:not(.static-datepicker) {
      width: var(--datepicker-single-container-width);
    }

    &.range-datepicker,
    &.single-datepicker {
      width: var(--datepicker-range-container-width);
    }

    &.static-datepicker {
      width: var(--datepicker-range-container-width);

      .calendar-icon,
      .cross-icon {
        top: 14px;
      }

      #datepicker {
        margin-top: 4px;
      }
    }

    &.static-datepicker.with-presets {
      width: auto;
    }
  }

  .datepicker-wrapper {
    &:hover {
      .datepicker-input {
        background-color: var(--datepicker-input-bg-color-hover);
        border-color: var(--datepicker-input-border-color-hover);
      }
      .calendar-icon {
        color: var(--wpp-grey-color-800);
      }
    }
  }

  #datepicker {
    @include typographySBody;
    @include tabFocus(
      var(--datepicker-input-first-border-color-focus),
      var(--datepicker-input-second-border-color-focus)
    );

    width: 100%;
    display: inline-flex;
    padding: var(--datepicker-input-padding-m);
    height: var(--datepicker-input-height-m);
    border: 1px solid var(--datepicker-input-border-color);
    border-radius: var(--datepicker-input-border-radius);
    box-sizing: border-box;
    outline: none;
    background-color: transparent;

    &:focus {
      border-color: var(--datepicker-input-border-color-active);

      & + .calendar-icon {
        color: var(--wpp-grey-color-800);
      }
    }

    &:disabled {
      color: var(--datepicker-input-text-color-disabled);
      background: var(--datepicker-input-bg-color-disabled);
      border-color: var(--datepicker-input-border-color-disabled);

      &::placeholder {
        color: var(--datepicker-input-text-color-disabled);
      }

      + .calendar-icon {
        color: var(--wpp-grey-color-400);
      }
    }

    &::placeholder {
      color: var(--wpp-grey-color-700);
    }

    &[type='number'] {
      appearance: textfield;
    }

    &.size-s {
      height: var(--datepicker-input-height-s);
      padding: var(--datepicker-input-padding-s);
    }

    @include inputWithMessage(var(--datepicker-border-width), var(--datepicker-border-style));
  }

  .cross-icon {
    color: var(--datepicker-close-icon-color);
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

    &.disabled {
      pointer-events: none;
      color: var(--datepicker-close-icon-color-disabled);
    }

    &:hover {
      color: var(--datepicker-close-icon-color-hover);
    }

    &:active {
      color: var(--datepicker-close-icon-color-active);
    }

    &.size-s {
      top: 6px;
    }
  }

  .calendar-icon {
    position: absolute;
    left: 10px;
    top: 10px;

    &:hover {
      cursor: pointer;
    }

    &.size-s {
      top: 6px;
    }
  }

  .tippy-box[data-animation='fadein'][data-state='hidden'] {
    opacity: 0;
  }

  .tippy-box {
    opacity: 1;
  }
}

:host(.wpp-disabled) {
  cursor: not-allowed;

  #datepicker {
    pointer-events: none;
  }
}

:host(.wpp-has-value) {
  .calendar-icon {
    color: var(--wpp-grey-color-800);
  }

  .datepicker-input,
  .datepicker-input.idle {
    border-color: var(--wpp-grey-color-500);
  }

  .datepicker-wrapper:hover {
    .datepicker-input {
      border-color: var(--wpp-grey-color-700);
    }
  }
}

:host(.wpp-disabled) {
  .datepicker-input {
    border-color: var(--wpp-grey-color-400);
  }
}
