<div class="container" data-testid="accordions-container">
  <div class="button">
    <wpp-button (click)="toggleTags()">{{ showTags ? 'Hide Tags' : 'Show Tags' }}</wpp-button>
  </div>
  <div class="items">
    <div class="accordions">
      <h2 class="title">S Size Accordions</h2>
      <wpp-accordion [withTag]="showTags" text="Accordion with text" size="s"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" text="Accordion expanded" size="s" expanded>
        <div class="expanded">
          <wpp-checkbox [labelConfig]="getLabelConfig('Option 1' )" required></wpp-checkbox>
          <wpp-checkbox [labelConfig]="getLabelConfig('Option 2' )"></wpp-checkbox>
          <wpp-checkbox [labelConfig]="getLabelConfig('Option 3' )" required></wpp-checkbox>
        </div>
        <ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" text="Accordion with single select" size="s">
        <wpp-select
          [dropdownConfig]="dropdownConfig"
          [list]="LIST_1"
          [value]="value1"
          (wppChange)="handleChange1($event)"
        >
        </wpp-select>
        <ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" text="Accordion with counter" size="s" counter="3"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" text="Accordion w/o divider" size="s" with-divider="false"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" size="s"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" size="s" expanded counter="3" text="All In Accordion">
        <div>
          <wpp-checkbox class="checkbox" [labelConfig]="getLabelConfig('Option 1' )" required></wpp-checkbox>

          <wpp-checkbox class="checkbox" [labelConfig]="getLabelConfig('Option 2' )" required></wpp-checkbox>

          <wpp-checkbox [labelConfig]="getLabelConfig('Option 3' )"></wpp-checkbox>
        </div>
        <ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" size="s" data-testid="truncated-accordion">
        <div [ngStyle]="{ display: 'inline-flex' }" slot="header">
          <wpp-typography type="s-strong" class="truncation">
            Test Truncation Test Truncation Test Truncation Test Truncation Test Truncation
          </wpp-typography>
        </div>
        <div class="expanded">
          <wpp-checkbox [labelConfig]="{ text: 'Option 1' }" required></wpp-checkbox>
          <wpp-checkbox [labelConfig]="{ text: 'Option 2' }"></wpp-checkbox>
          <wpp-checkbox [labelConfig]="{ text: 'Option 3' }" required></wpp-checkbox>
        </div>
        <ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>
      <wpp-accordion [withTag]="true" size="s" [disabled]="true">
        <div slot="header">Accordion with disabled state</div>
        <wpp-tag slot="tags" label="Neutral" variant="positive"></wpp-tag>
      </wpp-accordion>
    </div>

    <div class="accordions">
      <h2 class="title">L Size Accordions</h2>
      <wpp-accordion [withTag]="showTags" text="Accordion with text" size="l"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" text="Accordion expanded" size="l" expanded>
        <div class="expanded">
          <wpp-checkbox [labelConfig]="getLabelConfig('Option 1' )" required></wpp-checkbox>
          <wpp-checkbox [labelConfig]="getLabelConfig('Option 2' )"></wpp-checkbox>
          <wpp-checkbox [labelConfig]="getLabelConfig('Option 3' )" required></wpp-checkbox>
        </div>
        <ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" text="Accordion with counter" size="l" counter="3"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" text="Accordion w/o divider" size="l" with-divider="false"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" size="l"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" size="l" expanded counter="3" text="All In Accordion">
        <div>
          <wpp-checkbox class="checkbox" [labelConfig]="getLabelConfig('Option 1' )" required></wpp-checkbox>

          <wpp-checkbox class="checkbox" [labelConfig]="getLabelConfig('Option 2' )" required></wpp-checkbox>

          <wpp-checkbox [labelConfig]="getLabelConfig('Option 3' )"></wpp-checkbox>
        </div>
        <ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>
    </div>

    <div class="accordions">
      <h2 class="title">2XL Size Accordions</h2>
      <wpp-accordion [withTag]="showTags" text="Accordion with text" size="2xl"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" text="Accordion expanded" size="2xl" expanded>
        <div class="expanded">
          <wpp-checkbox [labelConfig]="getLabelConfig('Option 1' )" required></wpp-checkbox>
          <wpp-checkbox [labelConfig]="getLabelConfig('Option 2' )"></wpp-checkbox>
          <wpp-checkbox [labelConfig]="getLabelConfig('Option 3' )" required></wpp-checkbox>
        </div>
        <ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" text="Accordion with counter" size="2xl" counter="3"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" text="Accordion w/o divider" size="2xl" with-divider="false"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" size="2xl"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" size="2xl" expanded counter="3" text="All In Accordion">
        <div>
          <wpp-checkbox class="checkbox" [labelConfig]="getLabelConfig('Option 1' )" required></wpp-checkbox>

          <wpp-checkbox class="checkbox" [labelConfig]="getLabelConfig('Option 2' )" required></wpp-checkbox>

          <wpp-checkbox [labelConfig]="getLabelConfig('Option 3' )"></wpp-checkbox>
        </div>
        <ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>
    </div>
  </div>

  <div class="items">
    <div class="accordions">
      <h2 class="title">M Size Accordions</h2>
      <wpp-accordion [withTag]="showTags" text="Accordion with text" size="m"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" text="Accordion expanded" size="m" expanded>
        <div class="expanded">
          <wpp-checkbox class="checkbox" [labelConfig]="getLabelConfig('Option 1' )" required></wpp-checkbox>

          <wpp-checkbox class="checkbox" [labelConfig]="getLabelConfig('Option 2' )"></wpp-checkbox>

          <wpp-checkbox required [labelConfig]="getLabelConfig('Option 3' )"></wpp-checkbox>
        </div>
        <ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" text="Accordion with counter" size="m" counter="3"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" text="Accordion w/o divider" size="m" with-divider="false"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" size="m"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" size="m" expanded counter="1" text="List of users">
        <div class="list">
          <wpp-avatar class="avatar" size="s" name="Sri Rani" color="var(--wpp-dataviz-color-cat-dark-1)"></wpp-avatar>
          <div class="info">
            <wpp-typography type="s-body">Sri Rani</wpp-typography>
            <wpp-typography type="xs-body">sri.rani@groupm.com</wpp-typography>
          </div>

          <wpp-select
            class="select"
            required
            data-testid="users"
            [list]="LIST_2"
            [value]="value2"
            (wppChange)="handleChange2($event)"
          >
          </wpp-select>
        </div>
        <ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" size="m" expanded counter="3" text="All In Accordion">
        <div>
          <wpp-checkbox class="checkbox" [labelConfig]="getLabelConfig('Option 1' )" required></wpp-checkbox>
          <wpp-checkbox class="checkbox" [labelConfig]="getLabelConfig('Option 2' )" required></wpp-checkbox>
          <wpp-checkbox [labelConfig]="getLabelConfig('Option 3' )"></wpp-checkbox>
        </div>
        <ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>
    </div>

    <div class="accordions">
      <h2 class="title">XL Size Accordions</h2>
      <wpp-accordion [withTag]="showTags" text="Accordion with text" size="xl"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" text="Accordion expanded" size="xl" expanded>
        <div class="expanded">
          <wpp-checkbox class="checkbox" [labelConfig]="getLabelConfig('Option 1' )" required></wpp-checkbox>
          <wpp-checkbox class="checkbox" [labelConfig]="getLabelConfig('Option 2' )"></wpp-checkbox>
          <wpp-checkbox required [labelConfig]="getLabelConfig('Option 3' )"></wpp-checkbox>
        </div>
        <ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" text="Accordion with counter" size="xl" counter="3"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" text="Accordion w/o divider" size="xl" with-divider="false"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" size="xl"
        ><ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>

      <wpp-accordion [withTag]="showTags" size="xl" expanded counter="3" text="All In Accordion">
        <div>
          <wpp-checkbox class="checkbox" [labelConfig]="getLabelConfig('Option 1' )" required></wpp-checkbox>
          <wpp-checkbox class="checkbox" [labelConfig]="getLabelConfig('Option 2' )" required></wpp-checkbox>
          <wpp-checkbox [labelConfig]="getLabelConfig('Option 3' )"></wpp-checkbox>
        </div>
        <ng-container *ngIf="showTags">
          <wpp-tag slot="tags" label="Neutral" variant="neutral"></wpp-tag>
        </ng-container>
      </wpp-accordion>
    </div>
  </div>
</div>
