$pageHeight: 650px;

.main {
  padding: 20px;
}

.text {
  margin: 0;
}

.subtext {
  margin: 0;
  font-weight: 400;
}

.stepper {
  width: 25%;
  text-align: center;
}

.pages {
  width: 75%;
  height: $pageHeight;
  overflow: hidden;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $pageHeight;
  background-color: var(--wpp-grey-color-100);
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.margin {
  margin-left: 20px;
}

.wrapper {
  display: flex;
}

.buttons {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: 16px;
}

.button {
  margin-left: 8px;
}

.inner {
  transition: 0.6s ease-in-out;
}

.page-1 {
  transform: translateY(0);
}

.page-2 {
  transform: translateY(calc(var(--page-height) * -1));
}

.page-3 {
  transform: translateY(calc(var(--page-height) * -2));
}

.page-4 {
  transform: translateY(calc(var(--page-height) * -3));
}

.page-5 {
  transform: translateY(calc(var(--page-height) * -4));
}

.page-6 {
  transform: translateY(calc(var(--page-height) * -5));
}

.page-7 {
  transform: translateY(calc(var(--page-height) * -6));
}

.page-8 {
  transform: translateY(calc(var(--page-height) * -7));
}

.page-9 {
  transform: translateY(calc(var(--page-height) * -8));
}

.page-10 {
  transform: translateY(calc(var(--page-height) * -9));
}

.page-11 {
  transform: translateY(calc(var(--page-height) * -10));
}

.page-12 {
  transform: translateY(calc(var(--page-height) * -11));
}
