<div class="item">
  <wpp-autocomplete
    required
    [loading]='isLoading'
    [labelConfig]="getLabelConfig('Server load same option for different search input (option - 1Cloud Okta)')"
    placeholder='Type "1Cloud Okta"'
    [value]='value'
    (wppSearchValueChange)='handleSearchChange($event)'
    (wppChange)='handleValueChange($event)'
    multiple
    show-create-new-element
    simple-search
    infinite
  >
    <wpp-list-item *ngFor="let option of options" [key]='option.id' [value]='option' [label]='option.label'>
      <p slot="label">{{option.label}}</p>
    </wpp-list-item>
    <selected-values
      [values]='value'
      (closeClick)={clickedValue => setValue(value.filter(i => i.id !== clickedValue))}
    ></selected-values>
  </wpp-autocomplete>
</div>
