:host {
  --overlay-bg-color: var(--wpp-overlay-bg-color, color-mix(in srgb, var(--wpp-grey-color-500) 60%, transparent));

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-bg-color);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .overlay--visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  .overlay--hidden {
    visibility: hidden;
    pointer-events: none;
  }
}
