.page {
  min-height: 150vh;

  .pageSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    .info {
      margin-bottom: 10px;
    }

    .maxZIndex {
      z-index: 2147483647;
    }

    .btnWMargin {
      margin-right: 10px;
    }
  }
}
