<div class="container">
  <div class="section">
    <wpp-typography type="2xl-heading">Default Select</wpp-typography>

    <div class="content">
      <wpp-select
        name="select-component"
        class="selectItem"
        data-testid="default-single-select-m"
        [list]="SAMPLE_LIST_2"
        [labelConfig]="{ text: 'Size M' }"
        placeholder="Choose option"
        [value]="value"
        [autoFocus]="true"
        (wppChange)="handleChange($event)"
      ></wpp-select>

      <wpp-select
        name="select-component"
        class="selectItem"
        data-testid="default-single-select-s"
        [list]="SAMPLE_LIST_2"
        [labelConfig]="{ text: 'Size S' }"
        placeholder="Choose option"
        [value]="value"
        [autoFocus]="true"
        size="s"
        (wppChange)="handleChange($event)"
      ></wpp-select>
    </div>
  </div>

  <div class="section">
    <wpp-typography type="2xl-heading">Disabled Select</wpp-typography>

    <div class="content">
      <wpp-select
        name="select-component"
        class="selectItem"
        data-testid="disabled-single-select-m"
        disabled
        [list]="SAMPLE_LIST_2"
        [labelConfig]="{ text: 'Size M' }"
        placeholder="Choose option"
        [value]="value"
        (wppChange)="handleChange($event)"
      ></wpp-select>

      <wpp-select
        name="select-component"
        class="selectItem"
        data-testid="disabled-single-select-s"
        disabled
        [list]="SAMPLE_LIST_2"
        [labelConfig]="{ text: 'Size S' }"
        placeholder="Choose option"
        [value]="value"
        size="s"
        (wppChange)="handleChange($event)"
      ></wpp-select>
    </div>
  </div>

  <div class="section">
    <wpp-typography type="2xl-heading">Error Select</wpp-typography>

    <div class="content">
      <wpp-select
        name="select-component"
        class="selectItem"
        data-testid="error-single-select-m"
        [list]="SAMPLE_LIST_2"
        [labelConfig]="{ text: 'Size M' }"
        placeholder="Choose option"
        [value]="value"
        (wppChange)="handleChange($event)"
        message="Error message"
        [messageType]="'error'"
      ></wpp-select>

      <wpp-select
        name="select-component"
        class="selectItem"
        data-testid="error-single-select-s"
        [list]="SAMPLE_LIST_2"
        [labelConfig]="{ text: 'Size S' }"
        placeholder="Choose option"
        [value]="value"
        size="s"
        (wppChange)="handleChange($event)"
        message="Error message"
        [messageType]="'error'"
      ></wpp-select>
    </div>
  </div>

  <div class="section">
    <wpp-typography type="2xl-heading">Error Select with Tooltip Error Message</wpp-typography>

    <div class="content">
      <wpp-select
        name="select-component"
        class="selectItem"
        data-testid="error-single-select-m"
        [list]="SAMPLE_LIST_2"
        [labelConfig]="{ text: 'Size M' }"
        placeholder="Choose option"
        [value]="value"
        (wppChange)="handleChange($event)"
        message="Error message"
        [messageType]="'error'"
        [messageInTooltip]="true"
      ></wpp-select>

      <wpp-select
        name="select-component"
        class="selectItem"
        data-testid="error-single-select-s"
        [list]="SAMPLE_LIST_2"
        [labelConfig]="{ text: 'Size S' }"
        placeholder="Choose option"
        [value]="value"
        size="s"
        (wppChange)="handleChange($event)"
        message="Error message"
        [messageType]="'error'"
        [messageInTooltip]="true"
      ></wpp-select>
    </div>
  </div>

  <div class="section">
    <wpp-typography type="2xl-heading">Warning Select</wpp-typography>

    <div class="content">
      <wpp-select
        name="select-component"
        class="selectItem"
        data-testid="warning-single-select-m"
        [list]="SAMPLE_LIST_2"
        [labelConfig]="{ text: 'Size M' }"
        placeholder="Choose option"
        [value]="value"
        (wppChange)="handleChange($event)"
        message="Warning message"
        [messageType]="'warning'"
      ></wpp-select>

      <wpp-select
        name="select-component"
        class="selectItem"
        data-testid="warning-single-select-s"
        [list]="SAMPLE_LIST_2"
        [labelConfig]="{ text: 'Size S' }"
        placeholder="Choose option"
        [value]="value"
        size="s"
        (wppChange)="handleChange($event)"
        message="Warning message"
        [messageType]="'warning'"
      ></wpp-select>
    </div>
  </div>

  <div class="section">
    <wpp-typography type="2xl-heading">Warning Select with Tooltip Warning Message</wpp-typography>

    <div class="content">
      <wpp-select
        name="select-component"
        class="selectItem"
        data-testid="warning-single-select-m"
        [list]="SAMPLE_LIST_2"
        [labelConfig]="{ text: 'Size M' }"
        placeholder="Choose option"
        [value]="value"
        (wppChange)="handleChange($event)"
        message="Warning message"
        [messageType]="'warning'"
        [messageInTooltip]="true"
      ></wpp-select>

      <wpp-select
        name="select-component"
        class="selectItem"
        data-testid="warning-single-select-s"
        [list]="SAMPLE_LIST_2"
        [labelConfig]="{ text: 'Size S' }"
        placeholder="Choose option"
        [value]="value"
        size="s"
        (wppChange)="handleChange($event)"
        message="Warning message"
        [messageType]="'warning'"
        [messageInTooltip]="true"
      ></wpp-select>
    </div>
  </div>

  <div class="section">
    <wpp-typography type="2xl-heading">Required Select</wpp-typography>

    <div class="content">
      <wpp-select
        required
        name="select-component"
        class="selectItem"
        data-testid="required-single-select-m"
        [list]="SAMPLE_LIST_2"
        [labelConfig]="requiredLabelConfig"
        message="Text message"
        placeholder="Choose option"
        [value]="value"
        (wppChange)="handleChange($event)"
      ></wpp-select>

      <wpp-select
        required
        name="select-component"
        class="selectItem"
        data-testid="required-single-select-s"
        [list]="SAMPLE_LIST_2"
        [labelConfig]="{
          text: 'Size S',
          icon: 'wpp-icon-info',
          description: 'Description'
        }"
        message="Text message"
        placeholder="Choose option"
        [value]="value"
        size="s"
        (wppChange)="handleChange($event)"
      ></wpp-select>
    </div>
  </div>

  <wpp-typography type="3xl-heading"> Performance testing: rendering 200 selects </wpp-typography>

  <div class="selectsContainer">
    <wpp-select
      *ngFor="let i of [].constructor(200); let idx = index"
      [attr.key]="idx"
      class="selectItem"
      [list]="SAMPLE_LIST_2"
    ></wpp-select>
  </div>
</div>
