/**
  * @prop --wpp-banner-animation-duration:
  * @prop --wpp-banner-padding:
  * @prop --wpp-banner-top-position:
  * @prop --wpp-banner-z-index:
  * @prop --wpp-banner-min-height:
  * @prop --wpp-banner-content-wrapper-padding:
  * @prop --wpp-banner-content-wrapper-max-width:
  * @prop --wpp-banner-content-wrapper-icon-margin:
  * @prop --wpp-banner-actions-wrapper-margin:
  * @prop --wpp-banner-actions-wrapper-icon-margin:
  * @prop --wpp-banner-information-bg-color:
  * @prop --wpp-banner-information-box-shadow:
  * @prop --wpp-banner-information-icon-message-color:
  * @prop --wpp-banner-warning-bg-color:
  * @prop --wpp-banner-warning-box-shadow:
  * @prop --wpp-banner-warning-icon-message-color:
*/

:host {
  --banner-animation-duration: var(--wpp-banner-animation-duration, 0.5s);
  --banner-padding: var(--wpp-banner-padding, 8px 28px);
  --banner-top-position: var(--wpp-banner-top-position, 0);
  --banner-z-index: var(--wpp-banner-z-index, 1);
  --banner-min-height: var(--wpp-banner-min-height, 48px);
  --banner-content-wrapper-padding: var(--wpp-banner-content-wrapper-padding, 5px 0);
  --banner-content-wrapper-icon-margin: var(--wpp-banner-content-wrapper-icon-margin, 0 12px 0 0);
  --banner-actions-wrapper-margin: var(--wpp-banner-actions-wrapper-margin, 0 0 0 32px);
  --banner-actions-wrapper-icon-margin: var(--wpp-banner-actions-wrapper-icon-margin, 0 0 0 4px);
  --banner-max-width: var(--wpp-banner-max-width, 1812px);

  --banner-information-bg-color: var(--wpp-banner-information-bg-color, var(--wpp-grey-color-700));
  --banner-information-icon-color: var(--wpp-banner-information-icon-color, var(--wpp-grey-color-400));
  --banner-information-box-shadow: var(
    --wpp-banner-information-box-shadow,
    0px 1px 2px rgba(52, 58, 63, 0.05),
    0px 2px 8px rgba(52, 58, 63, 0.12)
  );
  --banner-information-icon-message-color: var(--wpp-banner-information-icon-message-color, var(--wpp-grey-color-000));

  --banner-warning-bg-color: var(--wpp-banner-warning-bg-color, var(--wpp-highlight-color-400));
  --banner-warning-box-shadow: var(
    --wpp-banner-warning-box-shadow,
    0px 1px 2px rgba(52, 58, 63, 0.05),
    0px 2px 8px rgba(52, 58, 63, 0.12)
  );
  --banner-warning-icon-message-color: var(--wpp-banner-warning-icon-message-color, var(--wpp-text-color));

  position: sticky;
  top: var(--banner-top-position);
  z-index: var(--banner-z-index);

  .hidden-banner-wrapper {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: max-height var(--banner-animation-duration) ease-in-out;

    &.warning {
      background-color: var(--banner-warning-bg-color);
      box-shadow: var(--banner-warning-box-shadow);
    }

    &.information {
      background-color: var(--banner-information-bg-color);
      box-shadow: var(--banner-information-box-shadow);
    }

    .banner-wrapper {
      display: flex;
      align-items: center;
      padding: var(--banner-padding);
      min-height: var(--banner-min-height);
      box-sizing: border-box;
      justify-content: space-between;
      overflow: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: all var(--banner-animation-duration) ease-in-out;
      max-width: var(--banner-max-width);
      margin: 0px auto;

      .content-wrapper {
        padding: var(--banner-content-wrapper-padding);
        display: flex;
        min-width: 0;

        .left-icon {
          margin: var(--banner-content-wrapper-icon-margin);
          height: 20px;
          margin-top: 1px;
        }

        .message {
          @include typographySMidi;
          @include truncate;
        }

        .with-tooltip {
          cursor: pointer;
          min-width: 0;

          &::part(anchor) {
            min-width: 0;
          }
        }
      }

      .actions-wrapper {
        display: flex;
        align-items: center;
        margin: var(--banner-actions-wrapper-margin);

        .close-button {
          cursor: pointer;
          margin: var(--banner-actions-wrapper-icon-margin);
        }

        .actions {
          @include slotWrapper;
        }
      }

      &.information {
        .content-wrapper {
          .message {
            color: var(--banner-information-icon-message-color);
          }

          .left-icon {
            color: var(--banner-information-icon-color);
          }
        }

        .actions-wrapper {
          .actions {
            color: var(--banner-information-icon-message-color);
          }

          .close-button,
          ::slotted(.wpp-action-button) {
            --ab-first-border-color-focus: var(--banner-information-bg-color);
            --ab-second-border-color-focus: var(--wpp-grey-color-000);
          }
        }
      }

      &.warning {
        .content-wrapper {
          .left-icon,
          .message {
            color: var(--banner-warning-icon-message-color);
          }
        }

        .actions-wrapper {
          .actions {
            color: var(--banner-warning-icon-message-color);
          }

          .close-button,
          ::slotted(.wpp-action-button) {
            --ab-first-border-color-focus: var(--banner-warning-bg-color);
            --ab-second-border-color-focus: var(--wpp-brand-color);
          }
        }
      }

      &.show {
        opacity: 1;
        transform: translateY(0%);
      }
    }

    &.show {
      max-height: var(--banner-height);
      transition: max-height var(--banner-animation-duration) ease-in-out;
    }
  }
}
