/**
  * @prop --wpp-navigation-item-padding:
  * @prop --wpp-navigation-item-menu-padding:
  * @prop --wpp-navigation-item-extended-padding:
  * @prop --wpp-navigation-item-border-radius:
  * @prop --wpp-navigation-item-link-margin:
  * @prop --wpp-navigation-item-bg-color:
  * @prop --wpp-navigation-item-bg-color-hover:
  * @prop --wpp-navigation-item-bg-color-active:
  * @prop --wpp-navigation-item-bg-color-selected:
  * @prop --wpp-navigation-item-bg-color-selected-hover:
  * @prop --wpp-navigation-item-bg-color-selected-active:
  * @prop --wpp-navigation-item-expanded-bg-color:
  * @prop --wpp-navigation-item-expanded-bg-color-active:
  * @prop --wpp-navigation-item-menu-bg-color:
  * @prop --wpp-navigation-item-menu-bg-color-hover:
  * @prop --wpp-navigation-item-menu-bg-color-active:
  * @prop --wpp-navigation-item-menu-bg-color-selected:
  * @prop --wpp-navigation-item-menu-bg-color-selected-hover:
  * @prop --wpp-navigation-item-menu-bg-color-selected-active:
  * @prop --wpp-navigation-item-expanded-menu-bg-color:
  * @prop --wpp-navigation-item-expanded-menu-bg-color-selected:
  * @prop --wpp-navigation-item-text-color:
  * @prop --wpp-navigation-item-text-color-hover:
  * @prop --wpp-navigation-item-text-color-active:
  * @prop --wpp-navigation-item-text-color-selected:
  * @prop --wpp-navigation-item-text-color-selected-hover:
  * @prop --wpp-navigation-item-text-color-selected-active:
  * @prop --wpp-navigation-item-expanded-text-color:
  * @prop --wpp-navigation-item-expanded-text-color-selected:
  * @prop --wpp-navigation-item-nested-text-color:
  * @prop --wpp-navigation-item-extended-icon-color:
  * @prop --wpp-navigation-item-extended-icon-color-hover:
  * @prop --wpp-navigation-item-extended-icon-color-active:
  * @prop --wpp-navigation-item-extended-icon-color-selected:
  * @prop --wpp-navigation-item-extended-icon-color-selected-hover:
  * @prop --wpp-navigation-item-extended-icon-color-selected-active:
  * @prop --wpp-navigation-item-expanded-extended-icon-color:
  * @prop --wpp-navigation-item-expanded-extended-icon-color-selected:
  * @prop --wpp-navigation-item-extended-icon-margin:
  * @prop --wpp-navigation-item-menu-icon-color:
  * @prop --wpp-navigation-item-menu-icon-color-hover:
  * @prop --wpp-navigation-item-menu-icon-color-active:
  * @prop --wpp-navigation-item-menu-icon-color-selected:
  * @prop --wpp-navigation-item-menu-icon-color-selected-hover:
  * @prop --wpp-navigation-item-menu-icon-color-selected-active:
  * @prop --wpp-navigation-item-expanded-menu-icon-color:
  * @prop --wpp-navigation-item-expanded-menu-icon-color-selected:
  * @prop --wpp-topbar-menu-item-first-border-color-focus:
  * @prop --wpp-topbar-menu-item-second-border-color-focus:
*/

:host {
  --navigation-item-padding: var(--wpp-navigation-item-padding, 5px 12px);
  --navigation-item-menu-padding: var(--wpp-navigation-item-menu-padding, 6px);
  --navigation-item-chevron-only-padding: var(--wpp-navigation-item-chevron-only-padding, 6px);
  --navigation-item-extended-padding: var(--wpp-navigation-item-extended-padding, 5px 10px 5px 12px);
  --navigation-item-border-radius: var(--wpp-navigation-item-border-radius, var(--wpp-border-radius-s));
  --navigation-item-link-margin: var(--wpp-navigation-item-link-margin, 0 0 4px 0);

  --navigation-item-bg-color: var(--wpp-navigation-item-bg-color, transparent);
  --navigation-item-bg-color-hover: var(--wpp-navigation-item-bg-color-hover, var(--wpp-grey-color-200));
  --navigation-item-bg-color-active: var(--wpp-navigation-item-bg-color-active, var(--wpp-grey-color-300));
  --navigation-item-bg-color-selected: var(--wpp-navigation-item-bg-color-selected, var(--wpp-grey-color-300));
  --navigation-item-bg-color-selected-hover: var(--wpp-navigation-item-bg-color-selected-hover, var(--wpp-grey-color-300));
  --navigation-item-bg-color-selected-active: var(--wpp-navigation-item-bg-color-selected-active, var(--wpp-grey-color-300));
  --navigation-item-expanded-bg-color: var(--wpp-navigation-item-expanded-bg-color, var(--wpp-grey-color-200));
  --navigation-item-expanded-bg-color-active: var(--wpp-navigation-item-expanded-bg-color-active, var(--wpp-grey-color-300));

  --navigation-item-menu-bg-color: var(--wpp-navigation-item-menu-bg-color, transparent);
  --navigation-item-menu-bg-color-hover: var(--wpp-navigation-item-menu-bg-color-hover, var(--wpp-grey-color-200));
  --navigation-item-menu-bg-color-active: var(--wpp-navigation-item-menu-bg-color-active, var(--wpp-grey-color-300));
  --navigation-item-menu-bg-color-selected: var(--wpp-navigation-item-menu-bg-color-selected, var(--wpp-grey-color-300));
  --navigation-item-menu-bg-color-selected-hover: var(--wpp-navigation-item-menu-bg-color-selected-hover, var(--wpp-grey-color-200));
  --navigation-item-menu-bg-color-selected-active: var(--wpp-navigation-item-menu-bg-color-selected-active, var(--wpp-grey-color-300));
  --navigation-item-expanded-menu-bg-color: var(--wpp-navigation-item-expanded-menu-bg-color, var(--wpp-grey-color-200));
  --navigation-item-expanded-menu-bg-color-selected: var(--wpp-navigation-item-expanded-menu-bg-color-selected, var(--wpp-grey-color-300));

  --navigation-item-text-color: var(--wpp-navigation-item-text-color, var(--wpp-text-color-info));
  --navigation-item-text-color-hover: var(--wpp-navigation-item-text-color-hover, var(--wpp-text-color));
  --navigation-item-text-color-active: var(--wpp-navigation-item-text-color-active, var(--wpp-text-color));
  --navigation-item-text-color-selected: var(--wpp-navigation-item-text-color-selected, var(--wpp-text-color));
  --navigation-item-text-color-selected-hover: var(--wpp-navigation-item-text-color-selected-hover, var(--wpp-text-color));
  --navigation-item-text-color-selected-active: var(--wpp-navigation-item-text-color-selected-active, var(--wpp-text-color));
  --navigation-item-expanded-text-color: var(--wpp-navigation-item-expanded-text-color, var(--wpp-text-color-info));
  --navigation-item-expanded-text-color-selected: var(--wpp-navigation-item-expanded-text-color-selected, var(--wpp-text-color));
  --navigation-item-nested-text-color: var(--wpp-navigation-item-nested-text-color, var(--wpp-text-color));

  --navigation-item-extended-icon-color: var(--wpp-navigation-item-extended-icon-color, var(--wpp-icon-color));
  --navigation-item-extended-icon-color-hover: var(--wpp-navigation-item-extended-icon-color-hover, var(--wpp-icon-color-hover));
  --navigation-item-extended-icon-color-active: var(--wpp-navigation-item-extended-icon-color-active, var(--wpp-icon-color-active));
  --navigation-item-extended-icon-color-selected: var(--wpp-navigation-item-extended-icon-color-selected, var(--wpp-icon-color));
  --navigation-item-extended-icon-color-selected-hover: var(--wpp-navigation-item-extended-icon-color-selected-hover, var(--wpp-icon-color-hover));
  --navigation-item-extended-icon-color-selected-active: var(--wpp-navigation-item-extended-icon-color-selected-active, var(--wpp-icon-color-active));
  --navigation-item-expanded-extended-icon-color: var(--wpp-navigation-item-expanded-extended-icon-color, var(--wpp-icon-color));
  --navigation-item-expanded-extended-icon-color-selected: var(--wpp-navigation-item-expanded-extended-icon-color-selected, var(--wpp-icon-color));
  --navigation-item-extended-icon-margin: var(--wpp-navigation-item-extended-icon-margin, 0 0 0 4px);

  --navigation-item-menu-icon-color: var(--wpp-navigation-item-menu-icon-color, var(--wpp-icon-color));
  --navigation-item-menu-icon-color-hover: var(--wpp-navigation-item-menu-icon-color-hover, var(--wpp-icon-color-hover));
  --navigation-item-menu-icon-color-active: var(--wpp-navigation-item-menu-icon-color-active, var(--wpp-icon-color-active));
  --navigation-item-menu-icon-color-selected: var(--wpp-navigation-item-menu-icon-color-selected, var(--wpp-grey-color-1000));
  --navigation-item-menu-icon-color-selected-hover: var(--wpp-navigation-item-menu-icon-color-selected-hover, var(--wpp-icon-color-hover));
  --navigation-item-menu-icon-color-selected-active: var(-wpp--navigation-item-menu-icon-color-selected-active, var(--wpp-grey-color-1000));
  --navigation-item-expanded-menu-icon-color: var(--wpp-navigation-item-expanded-menu-icon-color, var(--wpp-icon-color));
  --navigation-item-expanded-menu-icon-color-selected: var(--wpp-navigation-item-expanded-menu-icon-color-selected, var(--wpp-grey-color-1000));

  --topbar-menu-item-first-border-color-focus: var(--wpp-topbar-menu-item-first-border-color-focus, var(--wpp-grey-color-000));
  --topbar-menu-item-second-border-color-focus: var(--wpp-topbar-menu-item-second-border-color-focus, var(--wpp-brand-color));
}

:host([aria-expanded='true']) {
  .navigation-item-wrapper {
    &:not(.menu) {
      background-color: var(--navigation-item-expanded-bg-color);

      .label-text {
        color: var(--navigation-item-expanded-text-color);
      }

      .chevron-icon {
        color: var(--navigation-item-expanded-extended-icon-color);
      }

      .chevron-icon {
        transform: rotate(180deg);
      }

      &.active {
        background-color: var(--navigation-item-expanded-bg-color-active);

        .label-text {
          color: var(--navigation-item-expanded-text-color-selected);
        }

        .chevron-icon {
          color: var(--navigation-item-expanded-extended-icon-color-selected);
        }
      }
    }

    &.menu {
      background-color: var(--navigation-item-expanded-menu-bg-color);

      .menu-icon {
        color: var(--navigation-item-expanded-menu-icon-color);
      }

      &.active {
        background-color: var(--navigation-item-expanded-menu-bg-color-selected);

        .menu-icon {
          color: var(--navigation-item-expanded-menu-icon-color-selected);
        }
      }
    }
  }
}

:host {
  display: inline-flex;
  outline: none;

  .navigation-item-wrapper {
    @include iconChevronTransition;

    display: flex;
    align-items: center;
    padding: var(--navigation-item-padding);
    border-radius: var(--navigation-item-border-radius);
    cursor: pointer;
    user-select: none;

    .label-text {
      width: 100%;
      white-space: nowrap;
      color: var(--navigation-item-text-color);
    }

    .nested-text {
      color: var(--navigation-item-nested-text-color);
    }

    .chevron-icon {
      margin: var(--navigation-item-extended-icon-margin);
      color: var(--navigation-item-extended-icon-color);
    }

    &.extended {
      padding: var(--navigation-item-extended-padding);

      &.chevron-only {
        padding: var(--navigation-item-chevron-only-padding);

        .chevron-icon {
          margin: 0;
        }
      }
    }

    &.menu {
      padding: var(--navigation-item-menu-padding);
    }

    &.with-menu-expanded {
      .chevron-icon {
        transform: rotate(180deg);
      }
    }
  }

  &:host(:not([aria-expanded='true'])) {
    .navigation-item-wrapper {
      background-color: var(--navigation-item-bg-color);

      &:not(.menu) {
        &:hover {
          background-color: var(--navigation-item-bg-color-hover);

          .label-text {
            color: var(--navigation-item-text-color-hover);
          }

          .chevron-icon {
            color: var(--navigation-item-extended-icon-color-hover);
          }
        }

        &:active {
          background-color: var(--navigation-item-bg-color-active);

          .label-text {
            color: var(--navigation-item-text-color-active);
          }

          .chevron-icon {
            color: var(--navigation-item-extended-icon-color-active);
          }
        }
      }

      &.menu {
        background-color: var(--navigation-item-menu-bg-color);

        .menu-icon {
          color: var(--navigation-item-menu-icon-color);
        }

        &:hover {
          background-color: var(--navigation-item-menu-bg-color-hover);

          .menu-icon {
            color: var(--navigation-item-menu-icon-color-hover);
          }
        }

        &:active {
          background-color: var(--navigation-item-menu-bg-color-active);

          .menu-icon {
            color: var(--navigation-item-menu-icon-color-active);
          }
        }
      }

      &.active {
        &:not(.menu) {
          background-color: var(--navigation-item-bg-color-selected);

          .label-text {
            color: var(--navigation-item-text-color-selected);
          }

          .chevron-icon {
            color: var(--navigation-item-extended-icon-color-selected);
          }

          &:hover {
            background-color: var(--navigation-item-bg-color-selected-hover);

            .label-text {
              color: var(--navigation-item-text-color-selected-hover);
            }

            .chevron-icon {
              color: var(--navigation-item-extended-icon-color-selected-hover);
            }
          }

          &:active {
            background-color: var(--navigation-item-bg-color-selected-active);

            .label-text {
              color: var(--navigation-item-text-color-selected-active);
            }

            .chevron-icon {
              color: var(--navigation-item-extended-icon-color-selected-active);
            }
          }
        }

        &.menu {
          background-color: var(--navigation-item-menu-bg-color-selected);

          .menu-icon {
            color: var(--navigation-item-menu-icon-color-selected);
          }

          &:hover {
            background-color: var(--navigation-item-menu-bg-color-selected-hover);

            .menu-icon {
              color: var(--navigation-item-menu-icon-color-selected-hover);
            }
          }

          &:active {
            background-color: var(--navigation-item-menu-bg-color-selected-active);

            .menu-icon {
              color: var(--navigation-item-menu-icon-color-selected-active);
            }
          }
        }
      }
    }

    &:host(:focus-visible:not(.wpp-list-item-wrapper)) {
      .navigation-item-wrapper {
        @include tabFocusProperties(var(--topbar-menu-item-first-border-color-focus), var(--topbar-menu-item-second-border-color-focus));

        background-color: var(--navigation-item-bg-color-hover);

        .label-text {
          color: var(--navigation-item-text-color-hover);
        }

        .chevron-icon {
          color: var(--navigation-item-extended-icon-color-hover);
        }

        &.menu {
          background-color: var(--navigation-item-menu-bg-color-hover);

          .menu-icon {
            color: var(--navigation-item-menu-icon-color-hover);
          }
        }
      }
    }
  }
}

:host(.wpp-list-item-wrapper) {
  display: block;
  width: 100%;

  &:host(:focus-visible) {
    .navigation-item-wrapper {
      background-color: var(--navigation-item-bg-color-active);

      .label-text {
        color: var(--navigation-item-text-color-active);
      }

      .chevron-icon {
        color: var(--navigation-item-extended-icon-color-active);
      }
    }
  }
}

.link {
  text-decoration: none;
}

.list-item {
  margin: var(--navigation-item-link-margin);
}
