.text {
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.datepicker {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.button {
  margin-top: 15px;
}

.focusBtn {
  margin-top: 10px;
}
