.main {
  padding: 20px;
}

.text {
  margin: 0;
}

.subtext {
  margin: 0;
  font-weight: 400;
}

.stepper,
.verticalStepperWWidth {
  width: 200px;
  text-align: center;
}

.verticalStepperWWidth {
  width: 25%;
}

.full-width-stepper {
  width: 100%;
}

.pages,
.pagesWWidth {
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.pagesWWidth {
  width: 75%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: var(--wpp-grey-color-100);
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.margin {
  margin-left: 20px;
}

.wrapper {
  display: flex;
}

.wrapperWWidth {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.column {
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: 16px;
}

.button {
  margin-left: 8px;
}

:root {
  --page-height: 100vh;
  --horizontal-page-height: 600px;
}

.inner {
  transition: 0.6s ease-in-out;
}

.dpage1 {
  transform: translateY(calc(var(--page-height) * 0));
}

.dpage2 {
  transform: translateY(calc(var(--page-height) * -1));
}

.dpage2_1 {
  transform: translateY(calc(var(--page-height) * -2));
}

.dpage2_2 {
  transform: translateY(calc(var(--page-height) * -3));
}

.dpage3 {
  transform: translateY(calc(var(--page-height) * -4));
}

.dpage3_1 {
  transform: translateY(calc(var(--page-height) * -5));
}

.dpage3_2 {
  transform: translateY(calc(var(--page-height) * -6));
}

.dpage3_3 {
  transform: translateY(calc(var(--page-height) * -7));
}

.dpage4 {
  transform: translateY(calc(var(--page-height) * -8));
}

.dpage5 {
  transform: translateY(calc(var(--page-height) * -9));
}

.page1 {
  transform: translateY(calc(var(--page-height) * 0));
}

.page2 {
  transform: translateY(calc(var(--page-height) * -1));
}

.page3 {
  transform: translateY(calc(var(--page-height) * -2));
}

.page4 {
  transform: translateY(calc(var(--page-height) * -3));
}

.page5 {
  transform: translateY(calc(var(--page-height) * -4));
}

.page6 {
  transform: translateY(calc(var(--page-height) * -5));
}

.page7 {
  transform: translateY(calc(var(--page-height) * -6));
}

.page8 {
  transform: translateY(calc(var(--page-height) * -7));
}

.page9 {
  transform: translateY(calc(var(--page-height) * -8));
}

.page10 {
  transform: translateY(calc(var(--page-height) * -9));
}

.page11 {
  transform: translateY(calc(var(--page-height) * -10));
}

.page12 {
  transform: translateY(calc(var(--page-height) * -11));
}

.hpage1 {
  transform: translateY(0);
}

.hpage2 {
  transform: translateY(calc(var(--horizontal-page-height) * -1));
}

.hpage3 {
  transform: translateY(calc(var(--horizontal-page-height) * -2));
}

.hpage4 {
  transform: translateY(calc(var(--horizontal-page-height) * -3));
}

.hpage5 {
  transform: translateY(calc(var(--horizontal-page-height) * -4));
}

.hpage6 {
  transform: translateY(calc(var(--horizontal-page-height) * -5));
}
