.wrapper {
  padding: 20px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 650px;
  margin: auto;
  padding: 16px;
  text-align: left;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
}

.button {
  margin-top: 20px;
  margin-right: 10px;
  text-align: center;
}

.errorText {/* stylelint-disable-line */
  margin: 6px 0;
  font-weight: 600;
  font-size: 12px;
  font-family: Inter, Roboto, sans-serif;
}

.avatar {
  margin-top: 20px;

  --wpp-file-upload-item-max-width: 500px;
}

.topMargin {/* stylelint-disable-line */
  margin-top: 20px;
}

.label {
  margin-bottom: 8px;
  color: var(--wpp-grey-color-800);
  font-weight: 600;
  font-size: 14px;
  font-family: var(--wpp-font-family);
  font-style: normal;
  line-height: 22px;
}

.radioGroup {/* stylelint-disable-line */
  display: flex;
  flex-direction: column;
}

.radioGroup > * + * {/* stylelint-disable-line */
  margin-top: 4px;
}
