<div class="container">
  <div class="section">
    <wpp-typography type="2xl-heading">Default Select</wpp-typography>

    <div class="content">
      <wpp-select
        type="combined"
        name="select-component"
        class="selectItem"
        data-testid="default-combined-select-m"
        [list]="SAMPLE_LIST_COMBINED"
        [labelConfig]="{ text: 'Size M' }"
        placeholder="Choose option"
        [value]="value"
        autoFocus
        (wppChange)="handleChange($event)"
      ></wpp-select>

      <wpp-select
        type="combined"
        name="select-component"
        class="selectItem"
        data-testid="default-combined-select-s"
        [list]="SAMPLE_LIST_COMBINED"
        [labelConfig]="{ text: 'Size S' }"
        placeholder="Choose option"
        [value]="value"
        autoFocus
        size="s"
        (wppChange)="handleChange($event)"
      ></wpp-select>
    </div>
  </div>

  <div class="section">
    <wpp-typography type="2xl-heading">Disabled Select</wpp-typography>

    <div class="content">
      <wpp-select
        type="combined"
        name="select-component"
        class="selectItem"
        data-testid="disabled-combined-select-m"
        disabled
        [list]="SAMPLE_LIST_COMBINED"
        [labelConfig]="{ text: 'Size M' }"
        placeholder="Choose option"
        [value]="value"
        (wppChange)="handleChange($event)"
      ></wpp-select>

      <wpp-select
        type="combined"
        name="select-component"
        class="selectItem"
        data-testid="disabled-combined-select-s"
        disabled
        [list]="SAMPLE_LIST_COMBINED"
        [labelConfig]="{ text: 'Size S' }"
        placeholder="Choose option"
        [value]="value"
        size="s"
        (wppChange)="handleChange($event)"
      ></wpp-select>
    </div>
  </div>

  <div class="section">
    <wpp-typography type="2xl-heading">Error Select</wpp-typography>

    <div class="content">
      <wpp-select
        type="combined"
        name="select-component"
        class="selectItem"
        data-testid="error-combined-select-m"
        [list]="SAMPLE_LIST_COMBINED"
        [labelConfig]="{ text: 'Size M' }"
        placeholder="Choose option"
        [value]="value"
        (wppChange)="handleChange($event)"
        message="Error message"
        [messageType]="'error'"
      ></wpp-select>

      <wpp-select
        type="combined"
        name="select-component"
        class="selectItem"
        data-testid="error-combined-select-s"
        [list]="SAMPLE_LIST_COMBINED"
        [labelConfig]="{ text: 'Size S' }"
        placeholder="Choose option"
        [value]="value"
        size="s"
        (wppChange)="handleChange($event)"
        message="Error message"
        [messageType]="'error'"
      ></wpp-select>
    </div>
  </div>

  <div class="section">
    <wpp-typography type="2xl-heading">Error Select with Tooltip Error Message</wpp-typography>

    <div class="content">
      <wpp-select
        type="combined"
        name="select-component"
        class="selectItem"
        data-testid="error-combined-select-m"
        [list]="SAMPLE_LIST_COMBINED"
        [labelConfig]="{ text: 'Size M' }"
        placeholder="Choose option"
        [value]="value"
        (wppChange)="handleChange($event)"
        message="Error message"
        [messageType]="'error'"
        [messageInTooltip]="true"
      ></wpp-select>

      <wpp-select
        type="combined"
        name="select-component"
        class="selectItem"
        data-testid="error-combined-select-s"
        [list]="SAMPLE_LIST_COMBINED"
        [labelConfig]="{ text: 'Size S' }"
        placeholder="Choose option"
        [value]="value"
        size="s"
        (wppChange)="handleChange($event)"
        message="Error message"
        [messageType]="'error'"
        [messageInTooltip]="true"
      ></wpp-select>
    </div>
  </div>

  <div class="section">
    <wpp-typography type="2xl-heading">Warning Select</wpp-typography>

    <div class="content">
      <wpp-select
        type="combined"
        name="select-component"
        class="selectItem"
        data-testid="warning-combined-select-m"
        [list]="SAMPLE_LIST_COMBINED"
        [labelConfig]="{ text: 'Size M' }"
        placeholder="Choose option"
        [value]="value"
        (wppChange)="handleChange($event)"
        message="Warning message"
        [messageType]="'warning'"
      ></wpp-select>

      <wpp-select
        type="combined"
        name="select-component"
        class="selectItem"
        data-testid="warning-combined-select-s"
        [list]="SAMPLE_LIST_COMBINED"
        [labelConfig]="{ text: 'Size S' }"
        placeholder="Choose option"
        [value]="value"
        size="s"
        (wppChange)="handleChange($event)"
        message="Warning message"
        [messageType]="'warning'"
      ></wpp-select>
    </div>
  </div>

  <div class="section">
    <wpp-typography type="2xl-heading">Warning Select with Tooltip Warning Message</wpp-typography>

    <div class="content">
      <wpp-select
        type="combined"
        name="select-component"
        class="selectItem"
        data-testid="warning-combined-select-m"
        [list]="SAMPLE_LIST_COMBINED"
        [labelConfig]="{ text: 'Size M' }"
        placeholder="Choose option"
        [value]="value"
        (wppChange)="handleChange($event)"
        message="Warning message"
        [messageType]="'warning'"
        [messageInTooltip]="true"
      ></wpp-select>

      <wpp-select
        type="combined"
        name="select-component"
        class="selectItem"
        data-testid="warning-combined-select-s"
        [list]="SAMPLE_LIST_COMBINED"
        [labelConfig]="{ text: 'Size S' }"
        placeholder="Choose option"
        [value]="value"
        size="s"
        (wppChange)="handleChange($event)"
        message="Warning message"
        [messageType]="'warning'"
        [messageInTooltip]="true"
      ></wpp-select>
    </div>
  </div>

  <div class="section">
    <wpp-typography type="2xl-heading">Required Select</wpp-typography>

    <div class="content">
      <wpp-select
        type="combined"
        required
        name="select-component"
        class="selectItem"
        data-testid="required-combined-select-m"
        [list]="SAMPLE_LIST_COMBINED"
        [labelConfig]="requiredLabelConfig"
        message="Text message"
        placeholder="Choose option"
        [value]="value"
        (wppChange)="handleChange($event)"
      ></wpp-select>

      <wpp-select
        type="combined"
        required
        name="select-component"
        class="selectItem"
        data-testid="required-combined-select-s"
        [list]="SAMPLE_LIST_COMBINED"
        [labelConfig]="{
          text: 'Size S',
          icon: 'wpp-icon-info',
          description: 'Description'
        }"
        message="Text message"
        placeholder="Choose option"
        [value]="value"
        size="s"
        (wppChange)="handleChange($event)"
      ></wpp-select>
    </div>
  </div>
</div>
