@mixin marker-styles {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid var(--wpp-grey-color-000);
  border-radius: 50%;
  background-color: transparent;
  box-sizing: border-box;
  box-shadow:
    0px 1px 5px 0px #343a3f1a,
    0px 0px 1px 0px #343a3f1a;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
