/**
  * @prop --wpp-back-to-top-button-width:
  * @prop --wpp-back-to-top-button-height:
  * @prop --wpp-back-to-top-button-border-radius:
  * @prop --wpp-back-to-top-button-box-shadow:
  * @prop --wpp-back-to-top-button-border-color:
  * @prop --wpp-back-to-top-button-border-color-hover:
  * @prop --wpp-back-to-top-button-first-border-color-focus:
  * @prop --wpp-back-to-top-button-second-border-color-focus:

  * @prop --wpp-back-to-top-button-bg-color:
  * @prop --wpp-back-to-top-button-bg-color-hover:
  * @prop --wpp-back-to-top-button-bg-color-active:
  * @prop --wpp-back-to-top-button-icon-color:
*/

:host {
  --bttb-width: var(--wpp-back-to-top-button-width, 40px);
  --bttb-height: var(--wpp-back-to-top-button-height, 40px);
  --bttb-border-radius: var(--wpp-back-to-top-button-border-radius, var(--wpp-border-radius-round));
  --bttb-box-shadow: var(--wpp-back-to-top-button-box-shadow, var(--wpp-box-shadow-m));
  --bttb-border-width: var(--wpp-back-to-top-button-border-width, var(--wpp-border-width-s));
  --bttb-border-style: var(--wpp-back-to-top-button-border-style, solid);
  --bttb-border-color: var(--wpp-back-to-top-button-border-color, var(--wpp-grey-color-500));
  --bttb-border-color-hover: var(--wpp-back-to-top-button-border-color-hover, var(--wpp-grey-color-700));
  --bttb-border-color-active: var(--wpp-back-to-top-button-border-color-active, var(--wpp-grey-color-800));
  --bttb-first-border-color-focus: var(--wpp-back-to-top-button-first-border-color-focus, var(--wpp-grey-color-000));
  --bttb-second-border-color-focus: var(--wpp-back-to-top-button-second-border-color-focus, var(--wpp-brand-color));

  --bttb-bg-color: var(--wpp--back-to-top-button-bg-color, var(--wpp-grey-color-000));
  --bttb-bg-color-hover: var(--wpp--back-to-top-button-bg-color-hover, var(--wpp-grey-color-200));
  --bttb-bg-color-active: var(--wpp--wpp--back-to-top-button-bg-color-active, var(--wpp-grey-color-300));
  --bttb-icon-color: var(--wpp--back-to-top-button-icon-color, var(--wpp-primary-color-800));
  --bttb-icon-color-hover: var(--wpp--back-to-top-button-icon-color-hover, var(--wpp-primary-color-800));
  --bttb-icon-color-active: var(--wpp--back-to-top-button-icon-color-active, var(--wpp-primary-color-800));

  display: inline-flex;
  outline: none;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--bttb-width);
    height: var(--bttb-height);
    margin: 0;
    border-radius: var(--bttb-border-radius);
    text-decoration: none;
    border: var(--bttb-border-width) var(--bttb-border-style) var(--bttb-border-color);
    outline: 0;
    cursor: pointer;
    box-shadow: var(--bttb-box-shadow);
    background-color: var(--bttb-bg-color);

    &.tab-focus {
      @include tabFocusProperties(var(--bttb-first-border-color-focus), var(--bttb-second-border-color-focus));

      border-color: var(--bttb-border-color-hover);
      background-color: var(--bttb-bg-color-hover);
    }

    .icon {
      color: var(--bttb-icon-color);
    }

    &:hover {
      background-color: var(--bttb-bg-color-hover);
      border-color: var(--bttb-border-color-hover);

      .icon {
        color: var(--bttb-icon-color-hover);
      }
    }

    &:active,
    &.pressed {
      background-color: var(--bttb-bg-color-active);
      border-color: var(--bttb-border-color-active);

      .icon {
        color: var(--bttb-icon-color-active);
      }
    }
  }
}
