.item {
  margin-bottom: 30px;
}

.item p {
  margin: 0;
}

.selects {
  display: flex;
}

.size {
  width: 400px;
  margin-right: 50px;
}

.expanded {
  width: 200px;
}

.select {
  margin-right: 15px;
  margin-bottom: 15px;
}

.container {
  height: 450px;
}
