<div class="item">
  <wpp-autocomplete
    required
    infinite
    [infinite-last-page]='isInfiniteLastPage(infiniteSearchValueTrimmed, infiniteSearchPage)'
    [loading]='isSearchingInfinite'
    name="infinite-list"
    [labelConfig]="getLabelConfig('Infinite scroll with lazy load')"
    placeholder="Scroll me"
    [value]='infiniteValue'
    [loadMore]='infiniteSearchLoadMore()'
    (wppSearchValueChange)='handleInfiniteSearchValueChange($event)'
    (wppChange)='handleInfiniteValueChange($event)'
    multiple
    show-create-new-element
    simple-search
  >
    <wpp-list-item *ngFor='let option of infiniteSearchResults' [key]='option.id' [value]='option' [label]='option.label'>
      <p slot="label">{{option.label}}</p>
    </wpp-list-item>
    <selected-values
      [values]='infiniteValue'
      (closeClick)={value=> setInfiniteValue(infiniteValue.filter(i => i.id !== value))}
      ></selected-values>
    </wpp-autocomplete>

  <results-view value={infiniteValue.map(i=> i.id)}></results-view>
</div>
