/**
 * @prop --wpp-autocomplete-border-radius:
 * @prop --wpp-autocomplete-placeholder-color:
 * @prop --wpp-autocomplete-placeholder-color-disabled:
 * @prop --wpp-autocomplete-hidden-count-text-color-disabled:
 * @prop --wpp-autocomplete-trigger-actions-right-position:
 * @prop --wpp-autocomplete-inline-message-margin:
 * @prop --wpp-autocomplete-label-margin:
 * @prop --wpp-autocomplete-limit-lines:
 * @prop --wpp-autocomplete-line-height:
 * @prop --wpp-autocomplete-box-shadow:
 * @prop --wpp-autocomplete-first-border-color-focus:
 * @prop --wpp-autocomplete-second-border-color-focus:
 * @prop --wpp-autocomplete-height-m:
 * @prop --wpp-autocomplete-height-s:
 * @prop --wpp-autocomplete-padding-s:
 * @prop --wpp-autocomplete-padding-m:
 * @prop --wpp-autocomplete-bg-color:
 * @prop --wpp-autocomplete-bg-color-hover:
 * @prop --wpp-autocomplete-bg-color-active:
 * @prop --wpp-autocomplete-bg-color-focused:
 * @prop --wpp-autocomplete-bg-color-disabled:
 * @prop --wpp-autocomplete-trigger-actions-right-position:
 * @prop --wpp-autocomplete-trigger-icon-color-hover:
 * @prop --wpp-autocomplete-trigger-icon-color-active:
 * @prop --wpp-autocomplete-trigger-icon-color-disabled:
 * @prop --wpp-autocomplete-border-color:
 * @prop --wpp-autocomplete-border-color-hover:
 * @prop --wpp-autocomplete-border-color-active:
 * @prop --wpp-autocomplete-border-color-focused:
 * @prop --wpp-autocomplete-border-color-disabled:
 * @prop --wpp-autocomplete-border-width:
 * @prop --wpp-autocomplete-border-style:
 * @prop --wpp-autocomplete-single-border-color-disabled:
 * @prop --wpp-autocomplete-dropdown-max-height:
 * @prop --wpp-autocomplete-dropdown-checkbox-margin:
 * @prop --wpp-autocomplete-dropdown-bg-color:
 * @prop --wpp-autocomplete-dropdown-border-radius:
 * @prop --wpp-autocomplete-create-new-element-color:
 * @prop --wpp-autocomplete-nothing-found-message-color:
 * @prop --wpp-autocomplete-search-icon-margin-right:
 * @prop --wpp-autocomplete-search-icon-margin-right:
 * @prop --wpp-autocomplete-item-margin-bottom:
*/

:host {
  --autocomplete-border-radius: var(--wpp-autocomplete-border-radius, var(--wpp-border-radius-m));
  --autocomplete-placeholder-color: var(--wpp-autocomplete-placeholder-color, var(--wpp-grey-color-700));
  --autocomplete-placeholder-color-disabled: var(--wpp-autocomplete-placeholder-color-disabled, var(--wpp-text-color-disabled));
  --autocomplete-hidden-count-text-color-disabled: var(--wpp-autocomplete-hidden-count-text-color-disabled, var(--wpp-text-color-disabled));
  --autocomplete-trigger-icon-right-position: var(--wpp-autocomplete-trigger-actions-right-position, 10px);
  --autocomplete-inline-message-margin: var(--wpp-autocomplete-inline-message-margin, 4px 0 0 0);
  --autocomplete-label-margin: var(--wpp-autocomplete-label-margin, 0 0 8px 0);
  --autocomplete-limit-lines: var(--wpp-autocomplete-limit-lines, 10000); // Virtually unlimited number of lines by default
  --autocomplete-line-height: var(--wpp-autocomplete-line-height, 34px); // Chip / input height + margins
  --autocomplete-box-shadow: var(--wpp-autocomplete-box-shadow, var(--wpp-box-shadow-m));
  --autocomplete-first-border-color-focus: var(--wpp-autocomplete-first-border-color-focus, var(--wpp-grey-color-000));
  --autocomplete-second-border-color-focus: var(--wpp-autocomplete-second-border-color-focus, var(--wpp-brand-color));

  --autocomplete-height-m: var(--wpp-autocomplete-height-m, 40px);
  --autocomplete-height-s: var(--wpp-autocomplete-height-s, 32px);
  --autocomplete-padding-s: var(--wpp-autocomplete-padding-s, 5px 0 5px 12px);
  --autocomplete-padding-m: var(--wpp-autocomplete-padding-m, 9px 0 9px 12px);

  --autocomplete-bg-color: var(--wpp-autocomplete-bg-color, transparent);
  --autocomplete-bg-color-hover: var(--wpp-autocomplete-bg-color-hover, var(--wpp-grey-color-200));
  --autocomplete-bg-color-active: var(--wpp-autocomplete-bg-color-active, transparent);
  --autocomplete-bg-color-focused: var(--wpp-autocomplete-bg-color-focused, var(--wpp-grey-color-000));
  --autocomplete-bg-color-disabled: var(--wpp-autocomplete-bg-color-disabled, var(--wpp-grey-color-100));

  --autocomplete-trigger-icon-color: var(--wpp-autocomplete-trigger-actions-right-position, var(--wpp-icon-color));
  --autocomplete-trigger-icon-color-hover: var(--wpp-autocomplete-trigger-icon-color-hover, var(--wpp-icon-color-hover));
  --autocomplete-trigger-icon-color-active: var(--wpp-autocomplete-trigger-icon-color-active, var(--wpp-icon-color-active));
  --autocomplete-trigger-icon-color-disabled: var(--wpp-autocomplete-trigger-icon-color-disabled, var(--wpp-icon-color-disabled));

  --autocomplete-border-color: var(--wpp-autocomplete-border-color, var(--wpp-grey-color-500));
  --autocomplete-border-color-hover: var(--wpp-autocomplete-border-color-hover, var(--wpp-grey-color-700));
  --autocomplete-border-color-active: var(--wpp-autocomplete-border-color-active, var(--wpp-grey-color-800));
  --autocomplete-border-color-focused: var(--wpp-autocomplete-border-color-focused, var(--wpp-grey-color-800));
  --autocomplete-border-color-disabled: var(--wpp-autocomplete-border-color-disabled, var(--wpp-grey-color-400));
  --autocomplete-border-width: var(--wpp-autocomplete-border-width, var(--wpp-border-width-s));
  --autocomplete-border-style: var(--wpp-autocomplete-border-style, solid);

  --autocomplete-single-border-color-disabled: var(--wpp-autocomplete-single-border-color-disabled, var(--wpp-grey-color-400));

  --autocomplete-dropdown-max-height: var(--wpp-autocomplete-dropdown-max-height, 372px);
  --autocomplete-dropdown-checkbox-margin: var(--wpp-autocomplete-dropdown-checkbox-margin, 1px 8px 1px 0);
  --autocomplete-dropdown-bg-color: var(--wpp-autocomplete-dropdown-bg-color, var(--wpp-grey-color-000));
  --autocomplete-dropdown-border-radius: var(--wpp-autocomplete-dropdown-border-radius, var(--wpp-border-radius-s));
  --autocomplete-dropdown-padding: var(--wpp-autocomplete-dropdown-padding, 8px);

  --autocomplete-dropdown-actions-border-radius: 0 0 var(--autocomplete-dropdown-border-radius) var(--autocomplete-dropdown-border-radius);
  --autocomplete-dropdown-actions-bg-color: var(--wpp-autocomplete-bg-color, var(--wpp-grey-color-000));

  --autocomplete-create-new-element-color: var(--wpp-autocomplete-create-new-element-color, var(--wpp-primary-color-500));
  --autocomplete-nothing-found-message-color: var(--wpp-autocomplete-nothing-found-message-color, var(--wpp-grey-color-700));
  --autocomplete-search-icon-margin-right: var(--wpp-autocomplete-search-icon-margin-right, 8px);

  --autocomplete-item-margin-bottom: var(--wpp-autocomplete-item-margin-bottom, 4px);
  --autocomplete-regular-selected-values-wrapper-padding: var(--wpp-autocomplete-regular-selected-values-wrapper-padding, 0 8px 8px 8px);
  --autocomplete-extended-selected-values-wrapper-padding: var(--wpp-autocomplete-extended-selected-values-wrapper-padding, 0 8px 8px 8px);

  --autocomplete-suggestion-title-padding: var(--wpp-autocomplete-suggestion-title-padding, 5px 0);
  --autocomplete-suggestion-title-margin-left: var(--wpp-autocomplete-suggestion-title-margin-left, 8px);

  --autocomplete-min-width: var(--wpp-autocomplete-min-width, 184px);

  position: relative;
  display: block;
  outline: none;
  min-width: var(--autocomplete-min-width);

  ::slotted([slot='selected-values']) {
    margin-top: 8px !important;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
  }

  .label:not(.focused):hover {
    & + .trigger {
      background-color: var(--autocomplete-bg-color-hover);
      border-color: var(--autocomplete-border-color-hover);

      .trigger-actions .wpp-icon-chevron, .wpp-icon-cross {
        color: var(--autocomplete-trigger-icon-color-hover);
      }

      &.warning {
        border-color: var(--wpp-warning-color-500);
      }

      &.error {
        border-color: var(--wpp-danger-color-500);
      }
    }
  }
}

:host(.wpp-disabled) {
  cursor: not-allowed;

  .label {
    pointer-events: none;
  }
}

.trigger-actions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--autocomplete-trigger-icon-right-position);
  display: flex;

  .wpp-icon-chevron, .wpp-icon-cross {
    color: var(--autocomplete-trigger-icon-color);
    cursor: pointer;
    transition: all 0.15s ease-out 0s;
  }
}

.values {
  @include scrollbarThin;

  display: flex;
  flex: 1 1 auto;
  align-items: center;
  min-width: 0;
  max-height: calc(var(--autocomplete-limit-lines) * var(--autocomplete-line-height));
  padding-right: 36px; // When changing this, also update the value in `.focused .values`
  overflow-y: auto;

  .hidden-count {
    flex: 0 1 auto;
    margin: 3px 2px;
    min-width: calc(25px + (var(--hidden-number) - 1) * 7.5px);

    .wpp-typography {
      white-space: nowrap;
    }
  }

  .hidden-count {
    @include typographySStrong;
  }

  .autocomplete-input {
    @include typographySBody;

    flex: 1 1 70px;
    min-width: 70px;
    padding: 0;
    background: var(--autocomplete-bg-color);
    border: none;
    outline: none;

    @include truncate;

    // Hide the input, but leave the possibility to focus it with tab navigation
    &.hidden {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 1px;
      min-width: 1px;
      height: 1px;
      opacity: 0;
    }

    &::-moz-placeholder {
      color: var(--autocomplete-placeholder-color);
      opacity: 1;
    }

    &::placeholder {
      color: var(--autocomplete-placeholder-color);
    }
  }

  .input-placeholder {
    @include truncate;
    width: 100%;
  }

  .wpp-chip + .autocomplete-input {
    margin-left: 6px;
  }
}

.count-block {
  display: none;
}

.trigger {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  border: var(--autocomplete-border-width) var(--autocomplete-border-style) var(--autocomplete-border-color);
  border-radius: var(--autocomplete-border-radius);
  cursor: text;

  &.size-s {
    height: var(--autocomplete-height-s);
    padding: var(--autocomplete-padding-s);
  }

  &.size-m {
    height: var(--autocomplete-height-m);
    padding: var(--autocomplete-padding-m);
  }

  &:hover {
    background-color: var(--autocomplete-bg-color-hover);
    border-color: var(--autocomplete-border-color-hover);

    .trigger-actions .wpp-icon-chevron, .wpp-icon-cross {
      color: var(--autocomplete-trigger-icon-color-hover);
    }
  }

  &:active {
    background-color: var(--autocomplete-bg-color-active);
    border-color: var(--autocomplete-border-color-active);

    .trigger-actions .wpp-icon-chevron, .wpp-icon-cross {
      color: var(--autocomplete-trigger-icon-color-active);
    }
  }

  &.focused {
    background-color: var(--autocomplete-bg-color-focused);
    border-color: var(--autocomplete-border-color-focused);

    // An optimized way of triggering ResizeObserver for non-Webkit browsers (Firefox)
    // without using MutationObserver. Covers cases when heights of the values container
    // in idle and focused states remains the same. In such cases there's no reliable way
    // to scroll to the input on autocomplete focus apart from using ResizeObserver or MutationObserver.
    .values {
      padding-right: 35px;
    }
  }

  // TODO: redefine warning and error color variables here and in every component
  @include inputWithMessage(var(--autocomplete-border-width), var(--autocomplete-border-style));
  @include tabFocus(var(--autocomplete-first-border-color-focus), var(--autocomplete-second-border-color-focus));

  &.disabled {
    background-color: var(--autocomplete-bg-color-disabled);
    border-color: var(--autocomplete-border-color-disabled);
    pointer-events: none;

    .values {
      .autocomplete-input {
        color: var(--wpp-grey-color-500);

        &::placeholder {
          color: var(--autocomplete-placeholder-color-disabled);
        }
      }

      .hidden-count {
        .wpp-typography {
          color: var(--autocomplete-hidden-count-text-color-disabled);
        }
      }

      .input-placeholder {
        color: var(--autocomplete-placeholder-color-disabled);
      }
    }

    .trigger-actions .wpp-icon-chevron, .wpp-icon-cross, .wpp-icon-search {
      color: var(--autocomplete-trigger-icon-color-disabled);
    }
  }

  &.disabled {
    border-color: var(--autocomplete-single-border-color-disabled);
  }

  &.error {
    border-color: var(--wpp-danger-color-400);
  }

  &.warning {
    border-color: var(--wpp-warning-color-400);
  }

  &[aria-expanded='true'] > .trigger-actions .wpp-icon-chevron {
    transform: rotate(180deg);
  }

  .wpp-icon-search {
    margin-right: var(--autocomplete-search-icon-margin-right);
  }
}

.wpp-inline-message::part(message-block) {
  margin: var(--autocomplete-inline-message-margin);
}

.dropdown {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-height: var(--autocomplete-dropdown-max-height);
  overflow: hidden;
  background: var(--autocomplete-dropdown-bg-color);
  border-radius: var(--autocomplete-dropdown-border-radius);
  box-shadow: var(--autocomplete-box-shadow);
  width: var(--custom-dropdown-width);

  .selected-pills-wrapper {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 8px 0 0;
    gap: 8px;
    max-width: 100%;
    width: auto;

    .wpp-pill {
      max-width: 100%;
    }

    &.overflow {
      flex-wrap: nowrap;
    }

    &.not-empty {
      padding-bottom: 8px;
    }

    &.show-action {
      cursor: pointer;
    }
  }

  .header-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .show-more-action {
      padding-left: 8px;
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    &.visible {
      .show-more-action {
        position: relative;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .show-less-action {
    margin-bottom: 8px;
  }

  .suggestions-divider {
    margin: 8px 0;
  }

  .dropdown-list {
    @include scrollbarThin;

    min-height: 0;
    padding: var(--autocomplete-dropdown-padding);
    overflow-x: hidden;
    overflow-y: auto;

    &.hidden {
      display: none;
    }

    &:empty {
      display: none;
    }

    &.with-create-new {
      padding-bottom: 53px;
    }

    &.empty-with-create-new {
      padding-bottom: 57px;
    }

    .actions {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--autocomplete-dropdown-actions-bg-color);
      border-radius: var(--autocomplete-dropdown-actions-border-radius);

      .actions-container {
        padding: var(--autocomplete-dropdown-padding);
        padding-top: 0;
      }
    }

    .infinite-loader {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
    }

    .nothing-found-wrapper {
      pointer-events: none;

      .nothing-found {
        color: var(--autocomplete-nothing-found-message-color);
      }
    }

    .nothing-found-divider {
      margin-bottom: 8px;
    }

    .create-new-option {
      color: var(--autocomplete-create-new-element-color);
    }

    .selected-values {
      display: flex;
      transition-delay: 300ms;
      transition-property: padding-top;

      &.focused {
        transition-delay: 0s;
        transition-property: padding-top;
      }

      &.regular {
        padding: var(--autocomplete-regular-selected-values-wrapper-padding);

        &.focused {
          --autocomplete-regular-selected-values-wrapper-padding: 0 8px 8px 8px;
        }
      }

      &.extended {
        padding: var(--autocomplete-extended-selected-values-wrapper-padding);

        &.focused {
          --autocomplete-extended-selected-values-wrapper-padding: 0 8px 8px 8px;
        }
      }
    }

    ::slotted(.wpp-list-item) {
      width: 100%;
    }

    ::slotted(.wpp-list-item:not(:last-child)) {
      margin-bottom: var(--autocomplete-item-margin-bottom);
    }
  }

  .suggestion-item {
    width: 100%;
  }

  .suggestion-item:not(.last-item) {
    margin-bottom: var(--autocomplete-item-margin-bottom);
  }

  .suggestions-heading,
  .show-action {
    padding: var(--autocomplete-suggestion-title-padding);
    margin-left: var(--autocomplete-suggestion-title-margin-left);
  }
}

.label {
  margin: var(--autocomplete-label-margin);
}

.loading-wrapper {
  display: flex;
  gap: 4px;
  padding: 5px 8px;
}
