/**
  * @prop --wpp-fb-width:
  * @prop --wpp-fb-height:
  * @prop --wpp-fb-border-radius:
  * @prop --wpp-fb-box-shadow:
  * @prop --wpp-fb-first-border-color-focus:
  * @prop --wpp-fb-second-border-color-focus:

  * @prop --wpp-fb-primary-bg-color:
  * @prop --wpp-fb-primary-bg-color-hover:
  * @prop --wpp-fb-primary-bg-color-active:
  * @prop --wpp-fb-primary-bg-color-disabled:
  * @prop --wpp-fb-primary-text-color:
  * @prop --wpp-fb-primary-icon-color:
*/

:host {
  --fb-width: var(--wpp-fb-width, 40px);
  --fb-height: var(--wpp-fb-heigth, 40px);
  --fb-border-radius: var(--wpp-fb-border-radius, 50%);
  --fb-box-shadow: var(--wpp-fb-box-shadow, var(--wpp-box-shadow-brand));
  --fb-first-border-color-focus: var(--wpp-fb-first-border-color-focus, var(--wpp-grey-color-000));
  --fb-second-border-color-focus: var(--wpp-fb-second-border-color-focus, var(--wpp-brand-color));

  --fb-primary-bg-color: var(--wpp-fb-primary-bg-color, var(--wpp-brand-color));
  --fb-primary-bg-color-hover: var(--wpp-fb-primary-bg-color-hover, var(--wpp-brand-color-hover));
  --fb-primary-bg-color-active: var(--wpp-fb-primary-bg-color-active, var(--wpp-brand-color-active));
  --fb-primary-bg-color-disabled: var(--wpp-fb-primary-bg-color-disabled, var(--wpp-brand-color-disabled));
  --fb-primary-text-color: var(--wpp-fb-primary-text-color, var(--wpp-grey-color-000));
  --fb-primary-icon-color: var(--wpp-fb-primary-icon-color, var(--wpp-grey-color-000));

  display: inline-flex;
  outline: none;
}

:host(.wpp-disabled:active),
:host(.wpp-loading:active) {
  pointer-events: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--fb-width);
  height: var(--fb-height);
  margin: 0;
  border-radius: var(--fb-border-radius);
  font-style: normal;
  line-height: var(--button-line-height);
  text-decoration: none;
  border: none;
  outline: 0;
  cursor: pointer;
  position: relative;
  box-shadow: var(--fb-box-shadow);

  &.tab-focus {
    @include tabFocusProperties(
      var(--fb-first-border-color-focus),
      var(--fb-second-border-color-focus),
      var(--fb-border-radius)
    );

    background-color: var(--fb-primary-bg-color-hover);
  }

  .content {
    overflow: hidden;

    .icon-plus {
      color: var(--fb-primary-icon-color);
    }

    &.icon {
      ::slotted(*) {
        color: var(--fb-primary-icon-color);
      }
    }
  }

  @include loaderOverlay;

  &.disabled {
    cursor: not-allowed;
  }

  &.loading {
    cursor: not-allowed;
  }

  &.primary {
    color: var(--fb-primary-text-color);
    background-color: var(--fb-primary-bg-color);

    .icon-start,
    .icon-end {
      ::slotted(*) {
        color: var(--fb-primary-icon-color);
      }
    }
    &.tab-focus,
    &:hover {
      background-color: var(--fb-primary-bg-color-hover);
    }

    &:active,
    &.pressed {
      background-color: var(--fb-primary-bg-color-active);
    }

    &:disabled {
      background-color: var(--fb-primary-bg-color-disabled);
    }

    &.loading {
      background-color: var(--fb-primary-bg-color);
    }
  }
}
