.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;

  .message {
    display: flex;
    margin: 16px 0;
    padding-bottom: 400px;
  }

  .message p {
    line-height: 1.3;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
  }

  .button {
    margin-right: 12px;
  }

  .modalButton {
    margin-top: 20px;
  }

  .datepicker {
    &::part(datepicker-container) {
      margin-bottom: 100px;
    }
  }
}
