<div class="container" data-testid="search-container">
  <div class="searches">
    <h2>Size M</h2>
    <div class="regularContainer" data-testid="regular-search-container">
      <wpp-search
        required
        auto-focus
        class="item"
        [labelConfig]="getLabelConfig('Regular Search')"
        placeholder="Select fruits"
        [value]="basicValue"
        (wppChange)="handleBasicValue($event)"
        simple-search
        data-testid="regular-search"
      >
        <wpp-list-item
          *ngFor="let option of fruitOptions"
          [key]="option.id"
          [value]="option"
          [label]="option.label"
        >
          <p slot="label">{{ option.label }}</p>
        </wpp-list-item>
      </wpp-search>
    </div>

    <wpp-search
      required
      class="item"
      [labelConfig]="getLabelConfig('Disabled Search')"
      disabled
      [value]="basicValue"
      simple-search
    ></wpp-search>

    <wpp-search
      required
      class="item"
      [labelConfig]="getLabelConfig('Search with custom dropdown width')"
      [highlight]="false"
      dropdownWidth="200px"
      placeholder="Select fruits"
      [value]="basicValue"
      (wppChange)="handleBasicValue($event)"
      simple-search
    >
      <wpp-list-item
        *ngFor="let option of fruitOptions"
        [key]="option.id"
        [value]="option"
        [label]="option.label"
      >
        <p slot="label">{{ option.label }}</p>
      </wpp-list-item>
    </wpp-search>

    <wpp-search
      required
      class="item"
      [labelConfig]="getLabelConfig('Search with highlight')"
      placeholder="Select fruits"
      [value]="basicValue"
      (wppChange)="handleBasicValue($event)"
      simple-search
    >
      <wpp-list-item
        *ngFor="let option of fruitOptions"
        [key]="option.id"
        [value]="option"
        [label]="option.label"
      >
        <p slot="label">{{ option.label }}</p>
      </wpp-list-item>
    </wpp-search>

    <wpp-search
      required
      class="item"
      [labelConfig]="getLabelConfig('Loading Search')"
      loading
      placeholder="Select fruits"
      [value]="basicValue"
      simple-search
    ></wpp-search>

    <wpp-search
      class="item"
      [labelConfig]="customLabelConfig"
      placeholder=" Select fruits"
      [value]="basicValue"
      simple-search
    ></wpp-search>

    <wpp-search
      class="item"
      [labelConfig]="getLabelConfig('Open dropdown on click')"
      open-dropdown-on-click
      required
      placeholder="Select fruits"
      [value]="basicValue"
      simple-search
      data-testid="dropdown-open-on-click-search"
    >
      <wpp-list-item
        *ngFor="let option of fruitOptions"
        [key]="option.id"
        [value]="option"
        [label]="option.label"
      >
        <p slot="label">{{ option.label }}</p>
      </wpp-list-item>
    </wpp-search>

    <wpp-search
      class="item"
      [labelConfig]="getLabelConfig('simpleSearch = false')"
      required
      placeholder="Select fruits"
      [value]="basicValue"
      data-testid="simple-search-off-search"
    >
      <wpp-list-item
        *ngFor="let option of fruitOptions"
        [key]="option.id"
        [value]="option"
        [label]="option.label"
      >
        <p slot="label">{{ option.label }}</p>
      </wpp-list-item>
    </wpp-search>

    <wpp-search
      class="item"
      [labelConfig]="getLabelConfig('showOptions = false')"
      [showOptions]="false"
      required
      placeholder="Select fruits"
      [value]="basicValue"
      data-testid="show-options-off-search"
    >
      <wpp-list-item
        *ngFor="let option of fruitOptions"
        [key]="option.id"
        [value]="option"
        [label]="option.label"
      >
        <p slot="label">{{ option.label }}</p>
      </wpp-list-item>
    </wpp-search>

    <wpp-search
      class="item"
      [labelConfig]="getLabelConfig('Search with error message')"
      message-type="error"
      message="Error message"
      required
      placeholder="Select fruits"
      [value]="basicValue"
    ></wpp-search>

    <wpp-search
      class="item"
      [labelConfig]="getLabelConfig('Search with warning message')"
      message-type="warning"
      message="Warning message"
      required
      placeholder="Select fruits"
      [value]="basicValue"
    ></wpp-search>
  </div>

  <div class="searches">
    <h2>Size S</h2>
    <wpp-search
      size="s"
      required
      auto-focus
      class="item"
      [labelConfig]="getLabelConfig('Regular Search')"
      :highlight="false"
      placeholder="Select fruits"
      [value]="basicValue"
      (wppChange)="handleBasicValue($event)"
      simple-search
    >
      <wpp-list-item
        *ngFor="let option of fruitOptions"
        [key]="option.id"
        [value]="option"
        [label]="option.label"
      >
        <p slot="label">{{ option.label }}</p>
      </wpp-list-item>
    </wpp-search>

    <wpp-search
      size="s"
      required
      class="item"
      [labelConfig]="getLabelConfig('Disabled Search')"
      disabled
      [value]="basicValue"
      simple-search
    ></wpp-search>

    <wpp-search
      size="s"
      required
      class="item"
      [labelConfig]="getLabelConfig('Search with custom dropdown width')"
      [highlight]="false"
      dropdownWidth="200px"
      placeholder="Select fruits"
      [value]="basicValue"
      (wppChange)="handleBasicValue($event)"
      simple-search
    >
      <wpp-list-item
        *ngFor="let option of fruitOptions"
        [key]="option.id"
        [value]="option"
        [label]="option.label"
      >
        <p slot="label">{{ option.label }}</p>
      </wpp-list-item>
    </wpp-search>

    <wpp-search
      size="s"
      required
      class="item"
      [labelConfig]="getLabelConfig('Search with highlight')"
      placeholder="Select fruits"
      [value]="basicValue"
      (wppChange)="handleBasicValue($event)"
      simple-search
    >
      <wpp-list-item
        *ngFor="let option of fruitOptions"
        [key]="option.id"
        [value]="option"
        [label]="option.label"
      >
        <p slot="label">{{ option.label }}</p>
      </wpp-list-item>
    </wpp-search>

    <wpp-search
      size="s"
      required
      class="item"
      [labelConfig]="getLabelConfig('Loading Search')"
      loading
      placeholder="Select fruits"
      [value]="basicValue"
      simple-search
    ></wpp-search>

    <wpp-search
      class="item"
      size="s"
      [labelConfig]="customLabelConfig"
      placeholder=" Select fruits"
      [value]="basicValue"
      simple-search
    ></wpp-search>

    <wpp-search
      size="s"
      class="item"
      [labelConfig]="getLabelConfig('Open dropdown on click')"
      openDropdownOnClick
      required
      placeholder="Select fruits"
      [value]="basicValue"
      simple-search
    >
      <wpp-list-item
        *ngFor="let option of fruitOptions"
        [key]="option.id"
        [value]="option"
        [label]="option.label"
      >
        <p slot="label">{{ option.label }}</p>
      </wpp-list-item>
    </wpp-search>

    <wpp-search
      size="s"
      class="item"
      [labelConfig]="getLabelConfig('simpleSearch = false')"
      openDropdownOnClick
      required
      placeholder="Select fruits"
      [value]="basicValue"
    >
      <wpp-list-item
        *ngFor="let option of fruitOptions"
        [key]="option.id"
        [value]="option"
        [label]="option.label"
      >
        <p slot="label">{{ option.label }}</p>
      </wpp-list-item>
    </wpp-search>

    <wpp-search
      size="s"
      class="item"
      [labelConfig]="getLabelConfig('showOptions = false')"
      [showOptions]="false"
      required
      placeholder="Select fruits"
      [value]="basicValue"
    >
      <wpp-list-item
        *ngFor="let option of fruitOptions"
        [key]="option.id"
        [value]="option"
        [label]="option.label"
      >
        <p slot="label">{{ option.label }}</p>
      </wpp-list-item>
    </wpp-search>

    <wpp-search
      size="s"
      class="item"
      [labelConfig]="getLabelConfig('Search with error message')"
      message-type="error"
      message="Error message"
      required
      placeholder="Select fruits"
      [value]="basicValue"
    ></wpp-search>

    <wpp-search
      size="s"
      class="item"
      [labelConfig]="getLabelConfig('Search with warning message')"
      message-type="warning"
      message="Warning message"
      required
      placeholder="Select fruits"
      [value]="basicValue"
    ></wpp-search>
  </div>
</div>
