/**
  * @prop --wpp-topbar-padding:
  * @prop --wpp-topbar-with-app-padding:
  * @prop --wpp-topbar-item-margin:
  * @prop --wpp-topbar-max-width:
*/

:host {
  --topbar-padding: var(--wpp-topbar-padding, 12px 0);
  --topbar-with-app-padding: var(--wpp-topbar-with-app-padding, 8px 0);
  --topbar-z-index: var(--wpp-topbar-z-index, 890);
  --topbar-item-margin: var(--wpp-topbar-item-margin, 8px);
  --topbar-max-width: var(--wpp-topbar-max-width, 1812px);
  --topbar-offset-top: var(--wpp-topbar-offset-top, 64px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: sticky;
  top: var(--topbar-offset-top);
  z-index: var(--topbar-z-index);
  background-color: var(--wpp-grey-color-000);

  .wrapper {
    max-width: var(--topbar-max-width);
    width: 95%;
    margin: 0 auto;
    padding: 0 2.5%;

    .container {
      margin-left: 0;
    }
  }

  .header {
    display: flex;
    align-items: center;
    padding: var(--topbar-padding);

    .navigation {
      display: flex;
      align-items: center;
      width: 100%;
      opacity: 1;

      &.hidden {
        height: 32px;
        overflow-y: hidden;
        opacity: 0;
      }

      .wpp-topbar-item {
        white-space: nowrap;

        &:not(:last-child) {
          margin-right: var(--topbar-item-margin);
        }
      }
    }

    &.without-application {
      .application {
        display: none;
      }
    }

    &.with-app {
      padding: var(--topbar-with-app-padding);
    }
  }
}

.app,
right {
  @include slotWrapper;
}
