<div class="example-page">
    <div class="table-header">
        <wpp-button (click)="handleShowProgress()" size="s">
            {{ showProgress ? "Hide" : "Show" }} progress
        </wpp-button>
    </div>

    <div class="filters">
        <div class="left">
            <wpp-input [(ngModel)]="search" ngDefaultControl type="search" placeholder="Search by First Name"
                (wppChange)="handleSearchChange($event)" size="s"></wpp-input>
            <wpp-select [value]="selectedGender" size="s" placeholder="Filter by gender"
                (wppChange)="handleGenderChange($event)">
                <wpp-list-item *ngFor="let gender of genderOptions" [value]="gender">
                    <p slot="label">
                        <span style="color: grey">Gender: </span>
                        {{ gender }}
                    </p>
                </wpp-list-item>
            </wpp-select>
        </div>
        <div class="right">
            <wpp-pill class="pill" type="display" label="{{ selectedItems.length }} selected" removable
                (wppClose)="handleDeselectAll()"></wpp-pill>
            <wpp-action-button class="remove-column-btn" (click)="handleRemoveAvatarsColumn()">Remove avatars column
                <wpp-icon-trash slot="icon-start"></wpp-icon-trash></wpp-action-button>
            <wpp-action-button class="add-column-btn" (click)="handleAddAvatarsColumn()">Add avatars column
                <wpp-icon-plus slot="icon-start"></wpp-icon-plus></wpp-action-button>

            <wpp-button variant="secondary" (click)="handleEditClick()" size="s"> Edit <wpp-icon-export
                    slot="icon-start"></wpp-icon-export> </wpp-button>
        </div>
    </div>

    <div class="ag-theme-wpp" [ngStyle]="getStyles()">
        <ag-grid-angular class="ag-grid-table" [rowData]="visibleData" [getRowId]="rowIdGetter"
            [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" rowSelection="multiple" rowDragMultiRow
            animateRows rowDragManaged [loadingOverlayComponent]="loadingOverlayComponent"
            [noRowsOverlayComponent]="noRowsOverlayComponent" [rowClassRules]="rowClassRules"
            (rowSelected)="handleRowsSelect()" (firstDataRendered)="onFirstDataRendered($event)"></ag-grid-angular>
    </div>

    <wpp-load-more *ngIf="itemsLoaded >= AUTO_LOAD_LIMIT && itemsLoaded < displayData.length"
        [totalItems]="displayData.length" [itemsLoaded]="itemsLoaded" [loading]="loading"
        [incrementBy]="LOAD_MORE_COUNT" [showProgressBar]="showProgress" (wppClickLoadMore)="handleLoadMore()">
    </wpp-load-more>
</div>