@import "../../plugins/quill-image-actions/common";
@import "../../plugins/quill-upload/common";

.ql-container {
  position: relative;
  &.quill-view, &.quill-view-html {
    border: none;
    .ql-editor {
      padding: 0;
    }
  }
}

.ql-editor {
  --richtext-syntax-padding: var(--wpp-richtext-syntax-padding, 16px 20px);
  --richtext-syntax-bg-color: var(--wpp-richtext-syntax-bg-color, var(--wpp-grey-color-200));
  --richtext-syntax-border-radius: var(--wpp-richtext-syntax-border-radius, var(--wpp-border-radius-m));
  --richtext-syntax-font-family: var(--wpp-richtext-syntax-font-family, "SF mono", Monaco, Courier New, monospace);
  --richtext-syntax-font-size: var(--wpp-richtext-syntax-font-size, var(--wpp-typography-s-body-font-size));
  --richtext-syntax-line-height: var(--wpp-richtext-syntax-line-height, var(--wpp-typography-s-body-line-height));

  --richtext-blockquote-mark-color: var(--wpp-richtext-blockquote-mark-color, var(--wpp-grey-color-400));
  --richtext-blockquote-mark-size: var(--wpp-richtext-blockquote-mark-size, 4px);

  --richtext-float-gap: 1em;

  overflow: auto;

  @include typographyS;

  em {
    font-style: italic;
  }
  strong {
    font-weight: bold;
  }

  blockquote {
    border-left: var(--richtext-blockquote-mark-size) solid var(--richtext-blockquote-mark-color);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 16px;
  }

  li {
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &:has(*.ql-size-2xs)::before {
      @include typography2XS;
    }

    &:has(*.ql-size-xs)::before {
      @include typographyXS;
    }

    &:has(*.ql-size-m)::before {
      @include typographyM;
    }

    &:has(*.ql-size-l)::before {
      @include typographyL;
    }

    &:has(*.ql-size-xl)::before {
      @include typographyXL;
    }

    &:has(*.ql-size-2xl)::before {
      @include typography2XL;
    }

    &:has(*.ql-size-3xl)::before {
      @include typography3XL;
    }

    &:has(*.ql-size-4xl)::before {
      @include typography4XL;
    }

    &:has(*.ql-size-5xl)::before {
      @include typography5XL;
    }
  }
}

.ql-size-2xs {
  @include typography2XS;
}

.ql-size-xs {
  @include typographyXS;
}

.ql-size-m {
  @include typographyM;
}

.ql-size-l {
  @include typographyL;
}

.ql-size-xl {
  @include typographyXL;
}

.ql-size-2xl {
  @include typography2XL;
}

.ql-size-3xl {
  @include typography3XL;
}

.ql-size-4xl {
  @include typography4XL;
}

.ql-size-5xl {
  @include typography5XL;
}

.ql-syntax {
  background-color: var(--richtext-syntax-bg-color);
  padding: var(--richtext-syntax-padding);
  overflow: visible;
  border-radius: var(--richtext-syntax-border-radius);
  font-family: var(--richtext-syntax-font-family);
  font-size: var(--richtext-syntax-font-size);
  line-height: var(--richtext-syntax-line-height);
}
