/**
  * @prop --wpp-file-upload-item-height:
  * @prop --wpp-file-upload-item-bg-color:
  * @prop --wpp-file-upload-item-padding:
  * @prop --wpp-file-upload-item-border-radius:
  * @prop --wpp-file-upload-item-margin:
  * @prop --wpp-file-upload-item-close-icon-color-hover:
  * @prop --wpp-file-upload-item-close-icon-active-color:
  * @prop --wpp-file-upload-item-close-icon-first-border-color-focus:
  * @prop --wpp-file-upload-item-close-icon-second-border-color-focus:
  * @prop --wpp-file-upload-item-color:
  * @prop --wpp-file-upload-item-name-color:
  * @prop --wpp-file-upload-item-percentage-margin:
  * @prop --wpp-file-upload-item-name-margin:
  * @prop --wpp-file-upload-item-loading-margin:
  * @prop --wpp-file-upload-item-name-error-margin:
  * @prop --wpp-file-upload-item-error-color:
*/

:host {
  --fu-item-bg-color: var(--wpp-file-upload-item-bg-color, var(--wpp-grey-color-200));
  --fu-item-height: var(--wpp-file-upload-item-height, 32px);
  --fu-item-padding: var(--wpp-file-upload-item-padding, 8px);
  --fu-item-margin: var(--wpp-file-upload-item-margin, 8px 0 0 0);
  --fu-item-percentage-margin: var(--wpp-file-upload-item-percentage-margin, 0 8px 0 0);
  --fu-item-name-margin: var(--wpp-file-upload-item-name-margin, 0 0 0 2px);
  --fu-item-name-error-margin: var(--wpp-file-upload-item-name-error-margin, 0 8px 0 24px);
  --fu-item-border-radius: var(--wpp-file-upload-item-border-radius, var(--wpp-border-radius-m));
  --fu-item-thumbnail-border-radius: var(--wpp-file-upload-item-thumbnail-border-radius, var(--wpp-border-radius-xs));
  --fu-item-thumbnail-width: var(--wpp-file-upload-item-thumbnail-width, 24px);
  --fu-item-thumbnail-height: var(--wpp-file-upload-item-thumbnail-height, 24px);
  --fu-item-thumbnail-margin: var(--wpp-file-upload-item-thumbnail-margin, 0 8px 0 0);
  --fu-item-item-icon-margin: var(--wpp-file-upload-item-icon-margin, 0 2px 0 0);
  --fu-item-item-color: var(--wpp-file-upload-item-color, var(--wpp-grey-color-700));
  --fu-item-item-name-color: var(--wpp-file-upload-item-name-color, var(--wpp-grey-color-900));
  --fu-item-close-icon-color-hover: var(--wpp-file-upload-item-close-icon-color-hover, var(--wpp-icon-color-hover));
  --fu-item-close-icon-active-color: var(--wpp-file-upload-item-close-icon-active-color, var(--wpp-icon-color-active));
  --fu-item-close-icon-first-border-color-focus: var(--wpp-file-upload-item-close-icon-first-border-color-focus, var(--wpp-grey-color-000));
  --fu-item-close-icon-second-border-color-focus: var(--wpp-file-upload-item-close-icon-second-border-color-focus, var(--wpp-brand-color));
  --fu-item-loading-margin: var(--wpp-file-upload-item-loading-margin, 0px 10px 0px 0px);
  --fu-item-error-color: var(--wpp-file-upload-item-error-color, var(--wpp-text-color-danger));
  --fu-item-bg-color-disabled: var(--wpp-file-upload-item-bg-color-disabled, var(--wpp-grey-color-200));
  --fu-item-text-color-disabled: var(--wpp-file-upload-item-text-color-disabled, var(--wpp-text-color-disabled));
}

.thumbnail-preview {
  width: var(--fu-item-thumbnail-width);
  height: var(--fu-item-thumbnail-height);
  border-radius: var(--fu-item-thumbnail-border-radius);
  object-fit: cover;
}

.error-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}

.item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
  max-width: var(--fu-item-max-width);
  min-height: var(--fu-item-height);
  background-color: var(--fu-item-bg-color);
  padding: var(--fu-item-padding);
  border-radius: var(--fu-item-border-radius);
  margin: var(--fu-item-margin);

  @include typographySBody;

  &.disabled {
    background-color: var(--fu-item-bg-color-disabled);
    color: var(--fu-item-text-color-disabled);
    cursor: not-allowed;

    .name, .loading {
      color: var(--fu-item-text-color-disabled);
    }

    .wpp-icon {
      color: var(--wpp-icon-color-disabled);
      pointer-events: none;
    }
  }
}

.block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.extension-icon {
  display: flex;
  margin: var(--fu-item-item-icon-margin);
}

.controls-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.percentage {
  color: var(--fu-item-item-color);
}

.loading {
  min-width: 60px;
  color: var(--fu-item-item-color);
  margin: var(--fu-item-loading-margin);
}

.name {
  margin: var(--fu-item-name-margin);
  color: var(--fu-item-item-name-color);

  &.name-error {
    margin: var(--fu-item-name-error-margin);
  }
}

.error {
  flex: 1;
  margin: 0;
}

.content-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.cross-icon {
  cursor: pointer;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;

  &:hover {
    color: var(--fu-item-close-icon-color-hover);
  }

  &:active {
    color: var(--fu-item-close-icon-active-color);
  }
}

.inline-message-error {
  &::part(message-block) {
    @include typographySStrong;
    color: var(--fu-item-error-color);
  }
}

:host(:focus-visible) {
  outline: none;

  .cross-icon {
    @include tabFocusProperties(var(--fu-item-close-icon-first-border-color-focus), var(--fu-item-close-icon-second-border-color-focus), 3px);
  }
}
