<div slot="header">Second Page Title</div>
<div slot="body">
  <div class="message">
    <wpp-avatar withTooltip size="s" name="John Smith Junior"></wpp-avatar>
    <wpp-card>
      <p>
        Good morning team,
        <br/>
        Will take a sick leave for today 🍋
        <br/>
        <br/>
        🙏 Please water my plants, thanks!
      </p>
    </wpp-card>
  </div>
</div>
<div slot="actions">
  <wpp-button variant="destructive" (click)="handleCloseSideModal()">
    Close
  </wpp-button>
</div>
