.page {
  padding: 20px 0 50px;
  box-shadow: 0 4px 12px rgb(52 58 63 / 10.2%);
}

.application {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.image {
  display: flex;
  width: 40px;
  max-width: 40px;
  height: 40px;
  margin-right: 12px;
}

.app {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.name {
  white-space: nowrap;
}

.actions {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  margin-top: 20px;
}
