/**
  * @prop --wpp-step-width:
  * @prop --wpp-step-height:
  * @prop --wpp-step-border-width:
  * @prop --wpp-step-line-min-height:
  * @prop --wpp-step-connector-line-border-color:
  * @prop --wpp-step-connector-line-border-color-completed:
  * @prop --wpp-step-text-color:
  * @prop --wpp-step-optional-text-font-weight:
  * @prop --wpp-step-text-color-active:
  * @prop --wpp-step-text-color-completed:
  * @prop --wpp-step-bg-color:
  * @prop --wpp-step-bg-color-completed:
  * @prop --wpp-step-border-color:
  * @prop --wpp-step-border-color-active:
  * @prop --wpp-step-border-color-completed:
  * @prop --wpp-step-substep-width:
  * @prop --wpp-step-substep-height:
  * @prop --wpp-step-container-width:
  * @prop --wpp-step-vertical-line-width:
  * @prop --wpp-step-vertical-text-margin:

  * @prop --wpp-step-vertical-bg-color:
  * @prop --wpp-step-vertical-bg-color-hover:
  * @prop --wpp-step-vertical-bg-color-pressed:
  * @prop --wpp-step-vertical-bg-color-active:
  * @prop --wpp-step-vertical-text-color:
  * @prop --wpp-step-vertical-text-color-active:
  * @prop --wpp-step-vertical-text-margin-left:
  * @prop --wpp-step-vertical-text-margin-right:
  * @prop --wpp-step-vertical-icon-margin-right:

  * @prop --wpp-step-horizontal-step-index-bg-color:
  * @prop --wpp-step-horizontal-step-index-bg-color-hover:
  * @prop --wpp-step-horizontal-step-index-bg-color-pressed:
  * @prop --wpp-step-horizontal-step-index-bg-color-active:
  * @prop --wpp-step-horizontal-text-wrapper-bg-color:
  * @prop --wpp-step-horizontal-text-wrapper-bg-color-hover:
  * @prop --wpp-step-horizontal-text-wrapper-bg-color-pressed:
  * @prop --wpp-step-horizontal-text-wrapper-bg-color-active:
  * @prop --wpp-step-horizontal-text-wrapper-padding:
  * @prop --wpp-step-horizontal-text-wrapper-padding:
  * @prop --wpp-step-horizontal-text-wrapper-margin:
  * @prop --wpp-step-horizontal-text-color:
  * @prop --wpp-step-horizontal-text-color-active:
  * @prop --wpp-step-horizontal-icon-margin-left:
  * @prop --wpp-step-horizontal-line-width:
*/

:host {
  display: block;

  --step-width: var(--wpp-step-width, 20px);
  --step-height: var(--wpp-step-height, 20px);
  --step-with-description-height: var(--wpp-step-with-description-height, 50px);
  --step-slider-width: var(--wpp-step-border-width, 2px);
  --step-line-min-height: var(--wpp-step-line-min-heigth, 32px);
  --step-with-description-line-min-heigth: var(--wpp-step-with-description-line-min-height, 34px);
  --step-connector-line-border-color: var(--wpp-step-connector-line-border-color, var(--wpp-grey-color-400));
  --step-connector-line-border-color-completed: var(
    --wpp-step-connector-line-border-color-completed,
    var(--wpp-brand-color)
  );
  --step-text-color: var(--wpp-step-text-color, var(--wpp-grey-color-400));
  --step-optional-text-font-weight: var(--wpp-step-optional-text-font-weight, 400);
  --step-text-color-active: var(--wpp-step-text-color-active, var(--wpp-brand-color));
  --step-text-color-completed: var(--wpp-step-text-color-completed, var(--wpp-brand-color));
  --step-bg-color: var(--wpp-step-bg-color, var(--wpp-grey-color-000));
  --step-bg-color-completed: var(--wpp-step-bg-color-completed, var(--wpp-brand-color));
  --step-border-color: var(--wpp-step-border-color, var(--wpp-grey-color-400));
  --step-border-color-active: var(--wpp-step-border-color-active, var(--wpp-brand-color));
  --step-border-color-completed: var(--wpp-step-border-color-completed, var(--wpp-brand-color));
  --step-substep-width: var(--wpp-step-subtask-width, 8px);
  --step-substep-height: var(--wpp-step-subtask-height, 8px);
  --step-container-width: var(--wpp-step-container-width, 100%);
  --step-vertical-line-width: var(--wpp-step-vertical-line-width, 2px);
  --step-circle-radius: var(--wpp-step-circle-radius, var(--wpp-border-radius-round));
  --step-vertical-text-margin: var(--wpp-step-vertical-text-margin, 4px);

  --step-vertical-bg-color: var(--wpp-step-vertical-bg-color, transparent);
  --step-vertical-bg-color-hover: var(--wpp-step-vertical-bg-color-hover, var(--wpp-grey-color-200));
  --step-vertical-bg-color-pressed: var(--wpp-step-vertical-bg-color-pressed, var(--wpp-grey-color-300));
  --step-vertical-bg-color-active: var(--wpp-step-vertical-bg-color-active, var(--wpp-primary-color-100));
  --step-vertical-text-color: var(--wpp-step-vertical-text-color, var(--wpp-text-color-disabled));
  --step-vertical-text-color-active: var(--wpp-step-vertical-text-color-active, var(--wpp-brand-color));
  --step-vertical-text-margin-left: var(--wpp-step-vertical-text-margin-left, 40px);
  --step-vertical-text-margin-right: var(--wpp-step-vertical-text-margin-left, 8px);
  --step-vertical-icon-margin-right: var(--wpp-step-vertical-icon-margin-right, 8px);

  --step-horizontal-step-index-bg-color: var(--wpp-step-horizontal-step-index-bg-color, transparent);
  --step-horizontal-step-index-bg-color-hover: var(
    --wpp-step-horizontal-step-index-bg-color-hover,
    var(--wpp-grey-color-200)
  );
  --step-horizontal-step-index-bg-color-pressed: var(
    --wpp-step-horizontal-step-index-bg-color-pressed,
    var(--wpp-grey-color-300)
  );
  --step-horizontal-step-index-bg-color-active: var(
    --wpp-step-horizontal-step-index-bg-color-active,
    var(--wpp-primary-color-100)
  );

  --step-horizontal-text-wrapper-bg-color: var(--wpp-step-horizontal-text-wrapper-bg-color, transparent);
  --step-horizontal-text-wrapper-bg-color-hover: var(
    --wpp-step-horizontal-text-wrapper-bg-color-hover,
    var(--wpp-grey-color-200)
  );
  --step-horizontal-text-wrapper-bg-color-pressed: var(
    --wpp-step-horizontal-text-wrapper-bg-color-pressed,
    var(--wpp-grey-color-300)
  );
  --step-horizontal-text-wrapper-bg-color-active: var(
    --wpp-step-horizontal-text-wrapper-bg-color-active,
    var(--wpp-primary-color-100)
  );
  --step-horizontal-text-wrapper-padding: var(--wpp-step-horizontal-text-wrapper-padding, 1px 12px);
  --step-horizontal-text-wrapper-border-radius: var(
    --wpp-step-horizontal-text-wrapper-padding,
    var(--wpp-border-radius-s)
  );
  --step-horizontal-text-wrapper-margin: var(--wpp-step-horizontal-text-wrapper-margin, 8px);

  --step-horizontal-text-color: var(--wpp-step-horizontal-text-color, var(--wpp-text-color-disabled));
  --step-horizontal-text-color-active: var(--wpp-step-horizontal-text-color-active, var(--wpp-brand-color));
  --step-horizontal-icon-margin-left: var(--wpp-step-horizontal-icon-margin-left, 8px);
  --step-horizontal-line-width: var(--wpp-step-horizontal-line-width, 2px);
}

.text-wrapper {
  @include typographySStrong;

  &.inactive-text {
    color: var(--wpp-grey-color-500);

    .wpp-typography {
      color: var(--wpp-grey-color-500);
    }
  }
}

.horizontal {
  flex-direction: column;

  .text-wrapper {
    display: flex;
    align-items: center;
    margin-top: var(--step-vertical-text-margin);

    .wpp-typography::part(typography) {
      font-weight: var(--step-optional-text-font-weight);
    }
  }

  .horizontal-optional-text {
    margin-left: 4px;
    font-size: 14px;
  }
}

.vertical {
  .text-wrapper {
    position: absolute;
    left: 32px;
    margin: 0;
    white-space: nowrap;

    .wpp-typography::part(typography) {
      font-weight: var(--step-optional-text-font-weight);
    }
  }

  .wpp-typography {
    color: var(--wpp-grey-color-800);
  }
}

.step-wrapper {
  position: relative;
  width: var(--step-container-width);

  &.substep-wrapper {
    margin-left: 6px;

    .text-wrapper {
      left: 24px;
      margin: 0;

      &.inactive-text {
        color: var(--wpp-grey-color-500);
      }
    }
  }
}

.step {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
}

.step-index {
  @include typographyXSStrong;

  z-index: 2;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: var(--step-width);
  height: var(--step-height);
  color: var(--step-text-color);
  background-color: var(--step-bg-color);
  border: var(--step-slider-width) solid var(--step-border-color);
  border-radius: var(--step-circle-radius);
  transition: 0.2s ease-in-out;

  &.active {
    color: var(--step-text-color-active);
    border-color: var(--step-border-color-active);
  }

  &.completed {
    color: var(--step-text-color-completed);
    background-color: var(--step-bg-color-completed);
    border-color: var(--step-border-color-completed);
  }

  &.error {
    position: relative;
  }
}

.connector-horizontal {
  position: absolute;
  top: 12px;
  left: calc(50% - 4px);
  flex: 1 1 auto;
  width: calc(100% - 20px);

  .connector-line {
    display: block;
    border-color: var(--step-connector-line-border-color);
    border-top-width: var(--step-vertical-line-width);
    border-top-style: solid;
  }
}

.connector-vertical {
  position: relative;
  left: -3px;
  width: var(--step-vertical-line-width);

  .connector-line {
    display: block;
    min-height: var(--step-line-min-height);
    border-color: var(--step-connector-line-border-color);
    border-left-width: var(--step-vertical-line-width);
    border-left-style: solid;
  }
}

.connector {
  flex: 1 1 auto;
  margin-left: 14px;
  z-index: 1;

  .completed-line {
    border-color: var(--step-connector-line-border-color-completed);
  }
}

.substep {
  width: var(--step-substep-width);
  height: var(--step-substep-height);
}

.connector-substep {
  margin-left: 8px;
}

:host(.wpp-last-step) {
  .connector {
    opacity: 0;
  }
}

:host(.wpp-last-step[expanded]),
:host(.wpp-last-step[expanded="true"]) {
  .connector {
    opacity: 1;
  }
}

:host(.wpp-vertical) {
  --step-label-width: var(--wpp-step-label-width, 104px);

  width: 100%;

  &:host(.wpp-step) .steps-list-container {
    height: 0;
    transition: height 0.5s, opacity 0.3s;
    opacity: 0;
  }

  &:host(.wpp-expanded) .steps-list-container {
    height: var(--steps-list-container-height);
    opacity: 1;
    transition: height 0.5s, opacity 0.5s;
  }

  &:host([active]:not([completed])) {
    .step-bg:not(.active) {
      &:hover {
        & ~ .step .step-index {
          background-color: var(--step-vertical-bg-color-hover);
          transition: 0s;
        }
      }

      &:active {
        & ~ .step .step-index {
          background-color: var(--step-vertical-bg-color-pressed);
          transition: 0s;
        }
      }
    }
  }

  .step {
    width: var(--step-width);

    &.completed {
      .text-wrapper {
        color: var(--step-vertical-text-color-active);
      }
    }
  }

  .step-wrapper {
    .step-bg {
      display: flex;
      align-items: center;
      position: absolute;
      border-radius: var(--wpp-border-radius-s);
      width: var(--vertical-stepper-width);
      height: 36px;
      top: -6px;
      left: calc(var(--step-vertical-icon-margin-right) * -1);

      &.active {
        background: var(--step-vertical-bg-color-active);
      }

      .text-wrapper {
        width: calc(
          100% - var(--step-vertical-text-margin-left) - var(--step-vertical-icon-margin-right) -
            var(--step-vertical-text-margin-right)
        );
        text-align: start;
        left: var(--step-vertical-text-margin-left);
        position: absolute;

        &.inactive-text {
          color: var(--step-vertical-text-color);
        }

        &.with-icon {
          width: calc(
            100% - var(--step-vertical-text-margin-left) - var(--step-vertical-icon-margin-right) -
              var(--step-vertical-text-margin-right) - 20px
          );
        }

        ::slotted([slot='label']),
        ::slotted([slot='description']) {
          @include truncate;
          display: block;
          width: var(--step-label-width);
        }

        &.with-icon {
          ::slotted([slot='label']),
          ::slotted([slot='description']) {
            width: calc(var(--step-label-width) - 20px);
          }
        }
      }

      .wpp-tooltip,
      .icon {
        position: absolute;
        right: var(--step-vertical-icon-margin-right);
      }

      .label-tooltip {
        position: relative;
        right: 0;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &.step-has-description {
      .step-bg {
        overflow: hidden;
        top: -4px;
        height: var(--step-with-description-height);

        .step-description {
          @include typographyXSBody;

          color: var(--wpp-grey-color-800);
        }

        .description-tooltip,
        .label-tooltip {
          position: relative;
          right: 0;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .connector-vertical {
        .connector-line {
          min-height: var(--step-with-description-line-min-heigth);
        }
      }
    }

    &:not(.substep-wrapper) {
      .text-wrapper {
        @include typographySBody;
      }
    }

    &.substep-wrapper {
      .step-bg {
        top: -12px;
        left: -14px;
      }

      .text-wrapper {
        @include typographyXSBody;

        &.inactive-text {
          color: var(--step-vertical-text-color);
        }
      }

      &.active {
        .text-wrapper {
          @include typographyXSMidi;

          color: var(--step-vertical-text-color-active);
        }
      }
    }

    &.active {
      .step-index.active:not(.completed) {
        background: var(--step-vertical-bg-color-active);
      }

      .step-bg {
        cursor: pointer;

        background: var(--step-vertical-bg-color-active);

        .text-wrapper {
          color: var(--step-vertical-text-color-active);

          .wpp-typography {
            color: var(--step-vertical-text-color-active);
          }
        }

        &.active {
          .text-wrapper {
            @include typographySMidi;

            color: var(--step-vertical-text-color-active);
          }
        }
      }

      &.substep-wrapper {
        .step-bg.active .text-wrapper {
          @include typographyXSMidi;

          color: var(--step-vertical-text-color-active);
        }
      }
    }

    &.completed {
      .step-bg {
        cursor: pointer;
      }
    }

    &.completed:not(.active) {
      .step-bg {
        &:hover {
          background-color: var(--step-vertical-bg-color-hover);
        }

        &:active {
          background-color: var(--step-vertical-bg-color-pressed);
        }
      }
    }
  }
}

:host(.wpp-horizontal) {
  .step-wrapper {
    .text-wrapper {
      @include typographySMidi;

      padding: var(--step-horizontal-text-wrapper-padding);
      background-color: var(--step-horizontal-text-wrapper-bg-color);
      border-radius: var(--step-horizontal-text-wrapper-border-radius);
      margin-top: var(--step-horizontal-text-wrapper-margin);
      cursor: pointer;

      &.inactive-text {
        @include typographySBody;

        cursor: initial;
        color: var(--step-horizontal-text-color);
      }

      &.with-icon {
        .wpp-tooltip,
        .icon {
          margin-left: var(--step-horizontal-icon-margin-left);
        }

        .icon {
          display: inline-flex;
        }
      }
    }

    &.active {
      .step-index {
        background-color: var(--step-horizontal-step-index-bg-color-active);
      }

      .text-wrapper {
        color: var(--step-horizontal-text-color-active);
        background-color: var(--step-horizontal-text-wrapper-bg-color-active);
      }
    }

    &.completed:not(.active) {
      .step-index {
        cursor: pointer;

        &:hover {
          & ~ .text-wrapper {
            background-color: var(--step-horizontal-text-wrapper-bg-color-hover);
          }
        }

        &:active {
          & ~ .text-wrapper {
            background-color: var(--step-horizontal-text-wrapper-bg-color-pressed);
          }
        }
      }

      .text-wrapper {
        @include typographySBody;

        &:hover {
          background-color: var(--step-horizontal-text-wrapper-bg-color-hover);
        }

        &:active {
          background-color: var(--step-horizontal-text-wrapper-bg-color-pressed);
        }
      }
    }

    &.completed.active {
      .step-index {
        cursor: pointer;

        &.active.completed {
          background-color: var(--step-horizontal-text-color-active);
        }
      }
    }
  }
}
