.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 50px;
}

.additionalSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 70%;
  height: 500vh;
  padding: 50px;
  background: rgb(173 216 230);
  border: 4px dashed gray;
  border-radius: 50px;
  opacity: 0.5;

  .config {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;

    .configBtn {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.stickyContent {
  display: flex;
  flex-direction: column;
}

.options {
  margin-bottom: 20px;

  .configBtn {
    margin-right: 10px;
  }
}

.osBar {
  position: sticky;
  top: 0;
  z-index: 900;
  height: 100px;
  background-color: white;
  border-bottom: 1px solid black;

  header {
    height: 100%;
  }
}
