<div class="container">
  <div class="accordion">
    <h2 class="title">Dynamic height accordion</h2>
    <wpp-accordion size="s" expanded counter="3" text="Dynamic content" slot="body">
      <div>
        <wpp-button (click)="handleAddNewParagraph()"> Add new title</wpp-button>
        <wpp-autocomplete
          name="basic"
          [labelConfig]="getLabelConfig('Basic with initial values')"
          placeholder="Select fruits"
          [value]="basicValue"
          (wppChange)="handleBasicValue($event)"
          data-testid="basic-autocomplete"
        >
          <wpp-list-item *ngFor="let option of fruitOptions" [key]="option.id" [value]="option" [label]="option.label">
            <p slot="label">{{ option.label }}</p>
          </wpp-list-item>
        </wpp-autocomplete>
        <div>
          <h4 *ngFor="let item of items">{{ item }}</h4>
          <wpp-select
            placeholder="Choose item"
            id="select"
            [dropdownConfig]="dropdownConfig"
            [list]="selectList"
            (wppChange)="handleChangeValue($event)"
            [value]="selectValue"
          >
          </wpp-select>
        </div>
      </div>
    </wpp-accordion>
    <wpp-side-modal
      [open]="isOpen"
      (wppSideModalClose)="handeCloseSideModal()"
      (wppSideModalOpen)="handeOpenSideModal()"
    >
      <wpp-typography type="xl-heading" slot="header"> Header </wpp-typography>
      <wpp-accordion size="s" expanded counter="3" text="Dynamic content" slot="body">
        <div>
          <wpp-button (click)="handleAddNewParagraph()">Add new title</wpp-button>
          <div>
            <h4 *ngFor="let item of items">{{ item }}</h4>
            <wpp-select
              placeholder="Choose item"
              id="select"
              [list]="selectList"
              (wppChange)="handleChangeValue($event)"
              [value]="selectValue"
              [dropdownConfig]="dropdownConfig"
            >
            </wpp-select>
          </div>
        </div>
      </wpp-accordion>
    </wpp-side-modal>
    <wpp-button (click)="handeOpenSideModal()"> Open Side Modal with Accordion</wpp-button>
  </div>

  <div class="accordion">
    <wpp-accordion expanded expandedByDefault>
      <wpp-typography type="m-strong" slot="header">
        Accordion with expanded=true and expandedByDefault=true
      </wpp-typography>
      <div [style]="getStyle()">No height animation on this block</div>
    </wpp-accordion>
    <wpp-button (click)="handleDisableAccordion()">{{ disable ? 'Enable' : 'Disable' }} Accordion</wpp-button>
    <wpp-accordion disabled expandedByDefault>
      <wpp-typography type="m-strong" slot="header"> Accordion disabled expandedByDefault </wpp-typography>
      <wpp-action-button variant="secondary" slot="actions" disabled>
        Action Button
        <wpp-icon-plus slot="icon-start"></wpp-icon-plus>
      </wpp-action-button>
      <wpp-typography type="s-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec purus euismod, fermentum nunc nec, ultricies
      </wpp-typography>
    </wpp-accordion>
    <wpp-accordion expanded>
      <wpp-typography type="m-strong" slot="header"> Accordion with expanded=true </wpp-typography>
      <div [style]="getStyle()">With height animation</div>
    </wpp-accordion>
  </div>
</div>
