.container {
  display: flex;
}

.accordion {
  width: 500px;
  margin-right: 20px;
  padding: 10px;
  text-align: left;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 1px;
}

.title {
  text-align: center;
}
