/**
  * @prop --wpp-pagination-text-color:
  * @prop --wpp-pagination-options-list-width:
*/

:host {
  --pagination-text-color: var(--wpp-pagination-text-color, var(--wpp-text-color-info));
  --pagination-options-list-width: var(--wpp-pagination-options-list-width, 100px);
}

:host(.wpp-pagination-wrapper) {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .control-pagination-wrapper {
    display: inline-flex;
    align-items: center;
  }

  .wpp-divider {
    --divider-width: 1px;
    --divider-height: 12px;

    margin: 0 16px 0 6px;
  }

  .wpp-typography {
    color: var(--pagination-text-color);
  }

  .wpp-text-select {
    --wpp-input-select-min-width: 46px;

    &::part(options-list) {
      width: var(--pagination-options-list-width);
    }

    &::part(body) {
      display: inline-flex;
    }

    margin-left: 2px;
  }
}
