<div class="container" data-testid="overlay-container">
  <wpp-typography class="title" type="2xl-heading"> Overlay component </wpp-typography>

  <div class="notes">
    <wpp-typography type="xl-heading">Notes</wpp-typography>

    <wpp-typography class="text" type="s-body">
      - The Overlay component opens relative to the first parent container (which has position: relative).
    </wpp-typography>

    <wpp-typography class="text" type="s-body">
      - The Overlay component should emit the wppClick event when clicked.
    </wpp-typography>
  </div>

  <div class="scenarios">
    <wpp-typography class="scenario-title" type="xl-heading">
      Scenario: render overlay in the body of a page.
    </wpp-typography>

    <div class="section">
      <div class="header">
        <wpp-typography class="text" type="s-body">Header</wpp-typography>
      </div>
      <div class="body">
        <wpp-typography class="text" type="s-body">Body</wpp-typography>
        <wpp-overlay [isVisible]="isVisible" (overlayClose)="handleOverlayChange()"></wpp-overlay>
      </div>
    </div>
  </div>

  <wpp-button class="button" variant="primary" (click)="toggleOverlay()"> Toggle overlay </wpp-button>
</div>
