.margin {
  margin-left: 10px;
}

.message {
  display: flex;
  margin: 16px 0;
}

.avatar {
  flex: 0 0 auto;
  margin-top: 8px;
  margin-right: 16px;
}

.card {
  flex: 1 1 auto;
}

.message p {
  line-height: 1.3;
}
