<div>
  <div slot="header">Fourth Page Title</div>
  <div slot="body">
    <div class="message">
      <wpp-avatar
        class="avatar hover-avatar"
        with-tooltip
        size="s"
        name="John Smith Junior"
        color="var(--wpp-dataviz-color-cat-dark-9)"
      ></wpp-avatar>
      <wpp-card class="card">
        <p>
          Good morning team,
          <br/>
          Will take a sick leave for today 🍋
          <br/>
          <br/>
          🙏 Please water my plants, thanks!
        </p>
      </wpp-card>
    </div>
    <h3>File Upload</h3>
    <wpp-file-upload></wpp-file-upload>
  </div>
</div>
