/**
  * @prop --wpp-tag-height:
  * @prop --wpp-tag-padding:
  * @prop --wpp-tag-with-icon-padding:
  * @prop --wpp-tag-bg-opacity:
  * @prop --wpp-tag-border-radius:
  * @prop --wpp-tag-icon-margin:
  * @prop --wpp-tag-icon-padding:
  * @prop --wpp-tag-neutral-bg-color:
  * @prop --wpp-tag-neutral-bg-opacity:
  * @prop --wpp-tag-warning-bg-color:
  * @prop --wpp-tag-warning-bg-opacity:
  * @prop --wpp-tag-positive-bg-color:
  * @prop --wpp-tag-positive-bg-opacity:
  * @prop --wpp-tag-negative-bg-color:
  * @prop --wpp-tag-negative-bg-opacity:
  * @prop --wpp-tag-neutral-color:
  * @prop --wpp-tag-warning-color:
  * @prop --wpp-tag-positive-color:
  * @prop --wpp-tag-negative-color:
*/
:host {
  --tag-height: var(--wpp-tag-height, 24px);
  --tag-padding: var(--wpp-tag-padding, 2px 8px);
  --tag-with-icon-padding: var(--wpp-tag-with-icon-padding, 2px 8px 2px 6px);
  --tag-bg-opacity: var(--wpp-tag-bg-opacity, 1);
  --tag-border-radius: var(--wpp-tag-border-radius, var(--wpp-border-radius-xs));
  --tag-icon-margin: var(--wpp-tag-icon-margin, 0 4px 0 0);
  --tag-typography-color: var(--wpp-tag-typography-color, var(--wpp-grey-color-1000));
  --tag-icon-color: var(--wpp-tag-icon-color, var(--wpp-grey-color-900));
  --tag-neutral-color: var(--wpp-tag-neutral-color, var(--wpp-dataviz-color-seq-grey-600));
  --tag-neutral-bg-color: var(--wpp-tag-neutral-bg-color, var(--wpp-grey-color-300));
  --tag-neutral-bg-opacity: var(--wpp-tag-neutral-bg-opacity, 0.25);
  --tag-warning-color: var(--wpp-tag-warning-color, var(--wpp-dataviz-color-seq-warning-600));
  --tag-warning-bg-color: var(--wpp-tag-warning-bg-color, var(--wpp-warning-color-200));
  --tag-warning-bg-opacity: var(--wpp-tag-warning-bg-opacity, 0.25);
  --tag-positive-color: var(--wpp-tag-positive-color, var(--wpp-dataviz-color-seq-positive-600));
  --tag-positive-bg-color: var(--wpp-tag-positive-bg-color, var(--wpp-success-color-200));
  --tag-positive-bg-opacity: var(--wpp-tag-positive-bg-opacity, 0.25);
  --tag-negative-color: var(--wpp-tag-negative-color, var(--wpp-dataviz-color-seq-negative-600));
  --tag-negative-bg-color: var(--wpp-tag-negative-bg-color, var(--wpp-danger-color-200));
  --tag-negative-bg-opacity: var(--wpp-tag-negative-bg-opacity, 0.25);
  --tag-disabled-opacity: var(--wpp-tag-disabled-opacity, 0.4);
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  height: var(--tag-height);
  padding: var(--tag-padding);
  overflow: hidden;
  border-radius: var(--tag-border-radius);
}

:host {
  --wpp-typography-color: var(--tag-typography-color);
  --wpp-icon-color: var(--tag-icon-color);
  background-color: var(--wpp-white-color);
  position: relative;
}
:host .overlay {
  background-color: var(--tag-bg-color);
}
:host .icon-start ::slotted(*) {
  color: var(--tag-icon-color);
  mix-blend-mode: plus-darker;
}

:host(.wpp-warning) .overlay {
  background-color: var(--tag-warning-bg-color);
}

:host(.wpp-positive) .overlay {
  background-color: var(--tag-positive-bg-color);
}

:host(.wpp-negative) .overlay {
  background-color: var(--tag-negative-bg-color);
}

:host(.wpp-with-icon) {
  padding: var(--tag-with-icon-padding);
}
:host(.wpp-with-icon) .icon-start {
  z-index: 1;
  display: flex;
  margin: var(--tag-icon-margin);
}

.wpp-typography {
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  mix-blend-mode: plus-darker;
}
.wpp-typography::part(typography) {
  mix-blend-mode: plus-darker;
}

.icon-start.slot-hidden {
  display: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: var(--tag-border-radius);
  opacity: var(--tag-bg-opacity);
}

.categorical-overlay {
  opacity: 0.4;
}

:host(.wpp-neutral) .overlay {
  background-color: var(--tag-neutral-bg-color);
  opacity: 0.6;
}

:host(.wpp-disabled) {
  opacity: var(--tag-disabled-opacity);
}