<div slot="header">First Page Title</div>
<div slot="body">
  <wpp-inline-message
    size="m"
    message="Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum"
    type="information"
  ></wpp-inline-message>
  <wpp-avatar
    size="m"
    name="John Doe"
    with-tooltip
    [tooltipConfig]="tooltipConfig"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8huvp8b3bXl2v8ac6MSqz0Uk3zqauY2ttIA&usqp=CAU"
  ></wpp-avatar>
  <p>First Page Body</p>
  <wpp-select placeholder="Placeholder" [list]="LIST" [value]="selectValue" (wppChange)="handleSelectChange($event)">
  </wpp-select>
  <wpp-textarea-input
    placeholder="Enter text"
    value="Regular Text Area with Limit"
    characters-limit="10"
    required
    [labelConfig]="getLabelConfig('Regular Text Area with Limit')"
  ></wpp-textarea-input>
  <wpp-file-upload></wpp-file-upload>
</div>
<div slot="actions">
  <wpp-button variant="secondary" size="m" (click)="handleCloseSideModal()"> Cancel </wpp-button>
  <wpp-button variant="destructive" class="margin" (click)="handleNextPage()"> Next Page </wpp-button>
</div>
