/**
  * @prop --wpp-text-area-padding:
  * @prop --wpp-text-area-border-radius:
  * @prop --wpp-text-area-height:
  * @prop --wpp-text-area-label-color:
  * @prop --wpp-text-area-label-margin:
  * @prop --wpp-text-area-inline-message-margin:
  * @prop --wpp-text-area-placeholder-color:
  * @prop --wpp-text-area-text-color-disabled:
  * @prop --wpp-textarea-characters-limit-font-weight:
  * @prop --wpp-text-area-border-radius:
  * @prop --wpp-text-area-border-radius:
  * @prop --wpp-text-area-bg-color:
  * @prop --wpp-text-area-bg-color-hover:
  * @prop --wpp-text-area-bg-color-active:
  * @prop --wpp-text-area-bg-color-disabled:
  * @prop --wpp-text-area-border-color:
  * @prop --wpp-text-area-border-color-hover:
  * @prop --wpp-text-area-border-color-active:
  * @prop --wpp-text-area-border-color-disabled:
  * @prop --wpp-counter-first-border-color-focus:
  * @prop --wpp-counter-second-border-color-focus:
  * @prop --wpp-text-area-border-width:
  * @prop --wpp-text-area-border-style:
*/

:host {
  --textarea-padding: var(--wpp-text-area-padding, 9px 12px);
  --textarea-border-radius: var(--wpp-text-area-border-radius, var(--wpp-border-radius-m));
  --textarea-height: var(--wpp-text-area-border-radius, 106px);

  --textarea-label-color: var(--wpp-text-area-label-color, var(--wpp-text-color-info));
  --textarea-characters-limit-label-color: var(--wpp-textarea-characters-limit-label-color, var(--wpp-grey-color-800));
  --text-area-label-margin: var(--wpp-text-area-label-margin, 0 0 8px 0);
  --textarea-inline-message-margin: var(--wpp-text-area-inline-message-margin, 4px 0 0 0);
  --textarea-placeholder-color: var(--wpp-text-area-placeholder-color, var(--wpp-grey-color-700));
  --textarea-text-color-disabled: var(--wpp-text-area-text-color-disabled, var(--wpp-text-color-disabled));
  --textarea-characters-limit-font-weight: var(--wpp-textarea-characters-limit-font-weight, 400);
  --textarea-warning-charecters-limit-color: var(--wpp-text-area-border-radius, var(--wpp-warning-color-500));
  --textarea-error-charecters-limit-color: var(--wpp-text-area-border-radius, var(--wpp-danger-color-500));

  --textarea-bg-color: var(--wpp-text-area-bg-color, transparent);
  --textarea-bg-color-hover: var(--wpp-text-area-bg-color-hover, var(--wpp-grey-color-200));
  --textarea-bg-color-active: var(--wpp-text-area-bg-color-active, transparent);
  --textarea-bg-color-disabled: var(--wpp-text-area-bg-color-disabled, var(--wpp-grey-color-100));

  --textarea-border-color: var(--wpp-text-area-border-color, var(--wpp-grey-color-600));
  --textarea-border-color-hover: var(--wpp-text-area-border-color-hover, var(--wpp-grey-color-700));
  --textarea-border-color-active: var(--wpp-text-area-border-color-active, var(--wpp-grey-color-800));
  --textarea-border-color-disabled: var(--wpp-text-area-border-color-disabled, var(--wpp-grey-color-400));
  --counter-first-border-color-focus: var(--wpp-counter-first-border-color-focus, var(--wpp-grey-color-000));
  --counter-second-border-color-focus: var(--wpp-counter-second-border-color-focus, var(--wpp-brand-color));

  --textarea-border-width: var(--wpp-text-area-border-width, var(--wpp-border-width-s));
  --textarea-border-style: var(--wpp-text-area-border-style, solid);
}

:host([disabled]:not([disabled='false']):active) {
  pointer-events: none;
}

:host(.wpp-textarea-wrapper) {
  display: flex;
  flex-direction: column;
  @include typographyXSBody;

  .label .label-text {
    color: var(--textarea-label-color);
  }

  .label {
    margin: var(--text-area-label-margin);
  }

  textarea {
    box-sizing: border-box;
    padding: var(--textarea-padding);
    overflow-y: auto;
    background-color: var(--textarea-bg-color);
    border: var(--textarea-border-width) var(--textarea-border-style) var(--textarea-border-color);
    border-radius: var(--textarea-border-radius);
    resize: none;
    outline: none;
    height: var(--text-area-height-by-rows, var(--textarea-height));

    @include tabFocus(var(--counter-first-border-color-focus), var(--counter-second-border-color-focus));
    @include scrollbarThin;
    @include typographySBody;

    &:hover {
      background: var(--textarea-bg-color-hover);
      border: var(--textarea-border-width) var(--textarea-border-style) var(--textarea-border-color-hover);
    }

    &:active {
      border: var(--textarea-border-width) var(--textarea-border-style) var(--textarea-border-color-active);
    }

    &::placeholder {
      color: var(--textarea-placeholder-color);
    }

    &:focus {
      background: var(--textarea-bg-color-active);
      border: var(--textarea-border-width) var(--textarea-border-style) var(--textarea-border-color-active);
    }

    &:disabled {
      color: var(--textarea-text-color-disabled);
      background: var(--textarea-bg-color-disabled);
      border: var(--textarea-border-width) var(--textarea-border-style) var(--textarea-border-color-disabled);
      cursor: not-allowed;

      &::placeholder {
        color: var(--textarea-text-color-disabled);
        transition: 0.5s ease-in-out;
      }
    }

    @include inputWithMessage(var(--textarea-border-width), var(--textarea-border-style));
  }

  .characters-limit {
    @include characterLimit(
      var(--textarea-warning-charecters-limit-color),
      var(--textarea-error-charecters-limit-color),
      var(--textarea-characters-limit-label-color),
      var(--textarea-characters-limit-font-weight)
    );
  }

  .messages-wrapper {
    display: flex;
    justify-content: space-between;
    margin: var(--textarea-inline-message-margin);

    &.without-text-message {
      justify-content: flex-end;
    }
  }
}
