.page {
  .brandInfo {
    margin: 100px 0 120px;
  }

  .secondSelect {
    margin-top: 20px;
  }

  .label {
    margin-top: 15px;
  }

  .item {
    margin-bottom: 30px;
  }

  .item p {
    margin: 0;
  }

  .text {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 500px;
  }

  div[slot='body'] {
    height: 600px;
  }

  .marginBtn {
    margin-right: 20px;
  }

  .modalBody {
    height: initial !important;
  }
}
