/**
  * @prop --wpp-tab-width:
  * @prop --wpp-tab-padding-m:
  * @prop --wpp-tab-padding-s:
  * @prop --wpp-tab-tab-font-weight:
  * @prop --wpp-tab-tab-margin:
  * @prop --wpp-tab-text-color:
  * @prop --wpp-tab-text-color-hover:
  * @prop --wpp-tab-text-color-active:
  * @prop --wpp-tab-text-color-selected:
  * @prop --wpp-tab-text-color-disabled:
  * @prop --wpp-tab-first-border-color-focus:
  * @prop --wpp-tab-second-border-color-focus:
  * @prop --wpp-tab-bg-color:
*/

:host {
  --tab-width: var(--wpp-tab-width, auto);
  --tab-padding-m: var(--wpp-tab-padding-m, 8px);
  --tab-padding-s: var(--wpp-tab-padding-s, 6px 4px);
  --tab-tab-font-weight: var(--wpp-tab-tab-font-weight, 400);
  --tab-tab-margin: var(--wpp-tab-tab-margin, 0 0 0 8px);
  --tab-text-color: var(--wpp-tab-text-color, var(--wpp-text-color-info));
  --tab-text-color-hover: var(--wpp-tab-text-color-hover, var(--wpp-brand-color-hover));
  --tab-text-color-active: var(--wpp-tab-text-color-active, var(--wpp-brand-color-active));
  --tab-text-color-selected: var(--wpp-tab-text-color-selected, var(--wpp-brand-color));
  --tab-text-color-disabled: var(--wpp-tab-text-color-disabled, var(--wpp-text-color-disabled));
  --tab-first-border-color-focus: var(--wpp-tab-first-border-color-focus, var(--wpp-grey-color-000));
  --tab-second-border-color-focus: var(--wpp-tab-second-border-color-focus, var(--wpp-brand-color));
  --tab-bg-color: var(--wpp-tab-bg-color, transparent);

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: var(--tab-width);
  outline: none;
}

:host([disabled]:not([disabled='false']):active) {
  pointer-events: none;
}

.wpp-tab-wrapper {
  @include typographySStrong;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--tab-width);
  overflow: hidden;
  color: var(--tab-text-color);
  text-overflow: ellipsis;
  background-color: var(--tab-bg-color);
  outline: 0;
  cursor: pointer;

  &.tab-focus {
    position: relative;
    color: var(--tab-text-color-hover);
    outline: none;

    &::after {
      @include tabFocusProperties(var(--tab-first-border-color-focus), var(--tab-second-border-color-focus), 5px);

      position: absolute;
      width: calc(100% - 6px);
      height: calc(100% - 10px);
      content: '';
    }
  }

  &.size-m {
    padding: var(--tab-padding-m);
  }

  &.size-s {
    padding: var(--tab-padding-s);
  }

  .counter {
    margin: var(--tab-tab-margin);
    font-weight: var(--tab-tab-font-weight);
  }

  &:hover {
    color: var(--tab-text-color-hover);
  }

  &:active {
    color: var(--tab-text-color-active);
  }
}

:host([disabled]:not([disabled='false'])) .wpp-tab-wrapper {
  color: var(--tab-text-color-disabled);
  cursor: not-allowed;
}

:host([active]:not([active='false'])) .wpp-tab-wrapper {
  color: var(--tab-text-color-selected);
}
