/**
  * @prop --wpp-full-screen-modal-overlay-bg-color:
  * @prop --wpp-full-screen-modal-width:
  * @prop --wpp-full-screen-modal-height:
  * @prop --wpp-full-screen-modal-box-shadow:
  * @prop --wpp-full-screen-modal-body-paddings:
  * @prop --wpp-full-screen-modal-actions-paddings:
  * @prop --wpp-full-screen-modal-header-padding:
  * @prop --wpp-full-screen-modal-bg-color:
*/

:host {
  --full-screen-modal-width: var(--wpp-full-screen-modal-width, 95%);
  --full-screen-modal-height: var(--wpp-full-screen-modal-height, 90%);
  --full-screen-modal-box-shadow: var(--wpp-full-screen-modal-box-shadow, var(--wpp-box-shadow-l));
  --full-screen-modal-body-paddings: var(--wpp-full-screen-modal-body-paddings, 0 32px);
  --full-screen-modal-actions-paddings: var(--wpp-full-screen-modal-actions-paddings, 32px);
  --full-screen-modal-header-padding: var(--wpp-full-screen-modal-header-padding, 24px 24px 20px 32px);
  --full-screen-modal-transition: visibility 0.15s linear 0.2s, opacity 0.2s 0.2s;
  --full-screen-modal-bg-color: var(--wpp-full-screen-modal-bg-color, var(--wpp-grey-color-000));
  --full-screen-modal-close-button-margin-left: var(--wpp-full-screen-modal-close-button-margin-left, auto);
}

:host(.wpp-full-screen-modal-wrapper) {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  font-family: var(--wpp-font-family);
  visibility: hidden;
  opacity: 0;
}

:host(.component-ready) {
  transition: var(--full-screen-modal-transition);
}

:host(.wpp-visible.component-ready) {
  display: block;
  visibility: visible;
  opacity: 1;
}

:host(.wpp-hide) {
  visibility: hidden !important;
  opacity: 0;
}

:host(.wpp-visible:target) {
  opacity: 1;
}

.header-container {
  display: flex;
  align-items: center;
  padding: var(--full-screen-modal-header-padding);

  .close-button {
    margin-left: var(--full-screen-modal-close-button-margin-left);
  }
}

.header,
.body,
.actions {
  @include slotWrapper;
}

.header {
  @include typography2XLHeading;
}

.body {
  @include typographySBody;

  height: 100%;
  padding: var(--full-screen-modal-body-paddings);
  overflow-y: auto;
}

.actions {
  @include typographySStrong;

  padding: var(--full-screen-modal-actions-paddings);
}

.full-screen-modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.full-screen-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--full-screen-modal-bg-color);
  border-radius: var(--wpp-border-radius-l);
  box-shadow: var(--full-screen-modal-box-shadow);
  transform: translate(-50%, -50%);
  width: var(--full-screen-modal-width);
  height: var(--full-screen-modal-height);

  &.visible {
    animation: fullScreenModalAppearAboveCenterAnimations 0.2s linear;
    animation-delay: 0.15s;
  }
}

@media (max-height: 800px) {
  .full-screen-modal {
    transform: translate(-50%, -50%);

    &.visible {
      animation: fullScreenModalAppearInCenterAnimations 0.2s linear forwards;
      animation-delay: 0.15s;
    }
  }
}

@keyframes fullScreenModalAppearInCenterAnimations {
  0% {
    transform: translate(-50%, -70%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes fullScreenModalAppearAboveCenterAnimations {
  0% {
    transform: translate(-50%, -70%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}
