:host {
  --load-more-progress-text-color: var(--wpp-load-more-progress-text-color, var(--wpp-grey-color-700));
  --load-more-progress-text-color-disabled: var(--wpp-load-more-progress-text-color-disabled, var(--wpp-text-color-disabled));
  --load-more-progress-bar-color-disabled: var(--wpp-load-more-progress-bar-color-disabled, var(--wpp-brand-color-disabled));
  --load-more-button-width: var(--wpp-load-more-button-width, 200px);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: var(--load-more-button-width)
}

.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  &.disabled {
    cursor: not-allowed;

    .progress-indicator {
      &::part(body) {
        --pi-linear-bg-color: var(--load-more-progress-bar-color-disabled);
      }
    }
  }
}

.progress-text {
  @include typographySMidi;

  color: var(--load-more-progress-text-color);

  &.disabled {
    color: var(--load-more-progress-text-color-disabled);
  }
}

.load-more-button {
  &::part(button) {
    width: var(--load-more-button-width);
  }
}
