.page {
  width: 75%;
  height: 100vh;

  .container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .startBtn {
      margin-right: 30px;
    }
  }

  .infoText {
    margin-bottom: 20px;
  }
}
