.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.rightMargin {
  margin-right: 8px;
}

.topMargin {
  margin-top: 16px;
}

.button::part(button) {
  transition: 0.4s ease-in-out;
}
