<h3>Vanilla JS form with custom validation</h3>

<form class="form" (submit)="submitForm($event)" data-testid="vanilla-form">
  <wpp-input
    (wppChange)="handleValidationName($event)"
    [message]="isNameValid === false ? 'Name error' : undefined"
    [messageType]="isNameValid === false ? 'error' : undefined"
    placeholder="Name"
    [labelConfig]='getLabelConfig("Your Name")'
    [value]="nameValue"
  ></wpp-input>

  <wpp-input
    (wppChange)="handleValidationEmail($event)"
    [message]="isEmailValid === false ? 'Email error' : undefined"
    [messageType]="isEmailValid === false ? 'error' : undefined"
    placeholder="Email"
    [labelConfig]='getLabelConfig( "Your email" )'
    [value]="emailValue"
    class="topMargin"
  ></wpp-input>

  <wpp-input
    type="number"
    [message]="isAgeValid === false ? 'Age error' : undefined"
    [messageType]="isAgeValid === false ? 'error' : undefined"
    placeholder="Age"
    [labelConfig]='getLabelConfig( "Your age" )'
    [value]="ageValue"
    class="topMargin"
    (wppChange)="handleValidationAge($event)"
  ></wpp-input>

  <wpp-datepicker
    name="datepicker"
    [labelConfig]='getLabelConfig( "Birthday" )'
    required
    (wppChange)="handleValidateDate($event)"
    [message]="isDateValid === false ? 'Should be more than 18 years old' : undefined"
    class="topMargin"
  ></wpp-datepicker>

  <div class="topMargin">
    <label html-for="select" class="label"> Select item </label>
    <wpp-select
      placeholder="Choose item"
      [message]="isChosenItem === false ? 'Choose item' : undefined"
      [messageType]="isChosenItem === false ? 'error' : undefined"
      (wppChange)="handleSelectInput($event)"
      id="select"
      [value]="item"
      data-testid="item-select-vanilla"
      [list]="LIST"
    >
    </wpp-select>
  </div>

  <div class="topMargin">
    <label html-for="select-multiple" class="label"> Select items </label>
    <wpp-select
      placeholder="Choose items"
      [message]="isNotEnoughSelectItems === false ? 'Select at least 2 items' : undefined"
      [messageType]="isNotEnoughSelectItems === false ? 'error' : undefined"
      (wppChange)="handleSelectMultipleInput($event)"
      id="select-multiple"
      type="multiple"
      [value]="items"
      data-testid="items-select-vanilla"
      [list]="LIST"
    >
    </wpp-select>
  </div>

  <wpp-autocomplete
    class="topMargin"
    name="activities"
    [labelConfig]='getLabelConfig( "Preferred Activities" )'
    placeholder="Select activities"
    [message]="isNotEnoughActivities ? 'Select at least 2 activities' : undefined"
    [messageType]="isNotEnoughActivities ? 'error' : undefined"
    [value]="activities"
    (wppChange)="handleSelectActivities($event)"
    data-testid="activities-select-vanilla"
    multiple
    *ngFor="let item of activityOptions"
  >
    <wpp-list-item [key]="item.id" [disabled]="!!item.disabled" [value]="item" [label]="item.label">
      <p slot="label">{{ item.label }}</p>
    </wpp-list-item>
    <div slot="selected-values" *ngFor="let selectedActivity of activities">
      <wpp-pill
        [key]="selectedActivity.id"
        [label]="handleFindIDLabel(selectedActivity)"
        removable
        [value]="selectedActivity.label"
        (wppClose)="handleSelectedActivity(selectedActivity)"
        type="display"
      ></wpp-pill>
    </div>
  </wpp-autocomplete>

  <wpp-autocomplete
    class="topMargin"
    name="mainActivity"
    [labelConfig]='getLabelConfig( "Main activity" )'
    placeholder="Select main activity"
    [message]="isMainActivitySelected === false ? 'Select main activity' : undefined"
    [messageType]="isMainActivitySelected === false ? 'error' : undefined"
    [value]="mainActivity"
    (wppChange)="handleSelectMainActivity($event)"
    data-testid="main-activity-select-vanilla"
    [getOptionId]="getOptionID"
    [getOptionLabel]="getOptionLabel"
    *ngFor="let item of transformedOptions"
  >
    <wpp-list-item [key]="item.number" [disabled]="!!item.disabled" [value]="item" [label]="item.name">
      <p slot="label">{{ item.name }}</p>
    </wpp-list-item>
    <div slot="selected-values" *ngFor="let selectedActivity of mainActivity">
      <wpp-pill
        [key]="selectedActivity.number"
        [label]="handleFindNumberLabel(selectedActivity)"
        removable
        [value]="selectedActivity.number"
        (wppClose)="handleSelectedActivity(selectedActivity)"
        type="display"
      ></wpp-pill>
    </div>
  </wpp-autocomplete>

  <wpp-checkbox
    (click)="handleCheckboxClick()"
    [checked]="isCheckboxClick"
    class="topMargin"
    [labelConfig]="getLabelConfig( 'Do you agree to submit form' )"
  ></wpp-checkbox>
  <div>
    <wpp-button variant="secondary" class="button" (click)="handleResetClick()" data-testid="reset-vanilla">
      Reset form
    </wpp-button>
    <wpp-button class="button" type="submit"> Submit form </wpp-button>
  </div>
</form>
