.page {
  display: flex;
  justify-content: center;

  .card {
    width: 392px;

    .header {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .body {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .listItem {
        --wpp-action-button-icon-only-padding: 3px;
        --wpp-list-item-width: 100%;

        width: 100%;
      }
    }
  }
}
