<div class="container">
  <div data-testid="multiple-file-upload-container">
    <h3 class="text">Multiple File Upload </h3>
    <wpp-file-upload [value]="file" (wppChange)="handleFileUploadChange($event)" data-testid="file-upload-multiple"
                     size="1"></wpp-file-upload>
  </div>

  <h3 class="text">Single File Upload</h3>
  <wpp-file-upload
    [value]='file'
    [multiple]='false'
    size="1"
    (wppChange)="handleFileUploadChange($event)"
    data-testid="file-upload-single"
  ></wpp-file-upload>

  <accept-prop-example></accept-prop-example>
  <accept-config-example></accept-config-example>
  <accept-config-and-prop-example></accept-config-and-prop-example>
  <no-limitations-example></no-limitations-example>

  <h3 class="text">File Upload with limited amount of files</h3>
  <wpp-file-upload
          size="2"
          max-files="2"
          (wppChange)="handleFileUploadChange($event)"
          data-testid="limited-file-upload"
  ></wpp-file-upload>
</div>
