.container {
  display: flex;
}

.size,
.sizeL {
  width: 400px;
  margin-right: 30px;
}

.item {
  display: block;
  margin-bottom: 10px;
}

.sizeL {
  padding-bottom: 20px;
}

.buttonItem {
  margin-right: 10px;
}
