.ql-toolbar {
  box-sizing: border-box;

  .ql-formats {
    position: relative;
    padding: 2px;

    &:not(:last-of-type) {
      padding-right: 13px;
      margin-right: 10px;

      &::after {
        content: ' ';
        display: block;
        position: absolute;
        right: 0;
        height: 20px;
        border-right: 1px solid var(--wpp-grey-color-300);
      }
    }
  }

  .ql-picker {
    &:not(:last-of-type) {
      margin-right: 6px;
    }
  }

  .ql-picker-label {
    display: flex;

    .wpp-icon-chevron {
      margin-top: 2px;
    }
  }

  .ql-picker-options {
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
  }

  .ql-color-picker {
    .ql-picker-item.ql-selected,
    .ql-picker-item:hover {
      border-color: #000;
    }
  }
}
