/**
  * @prop --wpp-divider-width:
  * @prop --wpp-divider-height:
  * @prop --wpp-divider-border-radius:
  * @prop --wpp-divider-bg-color:
*/

:host {
  --divider-width: var(--wpp-divider-width, 100%);
  --divider-height: var(--wpp-divider-height, 1px);
  --divider-border-radius: var(--wpp-divider-border-radius, 2px);
  --divider-bg-color: var(--wpp-divider-bg-color, var(--wpp-grey-color-300));
  --divider-hover-bg-color: var(--wpp-divider-hover-bg-color, var(--wpp-grey-color-600));

  display: block;

  .wpp-divider-line {
    width: var(--divider-width);
    height: var(--divider-height);
    background-color: var(--divider-bg-color);
    border-radius: var(--divider-border-radius);

    &.resizable {
      &:hover {
        --divider-height: var(--wpp-divider-height, 2px);

        background-color: var(--divider-hover-bg-color);
        cursor: row-resize;
      }
    }

    &.vertical {
      --divider-width: var(--wpp-divider-width, 1px);
      --divider-height: var(--wpp-divider-height, 100%);

      &.resizable:hover {
        --divider-width: var(--wpp-divider-width, 2px);
        --divider-height: var(--wpp-divider-height, 100%);

        cursor: col-resize;
      }
    }
  }
}
