.container {
  padding: 50px;
  padding-bottom: 300px;

  .section {
    margin-top: 20px;

    &:first-child {
      margin-top: 40px;
    }

    .sectionTitle {
      margin-bottom: 10px;
    }

    .datepicker {
      margin-right: 30px;
    }
  }

  .subTitle {
    margin-top: 40px;
  }
}
