.chatContainer {
  display: flex;
  align-items: flex-end;
  justify-items: center;
  box-sizing: border-box;
  height: 100vh;
}

.actionsContainer {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}
