.container {
  padding: 0 50px;
  padding-bottom: 250px;

  .content {
    margin-top: 20px;

    .cardGroupContent {
      display: flex;

      .item {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
