body {
  --wpp-border-radius-l: 12px;
  --wpp-border-radius-m: 8px;
  --wpp-border-radius-round: 64px;
  --wpp-border-radius-s: 6px;
  --wpp-border-radius-xl: 20px;
  --wpp-border-radius-xs: 4px;
  --wpp-border-width-l: 3px;
  --wpp-border-width-m: 2px;
  --wpp-border-width-s: 1px;
  --wpp-box-shadow-brand: 0px 4px 12px 0px rgba(0, 128, 225, 0.3);
  --wpp-box-shadow-l: 0px 8px 32px 0px rgba(52, 58, 63, 0.05);
  --wpp-box-shadow-m: 0px 1px 4px 0px rgba(52, 58, 63, 0.05), 0px 4px 12px 0px rgba(52, 58, 63, 0.12);
  --wpp-box-shadow-s: 0px 0px 1px 0px rgba(52, 58, 63, 0.1), 0px 1px 5px 0px rgba(52, 58, 63, 0.1);
  --wpp-box-shadow-xs: 0px 1px 4px 0px rgba(52, 58, 63, 0.12);
  --wpp-brand-color: #0080FF;
  --wpp-brand-color-active: #0052A3;
  --wpp-brand-color-disabled: #7DBFFF;
  --wpp-brand-color-hover: #3399FF;
  --wpp-danger-color-200: #FBF0EB;
  --wpp-danger-color-300: #F7CFD6;
  --wpp-danger-color-400: #C53546;
  --wpp-danger-color-500: #9E2833;
  --wpp-danger-color-600: #721C22;
  --wpp-dataviz-color-cat-dark-1: #3B58BF;
  --wpp-dataviz-color-cat-dark-2: #7D42C2;
  --wpp-dataviz-color-cat-dark-3: #C53546;
  --wpp-dataviz-color-cat-dark-4: #EA580C;
  --wpp-dataviz-color-cat-dark-5: #CA8A04;
  --wpp-dataviz-color-cat-dark-6: #7C570D;
  --wpp-dataviz-color-cat-dark-7: #1D7B36;
  --wpp-dataviz-color-cat-dark-8: #059669;
  --wpp-dataviz-color-cat-dark-9: #0891B2;
  --wpp-dataviz-color-cat-dark-10: #535768;
  --wpp-dataviz-color-cat-light-1: #BBDDF9;
  --wpp-dataviz-color-cat-light-2: #DFD3F8;
  --wpp-dataviz-color-cat-light-3: #F7CFD6;
  --wpp-dataviz-color-cat-light-4: #FED7AA;
  --wpp-dataviz-color-cat-light-5: #FEF08A;
  --wpp-dataviz-color-cat-light-6: #F0DD7E;
  --wpp-dataviz-color-cat-light-7: #ADE6D0;
  --wpp-dataviz-color-cat-light-8: #A7F3D0;
  --wpp-dataviz-color-cat-light-9: #A5F3FC;
  --wpp-dataviz-color-cat-light-10: #D7DCE6;
  --wpp-dataviz-color-cat-neutral-1: #5C97DF;
  --wpp-dataviz-color-cat-neutral-2: #AE82E0;
  --wpp-dataviz-color-cat-neutral-3: #EA7386;
  --wpp-dataviz-color-cat-neutral-4: #FB923C;
  --wpp-dataviz-color-cat-neutral-5: #FACC15;
  --wpp-dataviz-color-cat-neutral-6: #B98F28;
  --wpp-dataviz-color-cat-neutral-7: #30AC72;
  --wpp-dataviz-color-cat-neutral-8: #34D399;
  --wpp-dataviz-color-cat-neutral-9: #22D3EE;
  --wpp-dataviz-color-cat-neutral-10: #8393A5;
  --wpp-dataviz-color-seq-brand-100: #F5F9FA;
  --wpp-dataviz-color-seq-brand-200: #dff1fc;
  --wpp-dataviz-color-seq-brand-300: #bbdef8;
  --wpp-dataviz-color-seq-brand-400: #8bbded;
  --wpp-dataviz-color-seq-brand-500: #5c97df;
  --wpp-dataviz-color-seq-brand-600: #4774d2;
  --wpp-dataviz-color-seq-brand-700: #3b58bf;
  --wpp-dataviz-color-seq-brand-800: #2f429c;
  --wpp-dataviz-color-seq-brand-900: #212d70;
  --wpp-dataviz-color-seq-brand-1000: #131b48;
  --wpp-dataviz-color-seq-grey-100: #f8f9f8;
  --wpp-dataviz-color-seq-grey-200: #edeff3;
  --wpp-dataviz-color-seq-grey-300: #d8dce5;
  --wpp-dataviz-color-seq-grey-400: #b2b9c7;
  --wpp-dataviz-color-seq-grey-500: #8792a4;
  --wpp-dataviz-color-seq-grey-600: #6b7183;
  --wpp-dataviz-color-seq-grey-700: #575667;
  --wpp-dataviz-color-seq-grey-800: #43414f;
  --wpp-dataviz-color-seq-grey-900: #2f2d37;
  --wpp-dataviz-color-seq-grey-1000: #1d1c23;
  --wpp-dataviz-color-seq-negative-100: #fdfcfa;
  --wpp-dataviz-color-seq-negative-200: #fbf0eb;
  --wpp-dataviz-color-seq-negative-300: #f7cfd6;
  --wpp-dataviz-color-seq-negative-400: #eda3b0;
  --wpp-dataviz-color-seq-negative-500: #ea7386;
  --wpp-dataviz-color-seq-negative-600: #dc4f64;
  --wpp-dataviz-color-seq-negative-700: #c53546;
  --wpp-dataviz-color-seq-negative-800: #9e2833;
  --wpp-dataviz-color-seq-negative-900: #721c22;
  --wpp-dataviz-color-seq-negative-1000: #461213;
  --wpp-dataviz-color-seq-positive-100: #ecfdf5;
  --wpp-dataviz-color-seq-positive-200: #d1fae5;
  --wpp-dataviz-color-seq-positive-300: #a7f3d0;
  --wpp-dataviz-color-seq-positive-400: #6ee7b7;
  --wpp-dataviz-color-seq-positive-500: #34d399;
  --wpp-dataviz-color-seq-positive-600: #10b981;
  --wpp-dataviz-color-seq-positive-700: #059669;
  --wpp-dataviz-color-seq-positive-800: #047857;
  --wpp-dataviz-color-seq-positive-900: #065F46;
  --wpp-dataviz-color-seq-positive-1000: #064E3B;
  --wpp-dataviz-color-seq-warning-100: #fff7ed;
  --wpp-dataviz-color-seq-warning-200: #ffedd5;
  --wpp-dataviz-color-seq-warning-300: #fed7aa;
  --wpp-dataviz-color-seq-warning-400: #fdba74;
  --wpp-dataviz-color-seq-warning-500: #fb923c;
  --wpp-dataviz-color-seq-warning-600: #f97316;
  --wpp-dataviz-color-seq-warning-700: #EA580C;
  --wpp-dataviz-color-seq-warning-800: #C2410C;
  --wpp-dataviz-color-seq-warning-900: #9a3412;
  --wpp-dataviz-color-seq-warning-1000: #7c2d12;
  --wpp-font-family: "Poppins";
  --wpp-grey-color-000: #FFFFFF;
  --wpp-grey-color-100: #F8F9FB;
  --wpp-grey-color-200: #F4F5F7;
  --wpp-grey-color-300: #E7EAEE;
  --wpp-grey-color-400: #C1C7CD;
  --wpp-grey-color-500: #A2A9B0;
  --wpp-grey-color-600: #8B919A;
  --wpp-grey-color-700: #697077;
  --wpp-grey-color-800: #4D5358;
  --wpp-grey-color-900: #343A3F;
  --wpp-grey-color-1000: #121619;
  --wpp-highlight-color-200: rgba(251, 241, 188, 0.4);
  --wpp-highlight-color-400: #FACC15;
  --wpp-icon-color: #8B919A;
  --wpp-icon-color-active: #343A3F;
  --wpp-icon-color-disabled: #C1C7CD;
  --wpp-icon-color-hover: #4D5358;
  --wpp-overlay-bg-color: rgba(77, 83, 88, 0.6);
  --wpp-primary-color-100: #E6F2FF;
  --wpp-primary-color-200: #D1E8FF;
  --wpp-primary-color-300: #7DBFFF;
  --wpp-primary-color-400: #3399FF;
  --wpp-primary-color-500: #0080FF;
  --wpp-primary-color-600: #0052A3;
  --wpp-primary-color-700: #003B75;
  --wpp-primary-color-800: #002447;
  --wpp-success-color-200: #D1FAE5;
  --wpp-success-color-400: #059669;
  --wpp-success-color-500: #047857;
  --wpp-surface-bg-color: #F8F9FB;
  --wpp-text-color: #121619;
  --wpp-text-color-danger: #9E2833;
  --wpp-text-color-disabled: #A2A9B0;
  --wpp-text-color-info: #4D5358;
  --wpp-text-color-success: #047857;
  --wpp-text-color-warning: #C2410C;
  --wpp-text-color-white-info: #F4F5F7;
  --wpp-warning-color-200: #FFF7ED;
  --wpp-warning-color-400: #EA580C;
  --wpp-warning-color-500: #C2410C;
}
