body {
  --wpp-border-radius-l: 8px;
  --wpp-border-radius-m: 4px;
  --wpp-border-radius-round: 64px;
  --wpp-border-radius-s: 4px;
  --wpp-border-radius-xl: 20px;
  --wpp-border-radius-xs: 2px;
  --wpp-border-width-l: 3px;
  --wpp-border-width-m: 2px;
  --wpp-border-width-s: 1px;
  --wpp-box-shadow-brand: 0px 4px 12px 0px rgba(154, 62, 255, 0.3);
  --wpp-box-shadow-l: 0px 8px 32px 0px rgba(52, 58, 63, 0.05);
  --wpp-box-shadow-m: 0px 1px 4px 0px rgba(52, 58, 63, 0.05), 0px 4px 12px 0px rgba(52, 58, 63, 0.12);
  --wpp-box-shadow-s: 0px 0px 1px 0px rgba(52, 58, 63, 0.1), 0px 1px 5px 0px rgba(52, 58, 63, 0.1);
  --wpp-box-shadow-xs: 0px 1px 4px 0px rgba(52, 58, 63, 0.12);
  --wpp-brand-color: #9A3EFF;
  --wpp-brand-color-active: #6500D1;
  --wpp-brand-color-disabled: #D7B3FF;
  --wpp-brand-color-hover: #B066FF;
  --wpp-danger-color-200: #FEF2F2;
  --wpp-danger-color-300: #FECACA;
  --wpp-danger-color-400: #EF4444;
  --wpp-danger-color-500: #B91C1C;
  --wpp-danger-color-600: #7F1D1D;
  --wpp-dataviz-color-cat-dark-1: #7718DC;
  --wpp-dataviz-color-cat-dark-2: #B5377C;
  --wpp-dataviz-color-cat-dark-3: #DC2626;
  --wpp-dataviz-color-cat-dark-4: #EA580C;
  --wpp-dataviz-color-cat-dark-5: #CA8A04;
  --wpp-dataviz-color-cat-dark-6: #65A30D;
  --wpp-dataviz-color-cat-dark-7: #059669;
  --wpp-dataviz-color-cat-dark-8: #0891B2;
  --wpp-dataviz-color-cat-dark-9: #385AB9;
  --wpp-dataviz-color-cat-dark-10: #535768;
  --wpp-dataviz-color-cat-light-1: #E2CFF7;
  --wpp-dataviz-color-cat-light-2: #F3CFEB;
  --wpp-dataviz-color-cat-light-3: #FECACA;
  --wpp-dataviz-color-cat-light-4: #FED7AA;
  --wpp-dataviz-color-cat-light-5: #FEF08A;
  --wpp-dataviz-color-cat-light-6: #D9F99D;
  --wpp-dataviz-color-cat-light-7: #A7F3D0;
  --wpp-dataviz-color-cat-light-8: #A5F3FC;
  --wpp-dataviz-color-cat-light-9: #B9DEF7;
  --wpp-dataviz-color-cat-light-10: #D7DCE6;
  --wpp-dataviz-color-cat-neutral-1: #BD86F9;
  --wpp-dataviz-color-cat-neutral-2: #DF76B6;
  --wpp-dataviz-color-cat-neutral-3: #F87171;
  --wpp-dataviz-color-cat-neutral-4: #FB923C;
  --wpp-dataviz-color-cat-neutral-5: #FACC15;
  --wpp-dataviz-color-cat-neutral-6: #A3E635;
  --wpp-dataviz-color-cat-neutral-7: #34D399;
  --wpp-dataviz-color-cat-neutral-8: #22D3EE;
  --wpp-dataviz-color-cat-neutral-9: #5998DC;
  --wpp-dataviz-color-cat-neutral-10: #8393A5;
  --wpp-dataviz-color-seq-brand-100: #FAF7FD;
  --wpp-dataviz-color-seq-brand-200: #F2EBFA;
  --wpp-dataviz-color-seq-brand-300: #E2CFF7;
  --wpp-dataviz-color-seq-brand-400: #D2B1F6;
  --wpp-dataviz-color-seq-brand-500: #BD86F9;
  --wpp-dataviz-color-seq-brand-600: #9A3EFF;
  --wpp-dataviz-color-seq-brand-700: #8E2FF4;
  --wpp-dataviz-color-seq-brand-800: #7718DC;
  --wpp-dataviz-color-seq-brand-900: #5F1DA5;
  --wpp-dataviz-color-seq-brand-1000: #341556;
  --wpp-dataviz-color-seq-grey-100: #F8F9F8;
  --wpp-dataviz-color-seq-grey-200: #EDF0F3;
  --wpp-dataviz-color-seq-grey-300: #D7DCE6;
  --wpp-dataviz-color-seq-grey-400: #B0BAC9;
  --wpp-dataviz-color-seq-grey-500: #8393A5;
  --wpp-dataviz-color-seq-grey-600: #677284;
  --wpp-dataviz-color-seq-grey-700: #535768;
  --wpp-dataviz-color-seq-grey-800: #40414F;
  --wpp-dataviz-color-seq-grey-900: #2D2D37;
  --wpp-dataviz-color-seq-grey-1000: #1B1C23;
  --wpp-dataviz-color-seq-negative-100: #FEF2F2;
  --wpp-dataviz-color-seq-negative-200: #FEE2E2;
  --wpp-dataviz-color-seq-negative-300: #FECACA;
  --wpp-dataviz-color-seq-negative-400: #FCA5A5;
  --wpp-dataviz-color-seq-negative-500: #F87171;
  --wpp-dataviz-color-seq-negative-600: #EF4444;
  --wpp-dataviz-color-seq-negative-700: #DC2626;
  --wpp-dataviz-color-seq-negative-800: #B91C1C;
  --wpp-dataviz-color-seq-negative-900: #991B1B;
  --wpp-dataviz-color-seq-negative-1000: #7F1D1D;
  --wpp-dataviz-color-seq-positive-100: #ECFDF5;
  --wpp-dataviz-color-seq-positive-200: #D1FAE5;
  --wpp-dataviz-color-seq-positive-300: #A7F3D0;
  --wpp-dataviz-color-seq-positive-400: #6EE7B7;
  --wpp-dataviz-color-seq-positive-500: #34D399;
  --wpp-dataviz-color-seq-positive-600: #00B982;
  --wpp-dataviz-color-seq-positive-700: #019D6E;
  --wpp-dataviz-color-seq-positive-800: #018860;
  --wpp-dataviz-color-seq-positive-900: #026E4E;
  --wpp-dataviz-color-seq-positive-1000: #02553C;
  --wpp-dataviz-color-seq-warning-100: #FFF7ED;
  --wpp-dataviz-color-seq-warning-200: #FFEDD5;
  --wpp-dataviz-color-seq-warning-300: #FED7AA;
  --wpp-dataviz-color-seq-warning-400: #FDBA74;
  --wpp-dataviz-color-seq-warning-500: #FB923C;
  --wpp-dataviz-color-seq-warning-600: #F97316;
  --wpp-dataviz-color-seq-warning-700: #EA580C;
  --wpp-dataviz-color-seq-warning-800: #C2410C;
  --wpp-dataviz-color-seq-warning-900: #9A3412;
  --wpp-dataviz-color-seq-warning-1000: #7C2D12;
  --wpp-font-family: "halyard-display";
  --wpp-grey-color-000: #FFFFFF;
  --wpp-grey-color-100: #F8F9FB;
  --wpp-grey-color-200: #F4F5F7;
  --wpp-grey-color-300: #E7EAEE;
  --wpp-grey-color-400: #C1C7CD;
  --wpp-grey-color-500: #A2A9B0;
  --wpp-grey-color-600: #8B919A;
  --wpp-grey-color-700: #697077;
  --wpp-grey-color-800: #4D5358;
  --wpp-grey-color-900: #343A3F;
  --wpp-grey-color-1000: #121619;
  --wpp-highlight-color-200: rgba(250, 204, 21, 0.4);
  --wpp-highlight-color-400: #FACC15;
  --wpp-icon-color: #8B919A;
  --wpp-icon-color-active: #343A3F;
  --wpp-icon-color-disabled: #C1C7CD;
  --wpp-icon-color-hover: #4D5358;
  --wpp-overlay-bg-color: rgba(77, 83, 88, 0.6);
  --wpp-primary-color-100: #F4EBFF;
  --wpp-primary-color-200: #E9D6FF;
  --wpp-primary-color-300: #D7B3FF;
  --wpp-primary-color-400: #B066FF;
  --wpp-primary-color-500: #9A3EFF;
  --wpp-primary-color-600: #6500D1;
  --wpp-primary-color-700: #4C009E;
  --wpp-primary-color-800: #310066;
  --wpp-success-color-200: #D1FAE5;
  --wpp-success-color-400: #00B982;
  --wpp-success-color-500: #018860;
  --wpp-surface-bg-color: #F8F9FB;
  --wpp-text-color: #121619;
  --wpp-text-color-danger: #B91C1C;
  --wpp-text-color-disabled: #A2A9B0;
  --wpp-text-color-info: #4D5358;
  --wpp-text-color-success: #018860;
  --wpp-text-color-warning: #C2410C;
  --wpp-text-color-white-info: #F4F5F7;
  --wpp-typography-2xl-heading-font-weight: 500;
  --wpp-typography-2xs-strong-font-weight: 600;
  --wpp-typography-3xl-heading-font-weight: 500;
  --wpp-typography-4xl-display-font-weight: 500;
  --wpp-typography-5xl-display-font-weight: 500;
  --wpp-typography-l-body-font-weight: 300;
  --wpp-typography-l-midi-font-weight: 400;
  --wpp-typography-l-strong-font-weight: 500;
  --wpp-typography-m-body-font-weight: 300;
  --wpp-typography-m-midi-font-weight: 400;
  --wpp-typography-m-strong-font-weight: 500;
  --wpp-typography-s-body-font-weight: 300;
  --wpp-typography-s-midi-font-weight: 400;
  --wpp-typography-s-strong-font-weight: 500;
  --wpp-typography-xl-heading-font-weight: 500;
  --wpp-typography-xs-body-font-weight: 300;
  --wpp-typography-xs-midi-font-weight: 400;
  --wpp-typography-xs-strong-font-weight: 500;
  --wpp-warning-color-200: #FFF7ED;
  --wpp-warning-color-400: #EA580C;
  --wpp-warning-color-500: #C2410C;
}
