body {
  --wpp-border-radius-l: 0px;
  --wpp-border-radius-m: 0px;
  --wpp-border-radius-round: 64px;
  --wpp-border-radius-s: 0px;
  --wpp-border-radius-xl: 20px;
  --wpp-border-radius-xs: 2px;
  --wpp-border-width-l: 3px;
  --wpp-border-width-m: 2px;
  --wpp-border-width-s: 1px;
  --wpp-box-shadow-brand: 0px 4px 12px 0px rgba(235, 63, 67, 0.3);
  --wpp-box-shadow-l: 0px 8px 32px 0px rgba(57, 57, 57, 0.05);
  --wpp-box-shadow-m: 0px 1px 4px 0px rgba(57, 57, 57, 0.05), 0px 4px 12px 0px rgba(57, 57, 57, 0.12);
  --wpp-box-shadow-s: 0px 0px 1px 0px rgba(57, 57, 57, 0.1), 0px 1px 5px 0px rgba(57, 57, 57, 0.1);
  --wpp-box-shadow-xs: 0px 1px 4px 0px rgba(57, 57, 57, 0.12);
  --wpp-brand-color: #EB3F43;
  --wpp-brand-color-active: #AF1215;
  --wpp-brand-color-disabled: #F7B0B2;
  --wpp-brand-color-hover: #F07072;
  --wpp-danger-color-200: #FAF0F0;
  --wpp-danger-color-300: #F8D0D6;
  --wpp-danger-color-400: #D25277;
  --wpp-danger-color-500: #B83858;
  --wpp-danger-color-600: #902A40;
  --wpp-dataviz-color-cat-dark-1: #B3252A;
  --wpp-dataviz-color-cat-dark-2: #97491C;
  --wpp-dataviz-color-cat-dark-3: #6C5816;
  --wpp-dataviz-color-cat-dark-4: #3c6a1c;
  --wpp-dataviz-color-cat-dark-5: #2c6963;
  --wpp-dataviz-color-cat-dark-6: #3a5ba6;
  --wpp-dataviz-color-cat-dark-7: #554ccc;
  --wpp-dataviz-color-cat-dark-8: #7b43b3;
  --wpp-dataviz-color-cat-dark-9: #b03877;
  --wpp-dataviz-color-cat-dark-10: #53574f;
  --wpp-dataviz-color-cat-light-1: #fdc4c6;
  --wpp-dataviz-color-cat-light-2: #f3d9ac;
  --wpp-dataviz-color-cat-light-3: #ebdea0;
  --wpp-dataviz-color-cat-light-4: #d7e3b0;
  --wpp-dataviz-color-cat-light-5: #bbe2e7;
  --wpp-dataviz-color-cat-light-6: #bfdff5;
  --wpp-dataviz-color-cat-light-7: #cbd9fa;
  --wpp-dataviz-color-cat-light-8: #e0d5f6;
  --wpp-dataviz-color-cat-light-9: #f2d1ea;
  --wpp-dataviz-color-cat-light-10: #dddfe1;
  --wpp-dataviz-color-cat-neutral-1: #e6686c;
  --wpp-dataviz-color-cat-neutral-2: #ce854a;
  --wpp-dataviz-color-cat-neutral-3: #a8923e;
  --wpp-dataviz-color-cat-neutral-4: #68a04b;
  --wpp-dataviz-color-cat-neutral-5: #49a2a3;
  --wpp-dataviz-color-cat-neutral-6: #5e98d2;
  --wpp-dataviz-color-cat-neutral-7: #808de6;
  --wpp-dataviz-color-cat-neutral-8: #ae84d8;
  --wpp-dataviz-color-cat-neutral-9: #dc77b2;
  --wpp-dataviz-color-cat-neutral-10: #879493;
  --wpp-dataviz-color-seq-brand-100: #ffeeef;
  --wpp-dataviz-color-seq-brand-200: #fed9da;
  --wpp-dataviz-color-seq-brand-300: #fdc4c6;
  --wpp-dataviz-color-seq-brand-400: #f59699;
  --wpp-dataviz-color-seq-brand-500: #e6686c;
  --wpp-dataviz-color-seq-brand-600: #d04146;
  --wpp-dataviz-color-seq-brand-700: #b3252a;
  --wpp-dataviz-color-seq-brand-800: #911418;
  --wpp-dataviz-color-seq-brand-900: #6ebe;
  --wpp-dataviz-color-seq-brand-1000: #4d79;
  --wpp-dataviz-color-seq-grey-100: #f9faf9;
  --wpp-dataviz-color-seq-grey-200: #f0f2f2;
  --wpp-dataviz-color-seq-grey-300: #dddfe1;
  --wpp-dataviz-color-seq-grey-400: #b7bdbe;
  --wpp-dataviz-color-seq-grey-500: #879493;
  --wpp-dataviz-color-seq-grey-600: #69726c;
  --wpp-dataviz-color-seq-grey-700: #53574f;
  --wpp-dataviz-color-seq-grey-800: #3f413c;
  --wpp-dataviz-color-seq-grey-900: #2b2b2a;
  --wpp-dataviz-color-seq-grey-1000: #1a1a1b;
  --wpp-dataviz-color-seq-negative-100: #fcfcfa;
  --wpp-dataviz-color-seq-negative-200: #faf0f0;
  --wpp-dataviz-color-seq-negative-300: #f5d1e0;
  --wpp-dataviz-color-seq-negative-400: #e8a6bf;
  --wpp-dataviz-color-seq-negative-500: #e27698;
  --wpp-dataviz-color-seq-negative-600: #d25277;
  --wpp-dataviz-color-seq-negative-700: #b83858;
  --wpp-dataviz-color-seq-negative-800: #902a40;
  --wpp-dataviz-color-seq-negative-900: #661d2a;
  --wpp-dataviz-color-seq-negative-1000: #3d1217;
  --wpp-dataviz-color-seq-positive-100: #f7f8f4;
  --wpp-dataviz-color-seq-positive-200: #eef0db;
  --wpp-dataviz-color-seq-positive-300: #d7e3b0;
  --wpp-dataviz-color-seq-positive-400: #a9c47b;
  --wpp-dataviz-color-seq-positive-500: #68a04b;
  --wpp-dataviz-color-seq-positive-600: #4b822a;
  --wpp-dataviz-color-seq-positive-700: #3c6a1c;
  --wpp-dataviz-color-seq-positive-800: #315018;
  --wpp-dataviz-color-seq-positive-900: #223614;
  --wpp-dataviz-color-seq-positive-1000: #17210F;
  --wpp-dataviz-color-seq-warning-100: #fcfbf7;
  --wpp-dataviz-color-seq-warning-200: #f9f0d7;
  --wpp-dataviz-color-seq-warning-300: #f3d9ac;
  --wpp-dataviz-color-seq-warning-400: #e1b278;
  --wpp-dataviz-color-seq-warning-500: #ce854a;
  --wpp-dataviz-color-seq-warning-600: #b4642b;
  --wpp-dataviz-color-seq-warning-700: #97491c;
  --wpp-dataviz-color-seq-warning-800: #733717;
  --wpp-dataviz-color-seq-warning-900: #4f2612;
  --wpp-dataviz-color-seq-warning-1000: #32170C;
  --wpp-font-family: "Ogilvy Sans";
  --wpp-grey-color-000: #FFFFFF;
  --wpp-grey-color-100: #F6F6F6;
  --wpp-grey-color-200: #F2F2F2;
  --wpp-grey-color-300: #E8E8E8;
  --wpp-grey-color-400: #C6C6C6;
  --wpp-grey-color-500: #A8A8A8;
  --wpp-grey-color-600: #939393;
  --wpp-grey-color-700: #6F6F6F;
  --wpp-grey-color-800: #525252;
  --wpp-grey-color-900: #393939;
  --wpp-grey-color-1000: #161616;
  --wpp-highlight-color-200: rgba(250, 204, 21, 0.4);
  --wpp-highlight-color-400: #FACC15;
  --wpp-icon-color: #939393;
  --wpp-icon-color-active: #393939;
  --wpp-icon-color-disabled: #C6C6C6;
  --wpp-icon-color-hover: #525252;
  --wpp-overlay-bg-color: rgba(82, 82, 82, 0.6);
  --wpp-primary-color-100: #FDE8E8;
  --wpp-primary-color-200: #FACCCD;
  --wpp-primary-color-300: #F7B0B2;
  --wpp-primary-color-400: #F07072;
  --wpp-primary-color-500: #EB3F43;
  --wpp-primary-color-600: #AF1215;
  --wpp-primary-color-700: #810D0F;
  --wpp-primary-color-800: #4F0809;
  --wpp-success-color-200: #EEF0DB;
  --wpp-success-color-400: #68A04B;
  --wpp-success-color-500: #3C6A1C;
  --wpp-surface-bg-color: #F6F6F6;
  --wpp-text-color: #161616;
  --wpp-text-color-danger: #B83858;
  --wpp-text-color-disabled: #A8A8A8;
  --wpp-text-color-info: #525252;
  --wpp-text-color-success: #3C6A1C;
  --wpp-text-color-warning: #97491C;
  --wpp-text-color-white-info: #F2F2F2;
  --wpp-warning-color-200: #FCFBF7;
  --wpp-warning-color-400: #B4642B;
  --wpp-warning-color-500: #97491C;
}


