body {
  --wpp-border-radius-l: 0px;
  --wpp-border-radius-m: 0px;
  --wpp-border-radius-round: 64px;
  --wpp-border-radius-s: 0px;
  --wpp-border-radius-xl: 20px;
  --wpp-border-radius-xs: 2px;
  --wpp-border-width-l: 3px;
  --wpp-border-width-m: 2px;
  --wpp-border-width-s: 1px;
  --wpp-box-shadow-brand: 0px 4px 12px 0px rgba(244, 0, 0, 0.3);
  --wpp-box-shadow-l: 0px 8px 32px 0px rgba(57, 57, 57, 0.05);
  --wpp-box-shadow-m: 0px 1px 4px 0px rgba(57, 57, 57, 0.05), 0px 4px 12px 0px rgba(57, 57, 57, 0.12);
  --wpp-box-shadow-s: 0px 0px 1px 0px rgba(57, 57, 57, 0.1), 0px 1px 5px 0px rgba(57, 57, 57, 0.1);
  --wpp-box-shadow-xs: 0px 1px 4px 0px rgba(57, 57, 57, 0.12);
  --wpp-brand-color: #F40000;
  --wpp-brand-color-active: #750000;
  --wpp-brand-color-disabled: #ffb3b3;
  --wpp-brand-color-hover: #ff6161;
  --wpp-danger-color-200: #fbf0ec;
  --wpp-danger-color-300: #f8d0d7;
  --wpp-danger-color-400: #dd4f63;
  --wpp-danger-color-500: #c53545;
  --wpp-danger-color-600: #9d2833;
  --wpp-dataviz-color-cat-dark-1: #C20A0A;
  --wpp-dataviz-color-cat-dark-2: #CC450B;
  --wpp-dataviz-color-cat-dark-3: #b26530;
  --wpp-dataviz-color-cat-dark-4: #C47A00;
  --wpp-dataviz-color-cat-dark-5: #a38c45;
  --wpp-dataviz-color-cat-dark-6: #9b8763;
  --wpp-dataviz-color-cat-dark-7: #509b5f;
  --wpp-dataviz-color-cat-dark-8: #50979b;
  --wpp-dataviz-color-cat-dark-9: #50589b;
  --wpp-dataviz-color-cat-dark-10: #53574f;
  --wpp-dataviz-color-cat-light-1: #ff6161;
  --wpp-dataviz-color-cat-light-2: #ff9365;
  --wpp-dataviz-color-cat-light-3: #ffb27f;
  --wpp-dataviz-color-cat-light-4: #ffd591;
  --wpp-dataviz-color-cat-light-5: #ffe189;
  --wpp-dataviz-color-cat-light-6: #ffdfa6;
  --wpp-dataviz-color-cat-light-7: #adffbe;
  --wpp-dataviz-color-cat-light-8: #adfaff;
  --wpp-dataviz-color-cat-light-9: #adb6ff;
  --wpp-dataviz-color-cat-light-10: #dddfe1;
  --wpp-dataviz-color-cat-neutral-1: #F40000;
  --wpp-dataviz-color-cat-neutral-2: #FF560E;
  --wpp-dataviz-color-cat-neutral-3: #e5813e;
  --wpp-dataviz-color-cat-neutral-4: #F79900;
  --wpp-dataviz-color-cat-neutral-5: #d7b85b;
  --wpp-dataviz-color-cat-neutral-6: #b59e74;
  --wpp-dataviz-color-cat-neutral-7: #6ace7f;
  --wpp-dataviz-color-cat-neutral-8: #6ac9ce;
  --wpp-dataviz-color-cat-neutral-9: #6a75ce;
  --wpp-dataviz-color-cat-neutral-10: #879493;
  --wpp-dataviz-color-seq-brand-100: #fef2f2;
  --wpp-dataviz-color-seq-brand-200: #fee2e2;
  --wpp-dataviz-color-seq-brand-300: #fecaca;
  --wpp-dataviz-color-seq-brand-400: #fca5a5;
  --wpp-dataviz-color-seq-brand-500: #f87171;
  --wpp-dataviz-color-seq-brand-600: #ef4444;
  --wpp-dataviz-color-seq-brand-700: #dc2626;
  --wpp-dataviz-color-seq-brand-800: #b91c1c;
  --wpp-dataviz-color-seq-brand-900: #991b1b;
  --wpp-dataviz-color-seq-brand-1000: #7f1d1d;
  --wpp-dataviz-color-seq-grey-100: #f9faf9;
  --wpp-dataviz-color-seq-grey-200: #f0f2f2;
  --wpp-dataviz-color-seq-grey-300: #dddfe1;
  --wpp-dataviz-color-seq-grey-400: #b7bdbe;
  --wpp-dataviz-color-seq-grey-500: #879493;
  --wpp-dataviz-color-seq-grey-600: #69726c;
  --wpp-dataviz-color-seq-grey-700: #53574f;
  --wpp-dataviz-color-seq-grey-800: #3f413c;
  --wpp-dataviz-color-seq-grey-900: #2b2b2a;
  --wpp-dataviz-color-seq-grey-1000: #1a1a1b;
  --wpp-dataviz-color-seq-negative-100: #fdfcfa;
  --wpp-dataviz-color-seq-negative-200: #fbf0ec;
  --wpp-dataviz-color-seq-negative-300: #f8d0d7;
  --wpp-dataviz-color-seq-negative-400: #eea3b1;
  --wpp-dataviz-color-seq-negative-500: #ea7386;
  --wpp-dataviz-color-seq-negative-600: #dd4f63;
  --wpp-dataviz-color-seq-negative-700: #c53545;
  --wpp-dataviz-color-seq-negative-800: #9d2833;
  --wpp-dataviz-color-seq-negative-900: #711c22;
  --wpp-dataviz-color-seq-negative-1000: #451112;
  --wpp-dataviz-color-seq-positive-100: #ecfdf5;
  --wpp-dataviz-color-seq-positive-200: #d1fae5;
  --wpp-dataviz-color-seq-positive-300: #a7f3d0;
  --wpp-dataviz-color-seq-positive-400: #6ee7b7;
  --wpp-dataviz-color-seq-positive-500: #34d399;
  --wpp-dataviz-color-seq-positive-600: #10b981;
  --wpp-dataviz-color-seq-positive-700: #059669;
  --wpp-dataviz-color-seq-positive-800: #047857;
  --wpp-dataviz-color-seq-positive-900: #065F46;
  --wpp-dataviz-color-seq-positive-1000: #064E3B;
  --wpp-dataviz-color-seq-warning-100: #fff7ed;
  --wpp-dataviz-color-seq-warning-200: #ffedd5;
  --wpp-dataviz-color-seq-warning-300: #fed7aa;
  --wpp-dataviz-color-seq-warning-400: #fdba74;
  --wpp-dataviz-color-seq-warning-500: #fb923c;
  --wpp-dataviz-color-seq-warning-600: #f97316;
  --wpp-dataviz-color-seq-warning-700: #EA580C;
  --wpp-dataviz-color-seq-warning-800: #C2410C;
  --wpp-dataviz-color-seq-warning-900: #9a3412;
  --wpp-dataviz-color-seq-warning-1000: #7c2d12;
  --wpp-font-family: "Unity";
  --wpp-grey-color-000: #FFFFFF;
  --wpp-grey-color-100: #F6F6F6;
  --wpp-grey-color-200: #F2F2F2;
  --wpp-grey-color-300: #E8E8E8;
  --wpp-grey-color-400: #C6C6C6;
  --wpp-grey-color-500: #A8A8A8;
  --wpp-grey-color-600: #939393;
  --wpp-grey-color-700: #6F6F6F;
  --wpp-grey-color-800: #525252;
  --wpp-grey-color-900: #393939;
  --wpp-grey-color-1000: #161616;
  --wpp-highlight-color-200: rgba(250, 204, 21, 0.4);
  --wpp-highlight-color-400: #FACC15;
  --wpp-icon-color: #939393;
  --wpp-icon-color-active: #393939;
  --wpp-icon-color-disabled: #C6C6C6;
  --wpp-icon-color-hover: #525252;
  --wpp-overlay-bg-color: rgba(82, 82, 82, 0.6);
  --wpp-primary-color-100: #ffe5e5;
  --wpp-primary-color-200: #ffd6d6;
  --wpp-primary-color-300: #ffb3b3;
  --wpp-primary-color-400: #ff6161;
  --wpp-primary-color-500: #F40000;
  --wpp-primary-color-600: #750000;
  --wpp-primary-color-700: #520000;
  --wpp-primary-color-800: #330000;
  --wpp-success-color-200: #D1FAE5;
  --wpp-success-color-400: #059669;
  --wpp-success-color-500: #047857;
  --wpp-surface-bg-color: #F6F6F6;
  --wpp-text-color: #161616;
  --wpp-text-color-danger: #c53545;
  --wpp-text-color-disabled: #A8A8A8;
  --wpp-text-color-info: #525252;
  --wpp-text-color-success: #047857;
  --wpp-text-color-warning: #C2410C;
  --wpp-text-color-white-info: #F2F2F2;
  --wpp-typography-2xl-heading-font-weight: 700;
  --wpp-typography-2xs-strong-font-weight: 700;
  --wpp-typography-3xl-heading-font-weight: 700;
  --wpp-typography-4xl-display-font-weight: 700;
  --wpp-typography-5xl-display-font-weight: 700;
  --wpp-typography-l-strong-font-weight: 700;
  --wpp-typography-m-strong-font-weight: 700;
  --wpp-typography-s-strong-font-weight: 700;
  --wpp-typography-xl-heading-font-weight: 700;
  --wpp-typography-xs-strong-font-weight: 700;
  --wpp-warning-color-200: #FFF7ED;
  --wpp-warning-color-400: #EA580C;
  --wpp-warning-color-500: #C2410C;
}


