body {
  --wpp-primary-color-100: #e6f1ff;
  --wpp-primary-color-200: #cce7ff;
  --wpp-primary-color-300: #5aa4ff;
  --wpp-primary-color-400: #0765f4;
  --wpp-primary-color-500: #003de4;
  --wpp-primary-color-600: #0015c8;
  --wpp-primary-color-700: #0600a6;
  --wpp-primary-color-800: #1c0084;
  --wpp-success-color-200: #eaf8d6;
  --wpp-success-color-400: #5c8500;
  --wpp-success-color-500: #476900;
  --wpp-warning-color-200: #ffedd1;
  --wpp-warning-color-400: #e96b00;
  --wpp-warning-color-500: #cb4c00;
  --wpp-danger-color-200: #ffe6e0;
  --wpp-danger-color-300: #ffd2c8;
  --wpp-danger-color-400: #ff443e;
  --wpp-danger-color-500: #e11920;
  --wpp-danger-color-600: #af0000;
  --wpp-grey-color-100: #f7f9fb;
  --wpp-grey-color-200: #eff2f5;
  --wpp-grey-color-300: #e0e5ea;
  --wpp-grey-color-400: #ccd2d7;
  --wpp-grey-color-500: #afb5ba;
  --wpp-grey-color-600: #92999f;
  --wpp-grey-color-700: #757b81;
  --wpp-grey-color-800: #545c62;
  --wpp-grey-color-900: #3f464c;
  --wpp-grey-color-1000: #252c33;
  --wpp-grey-color-000: #ffffff;
  --wpp-highlight-color-200: #fffb89;
  --wpp-highlight-color-400: #fde212;
  --wpp-brand-color: #003de4;
  --wpp-brand-color-disabled: #5aa4ff;
  --wpp-brand-color-hover: #0765f4;
  --wpp-brand-color-active: #0015c8;
  --wpp-dataviz-color-cat-dark-1: #0765f4;
  --wpp-dataviz-color-cat-dark-2: #a03cd4;
  --wpp-dataviz-color-cat-dark-3: #d51a7d;
  --wpp-dataviz-color-cat-dark-4: #e11920;
  --wpp-dataviz-color-cat-dark-5: #cb4c00;
  --wpp-dataviz-color-cat-dark-6: #a96800;
  --wpp-dataviz-color-cat-dark-7: #5c8500;
  --wpp-dataviz-color-cat-dark-8: #009a45;
  --wpp-dataviz-color-cat-dark-9: #0094b2;
  --wpp-dataviz-color-cat-dark-10: #757b81;
  --wpp-dataviz-color-cat-light-1: #a1d7ff;
  --wpp-dataviz-color-cat-light-2: #f6beff;
  --wpp-dataviz-color-cat-light-3: #ffb0dd;
  --wpp-dataviz-color-cat-light-4: #ffb3a5;
  --wpp-dataviz-color-cat-light-5: #ffc673;
  --wpp-dataviz-color-cat-light-6: #fad66c;
  --wpp-dataviz-color-cat-light-7: #c2e783;
  --wpp-dataviz-color-cat-light-8: #84f1a8;
  --wpp-dataviz-color-cat-light-9: #5aedf7;
  --wpp-dataviz-color-cat-light-10: #e0e5ea;
  --wpp-dataviz-color-cat-neutral-1: #5aa4ff;
  --wpp-dataviz-color-cat-neutral-2: #d482ff;
  --wpp-dataviz-color-cat-neutral-3: #ff6cb3;
  --wpp-dataviz-color-cat-neutral-4: #ff6a5e;
  --wpp-dataviz-color-cat-neutral-5: #fe8f00;
  --wpp-dataviz-color-cat-neutral-6: #daa500;
  --wpp-dataviz-color-cat-neutral-7: #8fbd1f;
  --wpp-dataviz-color-cat-neutral-8: #00cc77;
  --wpp-dataviz-color-cat-neutral-9: #00cbe2;
  --wpp-dataviz-color-cat-neutral-10: #afb5ba;
  --wpp-dataviz-color-seq-brand-100: #e6f1ff;
  --wpp-dataviz-color-seq-brand-200: #cce7ff;
  --wpp-dataviz-color-seq-brand-300: #a1d7ff;
  --wpp-dataviz-color-seq-brand-400: #7cc0ff;
  --wpp-dataviz-color-seq-brand-500: #5aa4ff;
  --wpp-dataviz-color-seq-brand-600: #3484ff;
  --wpp-dataviz-color-seq-brand-700: #0765f4;
  --wpp-dataviz-color-seq-brand-800: #003de4;
  --wpp-dataviz-color-seq-brand-900: #0015c8;
  --wpp-dataviz-color-seq-brand-1000: #0600a6;
  --wpp-dataviz-color-seq-grey-100: #f7f9fb;
  --wpp-dataviz-color-seq-grey-200: #eff2f5;
  --wpp-dataviz-color-seq-grey-300: #e0e5ea;
  --wpp-dataviz-color-seq-grey-400: #ccd2d7;
  --wpp-dataviz-color-seq-grey-500: #afb5ba;
  --wpp-dataviz-color-seq-grey-600: #92999f;
  --wpp-dataviz-color-seq-grey-700: #757b81;
  --wpp-dataviz-color-seq-grey-800: #545c62;
  --wpp-dataviz-color-seq-grey-900: #3f464c;
  --wpp-dataviz-color-seq-grey-1000: #252c33;
  --wpp-dataviz-color-seq-negative-100: #ffe6e0;
  --wpp-dataviz-color-seq-negative-200: #ffd2c8;
  --wpp-dataviz-color-seq-negative-300: #ffb3a5;
  --wpp-dataviz-color-seq-negative-400: #ff9283;
  --wpp-dataviz-color-seq-negative-500: #ff6a5e;
  --wpp-dataviz-color-seq-negative-600: #ff443e;
  --wpp-dataviz-color-seq-negative-700: #e11920;
  --wpp-dataviz-color-seq-negative-800: #ce0000;
  --wpp-dataviz-color-seq-negative-900: #af0000;
  --wpp-dataviz-color-seq-negative-1000: #880000;
  --wpp-dataviz-color-seq-warning-100: #ffedd1;
  --wpp-dataviz-color-seq-warning-200: #ffdeab;
  --wpp-dataviz-color-seq-warning-300: #ffc673;
  --wpp-dataviz-color-seq-warning-400: #ffad3e;
  --wpp-dataviz-color-seq-warning-500: #fe8f00;
  --wpp-dataviz-color-seq-warning-600: #e96b00;
  --wpp-dataviz-color-seq-warning-700: #cb4c00;
  --wpp-dataviz-color-seq-warning-800: #ae3200;
  --wpp-dataviz-color-seq-warning-900: #871d00;
  --wpp-dataviz-color-seq-warning-1000: #610000;
  --wpp-dataviz-color-seq-positive-100: #eaf8d6;
  --wpp-dataviz-color-seq-positive-200: #d9f3b4;
  --wpp-dataviz-color-seq-positive-300: #c2e783;
  --wpp-dataviz-color-seq-positive-400: #a9d64e;
  --wpp-dataviz-color-seq-positive-500: #8fbd1f;
  --wpp-dataviz-color-seq-positive-600: #74a100;
  --wpp-dataviz-color-seq-positive-700: #5c8500;
  --wpp-dataviz-color-seq-positive-800: #476900;
  --wpp-dataviz-color-seq-positive-900: #385000;
  --wpp-dataviz-color-seq-positive-1000: #253200;
  --wpp-white-color: #ffffff;
  --wpp-border-radius-xs: 4px;
  --wpp-border-radius-s: 6px;
  --wpp-border-radius-m: 8px;
  --wpp-border-radius-l: 12px;
  --wpp-border-radius-xl: 20px;
  --wpp-border-radius-round: 64px;
  --wpp-border-width-s: 1px;
  --wpp-border-width-m: 2px;
  --wpp-border-width-l: 3px;
  --wpp-box-shadow-xs: 0px 1px 4px 0px rgba(52, 58, 63, 0.12);
  --wpp-box-shadow-s: 0px 0px 1px 0px rgba(52, 58, 63, 0.1), 0px 1px 5px 0px rgba(52, 58, 63, 0.1);
  --wpp-box-shadow-m: 0px 1px 4px 0px rgba(52, 58, 63, 0.05), 0px 4px 12px 0px rgba(52, 58, 63, 0.12);
  --wpp-box-shadow-brand: 0px 4px 12px 0px rgba(0, 20, 204, 0.3);
  --wpp-box-shadow-l: 0px 8px 32px 0px rgba(52, 58, 63, 0.05);
  --wpp-font-family: Inter;
  --wpp-icon-color: #92999f;
  --wpp-icon-color-disabled: #ccd2d7;
  --wpp-icon-color-hover: #545c62;
  --wpp-icon-color-active: #3f464c;
  --wpp-text-color: #252c33;
  --wpp-text-color-white-info: #eff2f5;
  --wpp-text-color-disabled: #afb5ba;
  --wpp-text-color-danger: #e11920;
  --wpp-text-color-warning: #cb4c00;
  --wpp-text-color-success: #476900;
  --wpp-text-color-info: #545c62;
  --wpp-surface-bg-color: #f7f9fb;
  --wpp-overlay-bg-color: rgba(77, 83, 88, 0.6);
  --wpp-typography-5xl-display-font-weight: 600;
  --wpp-typography-5xl-display-font-size: 48px;
  --wpp-typography-5xl-display-line-height: 62px;
  --wpp-typography-5xl-display-letter-spacing: 0px;
  --wpp-typography-5xl-display-font-family: Inter;
  --wpp-typography-4xl-display-font-weight: 600;
  --wpp-typography-4xl-display-font-size: 36px;
  --wpp-typography-4xl-display-line-height: 48px;
  --wpp-typography-4xl-display-letter-spacing: 0px;
  --wpp-typography-4xl-display-font-family: Inter;
  --wpp-typography-3xl-heading-font-weight: 600;
  --wpp-typography-3xl-heading-font-size: 28px;
  --wpp-typography-3xl-heading-line-height: 40px;
  --wpp-typography-3xl-heading-letter-spacing: 0px;
  --wpp-typography-3xl-heading-font-family: Inter;
  --wpp-typography-2xl-heading-font-weight: 600;
  --wpp-typography-2xl-heading-font-size: 24px;
  --wpp-typography-2xl-heading-line-height: 32px;
  --wpp-typography-2xl-heading-letter-spacing: 0px;
  --wpp-typography-2xl-heading-font-family: Inter;
  --wpp-typography-xl-heading-font-weight: 600;
  --wpp-typography-xl-heading-font-size: 20px;
  --wpp-typography-xl-heading-line-height: 32px;
  --wpp-typography-xl-heading-letter-spacing: 0px;
  --wpp-typography-xl-heading-font-family: Inter;
  --wpp-typography-l-body-font-weight: 400;
  --wpp-typography-l-body-font-size: 18px;
  --wpp-typography-l-body-line-height: 28px;
  --wpp-typography-l-body-letter-spacing: 0px;
  --wpp-typography-l-body-font-family: Inter;
  --wpp-typography-l-midi-font-weight: 500;
  --wpp-typography-l-midi-font-size: 18px;
  --wpp-typography-l-midi-line-height: 28px;
  --wpp-typography-l-midi-letter-spacing: 0px;
  --wpp-typography-l-midi-font-family: Inter;
  --wpp-typography-l-strong-font-weight: 600;
  --wpp-typography-l-strong-font-size: 18px;
  --wpp-typography-l-strong-line-height: 28px;
  --wpp-typography-l-strong-letter-spacing: 0px;
  --wpp-typography-l-strong-font-family: Inter;
  --wpp-typography-m-body-font-weight: 400;
  --wpp-typography-m-body-font-size: 16px;
  --wpp-typography-m-body-line-height: 24px;
  --wpp-typography-m-body-letter-spacing: 0px;
  --wpp-typography-m-body-font-family: Inter;
  --wpp-typography-m-midi-font-weight: 500;
  --wpp-typography-m-midi-font-size: 16px;
  --wpp-typography-m-midi-line-height: 24px;
  --wpp-typography-m-midi-letter-spacing: 0px;
  --wpp-typography-m-midi-font-family: Inter;
  --wpp-typography-m-strong-font-weight: 600;
  --wpp-typography-m-strong-font-size: 16px;
  --wpp-typography-m-strong-line-height: 24px;
  --wpp-typography-m-strong-letter-spacing: 0px;
  --wpp-typography-m-strong-font-family: Inter;
  --wpp-typography-s-body-font-weight: 400;
  --wpp-typography-s-body-font-size: 14px;
  --wpp-typography-s-body-line-height: 22px;
  --wpp-typography-s-body-letter-spacing: 0px;
  --wpp-typography-s-body-font-family: Inter;
  --wpp-typography-s-midi-font-weight: 500;
  --wpp-typography-s-midi-font-size: 14px;
  --wpp-typography-s-midi-line-height: 22px;
  --wpp-typography-s-midi-letter-spacing: 0px;
  --wpp-typography-s-midi-font-family: Inter;
  --wpp-typography-s-strong-font-weight: 600;
  --wpp-typography-s-strong-font-size: 14px;
  --wpp-typography-s-strong-line-height: 22px;
  --wpp-typography-s-strong-letter-spacing: 0px;
  --wpp-typography-s-strong-font-family: Inter;
  --wpp-typography-xs-body-font-weight: 400;
  --wpp-typography-xs-body-font-size: 12px;
  --wpp-typography-xs-body-line-height: 20px;
  --wpp-typography-xs-body-letter-spacing: 0px;
  --wpp-typography-xs-body-font-family: Inter;
  --wpp-typography-xs-midi-font-weight: 500;
  --wpp-typography-xs-midi-font-size: 12px;
  --wpp-typography-xs-midi-line-height: 20px;
  --wpp-typography-xs-midi-letter-spacing: 0px;
  --wpp-typography-xs-midi-font-family: Inter;
  --wpp-typography-xs-strong-font-weight: 600;
  --wpp-typography-xs-strong-font-size: 12px;
  --wpp-typography-xs-strong-line-height: 20px;
  --wpp-typography-xs-strong-letter-spacing: 0px;
  --wpp-typography-xs-strong-font-family: Inter;
  --wpp-typography-2xs-strong-font-weight: 700;
  --wpp-typography-2xs-strong-font-size: 10px;
  --wpp-typography-2xs-strong-line-height: 20px;
  --wpp-typography-2xs-strong-letter-spacing: 5%;
  --wpp-typography-2xs-strong-font-family: Inter;
  --wpp-typography-2xs-strong-text-transform: uppercase;
}
