body {
  --wpp-border-radius-l: 12px;
  --wpp-border-radius-m: 8px;
  --wpp-border-radius-round: 64px;
  --wpp-border-radius-s: 6px;
  --wpp-border-radius-xl: 20px;
  --wpp-border-radius-xs: 4px;
  --wpp-border-width-l: 3px;
  --wpp-border-width-m: 2px;
  --wpp-border-width-s: 1px;
  --wpp-box-shadow-brand: 0px 4px 12px 0px rgba(0, 0, 0, 0.3);
  --wpp-box-shadow-l: 0px 8px 32px 0px rgba(52, 58, 63, 0.05);
  --wpp-box-shadow-m: 0px 1px 4px 0px rgba(52, 58, 63, 0.05), 0px 4px 12px 0px rgba(52, 58, 63, 0.12);
  --wpp-box-shadow-s: 0px 0px 1px 0px rgba(52, 58, 63, 0.1), 0px 1px 5px 0px rgba(52, 58, 63, 0.12);
  --wpp-box-shadow-xs: 0px 1px 4px 0px rgba(52, 58, 63, 0.12);
  --wpp-brand-color: #000000;
  --wpp-brand-color-active: #000000;
  --wpp-brand-color-disabled: #A8A8A8;
  --wpp-brand-color-hover: #696969;
  --wpp-danger-color-200: #FFE5E8;
  --wpp-danger-color-300: #FFCCD1;
  --wpp-danger-color-400: #D10015;
  --wpp-danger-color-500: #B30012;
  --wpp-danger-color-600: #85000D;
  --wpp-dataviz-color-cat-dark-1: #8508E8;
  --wpp-dataviz-color-cat-dark-2: #B03883;
  --wpp-dataviz-color-cat-dark-3: #D10015;
  --wpp-dataviz-color-cat-dark-4: #BD490A;
  --wpp-dataviz-color-cat-dark-5: #8B561A;
  --wpp-dataviz-color-cat-dark-6: #4D7C0F;
  --wpp-dataviz-color-cat-dark-7: #15803D;
  --wpp-dataviz-color-cat-dark-8: #0E7490;
  --wpp-dataviz-color-cat-dark-9: #4453C9;
  --wpp-dataviz-color-cat-dark-10: #5E5557;
  --wpp-dataviz-color-cat-light-1: #ECDCFE;
  --wpp-dataviz-color-cat-light-2: #F2D0EC;
  --wpp-dataviz-color-cat-light-3: #FFCCD1;
  --wpp-dataviz-color-cat-light-4: #FED7AA;
  --wpp-dataviz-color-cat-light-5: #FEF08A;
  --wpp-dataviz-color-cat-light-6: #D9F99D;
  --wpp-dataviz-color-cat-light-7: #BEF4D2;
  --wpp-dataviz-color-cat-light-8: #A5F3FC;
  --wpp-dataviz-color-cat-light-9: #BFDBF9;
  --wpp-dataviz-color-cat-light-10: #DEDCE0;
  --wpp-dataviz-color-cat-neutral-1: #C18DFC;
  --wpp-dataviz-color-cat-neutral-2: #DB77BA;
  --wpp-dataviz-color-cat-neutral-3: #FF6B7A;
  --wpp-dataviz-color-cat-neutral-4: #F57A38;
  --wpp-dataviz-color-cat-neutral-5: #CA8A04;
  --wpp-dataviz-color-cat-neutral-6: #68A512;
  --wpp-dataviz-color-cat-neutral-7: #22C55E;
  --wpp-dataviz-color-cat-neutral-8: #06B6D4;
  --wpp-dataviz-color-cat-neutral-9: #6993E4;
  --wpp-dataviz-color-cat-neutral-10: #919196;
  --wpp-dataviz-color-seq-brand-100: #F4EBFE;
  --wpp-dataviz-color-seq-brand-200: #ECDCFE;
  --wpp-dataviz-color-seq-brand-300: #D9BAFD;
  --wpp-dataviz-color-seq-brand-400: #C18DFC;
  --wpp-dataviz-color-seq-brand-500: #AE6AFB;
  --wpp-dataviz-color-seq-brand-600: #9E4EFA;
  --wpp-dataviz-color-seq-brand-700: #7A0CF8;
  --wpp-dataviz-color-seq-brand-800: #5D05C1;
  --wpp-dataviz-color-seq-brand-900: #3E0481;
  --wpp-dataviz-color-seq-brand-1000: #1F0240;
  --wpp-dataviz-color-seq-grey-100: #F7F7F7;
  --wpp-dataviz-color-seq-grey-200: #EDEDED;
  --wpp-dataviz-color-seq-grey-300: #DBDBDB;
  --wpp-dataviz-color-seq-grey-400: #CCCCCC;
  --wpp-dataviz-color-seq-grey-500: #BABABA;
  --wpp-dataviz-color-seq-grey-600: #A8A8A8;
  --wpp-dataviz-color-seq-grey-700: #878787;
  --wpp-dataviz-color-seq-grey-800: #666666;
  --wpp-dataviz-color-seq-grey-900: #424242;
  --wpp-dataviz-color-seq-grey-1000: #212121;
  --wpp-dataviz-color-seq-negative-100: #FFE5E8;
  --wpp-dataviz-color-seq-negative-200: #FFCCD1;
  --wpp-dataviz-color-seq-negative-300: #FF99A3;
  --wpp-dataviz-color-seq-negative-400: #FF6B7A;
  --wpp-dataviz-color-seq-negative-500: #FF384C;
  --wpp-dataviz-color-seq-negative-600: #FF051D;
  --wpp-dataviz-color-seq-negative-700: #D10015;
  --wpp-dataviz-color-seq-negative-800: #9E0010;
  --wpp-dataviz-color-seq-negative-900: #66000A;
  --wpp-dataviz-color-seq-negative-1000: #330005;
  --wpp-dataviz-color-seq-positive-100: #D3F8E1;
  --wpp-dataviz-color-seq-positive-200: #BEF4D2;
  --wpp-dataviz-color-seq-positive-300: #92ECB3;
  --wpp-dataviz-color-seq-positive-400: #67E595;
  --wpp-dataviz-color-seq-positive-500: #3BDD77;
  --wpp-dataviz-color-seq-positive-600: #22C55E;
  --wpp-dataviz-color-seq-positive-700: #1CA14D;
  --wpp-dataviz-color-seq-positive-800: #167E3C;
  --wpp-dataviz-color-seq-positive-900: #105B2B;
  --wpp-dataviz-color-seq-positive-1000: #0A391B;
  --wpp-dataviz-color-seq-warning-100: #FEEFE7;
  --wpp-dataviz-color-seq-warning-200: #FDDFCE;
  --wpp-dataviz-color-seq-warning-300: #FABB99;
  --wpp-dataviz-color-seq-warning-400: #F79B69;
  --wpp-dataviz-color-seq-warning-500: #F57A38;
  --wpp-dataviz-color-seq-warning-600: #EA580C;
  --wpp-dataviz-color-seq-warning-700: #BD490A;
  --wpp-dataviz-color-seq-warning-800: #8D3607;
  --wpp-dataviz-color-seq-warning-900: #5C2305;
  --wpp-dataviz-color-seq-warning-1000: #311302;
  --wpp-font-family: "Inter";
  --wpp-grey-color-000: #FFFFFF;
  --wpp-grey-color-100: #F6F6F6;
  --wpp-grey-color-200: #f2f2f2;
  --wpp-grey-color-300: #E8E8E8;
  --wpp-grey-color-400: #C6C6C6;
  --wpp-grey-color-500: #A8A8A8;
  --wpp-grey-color-600: #929292;
  --wpp-grey-color-700: #6F6F6F;
  --wpp-grey-color-800: #525252;
  --wpp-grey-color-900: #393939;
  --wpp-grey-color-1000: #161616;
  --wpp-highlight-color-200: rgba(250, 225, 90, 0.4);
  --wpp-highlight-color-400: #F8D616;
  --wpp-icon-color: #929292;
  --wpp-icon-color-active: #393939;
  --wpp-icon-color-disabled: #C6C6C6;
  --wpp-icon-color-hover: #525252;
  --wpp-overlay-bg-color: rgba(82, 82, 82, 0.6);
  --wpp-primary-color-100: #EDEDED;
  --wpp-primary-color-200: #D6D6D6;
  --wpp-primary-color-300: #A8A8A8;
  --wpp-primary-color-400: #696969;
  --wpp-primary-color-500: #000000;
  --wpp-primary-color-600: #000000;
  --wpp-primary-color-700: #000000;
  --wpp-primary-color-800: #000000;
  --wpp-success-color-200: #E9FBF0;
  --wpp-success-color-400: #1CA14D;
  --wpp-success-color-500: #2B6D46;
  --wpp-surface-bg-color: #F6F6F6;
  --wpp-text-color: #161616;
  --wpp-text-color-danger: #B30012;
  --wpp-text-color-disabled: #A8A8A8;
  --wpp-text-color-info: #525252;
  --wpp-text-color-success: #2B6D46;
  --wpp-text-color-warning: #BD490A;
  --wpp-text-color-white-info: #f2f2f2;
  --wpp-warning-color-200: #FEEFE7;
  --wpp-warning-color-400: #EA580C;
  --wpp-warning-color-500: #BD490A;
}


