body {
  --wpp-border-radius-l: 12px;
  --wpp-border-radius-m: 8px;
  --wpp-border-radius-round: 64px;
  --wpp-border-radius-s: 6px;
  --wpp-border-radius-xl: 20px;
  --wpp-border-radius-xs: 4px;
  --wpp-border-width-l: 3px;
  --wpp-border-width-m: 2px;
  --wpp-border-width-s: 1px;
  --wpp-box-shadow-brand: 0px 4px 12px 0px rgba(188, 21, 44, 0.3);
  --wpp-box-shadow-l: 0px 8px 32px 0px rgba(57, 57, 57, 0.05);
  --wpp-box-shadow-m: 0px 1px 4px 0px rgba(57, 57, 57, 0.05), 0px 4px 12px 0px rgba(57, 57, 57, 0.12);
  --wpp-box-shadow-s: 0px 0px 1px 0px rgba(57, 57, 57, 0.1), 0px 1px 5px 0px rgba(57, 57, 57, 0.1);
  --wpp-box-shadow-xs: 0px 1px 4px 0px rgba(57, 57, 57, 0.12);
  --wpp-brand-color: #fd3e81;
  --wpp-brand-color-active: #f70358;
  --wpp-brand-color-disabled: #fe8bb3;
  --wpp-brand-color-hover: #fd6399;
  --wpp-danger-color-200: #fee2e2;
  --wpp-danger-color-300: #fca5a5;
  --wpp-danger-color-400: #dc2626;
  --wpp-danger-color-500: #b91c1c;
  --wpp-danger-color-600: #991b1b;
  --wpp-dataviz-color-cat-dark-1: #f70358;
  --wpp-dataviz-color-cat-dark-2: #ea580c;
  --wpp-dataviz-color-cat-dark-3: #ca8a04;
  --wpp-dataviz-color-cat-dark-4: #65a30d;
  --wpp-dataviz-color-cat-dark-5: #059669;
  --wpp-dataviz-color-cat-dark-6: #0891b2;
  --wpp-dataviz-color-cat-dark-7: #3d58b9;
  --wpp-dataviz-color-cat-dark-8: #6648c3;
  --wpp-dataviz-color-cat-dark-9: #983d98;
  --wpp-dataviz-color-cat-dark-10: #5e5557;
  --wpp-dataviz-color-cat-light-1: #ffd7e5;
  --wpp-dataviz-color-cat-light-2: #fed7aa;
  --wpp-dataviz-color-cat-light-3: #fef08a;
  --wpp-dataviz-color-cat-light-4: #d9f99d;
  --wpp-dataviz-color-cat-light-5: #a7f3d0;
  --wpp-dataviz-color-cat-light-6: #a5f3fc;
  --wpp-dataviz-color-cat-light-7: #bddef7;
  --wpp-dataviz-color-cat-light-8: #d6d7f8;
  --wpp-dataviz-color-cat-light-9: #ebd3f1;
  --wpp-dataviz-color-cat-light-10: #dedce0;
  --wpp-dataviz-color-cat-neutral-1: #fd6399;
  --wpp-dataviz-color-cat-neutral-2: #fb923c;
  --wpp-dataviz-color-cat-neutral-3: #facc15;
  --wpp-dataviz-color-cat-neutral-4: #a3e635;
  --wpp-dataviz-color-cat-neutral-5: #34d399;
  --wpp-dataviz-color-cat-neutral-6: #22d3ee;
  --wpp-dataviz-color-cat-neutral-7: #6097dc;
  --wpp-dataviz-color-cat-neutral-8: #9689e1;
  --wpp-dataviz-color-cat-neutral-9: #c97dc9;
  --wpp-dataviz-color-cat-neutral-10: #919196;
  --wpp-dataviz-color-seq-brand-100: #ffebf2;
  --wpp-dataviz-color-seq-brand-200: #ffd7e5;
  --wpp-dataviz-color-seq-brand-300: #feb3ce;
  --wpp-dataviz-color-seq-brand-400: #fe8bb3;
  --wpp-dataviz-color-seq-brand-500: #fd6399;
  --wpp-dataviz-color-seq-brand-600: #fd3e81;
  --wpp-dataviz-color-seq-brand-700: #f70358;
  --wpp-dataviz-color-seq-brand-800: #bb0243;
  --wpp-dataviz-color-seq-brand-900: #7e012d;
  --wpp-dataviz-color-seq-brand-1000: #3d0116;
  --wpp-dataviz-color-seq-grey-100: #f9f9f8;
  --wpp-dataviz-color-seq-grey-200: #f0f0f0;
  --wpp-dataviz-color-seq-grey-300: #dedce0;
  --wpp-dataviz-color-seq-grey-400: #bab9be;
  --wpp-dataviz-color-seq-grey-500: #919196;
  --wpp-dataviz-color-seq-grey-600: #747073;
  --wpp-dataviz-color-seq-grey-700: #5e5557;
  --wpp-dataviz-color-seq-grey-800: #484042;
  --wpp-dataviz-color-seq-grey-900: #312c2e;
  --wpp-dataviz-color-seq-grey-1000: #1f1b1e;
  --wpp-dataviz-color-seq-negative-100: #fef2f2;
  --wpp-dataviz-color-seq-negative-200: #fee2e2;
  --wpp-dataviz-color-seq-negative-300: #fecaca;
  --wpp-dataviz-color-seq-negative-400: #fca5a5;
  --wpp-dataviz-color-seq-negative-500: #f87171;
  --wpp-dataviz-color-seq-negative-600: #ef4444;
  --wpp-dataviz-color-seq-negative-700: #dc2626;
  --wpp-dataviz-color-seq-negative-800: #b91c1c;
  --wpp-dataviz-color-seq-negative-900: #991b1b;
  --wpp-dataviz-color-seq-negative-1000: #7f1d1d;
  --wpp-dataviz-color-seq-positive-100: #ecfdf5;
  --wpp-dataviz-color-seq-positive-200: #d1fae5;
  --wpp-dataviz-color-seq-positive-300: #a7f3d0;
  --wpp-dataviz-color-seq-positive-400: #6ee7b7;
  --wpp-dataviz-color-seq-positive-500: #34d399;
  --wpp-dataviz-color-seq-positive-600: #10b981;
  --wpp-dataviz-color-seq-positive-700: #059669;
  --wpp-dataviz-color-seq-positive-800: #047857;
  --wpp-dataviz-color-seq-positive-900: #065f46;
  --wpp-dataviz-color-seq-positive-1000: #064e3b;
  --wpp-dataviz-color-seq-warning-100: #fff7ed;
  --wpp-dataviz-color-seq-warning-200: #ffedd5;
  --wpp-dataviz-color-seq-warning-300: #fed7aa;
  --wpp-dataviz-color-seq-warning-400: #fdba74;
  --wpp-dataviz-color-seq-warning-500: #fb923c;
  --wpp-dataviz-color-seq-warning-600: #f97316;
  --wpp-dataviz-color-seq-warning-700: #ea580c;
  --wpp-dataviz-color-seq-warning-800: #c2410c;
  --wpp-dataviz-color-seq-warning-900: #9a3412;
  --wpp-dataviz-color-seq-warning-1000: #7c2d12;
  --wpp-font-family: "Mulish, Outfit, Inter";
  --wpp-grey-color-000: #ffffff;
  --wpp-grey-color-100: #f6f6f6;
  --wpp-grey-color-200: F2F2F2;
  --wpp-grey-color-300: #e8e8e8;
  --wpp-grey-color-400: #c6c6c6;
  --wpp-grey-color-500: #a8a8a8;
  --wpp-grey-color-600: #939393;
  --wpp-grey-color-700: #6f6f6f;
  --wpp-grey-color-800: #525252;
  --wpp-grey-color-900: #393939;
  --wpp-grey-color-1000: #161616;
  --wpp-highlight-color-200: rgba(250, 204, 21, 0.4);
  --wpp-highlight-color-400: #facc15;
  --wpp-icon-color: #939393;
  --wpp-icon-color-active: #393939;
  --wpp-icon-color-disabled: #c6c6c6;
  --wpp-icon-color-hover: #525252;
  --wpp-overlay-bg-color: rgba(82, 82, 82, 0.6);
  --wpp-primary-color-100: #ffd7e5;
  --wpp-primary-color-200: #feb3ce;
  --wpp-primary-color-300: #fe8bb3;
  --wpp-primary-color-400: #fd6399;
  --wpp-primary-color-500: #fd3e81;
  --wpp-primary-color-600: #f70358;
  --wpp-primary-color-700: #bb0243;
  --wpp-primary-color-800: #7e012d;
  --wpp-success-color-200: #d1fae5;
  --wpp-success-color-400: #059669;
  --wpp-success-color-500: #065f46;
  --wpp-surface-bg-color: #f6f6f6;
  --wpp-text-color: #161616;
  --wpp-text-color-danger: #b91c1c;
  --wpp-text-color-disabled: #a8a8a8;
  --wpp-text-color-info: #525252;
  --wpp-text-color-success: #065f46;
  --wpp-text-color-warning: #c2410c;
  --wpp-text-color-white-info: #F2F2F2;
  --wpp-typography-2xl-heading-font-family: Mulish;
  --wpp-typography-2xl-heading-font-size: 24px;
  --wpp-typography-2xl-heading-font-weight: 700;
  --wpp-typography-2xl-heading-letter-spacing: 0px;
  --wpp-typography-2xl-heading-line-height: 32px;
  --wpp-typography-2xs-strong-font-family: Mulish;
  --wpp-typography-2xs-strong-font-size: 10px;
  --wpp-typography-2xs-strong-font-weight: 800;
  --wpp-typography-2xs-strong-letter-spacing: 5%;
  --wpp-typography-2xs-strong-line-height: 20px;
  --wpp-typography-2xs-strong-text-transform: uppercase;
  --wpp-typography-3xl-heading-font-family: Outfit;
  --wpp-typography-3xl-heading-font-size: 28px;
  --wpp-typography-3xl-heading-font-weight: 700;
  --wpp-typography-3xl-heading-letter-spacing: 0px;
  --wpp-typography-3xl-heading-line-height: 40px;
  --wpp-typography-4xl-display-font-family: Outfit;
  --wpp-typography-4xl-display-font-size: 36px;
  --wpp-typography-4xl-display-font-weight: 700;
  --wpp-typography-4xl-display-letter-spacing: 0px;
  --wpp-typography-4xl-display-line-height: 48px;
  --wpp-typography-5xl-display-font-family: Outfit;
  --wpp-typography-5xl-display-font-size: 48px;
  --wpp-typography-5xl-display-font-weight: 700;
  --wpp-typography-5xl-display-letter-spacing: 0px;
  --wpp-typography-5xl-display-line-height: 62px;
  --wpp-typography-l-body-font-family: Mulish;
  --wpp-typography-l-body-font-size: 18px;
  --wpp-typography-l-body-font-weight: 400;
  --wpp-typography-l-body-letter-spacing: 0px;
  --wpp-typography-l-body-line-height: 28px;
  --wpp-typography-l-midi-font-family: Mulish;
  --wpp-typography-l-midi-font-size: 18px;
  --wpp-typography-l-midi-font-weight: 500;
  --wpp-typography-l-midi-letter-spacing: 0px;
  --wpp-typography-l-midi-line-height: 28px;
  --wpp-typography-l-strong-font-family: Mulish;
  --wpp-typography-l-strong-font-size: 18px;
  --wpp-typography-l-strong-font-weight: 700;
  --wpp-typography-l-strong-letter-spacing: 0px;
  --wpp-typography-l-strong-line-height: 28px;
  --wpp-typography-m-body-font-family: Mulish;
  --wpp-typography-m-body-font-size: 16px;
  --wpp-typography-m-body-font-weight: 400;
  --wpp-typography-m-body-letter-spacing: 0px;
  --wpp-typography-m-body-line-height: 24px;
  --wpp-typography-m-midi-font-family: Mulish;
  --wpp-typography-m-midi-font-size: 16px;
  --wpp-typography-m-midi-font-weight: 500;
  --wpp-typography-m-midi-letter-spacing: 0px;
  --wpp-typography-m-midi-line-height: 24px;
  --wpp-typography-m-strong-font-family: Mulish;
  --wpp-typography-m-strong-font-size: 16px;
  --wpp-typography-m-strong-font-weight: 700;
  --wpp-typography-m-strong-letter-spacing: 0px;
  --wpp-typography-m-strong-line-height: 24px;
  --wpp-typography-s-body-font-family: Mulish;
  --wpp-typography-s-body-font-size: 14px;
  --wpp-typography-s-body-font-weight: 400;
  --wpp-typography-s-body-letter-spacing: 0px;
  --wpp-typography-s-body-line-height: 22px;
  --wpp-typography-s-midi-font-family: Mulish;
  --wpp-typography-s-midi-font-size: 14px;
  --wpp-typography-s-midi-font-weight: 500;
  --wpp-typography-s-midi-letter-spacing: 0px;
  --wpp-typography-s-midi-line-height: 22px;
  --wpp-typography-s-strong-font-family: Mulish;
  --wpp-typography-s-strong-font-size: 14px;
  --wpp-typography-s-strong-font-weight: 700;
  --wpp-typography-s-strong-letter-spacing: 0px;
  --wpp-typography-s-strong-line-height: 22px;
  --wpp-typography-xl-heading-font-family: Mulish;
  --wpp-typography-xl-heading-font-size: 20px;
  --wpp-typography-xl-heading-font-weight: 700;
  --wpp-typography-xl-heading-letter-spacing: 0px;
  --wpp-typography-xl-heading-line-height: 32px;
  --wpp-typography-xs-body-font-family: Mulish;
  --wpp-typography-xs-body-font-size: 12px;
  --wpp-typography-xs-body-font-weight: 500;
  --wpp-typography-xs-body-letter-spacing: 0px;
  --wpp-typography-xs-body-line-height: 20px;
  --wpp-typography-xs-midi-font-family: Mulish;
  --wpp-typography-xs-midi-font-size: 12px;
  --wpp-typography-xs-midi-font-weight: 500;
  --wpp-typography-xs-midi-letter-spacing: 0px;
  --wpp-typography-xs-midi-line-height: 20px;
  --wpp-typography-xs-strong-font-family: Mulish;
  --wpp-typography-xs-strong-font-size: 12px;
  --wpp-typography-xs-strong-font-weight: 700;
  --wpp-typography-xs-strong-letter-spacing: 0px;
  --wpp-typography-xs-strong-line-height: 20px;
  --wpp-warning-color-200: #ffedd5;
  --wpp-warning-color-400: #ea580c;
  --wpp-warning-color-500: #c2410c;
}
