body {
  --wpp-border-radius-l: 0px;
  --wpp-border-radius-m: 0px;
  --wpp-border-radius-round: 64px;
  --wpp-border-radius-s: 0px;
  --wpp-border-radius-xl: 20px;
  --wpp-border-radius-xs: 0px;
  --wpp-border-width-l: 3px;
  --wpp-border-width-m: 2px;
  --wpp-border-width-s: 1px;
  --wpp-box-shadow-brand: 0px 4px 12px 0px rgba(195, 1, 241, 0.3);
  --wpp-box-shadow-l: 0px 8px 32px 0px rgba(57, 57, 57, 0.05);
  --wpp-box-shadow-m: 0px 1px 4px 0px rgba(57, 57, 57, 0.05), 0px 4px 12px 0px rgba(57, 57, 57, 0.12);
  --wpp-box-shadow-s: 0px 0px 1px 0px rgba(57, 57, 57, 0.1), 0px 1px 5px 0px rgba(57, 57, 57, 0.12);
  --wpp-box-shadow-xs: 0px 1px 4px 0px rgba(57, 57, 57, 0.12);
  --wpp-brand-color: #C301F1;
  --wpp-brand-color-active: #8901A8;
  --wpp-brand-color-disabled: #eb94fe;
  --wpp-brand-color-hover: #d934fe;
  --wpp-danger-color-200: #fed6df;
  --wpp-danger-color-300: #fdbecd;
  --wpp-danger-color-400: #d72f56;
  --wpp-danger-color-500: #bd123a;
  --wpp-danger-color-600: #A10227;
  --wpp-dataviz-color-cat-dark-1: #ab2ac8;
  --wpp-dataviz-color-cat-dark-2: #bd123a;
  --wpp-dataviz-color-cat-dark-3: #bd4b12;
  --wpp-dataviz-color-cat-dark-4: #CA8A04;
  --wpp-dataviz-color-cat-dark-5: #16A34A;
  --wpp-dataviz-color-cat-dark-6: #1DBD90;
  --wpp-dataviz-color-cat-dark-7: #0D9EC3;
  --wpp-dataviz-color-cat-dark-8: #185ab0;
  --wpp-dataviz-color-cat-dark-9: #4d27bd;
  --wpp-dataviz-color-cat-dark-10: #53574f;
  --wpp-dataviz-color-cat-light-1: #f3c4fd;
  --wpp-dataviz-color-cat-light-2: #fdbecd;
  --wpp-dataviz-color-cat-light-3: #fdd3be;
  --wpp-dataviz-color-cat-light-4: #fef08a;
  --wpp-dataviz-color-cat-light-5: #bbf7d0;
  --wpp-dataviz-color-cat-light-6: #c1fdec;
  --wpp-dataviz-color-cat-light-7: #b2f2ff;
  --wpp-dataviz-color-cat-light-8: #c4ddfd;
  --wpp-dataviz-color-cat-light-9: #d2c4fd;
  --wpp-dataviz-color-cat-light-10: #dddfe1;
  --wpp-dataviz-color-cat-neutral-1: #d56bed;
  --wpp-dataviz-color-cat-neutral-2: #ea587a;
  --wpp-dataviz-color-cat-neutral-3: #ea8958;
  --wpp-dataviz-color-cat-neutral-4: #facc15;
  --wpp-dataviz-color-cat-neutral-5: #4ade80;
  --wpp-dataviz-color-cat-neutral-6: #61eac3;
  --wpp-dataviz-color-cat-neutral-7: #42cff3;
  --wpp-dataviz-color-cat-neutral-8: #4587dd;
  --wpp-dataviz-color-cat-neutral-9: #8a6aea;
  --wpp-dataviz-color-cat-neutral-10: #879493;
  --wpp-dataviz-color-seq-brand-100: #fceeff;
  --wpp-dataviz-color-seq-brand-200: #f7d9fe;
  --wpp-dataviz-color-seq-brand-300: #f3c4fd;
  --wpp-dataviz-color-seq-brand-400: #e697f8;
  --wpp-dataviz-color-seq-brand-500: #d56bed;
  --wpp-dataviz-color-seq-brand-600: #c145dd;
  --wpp-dataviz-color-seq-brand-700: #ab2ac8;
  --wpp-dataviz-color-seq-brand-800: #9518b0;
  --wpp-dataviz-color-seq-brand-900: #7F0F98;
  --wpp-dataviz-color-seq-brand-1000: #6A0B80;
  --wpp-dataviz-color-seq-grey-100: #f9faf9;
  --wpp-dataviz-color-seq-grey-200: #f0f2f2;
  --wpp-dataviz-color-seq-grey-300: #dddfe1;
  --wpp-dataviz-color-seq-grey-400: #b7bdbe;
  --wpp-dataviz-color-seq-grey-500: #879493;
  --wpp-dataviz-color-seq-grey-600: #69726c;
  --wpp-dataviz-color-seq-grey-700: #53574f;
  --wpp-dataviz-color-seq-grey-800: #3f413c;
  --wpp-dataviz-color-seq-grey-900: #2b2b2a;
  --wpp-dataviz-color-seq-grey-1000: #1a1a1b;
  --wpp-dataviz-color-seq-negative-100: #ffeef2;
  --wpp-dataviz-color-seq-negative-200: #fed6df;
  --wpp-dataviz-color-seq-negative-300: #fdbecd;
  --wpp-dataviz-color-seq-negative-400: #f68aa3;
  --wpp-dataviz-color-seq-negative-500: #ea587a;
  --wpp-dataviz-color-seq-negative-600: #d72f56;
  --wpp-dataviz-color-seq-negative-700: #bd123a;
  --wpp-dataviz-color-seq-negative-800: #A10227;
  --wpp-dataviz-color-seq-negative-900: #83001F;
  --wpp-dataviz-color-seq-negative-1000: #660018;
  --wpp-dataviz-color-seq-positive-100: #eefffa;
  --wpp-dataviz-color-seq-positive-200: #d8fef3;
  --wpp-dataviz-color-seq-positive-300: #c1fdec;
  --wpp-dataviz-color-seq-positive-400: #90f6d9;
  --wpp-dataviz-color-seq-positive-500: #61eac3;
  --wpp-dataviz-color-seq-positive-600: #39d7aa;
  --wpp-dataviz-color-seq-positive-700: #1dbd90;
  --wpp-dataviz-color-seq-positive-800: #0CA177;
  --wpp-dataviz-color-seq-positive-900: #05835F;
  --wpp-dataviz-color-seq-positive-1000: #03664A;
  --wpp-dataviz-color-seq-warning-100: #fff4ee;
  --wpp-dataviz-color-seq-warning-200: #fee3d6;
  --wpp-dataviz-color-seq-warning-300: #fdd3be;
  --wpp-dataviz-color-seq-warning-400: #f6ae8a;
  --wpp-dataviz-color-seq-warning-500: #ea8958;
  --wpp-dataviz-color-seq-warning-600: #d7672f;
  --wpp-dataviz-color-seq-warning-700: #bd4b12;
  --wpp-dataviz-color-seq-warning-800: #A13702;
  --wpp-dataviz-color-seq-warning-900: #832C00;
  --wpp-dataviz-color-seq-warning-1000: #662200;
  --wpp-font-family: "Open Sans";
  --wpp-grey-color-000: #FFFFFF;
  --wpp-grey-color-100: #F6F6F6;
  --wpp-grey-color-200: #f2f2f2;
  --wpp-grey-color-300: #E8E8E8;
  --wpp-grey-color-400: #C6C6C6;
  --wpp-grey-color-500: #A8A8A8;
  --wpp-grey-color-600: #929292;
  --wpp-grey-color-700: #6F6F6F;
  --wpp-grey-color-800: #525252;
  --wpp-grey-color-900: #393939;
  --wpp-grey-color-1000: #161616;
  --wpp-highlight-color-200: rgba(250, 204, 21, 0.4);
  --wpp-highlight-color-400: #facc15;
  --wpp-icon-color: #929292;
  --wpp-icon-color-active: #393939;
  --wpp-icon-color-disabled: #C6C6C6;
  --wpp-icon-color-hover: #525252;
  --wpp-overlay-bg-color: rgba(82, 82, 82, 0.6);
  --wpp-primary-color-100: #f9e1ff;
  --wpp-primary-color-200: #f4c2ff;
  --wpp-primary-color-300: #eb94fe;
  --wpp-primary-color-400: #d934fe;
  --wpp-primary-color-500: #C301F1;
  --wpp-primary-color-600: #8901A8;
  --wpp-primary-color-700: #68017F;
  --wpp-primary-color-800: #4B005B;
  --wpp-success-color-200: #d8fef3;
  --wpp-success-color-400: #0CA177;
  --wpp-success-color-500: #05835F;
  --wpp-surface-bg-color: #F6F6F6;
  --wpp-text-color: #161616;
  --wpp-text-color-danger: #bd123a;
  --wpp-text-color-disabled: #A8A8A8;
  --wpp-text-color-info: #525252;
  --wpp-text-color-success: #05835F;
  --wpp-text-color-warning: #bd4b12;
  --wpp-text-color-white-info: #f2f2f2;
  --wpp-typography-2xl-heading-font-weight: 700;
  --wpp-typography-2xs-strong-font-weight: 700;
  --wpp-typography-3xl-heading-font-weight: 700;
  --wpp-typography-4xl-display-font-weight: 400;
  --wpp-typography-5xl-display-font-weight: 400;
  --wpp-typography-l-strong-font-weight: 700;
  --wpp-typography-m-strong-font-weight: 700;
  --wpp-typography-s-strong-font-weight: 700;
  --wpp-typography-xl-heading-font-weight: 700;
  --wpp-typography-xs-strong-font-weight: 700;
  --wpp-warning-color-200: #FFF4EE;
  --wpp-warning-color-400: #d7672f;
  --wpp-warning-color-500: #bd4b12;
}
