body {
  --wpp-border-radius-l: 0px;
  --wpp-border-radius-m: 0px;
  --wpp-border-radius-round: 64px;
  --wpp-border-radius-s: 0px;
  --wpp-border-radius-xl: 20px;
  --wpp-border-radius-xs: 0px;
  --wpp-border-width-l: 3px;
  --wpp-border-width-m: 2px;
  --wpp-border-width-s: 1px;
  --wpp-box-shadow-brand: 0px 4px 12px 0px rgba(8, 94, 255, 0.2);
  --wpp-box-shadow-l: 0px 40px 100px 0px rgba(0, 0, 0, 0.2);
  --wpp-box-shadow-m: 0px 1px 4px 0px rgba(57, 57, 57, 0.05), 0px 4px 12px 0px rgba(57, 57, 57, 0.12);
  --wpp-box-shadow-s: 0px 0px 1px 0px rgba(57, 57, 57, 0.1), 0px 1px 5px 0px rgba(57, 57, 57, 0.12);
  --wpp-box-shadow-xs: 0px 1px 4px 0px rgba(57, 57, 57, 0.12);
  --wpp-brand-color: #085EFF;
  --wpp-brand-color-active: #00379E;
  --wpp-brand-color-disabled: #9ec0ff;
  --wpp-brand-color-hover: #4284ff;
  --wpp-danger-color-200: #fed4e4;
  --wpp-danger-color-300: #f684ae;
  --wpp-danger-color-400: #ea5088;
  --wpp-danger-color-500: #d72466;
  --wpp-danger-color-600: #BD074A;
  --wpp-dataviz-color-cat-dark-1: #003BA1;
  --wpp-dataviz-color-cat-dark-2: #0086A1;
  --wpp-dataviz-color-cat-dark-3: #00A191;
  --wpp-dataviz-color-cat-dark-4: #A18B00;
  --wpp-dataviz-color-cat-dark-5: #A15800;
  --wpp-dataviz-color-cat-dark-6: #A11800;
  --wpp-dataviz-color-cat-dark-7: #A1003B;
  --wpp-dataviz-color-cat-dark-8: #8300A1;
  --wpp-dataviz-color-cat-dark-9: #4300A1;
  --wpp-dataviz-color-cat-dark-10: #5e5557;
  --wpp-dataviz-color-cat-light-1: #84aef6;
  --wpp-dataviz-color-cat-light-2: #84e3f6;
  --wpp-dataviz-color-cat-light-3: #84f6eb;
  --wpp-dataviz-color-cat-light-4: #f6e784;
  --wpp-dataviz-color-cat-light-5: #f6c384;
  --wpp-dataviz-color-cat-light-6: #f69584;
  --wpp-dataviz-color-cat-light-7: #f684ae;
  --wpp-dataviz-color-cat-light-8: #e184f6;
  --wpp-dataviz-color-cat-light-9: #b484f6;
  --wpp-dataviz-color-cat-light-10: #d4d2d6;
  --wpp-dataviz-color-cat-neutral-1: #2466d7;
  --wpp-dataviz-color-cat-neutral-2: #24b9d7;
  --wpp-dataviz-color-cat-neutral-3: #24d7c5;
  --wpp-dataviz-color-cat-neutral-4: #d7bf24;
  --wpp-dataviz-color-cat-neutral-5: #d78624;
  --wpp-dataviz-color-cat-neutral-6: #d73f24;
  --wpp-dataviz-color-cat-neutral-7: #d72466;
  --wpp-dataviz-color-cat-neutral-8: #b624d7;
  --wpp-dataviz-color-cat-neutral-9: #6f24d7;
  --wpp-dataviz-color-cat-neutral-10: #919196;
  --wpp-dataviz-color-seq-brand-100: #eef5ff;
  --wpp-dataviz-color-seq-brand-200: #d4e4fe;
  --wpp-dataviz-color-seq-brand-300: #bbd3fd;
  --wpp-dataviz-color-seq-brand-400: #84aef6;
  --wpp-dataviz-color-seq-brand-500: #5088ea;
  --wpp-dataviz-color-seq-brand-600: #2466d7;
  --wpp-dataviz-color-seq-brand-700: #074ABD;
  --wpp-dataviz-color-seq-brand-800: #003BA1;
  --wpp-dataviz-color-seq-brand-900: #003083;
  --wpp-dataviz-color-seq-brand-1000: #002566;
  --wpp-dataviz-color-seq-grey-100: #f7f7f7;
  --wpp-dataviz-color-seq-grey-200: #ededed;
  --wpp-dataviz-color-seq-grey-300: #dbdbdb;
  --wpp-dataviz-color-seq-grey-400: #cccccc;
  --wpp-dataviz-color-seq-grey-500: #bababa;
  --wpp-dataviz-color-seq-grey-600: #a8a8a8;
  --wpp-dataviz-color-seq-grey-700: #878787;
  --wpp-dataviz-color-seq-grey-800: #666666;
  --wpp-dataviz-color-seq-grey-900: #424242;
  --wpp-dataviz-color-seq-grey-1000: #212121;
  --wpp-dataviz-color-seq-negative-100: #ffeef5;
  --wpp-dataviz-color-seq-negative-200: #fed4e4;
  --wpp-dataviz-color-seq-negative-300: #fdbbd3;
  --wpp-dataviz-color-seq-negative-400: #f684ae;
  --wpp-dataviz-color-seq-negative-500: #ea5088;
  --wpp-dataviz-color-seq-negative-600: #d72466;
  --wpp-dataviz-color-seq-negative-700: #BD074A;
  --wpp-dataviz-color-seq-negative-800: #A1003B;
  --wpp-dataviz-color-seq-negative-900: #830030;
  --wpp-dataviz-color-seq-negative-1000: #660025;
  --wpp-dataviz-color-seq-positive-100: #eefffd;
  --wpp-dataviz-color-seq-positive-200: #d4fefa;
  --wpp-dataviz-color-seq-positive-300: #bbfdf6;
  --wpp-dataviz-color-seq-positive-400: #84f6eb;
  --wpp-dataviz-color-seq-positive-500: #50eada;
  --wpp-dataviz-color-seq-positive-600: #24d7c5;
  --wpp-dataviz-color-seq-positive-700: #07BDAB;
  --wpp-dataviz-color-seq-positive-800: #00A191;
  --wpp-dataviz-color-seq-positive-900: #008376;
  --wpp-dataviz-color-seq-positive-1000: #00665C;
  --wpp-dataviz-color-seq-warning-100: #fff8ee;
  --wpp-dataviz-color-seq-warning-200: #feebd4;
  --wpp-dataviz-color-seq-warning-300: #fddfbb;
  --wpp-dataviz-color-seq-warning-400: #f6c384;
  --wpp-dataviz-color-seq-warning-500: #eaa450;
  --wpp-dataviz-color-seq-warning-600: #d78624;
  --wpp-dataviz-color-seq-warning-700: #BD6C07;
  --wpp-dataviz-color-seq-warning-800: #A15800;
  --wpp-dataviz-color-seq-warning-900: #834800;
  --wpp-dataviz-color-seq-warning-1000: #663800;
  --wpp-font-family: "Snowflake Sans";
  --wpp-grey-color-000: #FFFFFF;
  --wpp-grey-color-100: #F6F6F6;
  --wpp-grey-color-200: #f2f2f2;
  --wpp-grey-color-300: #E8E8E8;
  --wpp-grey-color-400: #C6C6C6;
  --wpp-grey-color-500: #A8A8A8;
  --wpp-grey-color-600: #929292;
  --wpp-grey-color-700: #6F6F6F;
  --wpp-grey-color-800: #525252;
  --wpp-grey-color-900: #393939;
  --wpp-grey-color-1000: #161616;
  --wpp-highlight-color-200: rgba(250, 214, 95, 0.4);
  --wpp-highlight-color-400: #fad65f;
  --wpp-icon-color: #929292;
  --wpp-icon-color-active: #393939;
  --wpp-icon-color-disabled: #C6C6C6;
  --wpp-icon-color-hover: #525252;
  --wpp-overlay-bg-color: rgba(57, 57, 57, 0.6);
  --wpp-primary-color-100: #e5eeff;
  --wpp-primary-color-200: #ccdeff;
  --wpp-primary-color-300: #9ec0ff;
  --wpp-primary-color-400: #4284ff;
  --wpp-primary-color-500: #085EFF;
  --wpp-primary-color-600: #00379E;
  --wpp-primary-color-700: #00256B;
  --wpp-primary-color-800: #001947;
  --wpp-success-color-200: #d4fefa;
  --wpp-success-color-400: #00A191;
  --wpp-success-color-500: #008376;
  --wpp-surface-bg-color: #F6F6F6;
  --wpp-text-color: #161616;
  --wpp-text-color-danger: #d72466;
  --wpp-text-color-disabled: #A8A8A8;
  --wpp-text-color-info: #525252;
  --wpp-text-color-success: #008376;
  --wpp-text-color-warning: #A15800;
  --wpp-text-color-white-info: #f2f2f2;
  --wpp-warning-color-200: #FFF8EE;
  --wpp-warning-color-400: #BD6C07;
  --wpp-warning-color-500: #A15800;
}
