body {
  --wpp-action-button-primary-text-color-hover: #9B5C81;
  --wpp-action-button-primary-text-color-pressed: #54223F;
  --wpp-border-radius-l: 12px;
  --wpp-border-radius-m: 8px;
  --wpp-border-radius-round: 64px;
  --wpp-border-radius-s: 6px;
  --wpp-border-radius-xl: 20px;
  --wpp-border-radius-xs: 4px;
  --wpp-border-width-l: 3px;
  --wpp-border-width-m: 2px;
  --wpp-border-width-s: 1px;
  --wpp-box-shadow-brand: 0px 4px 12px 0px rgba(225, 85, 20, 0.3);
  --wpp-box-shadow-l: 0px 8px 32px 0px rgba(52, 58, 63, 0.05);
  --wpp-box-shadow-m: 0px 1px 4px 0px rgba(52, 58, 63, 0.05), 0px 4px 12px 0px rgba(52, 58, 63, 0.12);
  --wpp-box-shadow-s: 0px 0px 1px 0px rgba(52, 58, 63, 0.1), 0px 1px 5px 0px rgba(52, 58, 63, 0.1);
  --wpp-box-shadow-xs: 0px 1px 4px 0px rgba(52, 58, 63, 0.12);
  --wpp-brand-color: #E15514;
  --wpp-brand-color-active: #B24310;
  --wpp-brand-color-disabled: #FFAB85;
  --wpp-brand-color-hover: #EE733A;
  --wpp-button-primary-bg-color-hover: #9B5C81;
  --wpp-button-primary-bg-color-pressed: #682A4E;
  --wpp-button-secondary-bg-color-hover: #F8D8E5;
  --wpp-button-secondary-bg-color-pressed: #F4C7D7;
  --wpp-button-secondary-border-color-hover: #9B5C81;
  --wpp-button-secondary-border-color-pressed: #54223F;
  --wpp-button-secondary-icon-color-hover: #9B5C81;
  --wpp-button-secondary-icon-color-pressed: #54223F;
  --wpp-button-secondary-text-color-hover: #9B5C81;
  --wpp-button-secondary-text-color-pressed: #54223F;
  --wpp-checkbox-bg-color-checked-hover: #9B5C81;
  --wpp-checkbox-bg-color-checked-pressed: #54223F;
  --wpp-danger-color-200: #FCDEE4;
  --wpp-danger-color-300: #F9B9C4;
  --wpp-danger-color-400: #E5294C;
  --wpp-danger-color-500: #B20F2D;
  --wpp-danger-color-600: #750A1E;
  --wpp-dataviz-color-cat-dark-1: #ED6B31;
  --wpp-dataviz-color-cat-dark-2: #F8AF2A;
  --wpp-dataviz-color-cat-dark-3: #F0516D;
  --wpp-dataviz-color-cat-dark-4: #FD82AE;
  --wpp-dataviz-color-cat-dark-5: #7559BC;
  --wpp-dataviz-color-cat-dark-6: #244CA4;
  --wpp-dataviz-color-cat-dark-7: #3BB6D3;
  --wpp-dataviz-color-cat-dark-8: #31AE75;
  --wpp-dataviz-color-cat-dark-9: #A2B831;
  --wpp-dataviz-color-cat-dark-10: #273247;
  --wpp-dataviz-color-cat-light-1: #FBE1D6;
  --wpp-dataviz-color-cat-light-2: #FEEED3;
  --wpp-dataviz-color-cat-light-3: #FCDEE4;
  --wpp-dataviz-color-cat-light-4: #FFE6EF;
  --wpp-dataviz-color-cat-light-5: #E3DEF2;
  --wpp-dataviz-color-cat-light-6: #D3DBED;
  --wpp-dataviz-color-cat-light-7: #D8F0F6;
  --wpp-dataviz-color-cat-light-8: #D3F3E5;
  --wpp-dataviz-color-cat-light-9: #ECF1D6;
  --wpp-dataviz-color-cat-light-10: #D7DCE6;
  --wpp-dataviz-color-cat-neutral-1: #F4A885;
  --wpp-dataviz-color-cat-neutral-2: #FBCF7F;
  --wpp-dataviz-color-cat-neutral-3: #F698A9;
  --wpp-dataviz-color-cat-neutral-4: #F9AFCB;
  --wpp-dataviz-color-cat-neutral-5: #A796D4;
  --wpp-dataviz-color-cat-neutral-6: #6295E1;
  --wpp-dataviz-color-cat-neutral-7: #85CEE2;
  --wpp-dataviz-color-cat-neutral-8: #78D9AD;
  --wpp-dataviz-color-cat-neutral-9: #C2D080;
  --wpp-dataviz-color-cat-neutral-10: #8393A5;
  --wpp-dataviz-color-seq-brand-100: #FDF2EC;
  --wpp-dataviz-color-seq-brand-200: #FBE1D5;
  --wpp-dataviz-color-seq-brand-300: #F8C3AB;
  --wpp-dataviz-color-seq-brand-400: #F4A885;
  --wpp-dataviz-color-seq-brand-500: #F18A5B;
  --wpp-dataviz-color-seq-brand-600: #ED6B31;
  --wpp-dataviz-color-seq-brand-700: #D34F12;
  --wpp-dataviz-color-seq-brand-800: #9F3C0E;
  --wpp-dataviz-color-seq-brand-900: #672709;
  --wpp-dataviz-color-seq-brand-1000: #341305;
  --wpp-dataviz-color-seq-grey-100: #F8F9F8;
  --wpp-dataviz-color-seq-grey-200: #EDEFF3;
  --wpp-dataviz-color-seq-grey-300: #D8DCE5;
  --wpp-dataviz-color-seq-grey-400: #B2B9C7;
  --wpp-dataviz-color-seq-grey-500: #8792A4;
  --wpp-dataviz-color-seq-grey-600: #6B7183;
  --wpp-dataviz-color-seq-grey-700: #575667;
  --wpp-dataviz-color-seq-grey-800: #43414F;
  --wpp-dataviz-color-seq-grey-900: #2F2D37;
  --wpp-dataviz-color-seq-grey-1000: #1D1C23;
  --wpp-dataviz-color-seq-negative-100: #FDECEF;
  --wpp-dataviz-color-seq-negative-200: #FCDEE4;
  --wpp-dataviz-color-seq-negative-300: #F9B9C4;
  --wpp-dataviz-color-seq-negative-400: #F698A9;
  --wpp-dataviz-color-seq-negative-500: #F3728A;
  --wpp-dataviz-color-seq-negative-600: #F0516D;
  --wpp-dataviz-color-seq-negative-700: #E5294C;
  --wpp-dataviz-color-seq-negative-800: #B20F2D;
  --wpp-dataviz-color-seq-negative-900: #750A1E;
  --wpp-dataviz-color-seq-negative-1000: #3D050F;
  --wpp-dataviz-color-seq-positive-100: #E7F8F1;
  --wpp-dataviz-color-seq-positive-200: #D3F3E5;
  --wpp-dataviz-color-seq-positive-300: #A3E5C8;
  --wpp-dataviz-color-seq-positive-400: #78D9AD;
  --wpp-dataviz-color-seq-positive-500: #4CCD93;
  --wpp-dataviz-color-seq-positive-600: #31AE75;
  --wpp-dataviz-color-seq-positive-700: #278B5E;
  --wpp-dataviz-color-seq-positive-800: #1D6746;
  --wpp-dataviz-color-seq-positive-900: #13442E;
  --wpp-dataviz-color-seq-positive-1000: #0A2418;
  --wpp-dataviz-color-seq-warning-100: #FEF8EB;
  --wpp-dataviz-color-seq-warning-200: #FEEED3;
  --wpp-dataviz-color-seq-warning-300: #FCE0AB;
  --wpp-dataviz-color-seq-warning-400: #FBCF7F;
  --wpp-dataviz-color-seq-warning-500: #F9C157;
  --wpp-dataviz-color-seq-warning-600: #F8AF2A;
  --wpp-dataviz-color-seq-warning-700: #E39608;
  --wpp-dataviz-color-seq-warning-800: #A86F06;
  --wpp-dataviz-color-seq-warning-900: #724B04;
  --wpp-dataviz-color-seq-warning-1000: #362402;
  --wpp-datepicker-cell-bg-colo-pressed: #54223F;
  --wpp-datepicker-cell-bg-color-hover: #9B5C81;
  --wpp-fb-bg-color-hover: #9B5C81;
  --wpp-fb-bg-color-pressed: #682A4E;
  --wpp-font-family: "Roboto";
  --wpp-grey-color-000: #FFFFFF;
  --wpp-grey-color-100: #F8F9FB;
  --wpp-grey-color-200: #F4F5F7;
  --wpp-grey-color-300: #E7EAEE;
  --wpp-grey-color-400: #C1C7CD;
  --wpp-grey-color-500: #A2A9B0;
  --wpp-grey-color-600: #8B919A;
  --wpp-grey-color-700: #697077;
  --wpp-grey-color-800: #4D5358;
  --wpp-grey-color-900: #343A3F;
  --wpp-grey-color-1000: #121619;
  --wpp-highlight-color-200: rgba(245, 219, 88, 0.4);
  --wpp-highlight-color-400: #F5DB58;
  --wpp-icon-color: #8B919A;
  --wpp-icon-color-active: #343A3F;
  --wpp-icon-color-disabled: #C1C7CD;
  --wpp-icon-color-hover: #4D5358;
  --wpp-overlay-bg-color: rgba(77, 83, 88, 0.6);
  --wpp-primary-color-100: #FFE5DA;
  --wpp-primary-color-200: #FFC8B1;
  --wpp-primary-color-300: #FFAB85;
  --wpp-primary-color-400: #EE733A;
  --wpp-primary-color-500: #E15514;
  --wpp-primary-color-600: #B24310;
  --wpp-primary-color-700: #88330C;
  --wpp-primary-color-800: #592208;
  --wpp-slider-handle-bg-color-hover: #F8D8E5;
  --wpp-slider-handle-bg-color-pressed: #F4C7D7;
  --wpp-slider-handle-border-color-hover: #9B5C81;
  --wpp-slider-handle-border-color-pressed: #54223F;
  --wpp-success-color-200: #E7F8F1;
  --wpp-success-color-400: #31AE75;
  --wpp-success-color-500: #1D6746;
  --wpp-surface-bg-color: #F8F9FB;
  --wpp-tab-text-color-hover: #9B5C81;
  --wpp-tab-text-color-pressed: #54223F;
  --wpp-text-color: #121619;
  --wpp-text-color-danger: #B20F2D;
  --wpp-text-color-disabled: #A2A9B0;
  --wpp-text-color-info: #4D5358;
  --wpp-text-color-success: #1D6746;
  --wpp-text-color-warning: #A86F06;
  --wpp-text-color-white-info: #F4F5F7;
  --wpp-toggle-bg-color-checked-hover: #9B5C81;
  --wpp-toggle-bg-color-checked-pressed: #54223F;
  --wpp-warning-color-200: #FEF8EB;
  --wpp-warning-color-400: #E39608;
  --wpp-warning-color-500: #A86F06;
}
