@import "plugins/quill-image-actions/styles";
@import "plugins/quill-upload/styles";

.wpp-richtext {
  --richtext-padding: var(--wpp-richtext-padding, 9px 12px);

  --richtext-label-color: var(--wpp-richtext-label-color, var(--wpp-text-color-info));
  --richtext-characters-limit-label-color: var(--wpp-richtext-characters-limit-label-color, var(--wpp-grey-color-800));
  --richtext-label-margin: var(--wpp-richtext-label-margin, 0 0 8px 0);
  --richtext-inline-message-margin: var(--wpp-richtext-inline-message-margin, 4px 0 0 0);
  --richtext-placeholder-color: var(--wpp-richtext-placeholder-color, var(--wpp-grey-color-700));
  --richtext-text-color-disabled: var(--wpp-richtext-text-color-disabled, var(--wpp-text-color-disabled));
  --richtext-characters-limit-font-weight: var(--wpp-richtext-characters-limit-font-weight, 400);
  --richtext-warning-charecters-limit-color: var(--wpp-richtext-border-radius, var(--wpp-warning-color-500));
  --richtext-error-charecters-limit-color: var(--wpp-richtext-border-radius, var(--wpp-danger-color-500));

  --richtext-bg-color: var(--wpp-richtext-bg-color, transparent);
  --richtext-bg-color-hover: var(--wpp-richtext-bg-color-hover, var(--wpp-grey-color-200));
  --richtext-bg-color-active: var(--wpp-richtext-bg-color-active, transparent);
  --richtext-bg-color-disabled: var(--wpp-richtext-bg-color-disabled, var(--wpp-grey-color-100));

  --counter-first-border-color-focus: var(--wpp-counter-first-border-color-focus, var(--wpp-grey-color-000));
  --counter-second-border-color-focus: var(--wpp-counter-second-border-color-focus, var(--wpp-brand-color));

  --richtext-border-width: var(--wpp-richtext-border-width, var(--wpp-border-width-s));
  --richtext-border-style: var(--wpp-richtext-border-style, solid);
  --richtext-border-radius: var(--wpp-richtext-border-radius, var(--wpp-border-radius-m));
  --richtext-border-color: var(--wpp-richtext-border-color, var(--wpp-grey-color-500));
  --richtext-border-color-hover: var(--wpp-richtext-border-color-hover, var(--wpp-grey-color-700));
  --richtext-border-color-active: var(--wpp-richtext-border-color-active, var(--wpp-grey-color-800));
  --richtext-border-color-disabled: var(--wpp-richtext-border-color-disabled, var(--wpp-grey-color-400));
  --richtext-first-border-color-focus: var(--wpp-richtext-first-border-color-focus, var(--wpp-grey-color-000));
  --richtext-second-border-color-focus: var(--wpp-richtext-second-border-color-focus, var(--wpp-brand-color));

  // Used as a secondary focus highlight for the toolbar controls (RovingTabindex)
  --richtext-toolbar-outline-color: var(--wpp-richtext-toolbar-outline-color, var(--wpp-brand-color));

  --richtext-warning-border-color: var(--wpp-richtext-warning-border-color, var(--wpp-warning-color-400));
  --richtext-error-border-color: var(--wpp-richtext-error-border-color, var(--wpp-danger-color-400));

  --richtext-tooltip-padding: var(--wpp-richtext-tooltip-padding, 5px 12px);
  --richtext-tooltip-color: var(--wpp-richtext-tooltip-color, var(--wpp-typography-color));
  --richtext-tooltip-bg-color: var(--wpp-richtext-tooltip-bg-color, var(--wpp-grey-color-000));

  --richtext-button-inactive-color: var(--wpp-grey-color-600);
  --richtext-button-inactive-hover-color: var(--wpp-grey-color-700);
  --richtext-button-inactive-click-color: var(--wpp-grey-color-800);
  --richtext-button-active-color: var(--wpp-primary-color-500);
  --richtext-button-active-hover-color: var(--wpp-primary-color-400);
  --richtext-button-active-click-color: var(--wpp-primary-color-600);
  --richtext-button-background-color: var(--wpp-grey-color-000);
  --richtext-editor-min-width: var(--wpp-richtext-editor-min-width, 376px);

  --richtext-float-gap: 1em;

  --richtext-editor-min-height: var(--wpp-richtext-editor-min-height, 136px);

  display: flex;
  flex-direction: column;
  min-width: var(--richtext-editor-min-width);

  .label {
    margin: var(--richtext-label-margin)
  }

  .ql-form-control {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: var(--richtext-editor-min-width);

    &.tab-focus {
      @include tabFocus(var(--richtext-first-border-color-focus), var(--richtext-second-border-color-focus), var(--wpp-border-radius-m));

      .ql-toolbar {
        *:focus {
          outline-color: var(--richtext-toolbar-outline-color);
        }
      }
    }

    &,
    .ql-toolbar,
    .ql-container {
      border: var(--richtext-border-width) var(--richtext-border-style) var(--richtext-border-color);
      border-radius: var(--richtext-border-radius);
    }

    .ql-container {
      height: 100%;
      min-height: var(--richtext-editor-min-height);
    }

    .ql-toolbar,
    .ql-container {
      border-left: none;
      border-right: none;
      border-top-width: 0;
      border-bottom-width: 0;
    }

    .ql-toolbar + .ql-container,
    .ql-container + .ql-toolbar {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top-width: var(--richtext-border-width);
    }

    &:hover:not(.active) {
      &,
      .ql-toolbar,
      .ql-container {
        border-color: var(--richtext-border-color-hover);
      }

      .ql-container {
        background-color: var(--wpp-grey-color-200);
      }
    }

    &.active {
      &,
      .ql-toolbar,
      .ql-container {
        border-color: var(--richtext-border-color-active)
      }
    }

    @include inputWithMessage(var(--richtext-border-width), var(--richtext-border-style));

    &.disabled {
      &, &:hover {
        & *,
        .ql-editor.ql-blank:before {
          cursor: not-allowed;
          color: var(--richtext-text-color-disabled);
        }

        &,
        .ql-toolbar,
        .ql-container {
          border-color: var(--richtext-border-color-disabled);
        }
        .ql-toolbar {
          pointer-events: none;
        }
        .ql-container {
          background-color: var(--richtext-bg-color-disabled);
        }
      }
    }

    &.warning {
      &, &:hover {
        border-color: var(--richtext-warning-border-color)
      }
    }

    &.error {
      &, &:hover {
        border-color: var(--richtext-error-border-color)
      }
    }

    .form-control-input {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 0;
      opacity: 0;
      pointer-events: none;
    }
  }

  .ql-toolbar {
    display: flex;
    padding: 2px 12px;
    flex-wrap: wrap;
    @include typographyS;

    *:focus {
      outline-color: transparent;
    }
    .ql-picker-label {
      @include iconChevronTransition;
      &[aria-expanded='true'] {
        @include iconChevronTransform(180deg)
      }
    }
  }

  .ql-editor {
    height: 100%;

    &.ql-blank:before {
      color: var(--richtext-placeholder-color);
    }
  }

  .messages-wrapper {
    display: flex;
    justify-content: space-between;
    margin: var(--richtext-inline-message-margin);

    &.without-text-message {
      justify-content: flex-end;
    }
  }

  .characters-limit {
    @include characterLimit(
      var(--richtext-warning-charecters-limit-color),
      var(--richtext-error-charecters-limit-color),
      var(--richtext-characters-limit-label-color),
      var(--richtext-characters-limit-font-weight)
    )
  }
}

.ql-toolbar,
.ql-container {
  &[hidden] {
    display: block;
  }
}

.ql-tooltip {
  padding: var(--richtext-tooltip-padding);
  box-shadow: var(--wpp-box-shadow-m);
  border-radius: var(--wpp-border-radius-s);
  color: var(--richtext-tooltip-color);
  background-color: var(--richtext-tooltip-bg-color);
  @include typographyS;
}

.preserve-whitespace,
.preserve-whitespace .ql-editor {
  white-space: pre-wrap;
  word-break: break-word;
}
