.openButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.modalBody {
  height: 200px;
  padding-top: 9px;
  padding-left: 9px;
  overflow: auto;
}

.sideModalBody {
  overflow: auto;

  &.horizontal {
    height: 100%;

    .stepper {
      width: 500px;
    }
  }

  &.vertical {
    height: 265px;
    padding-top: 9px;
    padding-left: 9px;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.text {
  margin: 0;
}
