<div class="tabs">
  <wpp-tabs [value]="currentTab" (wppChange)="handleTabChange($event)">
    <wpp-tab value="bannerNavBar" data-testid="nav-bar">
      Banner Navbar
    </wpp-tab>
    <wpp-tab value="bannerTopBar" data-testid="top-bar">
      Banner Topbar
    </wpp-tab>
    <wpp-tab value="bannerStates" data-testid="states"> Banner States </wpp-tab>
  </wpp-tabs>
  <div class="content">
    <app-banner-navbar-example *ngIf="currentTab === 'bannerNavBar'"></app-banner-navbar-example>
    <app-banner-topbar-example *ngIf="currentTab === 'bannerTopBar'"></app-banner-topbar-example>
    <app-banner-states-example *ngIf="currentTab === 'bannerStates'"></app-banner-states-example>
  </div>
</div>
