<div class="radioButtons">
  <h3>With Label</h3>
  <wpp-radio
    name="wpp-radio-1"
    class="item"
    [labelConfig]="getLabelConfig('Option 1' )"
    required
    auto-focus
    data-testid="focus-radio-button"
  ></wpp-radio>

  <wpp-radio
    name="wpp-radio-2"
    class="item"
    [labelConfig]="getLabelConfig('Option 2' )"
    required
    data-testid="radio-button-with-label"
  ></wpp-radio>

  <wpp-radio
    name="wpp-radio-3"
    class="item"
    [labelConfig]="labelConfig"
    required
    data-testid="radio-button-with-icon"
  ></wpp-radio>

  <wpp-radio
    class="item"
    [labelConfig]="getLabelConfig('Option 4' )"
    data-testid="radio-button-with-optional-label"
  ></wpp-radio>

  <wpp-radio name="wpp-radio-4" class="item" [labelConfig]="getLabelConfig('Option 5' )" disabled required></wpp-radio>

  <wpp-radio
    name="wpp-radio-5"
    class="item"
    [labelConfig]="getLabelConfig('Hover test' )"
    data-testid="hover-radio-button"
    required
  ></wpp-radio>

  <h3>Without Label</h3>
  <wpp-radio class="item" required data-testid="radio-button-without-label"></wpp-radio>

  <h3>Radio Groups</h3>
  <div class="radioGroupContainer">
    <div class="radioGroupElement">
      <wpp-typography type="xl-heading">With 3 items</wpp-typography>
      <wpp-radio-group
        [labelConfig]="labelConfigGroup"
        class="radioGroup"
        [value]="radioGroupValue"
        (wppChange)="handleChange($event)"
      >
        <wpp-radio class="item" required value="option-1" [labelConfig]="getLabelConfig('Option-1')"></wpp-radio>
        <wpp-radio class="item" required value="option-2" [labelConfig]="getLabelConfig('Option-2' )"></wpp-radio>
        <wpp-radio class="item" required value="option-3" [labelConfig]="getLabelConfig('Option-3' )"></wpp-radio>
      </wpp-radio-group>
    </div>

    <div class="radioGroupElement">
      <wpp-typography type="xl-heading">With error message</wpp-typography>
      <wpp-radio-group
        class="radioGroup"
        [value]="radioGroupValue"
        [labelConfig]="labelConfigGroup"
        message="Error message"
        [messageType]="messageTypeError"
        (wppChange)="handleChange($event)"
      >
        <wpp-radio required value="option-1" [labelConfig]="getLabelConfig('Option-1')"></wpp-radio>
        <wpp-radio required value="option-2" [labelConfig]="getLabelConfig('Option-2')"></wpp-radio>
        <wpp-radio required value="option-3" [labelConfig]="getLabelConfig('Option-3')"></wpp-radio>
        <wpp-radio required value="option-4" [labelConfig]="getLabelConfig('Option-4')"></wpp-radio>
      </wpp-radio-group>
    </div>

    <div class="radioGroupElement">
      <wpp-typography type="xl-heading">With warning message</wpp-typography>
      <wpp-radio-group
        class="radioGroup"
        [value]="radioGroupValue"
        [labelConfig]="labelConfigGroup"
        message="Warning message"
        [messageType]="messageTypeWarning"
        (wppChange)="handleChange($event)"
      >
        <wpp-radio required value="option-1" [labelConfig]="getLabelConfig('Option-1')"></wpp-radio>
        <wpp-radio required value="option-2" [labelConfig]="getLabelConfig('Option-2')"></wpp-radio>
        <wpp-radio required value="option-3" [labelConfig]="getLabelConfig('Option-3')"></wpp-radio>
        <wpp-radio required value="option-4" [labelConfig]="getLabelConfig('Option-4')"></wpp-radio>
        <wpp-radio required value="option-5" [labelConfig]="getLabelConfig('Option-5')"></wpp-radio>
      </wpp-radio-group>
    </div>

    <div class="radioGroupElement">
      <wpp-typography type="xl-heading">With warning message</wpp-typography>
      <wpp-radio-group
        class="radioGroup"
        [value]="radioGroupValue"
        [labelConfig]="labelConfigGroup"
        message="Warning message"
        [messageType]="messageTypeWarning"
        [maxMessageLength]="maxMessageLength"
        (wppChange)="handleChange($event)"
      >
        <wpp-radio required value="option-1" [labelConfig]="getLabelConfig('Option-1')"></wpp-radio>
        <wpp-radio required value="option-2" [labelConfig]="getLabelConfig('Option-2')"></wpp-radio>
        <wpp-radio required value="option-3" [labelConfig]="getLabelConfig('Option-3')"></wpp-radio>
        <wpp-radio required value="option-4" [labelConfig]="getLabelConfig('Option-4')"></wpp-radio>
        <wpp-radio required value="option-5" [labelConfig]="getLabelConfig('Option-5')"></wpp-radio>
      </wpp-radio-group>
    </div>
  </div>

  <h4>Programmatically set value of radio group:</h4>
  <div class="buttons">
    <wpp-button size="s" variant="secondary" (click)="setValue('option-1')"> Set option-1 </wpp-button>
    <wpp-button size="s" variant="secondary" (click)="setValue('option-2')"> Set option-2 </wpp-button>
    <wpp-button size="s" variant="secondary" (click)="setValue('option-3')"> Set option-3 </wpp-button>
    <wpp-button size="s" variant="secondary" (click)="setValue('')"> Reset </wpp-button>
  </div>
</div>
