<div class="grids">
  <h2 class="mainTitle">Grid examples</h2>

  <div class="list">
    <div class="wpp-grid-container">
      <div class="wpp-grid-item-all-16">
        <div class="wpp-grid-container full-width">
          <div
            *ngFor="let id of ids"
            key="`grid-1-${id}`"
            class="wpp-grid-item-all-8"
          >
            <div class="item">
              <h3 class="cardTitle">Scale</h3>
              <p class="number">50,000</p>
              <h3 class="subtitle">Products on the platform</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="wpp-grid-item-all-8">
        <h3 class="title">Resources</h3>
        <p>Product summary</p>
      </div>

      <div class="wpp-grid-item-all-14">
        <div>
          <h3 class="title">Benefits</h3>
          <p>
            Manage interactive experiences with ease: combining human
            experience and technology effectively can help consumers learn and
            engage with content in new ways. However, these unique experiences
            can be hard to monitor, expensive to update, and difficult to
            track. By centralising experience management, Interactive
            Experience Management can make the process
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="list">
    <div class="wpp-grid-container">
      <div
        *ngFor="let id of ids"
        key="`grid-2-${id}`"
        class="wpp-grid-item-all-8"
      >
        <div class="card">
          <div class="image">
            <img
              src="https://mui.com/static/images/grid/complex.jpg"
              alt="image"
            />
          </div>
          <div class="body">
            <div class="description">
              <div>
                <p>Standard license</p>
                <p>Full resolution 1920x1080</p>
                <p>ID: {{id}}</p>
              </div>
              <div class="price">
                <p>$19.00</p>
              </div>
            </div>
            <div class="remove">
              <wpp-action-button variant="secondary">Remove</wpp-action-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="container">
    <h3 class="gridTitle">Current realisation with percent width</h3>
    <div class="gridWrapper">
      <div class="gridFullWidth wpp-grid-container">
        <div class="wpp-grid-item-all-6">
          <wpp-input placeholder="Placeholder"></wpp-input>
        </div>
        <div class="wpp-grid-item-all-6">
          <wpp-input placeholder="Placeholder"></wpp-input>
        </div>
        <div class="wpp-grid-item-all-6">
          <wpp-input placeholder="Placeholder"></wpp-input>
        </div>
      </div>

      <br/>

      <div class="gridFullWidth wpp-grid-container">
        <div class="wpp-grid-item-all-6">
          <wpp-input placeholder="Placeholder"></wpp-input>
        </div>
        <div class="wpp-grid-item-all-6">
          <wpp-input placeholder="Placeholder"></wpp-input>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <br/>

  <div class="grid wpp-grid-container full-width">
    <div class="wpp-grid-item-all-6">
      <div class="wpp-grid-container fluid">
        <div class="wpp-grid-item-all-24">
          <div class="content">
            <h3>Scale</h3>
            <p>50,000</p>
            <h3>Products on the platform</h3>
            <h3>Scale</h3>
            <p>50,000</p>
          </div>
        </div>
        <div class="wpp-grid-item-all-24">
          <div class="content">
            <h3>Scale</h3>
            <p>50,000</p>
            <h3>Products on the platform</h3>
            <h3>Scale</h3>
            <p>50,000</p>
          </div>
        </div>
      </div>
    </div>

    <div class="wpp-grid-item-all-6">
      <div class="content">
        <h3>Resources</h3>
        <p>Product summary</p>
        <p>Product summary</p>
        <p>Product summary</p>
        <p>Product summary</p>
        <p>Product summary</p>
        <p>Product summary</p>
        <p>Product summary</p>
      </div>
    </div>

    <div class="wpp-grid-item-all-12">
      <div
        class="wpp-grid-container full-width"
        [ngStyle]="{flexDirection: 'column'}"
      >
        <div class="wpp-grid-item-all-24">
          <div class="wpp-grid-container full-width">
            <div class="wpp-grid-item-all-16">
              <div class="content hidePadding">
                <img src='/assets/googleImg.jpeg' class="img" alt=""/>
              </div>
            </div>
            <div class="wpp-grid-item-all-8">
              <div class="wpp-grid-container full-width">
                <div class="wpp-grid-item-all-24">
                  <div class="content fixed">
                    <img src='/assets/googleImg.jpeg' class="img" alt=""/>
                  </div>
                </div>
                <div class="wpp-grid-item-all-24">
                  <div class="content fixed">
                    <img src='/assets/googleImg.jpeg' class="img" alt=""/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="wpp-grid-item-all-24">
          <div class="wpp-grid-container full-width">
            <div class="wpp-grid-item-all-8">
              <div class="content small">
                <img src='/assets/googleImg.jpeg' class="img" alt=""/>
              </div>
            </div>
            <div class="wpp-grid-item-all-16">
              <div class="content small">
                <img src="/assets/googleImg.jpeg" class="img" alt=""/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
