/**
  * @prop --wpp-typography-color:
  * @prop --wpp-typography-font-size:
  * @prop --wpp-typography-font-weight:
  * @prop --wpp-typography-font-family:
  * @prop --wpp-typography-font-style:
  * @prop --wpp-typography-line-height:
  * @prop --wpp-typography-letter-spacing:
  * @prop --wpp-typography-text-transform:
  * @prop --wpp-typography-text-decoration:
*/

:host {
  --typography-color: var(--wpp-typography-color, var(--wpp-text-color));
  --typography-font-weight: var(--wpp-default-type-font-weight, 400);
  --typography-font-size: var(--wpp-default-type-font-size, 16px);
  --typography-font-family: var(--wpp-default-type-font-family, var(--wpp-font-family));
  --typography-font-style: var(--wpp-default-type-font-style, normal);
  --typography-line-height: var(--wpp-default-type-line-height, normal);
  --typography-letter-spacing: var(--wpp-default-type-letter-spacing, normal);
  --typography-text-transform: var(--wpp-default-type-text-transform, none);
  --typography-text-decoration: var(--wpp-default-type-text-decoration, none);
  --typography-italic-padding-right: var(--wpp-typography-italic-padding-right, 0.12em);

  display: inline-flex;
  color: var(--typography-color);
}

.typography {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;

  color: currentcolor;
  font-weight: var(--wpp-typography-font-weight, var(--typography-font-weight));
  font-size: var(--wpp-typography-font-size, var(--typography-font-size));
  font-family: var(--wpp-typography-font-family, var(--typography-font-family));
  font-style: var(--wpp-typography-font-style, var(--typography-font-style));
  line-height: var(--wpp-typography-line-height, var(--typography-line-height));
  letter-spacing: var(--wpp-typography-letter-spacing, var(--typography-letter-spacing));
  text-transform: var(--wpp-typography-text-transform, var(--typography-text-transform));
  text-decoration: var(--wpp-typography-text-decoration, var(--typography-text-decoration));

  &.italic {
    padding-right: var(--typography-italic-padding-right);
  }
}
