/**
  * @prop --wpp-inline-message-m-icon-margin:
  * @prop --wpp-inline-message-l-icon-margin:
  * @prop --wpp-inline-message-m-padding:
  * @prop --wpp-inline-message-l-padding:
  * @prop --wpp-inline-message-border-radius:
  * @prop --wpp-inline-message-line-height:
  * @prop --wpp-inline-message-text-color:
  * @prop --wpp-inline-message-empty-type-text-color:
  * @prop --wpp-inline-message-warning-text-color:
  * @prop --wpp-inline-message-error-text-color:
  * @prop --wpp-inline-message-error-text-color:
  * @prop --wpp-inline-message-information-text-color:
  * @prop --wpp-inline-message-success-text-color:
  * @prop --wpp-inline-message-warning-background-color:
  * @prop --wpp-inline-message-error-background-color:
  * @prop --wpp-inline-message-information-background-color:
  * @prop --wpp-inline-message-success-background-color:
  * @prop --wpp-inline-message-width-l:
*/

:host {
  --im-m-icon-gap: var(--wpp-inline-message-m-icon-gap, 4px);
  --im-l-icon-gap: var(--wpp-inline-message-l-icon-gap, 8px);
  --im-m-padding: var(--wpp-inline-message-m-padding, 5px 8px);
  --im-l-padding: var(--wpp-inline-message-l-padding, 12px 12px 12px 16px);
  --im-line-height: var(--wpp-inline-message-line-height, 22px);
  --im-border-radius: var(--wpp-inline-message-border-radius, var(--wpp-border-radius-s));
  --im-text-color: var(--wpp-inline-message-text-color, var(--wpp-grey-color-1000));
  --im-empty-type-text-color: var(--wpp-inline-message-empty-type-text-color, var(--wpp-grey-color-800));

  --im-warning-text-color: var(--wpp-inline-message-warning-text-color, var(--wpp-text-color-warning));
  --im-error-text-color: var(--wpp-inline-message-error-text-color, var(--wpp-text-color-danger));
  --im-information-text-color: var(--wpp-inline-message-information-text-color, var(--wpp-text-color-info));
  --im-success-text-color: var(--wpp-inline-message-success-text-color, var(--wpp-text-color-success));

  --im-warning-background-color: var(--wpp-inline-message-warning-background-color, var(--wpp-warning-color-200));
  --im-error-background-color: var(--wpp-inline-message-error-background-color, var(--wpp-danger-color-200));
  --im-information-background-color: var(--wpp-inline-message-information-background-color, var(--wpp-grey-color-200));
  --im-success-background-color: var(--wpp-inline-message-success-background-color, var(--wpp-success-color-200));

  --im-l-min-width: var(--wpp-l-inline-message-min-width, 376px);
  --im-l-action-btn-padding: var(--wpp-inline-message-l-action-btn-padding, 5px 6px);
  --im-l-action-btn-margin-right: var(--wpp-inline-message-l-action-btn-margin-right, 4px);
  --im-l-body-padding-left: var(--wpp-inline-message-l-body-padding-left, 30px);
  --im-l-header-gap: var(--wpp-inline-message-l-header-gap, 3px);
}

.inline-message-wrapper {
  display: flex;
  align-items: center;
  width: var(--im-width);
  color: var(--im-text-color);

  &.size-s {
    @include typographyXSMidi;

    &.warning-message {
      color: var(--im-warning-text-color);
    }

    &.error-message {
      color: var(--im-error-text-color);
    }

    &.information-message {
      color: var(--im-information-text-color);
    }

    &.success-message {
      color: var(--im-success-text-color);
    }
  }

  &:not(.warning-message, .error-message, .information-message, .success-message) {
    color: var(--im-empty-type-text-color);
  }

  &.size-l,
  &.size-m {
    padding: var(--im-m-padding);
    border-radius: var(--im-border-radius);
    @include typographySBody;

    &.warning-message {
      background-color: var(--im-warning-background-color);
    }

    &.error-message {
      background-color: var(--im-error-background-color);
    }

    &.information-message {
      background-color: var(--im-information-background-color);
    }

    &.success-message {
      background-color: var(--im-success-background-color);
    }

    .message {
      line-height: var(--im-line-height);
    }
  }

  .left-icon {
    display: inline-flex;
  }

  &.size-m {
    .message-block {
      .wpp-icon {
        margin-top: 1px;
      }
    }
  }

  &.size-l {
    padding: var(--im-l-padding);
    min-width: var(--im-l-min-width);
    box-sizing: border-box;

    .container {
      display: flex;
      gap: 24px;
      flex-wrap: nowrap;
      width: 100%;

      &-content {
        display: flex;
        width: 100%;
        gap: var(--im-l-icon-gap);
        padding: 4px 0;

        .wpp-icon {
          margin-top: 2px;
        }
      }

      .title {
        display: flex;
        align-items: center;
        @include typographyMStrong;
      }

      &-actions {
        display: flex;
        align-self: flex-start;

        .action-btn {
          width: max-content;
          --wpp-action-button-padding: var(--im-l-action-btn-padding);

          margin-right: var(--im-l-action-btn-margin-right);
        }

        .close-btn {
          --wpp-action-button-padding: 6px;
        }
      }

      &-body {
        .tooltip {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .content-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--im-l-header-gap);
      width: 100%;
    }

    .container-body {
      width: 100%;
    }

    .container-content {
      &.no-title {
        .content-wrapper {
          gap: 1px;
        }
      }
    }
  }

  .message-block {
    display: flex;
    align-items: flex-start;
    gap: var(--im-m-icon-gap);

    &.tooltip-maxlength-auto {
      display: grid;
      grid-auto-flow: column;
      justify-content: flex-start;
      width: 100%;
      gap: var(--im-m-icon-gap);

      .message {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &.truncated {
      cursor: pointer;
    }

    .message {
      width: 100%;
      word-break: break-word;
    }
  }
}
