:host {
  display: inline-flex;
  width: 100%;
}

.tooltip-wrapper {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--internal-tooltip-padding);
  border-radius: var(--internal-tooltip-border-radius);
  overflow-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  box-sizing: border-box;

  .content-with-icon {
    display: flex;
    gap: 4px;
    align-items: flex-start;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
  }

  .text {
    width: 100%;
    @include typographySBody;
  }

  .header {
    width: 100%;
    margin-bottom: var(--internal-tooltip-text-margin-bottom);

    @include typographyMStrong;
  }

  .value {
    @include typographySMidi;
  }

  &.with-header {
    padding: var(--internal-tooltip-with-header-padding);

    .content-with-icon {
      .icon-wrapper {
        .left-icon {
          padding-top: 2px;
        }
      }
    }
  }

  &.with-value {
    padding: var(--internal-tooltip-with-value-padding);
  }

  &.dark {
    background-color: var(--internal-tooltip-dark-bg-color);

    .text {
      color: var(--internal-tooltip-dark-text-color);
    }

    .header {
      color: var(--internal-tooltip-dark-header-text-color);
    }

    &.with-header {
      .header {
        color: var(--internal-tooltip-dark-with-header-header-color);
      }

      .text {
        color: var(--internal-tooltip-dark-with-header-text-color);
      }
    }

    &.with-value {
      .text {
        color: var(--internal-tooltip-dark-with-value-text-color);
      }

      .value {
        color: var(--internal-tooltip-dark-with-value-value-color);
      }
    }

    .value {
      color: var(--internal-tooltip-dark-value-color);
    }

    &:not(.with-header):not(.with-value) {
      .text {
        color: var(--internal-tooltip-dark-text-color);
      }
    }
  }

  &.light {
    box-shadow: var(--internal-tooltip-light-box-shadow);
    background-color: var(--internal-tooltip-light-bg-color);

    .text {
      color: var(--internal-tooltip-light-text-color);
    }

    .header {
      color: var(--internal-tooltip-light-header-text-color);
    }

    &.with-header {
      .header {
        color: var(--internal-tooltip-light-with-header-header-color);
      }

      .text {
        color: var(--internal-tooltip-light-with-header-text-color);
      }
    }

    &.with-value {
      .text {
        color: var(--internal-tooltip-light-with-value-text-color);
      }

      .value {
        color: var(--internal-tooltip-light-with-value-value-color);
      }
    }

    .value {
      color: var(--internal-tooltip-light-value-color);
    }

    &:not(.with-header):not(.with-value) {
      .text {
        color: var(--internal-tooltip-light-text-color);
      }
    }
  }

  &.error,
  &.warning {
    position: relative;
    background-color: var(--internal-tooltip-error-bg-color);
    box-shadow: var(--internal-tooltip-variant-box-shadow);

    &.with-value {
      .text {
        color: var(--internal-tooltip-error-with-value-text-color);
      }

      .value {
        color: var(--internal-tooltip-error-with-value-value-color);
      }
    }

    .header {
      color: var(--internal-tooltip-error-header-text-color);
    }

    .text {
      color: var(--internal-tooltip-error-text-color);
    }

    &.with-header {
      .header {
        color: var(--internal-tooltip-error-with-header-header-color);
      }

      .text {
        color: var(--internal-tooltip-error-with-header-text-color);
      }
    }

    &:not(.with-header):not(.with-value) {
      .text {
        color: var(--internal-tooltip-error-text-color);
      }
    }
  }

  &.warning {
    background-color: var(--internal-tooltip-warning-bg-color);
  }
}
