.margin {
  margin-left: 10px;
}

.message {
  display: flex;
  margin: 16px 0;
}

.avatar {
  flex: 0 0 auto;
  margin-top: 8px;
  margin-right: 16px;
}

.card {
  flex: 1 1 auto;
}

.message p {
  line-height: 1.3;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-right: 12px;
}

.header {
  display: flex;
  align-items: center;
}

.container {
  margin-top: 20px;
}

.text {
  margin-left: 9px;
}

.custom {
  --modal-width-m: 500px;
  --modal-width-s: 300px;
}

.withMargin {
  margin-top: 8px;
  margin-bottom: 8px;
}

.actionsSection {
  margin-top: 20px;
}

.actionItem {
  margin-right: 10px;
  margin-bottom: 10px;
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.sectionTitle {
  margin-bottom: 20px;
}

.configurations {
  margin-top: 20px;

  .section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .sectionContent {
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;

      .btnsContainer {
        margin-left: 100px;
      }

      .btnItem {
        margin-left: 20px;
      }
    }
  }
}

.modalActions {
  display: flex;
  justify-content: flex-end;
}

.dropdownsContent {
  padding: 20px;
}

.subTitle {
  margin: 20px 0;
}
