<div [ngStyle]="{ marginTop: '1px' }">
  <h3 class="title">
    Single tree with new custom search: tree-item's text should include search string (not case sensitive)
  </h3>
  <wpp-input class="search" (wppChange)="handleSearch($event)" type="search" placeholder="Search"></wpp-input>
  <wpp-tree
    class="tree"
    [data]="treeData"
    (wppChange)="handleTreeChange($event)"
    data-testid="single-tree-with-quotation-marks"
    (wppActionClick)="handleActionClick($event)"
    [search]="searchValue"
    [searchConfig]="searchConfig"
  ></wpp-tree>
</div>
