/**
  * @prop --wpp-spinner-padding-s:
  * @prop --wpp-spinner-padding-m:
  * @prop --wpp-spinner-padding-l:
*/

:host {
  --spinner-padding-s: var(--wpp-spinner-padding-s, 3px);
  --spinner-padding-m: var(--wpp-spinner-padding-m, 8px);
  --spinner-padding-l: var(--wpp-spinner-padding-l, 8px);

  display: inline-flex;
}

:host(.wpp-size-s) {
  padding: var(--spinner-padding-s);
}

:host(.wpp-size-m) {
  padding: var(--spinner-padding-m);
}

:host(.wpp-size-l) {
  padding: var(--spinner-padding-l);
}

@mixin key-frames-spinner($name, $zero, $half, $full) {
  @keyframes #{$name} {
    0% {
      stroke-dashoffset: $zero;
    }

    50% {
      stroke-dashoffset: $half;
    }

    100% {
      stroke-dashoffset: $full;
    }
  }
}

.spinner {
  @include key-frames-spinner('spinner-s', 9.24, 43.96, 0.66);
  @include key-frames-spinner('spinner-m', 21.12, 100.48, 0.66);
  @include key-frames-spinner('spinner-l', 42.24, 200.96, 0.66);

  animation: rotate-spinner 3s linear infinite;

  &.size-s {
    width: 14px;
    height: 14px;
    transform-origin: calc(0.5px * 14) calc(0.5px * 14) 0;

    circle {
      animation: spinner-s 3s linear infinite;
      stroke-dasharray: calc(3.14px * 14);
      stroke-dashoffset: 14;
      stroke-width: 2;
    }
  }

  &.size-m {
    width: 32px;
    height: 32px;
    transform-origin: calc(0.5px * 32) calc(0.5px * 32) 0;

    circle {
      animation: spinner-m 3s linear infinite;
      stroke-dasharray: calc(3.14px * 32);
      stroke-dashoffset: 32;
      stroke-width: 4;
    }
  }

  &.size-l {
    width: 64px;
    height: 64px;
    transform-origin: calc(0.5px * 64) calc(0.5px * 64) 0;

    circle {
      animation: spinner-l 3s linear infinite;
      stroke-dasharray: calc(3.14px * 64);
      stroke-dashoffset: 64;
      stroke-width: 6;
    }
  }
}

@keyframes rotate-spinner {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(720deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}
