.colorPickers {
  height: 120vh;
  padding: 50px;

  .sectionTitle {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .section {
    display: flex;
    margin-bottom: 40px;

    .sectionItem {
      display: flex;
      flex-direction: column;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      .sectionItemTitle {
        margin-bottom: 20px;
      }
    }
  }
}
