<div class="toggles">
  <h3>With Label</h3>
  <wpp-toggle class="item" [labelConfig]="labelConfig" required auto-focus data-testid="focus-toggle"></wpp-toggle>

  <wpp-toggle class="item" [labelConfig]="labelConfigTest" required data-testid="toggle-with-label"></wpp-toggle>

  <wpp-toggle class="item" [labelConfig]="labelConfigIcon" data-testid="toggle-with-icon" required></wpp-toggle>

  <wpp-toggle class="item" [labelConfig]="labelConfig" data-testid="toggle-with-optional-label"></wpp-toggle>

  <wpp-toggle class="item" [labelConfig]="labelConfig" disabled required></wpp-toggle>

  <wpp-toggle
    class="item"
    [labelConfig]="controlledLabelConfig"
    required
    controlled
    data-testid="controlled-toggle"
  ></wpp-toggle>

  <h3>Without Label</h3>
  <wpp-toggle class="item" data-testid="toggle-without-label" [ariaProps]="{ label: 'no label' }"></wpp-toggle>
</div>
