/**
  * @prop --wpp-toast-width:
  * @prop --wpp-toast-border-radius:
  * @prop --wpp-toast-message-color:
  * @prop --wpp-toast-padding:
  * @prop --wpp-toast-with-header-message-color:
  * @prop --wpp-toast-actions-block-margin:
  * @prop --wpp-toast-icon-wrapper-bg-color:
  * @prop --wpp-toast-icon-wrapper-margin:
  * @prop --wpp-toast-icon-wrapper-padding:
  * @prop --wpp-toast-icon-wrapper-warning-padding:
  * @prop --wpp-toast-icon-wrapper-warning-bg-color:
  * @prop --wpp-toast-icon-wrapper-error-bg-color:
  * @prop --wpp-toast-icon-wrapper-information-bg-color:
  * @prop --wpp-toast-icon-wrapper-success-bg-color:

  * @prop --wpp-toast-custom-icon-wrapper-bg-color:
  * @prop --wpp-toast-custom-icon-color:
  * @prop --wpp-toast-custom-logo-wrapper-bg-color:
  * @prop --wpp-toast-custom-logo-wrapper-padding:
  * @prop --wpp-toast-custom-logo-wrapper-width:
  * @prop --wpp-toast-custom-logo-wrapper-height:
  * @prop --wpp-toast-custom-logo-width:
  * @prop --wpp-toast-custom-logo-height:
  * @prop --wpp-toast-custom-logo-object-fit:
  * @prop --wpp-toast-custom-logo-border-radius:
*/

:host {
  --toast-width: var(--wpp-toast-width, 400px);
  --toast-border-radius: var(--wpp-toast-border-radius, var(--wpp-border-radius-m));
  --toast-message-color: var(--wpp-toast-message-color, var(--wpp-grey-color-000));
  --toast-padding: var(--wpp-toast-padding, 12px 8px 12px 16px);
  --toast-with-header-message-color: var(--wpp-toast-with-header-message-color, var(--wpp-grey-color-200));
  --toast-actions-block-margin: var(--wpp-toast-actions-block-margin, 0 0 0 8px);
  --toast-icon-wrapper-bg-color: var(--wpp-toast-icon-wrapper-bg-color, transparent);
  --toast-icon-wrapper-margin: var(--wpp-toast-icon-wrapper-margin, 0 8px 0 0);
  --toast-icon-wrapper-padding: var(--wpp-toast-icon-wrapper-padding, 4px);
  --toast-icon-wrapper-border-radius: var(--wpp-toast-icon-wrapper-border-radius, 24px);
  --toast-icon-wrapper-warning-padding: var(--wpp-toast-icon-wrapper-warning-padding, 3.5px 4px 4.5px 4px);
  --toast-icon-wrapper-warning-bg-color: var(--wpp-toast-icon-wrapper-warning-bg-color, var(--wpp-warning-color-200));
  --toast-icon-wrapper-error-bg-color: var(--wpp-toast-icon-wrapper-error-bg-color, var(--wpp-danger-color-200));
  --toast-icon-wrapper-information-bg-color: var(--wpp-toast-icon-wrapper-information-bg-color, var(--wpp-grey-color-200));
  --toast-icon-wrapper-success-bg-color: var(--wpp-toast-icon-wrapper-success-bg-color, var(--wpp-success-color-200));

  --toast-custom-icon-wrapper-bg-color: var(--wpp-toast-custom-icon-wrapper-bg-color, transparent);
  --toast-custom-icon-color: var(--wpp-toast-custom-icon-color, var(--wpp-icon-color));
  --toast-custom-logo-wrapper-bg-color: var(--wpp-toast-custom-logo-wrapper-bg-color, transparent);
  --toast-custom-logo-wrapper-padding: var(--wpp-toast-custom-logo-wrapper-padding, 0);
  --toast-custom-logo-wrapper-width: var(--wpp-toast-custom-logo-wrapper-width, 24px);
  --toast-custom-logo-wrapper-height: var(--wpp-toast-custom-logo-wrapper-height, 24px);
  --toast-custom-logo-width: var(--wpp-toast-custom-logo-width, 24px);
  --toast-custom-logo-height: var(--wpp-toast-custom-logo-height, 24px);
  --toast-custom-logo-object-fit: var(--wpp-toast-custom-logo-object-fit, cover);
  --toast-custom-logo-border-radius: var(--wpp-toast-custom-logo-border-radius, var(--wpp-border-radius-xs));
}

:host(.wpp-toast-wrapper) {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: var(--toast-width);
  padding: var(--toast-padding);
  background: var(--wpp-grey-color-900);
  border-radius: var(--toast-border-radius);
  box-shadow: 0 4px 12px rgb(52 58 63 / 10.2%);
  transform: translate(calc(100% + 16px), 0);
  opacity: 0;
  max-height: var(--mt-height);
  transition-timing-function: ease;
  transition-duration: var(--mt-show-animation-duration);
  transition-property: opacity, transform;

  .body {
    display: flex;
    align-items: center;
    overflow: hidden;

    .message {
      color: var(--toast-message-color);
    }
  }

  .actions {
    display: flex;
    margin: var(--toast-actions-block-margin);
  }
}

:host(.wpp-visible) {
  transform: translate(0, 0);
  opacity: 1;
}

:host(.wpp-with-header) {
  .body {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
  }

  .info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 1px;

    .message {
      color: var(--toast-with-header-message-color);
    }
  }
}

:host(.wpp-with-header-and-without-message) {
  .body {
    align-items: center;
  }
}

:host(.wpp-with-multiple-message-lines) {
  align-items: flex-start;

  .body {
    padding: 4px 0;
    align-items: flex-start;
  }
}

:host(.wpp-with-custom-icon:hover) {
  background: var(--wpp-grey-color-800);
  cursor: pointer;
}

.wpp-typography {
  overflow: hidden;
  color: var(--toast-message-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wpp-action-button {
  --ab-first-border-color-focus: var(--wpp-grey-color-900);
  --ab-second-border-color-focus: var(--wpp-grey-color-000);

  &:nth-child(2) {
    margin-left: 4px;
  }
}

.icon-wrapper {
  display: flex;
  padding: var(--toast-icon-wrapper-padding);
  justify-content: center;
  align-items: center;
  margin: var(--toast-icon-wrapper-margin);
  border-radius: var(--toast-icon-wrapper-border-radius);
  background: var(--toast-icon-wrapper-bg-color);

  &.warning {
    background-color: var(--toast-icon-wrapper-warning-bg-color);
    padding: var(--toast-icon-wrapper-warning-padding);
  }

  &.error {
    background-color: var(--toast-icon-wrapper-error-bg-color);
  }

  &.information {
    background-color: var(--toast-icon-wrapper-information-bg-color);
  }

  &.success {
    background-color: var(--toast-icon-wrapper-success-bg-color);
  }

  &.hidden {
    display: none;
  }

  &.logo-wrapper {
    padding: var(--toast-custom-logo-wrapper-padding);
    width: var(--toast-custom-logo-wrapper-width);
    height: var(--toast-custom-logo-wrapper-height);
    background: var(--toast-custom-logo-wrapper-bg-color);
  }

  &.custom-icon-wrapper {
    background: var(--toast-custom-icon-wrapper-bg-color);

    .wpp-icon {
      color: var(--toast-custom-icon-color);
    }
  }

  .custom-logo {
    width: var(--toast-custom-logo-width);
    height: var(--toast-custom-logo-height);
    object-fit: var(--toast-custom-logo-object-fit);
    border-radius: var(--toast-custom-logo-border-radius);
  }
}

:host(.wpp-hide) {
  opacity: 0;
  padding: 0;
  margin: 0;
  max-height: 0;
  transform: translateX(calc(100% + 16px));
  transition: transform var(--mt-hide-animation-duration) ease-in-out 0s,
              opacity var(--mt-hide-animation-duration) ease-in-out 0s,
              padding 0.15s ease-in-out var(--mt-hide-animation-duration),
              margin 0.15s ease-in-out var(--mt-hide-animation-duration),
              max-height 0.15s ease-in-out var(--mt-hide-animation-duration);
}

.message {
  white-space: normal;
  color: var(--toast-with-header-message-color);
  display: -webkit-box;
  -webkit-line-clamp: var(--mt-max-message-lines);
  line-clamp: var(--mt-max-message-lines);
  -webkit-box-orient: vertical;
}

@keyframes chatSlideFromTop {
  from {
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes chatSlideToTop {
  from {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  to {
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
  }
}

:host(.wpp-chat-variant) {
  position: absolute;
  width: auto;
  height: auto;
  padding: 0;
  box-shadow: none;
  border-radius: 6px;
  background-color: var(--wpp-grey-color-300);
  box-sizing: border-box;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  animation: chatSlideFromTop 0.3s ease-in-out;
  transition: opacity var(--mt-show-animation-duration) ease, transform var(--mt-show-animation-duration) ease;

  .chat-toast-wrapper {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0px 8px;
    border-radius: 6px;
    background-color: var(--wpp-grey-color-300);

    .chat-toast-message {
      --wpp-typography-text-transform: UPPERCASE;
      color: var(--wpp-grey-color-800);

      .wpp-typography {
        &::part(typography) {
        text-transform: uppercase;
        }
      }
    }
  }

  .success {
    background-color: var(--wpp-success-color-200);
  }

  .error {
    background-color: var(--wpp-danger-color-200);
  }

  .information {
    background-color: var(--wpp-grey-color-300);
  }
}

:host(.wpp-hide.wpp-chat-variant) {
  animation: chatSlideToTop 0.3s ease-in-out forwards;
}
