/**
  * @prop --wpp-inline-message-m-icon-margin:
  * @prop --wpp-inline-message-l-icon-margin:
  * @prop --wpp-inline-message-m-padding:
  * @prop --wpp-inline-message-l-padding:
  * @prop --wpp-inline-message-border-radius:
  * @prop --wpp-inline-message-line-height:
  * @prop --wpp-inline-message-text-color:
  * @prop --wpp-inline-message-empty-type-text-color:
  * @prop --wpp-inline-message-warning-text-color:
  * @prop --wpp-inline-message-error-text-color:
  * @prop --wpp-inline-message-error-text-color:
  * @prop --wpp-inline-message-information-text-color:
  * @prop --wpp-inline-message-success-text-color:
  * @prop --wpp-inline-message-warning-background-color:
  * @prop --wpp-inline-message-error-background-color:
  * @prop --wpp-inline-message-information-background-color:
  * @prop --wpp-inline-message-success-background-color:
  * @prop --wpp-inline-message-width-l:
*/
:host {
  --im-m-icon-gap: var(--wpp-inline-message-m-icon-gap, 4px);
  --im-l-icon-gap: var(--wpp-inline-message-l-icon-gap, 8px);
  --im-m-padding: var(--wpp-inline-message-m-padding, 5px 8px);
  --im-l-padding: var(--wpp-inline-message-l-padding, 12px 12px 12px 16px);
  --im-line-height: var(--wpp-inline-message-line-height, 22px);
  --im-border-radius: var(--wpp-inline-message-border-radius, var(--wpp-border-radius-s));
  --im-text-color: var(--wpp-inline-message-text-color, var(--wpp-grey-color-1000));
  --im-empty-type-text-color: var(--wpp-inline-message-empty-type-text-color, var(--wpp-grey-color-800));
  --im-warning-text-color: var(--wpp-inline-message-warning-text-color, var(--wpp-text-color-warning));
  --im-error-text-color: var(--wpp-inline-message-error-text-color, var(--wpp-text-color-danger));
  --im-information-text-color: var(--wpp-inline-message-information-text-color, var(--wpp-text-color-info));
  --im-success-text-color: var(--wpp-inline-message-success-text-color, var(--wpp-text-color-success));
  --im-warning-background-color: var(--wpp-inline-message-warning-background-color, var(--wpp-warning-color-200));
  --im-error-background-color: var(--wpp-inline-message-error-background-color, var(--wpp-danger-color-200));
  --im-information-background-color: var(--wpp-inline-message-information-background-color, var(--wpp-grey-color-300));
  --im-success-background-color: var(--wpp-inline-message-success-background-color, var(--wpp-success-color-200));
  --im-l-min-width: var(--wpp-l-inline-message-min-width, 376px);
  --im-l-action-btn-padding: var(--wpp-inline-message-l-action-btn-padding, 5px 6px);
  --im-l-action-btn-margin-right: var(--wpp-inline-message-l-action-btn-margin-right, 4px);
  --im-l-body-padding-left: var(--wpp-inline-message-l-body-padding-left, 30px);
  --im-l-header-gap: var(--wpp-inline-message-l-header-gap, 3px);
}

.inline-message-wrapper {
  display: flex;
  align-items: center;
  width: var(--im-width);
  color: var(--im-text-color);
}
.inline-message-wrapper.size-s {
  font-size: var(--wpp-typography-xs-midi-font-size, 12px);
  line-height: var(--wpp-typography-xs-midi-line-height, 20px);
  font-weight: var(--wpp-typography-xs-midi-font-weight, 500);
  color: var(--wpp-typography-xs-midi-color, var(--wpp-text-color));
  font-family: var(--wpp-typography-xs-midi-font-family, var(--wpp-font-family));
  letter-spacing: var(--wpp-typography-xs-midi-letter-spacing, 0);
}
.inline-message-wrapper.size-s.warning-message {
  color: var(--im-warning-text-color);
}
.inline-message-wrapper.size-s.error-message {
  color: var(--im-error-text-color);
}
.inline-message-wrapper.size-s.information-message {
  color: var(--im-information-text-color);
}
.inline-message-wrapper.size-s.success-message {
  color: var(--im-success-text-color);
}
.inline-message-wrapper:not(.warning-message, .error-message, .information-message, .success-message) {
  color: var(--im-empty-type-text-color);
}
.inline-message-wrapper.size-l, .inline-message-wrapper.size-m {
  padding: var(--im-m-padding);
  border-radius: var(--im-border-radius);
  font-size: var(--wpp-typography-s-body-font-size, 14px);
  line-height: var(--wpp-typography-s-body-line-height, 22px);
  font-weight: var(--wpp-typography-s-body-font-weight, 400);
  color: var(--wpp-typography-s-body-color, var(--wpp-text-color));
  font-family: var(--wpp-typography-s-body-font-family, var(--wpp-font-family));
  letter-spacing: var(--wpp-typography-s-body-letter-spacing, 0);
}
.inline-message-wrapper.size-l.warning-message, .inline-message-wrapper.size-m.warning-message {
  background-color: var(--im-warning-background-color);
}
.inline-message-wrapper.size-l.error-message, .inline-message-wrapper.size-m.error-message {
  background-color: var(--im-error-background-color);
}
.inline-message-wrapper.size-l.information-message, .inline-message-wrapper.size-m.information-message {
  background-color: var(--im-information-background-color);
  background-color: color-mix(in srgb, var(--im-information-background-color) 60%, transparent);
}
.inline-message-wrapper.size-l.success-message, .inline-message-wrapper.size-m.success-message {
  background-color: var(--im-success-background-color);
}
.inline-message-wrapper.size-l .message, .inline-message-wrapper.size-m .message {
  line-height: var(--im-line-height);
}
.inline-message-wrapper .left-icon {
  display: inline-flex;
}
.inline-message-wrapper.size-m .message-block .wpp-icon {
  margin-top: 1px;
}
.inline-message-wrapper.size-l {
  padding: var(--im-l-padding);
  min-width: var(--im-l-min-width);
  box-sizing: border-box;
}
.inline-message-wrapper.size-l .container {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
  width: 100%;
}
.inline-message-wrapper.size-l .container-content {
  display: flex;
  width: 100%;
  gap: var(--im-l-icon-gap);
  padding: 4px 0;
}
.inline-message-wrapper.size-l .container-content .wpp-icon {
  margin-top: 2px;
}
.inline-message-wrapper.size-l .container .title {
  display: flex;
  align-items: center;
}
.inline-message-wrapper.size-l .container-actions {
  display: flex;
  align-self: flex-start;
}
.inline-message-wrapper.size-l .container-actions .action-btn {
  width: max-content;
  --wpp-action-button-padding: var(--im-l-action-btn-padding);
  margin-right: var(--im-l-action-btn-margin-right);
}
.inline-message-wrapper.size-l .container-actions .close-btn {
  --wpp-action-button-padding: 6px;
}
.inline-message-wrapper.size-l .container-body .tooltip:hover {
  cursor: pointer;
}
.inline-message-wrapper.size-l .content-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--im-l-header-gap);
  width: 100%;
}
.inline-message-wrapper.size-l .container-body {
  width: 100%;
}
.inline-message-wrapper.size-l .container-content.no-title .content-wrapper {
  gap: 1px;
}
.inline-message-wrapper .message-block {
  display: flex;
  align-items: flex-start;
  gap: var(--im-m-icon-gap);
  border-radius: var(--im-border-radius);
  outline: none;
}
.inline-message-wrapper .message-block.tab-focus {
  border-radius: "";
  outline: none;
  box-shadow: 0 0 0 1px var(--wpp-grey-color-000), 0 0 0 3px var(--wpp-brand-color);
}
.inline-message-wrapper .message-block.tab-focus {
  border-radius: "";
  outline: none;
  box-shadow: 0 0 0 1px var(--wpp-grey-color-000), 0 0 0 3px var(--wpp-brand-color);
}
.inline-message-wrapper .message-block.tooltip-maxlength-auto {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  width: 100%;
  gap: var(--im-m-icon-gap);
}
.inline-message-wrapper .message-block.tooltip-maxlength-auto .message {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.inline-message-wrapper .message-block.truncated {
  cursor: pointer;
}
.inline-message-wrapper .message-block .message {
  width: 100%;
  word-break: break-word;
}
.inline-message-wrapper .message {
  border-radius: var(--im-border-radius);
  outline: none;
}
.inline-message-wrapper .message.tab-focus {
  border-radius: "";
  outline: none;
  box-shadow: 0 0 0 1px var(--wpp-grey-color-000), 0 0 0 3px var(--wpp-brand-color);
}

:host(.wpp-information.wpp-size-l),
:host(.wpp-information.wpp-size-m) {
  background-color: white;
  border-radius: var(--im-border-radius);
}