.stack {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.container {
  display: flex;
  flex-direction: row;
}

.items {
  display: flex;
}

.item {
  margin-bottom: 5px;
}

.group {
  margin-top: 40px;
}

.groups {
  height: 600px;
}
