<div class="container">
  <div class="sections">
    <div class="section">
      <wpp-typography class="title" type="xl-heading">Size M</wpp-typography>

      <wpp-time-picker
        [value]="value"
        [labelConfig]="{ text: 'Label' }"
        required
        [minutesInterval]="minutesInterval"
        (wppChange)="handleWppChange($event)"
        (wppClear)="handleWppClear($event)"
      >
      </wpp-time-picker>

      <wpp-time-picker class="item" disabled [labelConfig]="{ text: 'Label' }" required></wpp-time-picker>

      <wpp-time-picker class="item" message="Normal message" [labelConfig]="{ text: 'Label' }" required>
      </wpp-time-picker>

      <wpp-time-picker
        class="item"
        message="Error message"
        [messageType]="'error'"
        [minutesInterval]="minutesInterval"
        [labelConfig]="{ text: 'Label' }"
        required
      >
      </wpp-time-picker>

      <wpp-time-picker
        class="item"
        message="Warning message"
        [messageType]="'warning'"
        [labelConfig]="{ text: 'Label' }"
        required
      >
      </wpp-time-picker>
    </div>

    <div class="section">
      <wpp-typography class="title" type="xl-heading">Size S</wpp-typography>

      <wpp-time-picker
        [value]="value"
        [labelConfig]="{ text: 'Label' }"
        required
        class="item"
        size="s"
        [minutesInterval]="minutesInterval"
        (wppChange)="handleWppChange($event)"
        (wppClear)="handleWppClear($event)"
      >
      </wpp-time-picker>

      <wpp-time-picker size="s" class="item" disabled [labelConfig]="{ text: 'Label' }" required></wpp-time-picker>

      <wpp-time-picker size="s" class="item" message="Normal message" [labelConfig]="{ text: 'Label' }" required>
      </wpp-time-picker>

      <wpp-time-picker
        size="s"
        class="item"
        message="Error message"
        [messageType]="'error'"
        [labelConfig]="{ text: 'Label' }"
        required
      >
      </wpp-time-picker>

      <wpp-time-picker
        size="s"
        class="item"
        message="Warning message"
        [messageType]="'warning'"
        [labelConfig]="{ text: 'Label' }"
        required
      >
      </wpp-time-picker>
    </div>
  </div>

  <div class="actions">
    <div class="actionsSection">
      <wpp-button class="item" (click)="setValue('07:30')">Set value to: 07:30</wpp-button>
      <wpp-button class="item" (click)="setValue('07:45')">Set value to: 07:45</wpp-button>
      <wpp-button class="item" (click)="setValue('07:25')">Set value to: 07:25</wpp-button>
    </div>
    <div class="actionsSection">
      <wpp-button class="item" (click)="setMinutesInterval(1)">Set minutesInterval to: 1</wpp-button>
      <wpp-button class="item" (click)="setMinutesInterval(5)">Set minutesInterval to: 5</wpp-button>
      <wpp-button class="item" (click)="setMinutesInterval(10)">Set minutesInterval to: 10</wpp-button>
      <wpp-button class="item" (click)="setMinutesInterval(15)">Set minutesInterval to: 15</wpp-button>
    </div>
  </div>
</div>
