:host {
  display: inline-flex;

  .anchor {
    width: fit-content;
    display: inline-flex;
  }

  .wpp-popover-content {
    &.wpp-hidden {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
  }

  slot {
    display: block;
  }
}
