<div>
  <header>
    <nav>
      <a routerLink="/vc/accordions" routerLinkActive="active">Accordions</a>
      <a routerLink="/vc/autocomplete" routerLinkActive="active">Autocomplete</a>
      <a routerLink="/vc/avatars" routerLinkActive="active">Avatars</a>
      <a routerLink="/vc/breadcrumbs" routerLinkActive="active">Breadcrumbs</a>
      <a routerLink="/vc/buttons" routerLinkActive="active">Buttons</a>
      <a routerLink="/vc/cards" routerLinkActive="active">Cards</a>
      <a routerLink="/vc/card-group" routerLinkActive="active">Card Group</a>
      <a routerLink="/vc/checkboxes" routerLinkActive="active">Checkboxes</a>
      <a routerLink="/vc/combined-inputs" routerLinkActive="active">Combined Inputs</a>
      <a routerLink="/vc/counters" routerLinkActive="active">Counters</a>
      <a routerLink="/vc/countries" routerLinkActive="active">Countries</a>
      <a routerLink="/vc/datepicker" routerLinkActive="active">Datepicker</a>
      <a routerLink="/vc/divider" routerLinkActive="active">Divider</a>
      <a routerLink="/vc/expandable-card" routerLinkActive="active">Expandable Card</a>
      <a routerLink="/vc/file-upload" routerLinkActive="active">File Upload</a>
      <a routerLink="/vc/grid-css" routerLinkActive="active">Grids</a>
      <a routerLink="/vc/icons" routerLinkActive="active">Icons</a>
      <a routerLink="/vc/images" routerLinkActive="active">Images</a>
      <a routerLink="/vc/inline-edit" routerLinkActive="active">Inline Edit</a>
      <a routerLink="/vc/inline-messages" routerLinkActive="active">Inline Messages</a>
      <a routerLink="/vc/inputs" routerLinkActive="active">Inputs</a>
      <a routerLink="/vc/labels" routerLinkActive="active">Labels</a>
      <a routerLink="/vc/list-items" routerLinkActive="active">List Items</a>
      <a routerLink="/vc/load-more" routerLinkActive="active">Load More</a>
      <a routerLink="/vc/menu-context" routerLinkActive="active">Menu Context</a>
      <a routerLink="/vc/modals" routerLinkActive="active">Modals</a>
      <a routerLink="/vc/nav-sidebar" routerLinkActive="active">Nav Sidebar</a>
      <a routerLink="/vc/pagination" routerLinkActive="active">Paginations</a>
      <a routerLink="/vc/pills" routerLinkActive="active">Pills</a>
      <a routerLink="/vc/popovers" routerLinkActive="active">Popovers</a>
      <a routerLink="/vc/progress-indicators" routerLinkActive="active">Progress Indicators</a>
      <a routerLink="/vc/radio-buttons" routerLinkActive="active">Radio Buttons</a>
      <a routerLink="/vc/search" routerLinkActive="active">Search</a>
      <a routerLink="/vc/segmented-controls" routerLinkActive="active">Segmented Controls</a>
      <a routerLink="/vc/selects" routerLinkActive="active">Selects</a>
      <a routerLink="/vc/selects-multiple" routerLinkActive="active">Selects Multiple</a>
      <a routerLink="/vc/selects-single" routerLinkActive="active">Selects Single</a>
      <a routerLink="/vc/selects-text" routerLinkActive="active">Selects Text</a>
      <a routerLink="/vc/selects-combined" routerLinkActive="active">Selects Combined</a>
      <a routerLink="/vc/sliders" routerLinkActive="active">Sliders</a>
      <a routerLink="/vc/spinner" routerLinkActive="active">Spinners</a>
      <a routerLink="/vc/skeleton" routerLinkActive="active">Skeleton</a>
      <a routerLink="/vc/stepper" routerLinkActive="active">Stepper</a>
      <a routerLink="/vc/tabs" routerLinkActive="active">Tab Control</a>
      <a routerLink="/vc/tags" routerLinkActive="active">Tags</a>
      <a routerLink="/vc/text-areas" routerLinkActive="active">Text Areas</a>
      <a routerLink="/vc/toasts" routerLinkActive="active">Message Toasts</a>
      <a routerLink="/vc/toggles" routerLinkActive="active">Toggles</a>
      <a routerLink="/vc/tooltips" routerLinkActive="active">Tooltips</a>
      <a routerLink="/vc/topbar" routerLinkActive="active">Topbar</a>
      <a routerLink="/vc/tree" routerLinkActive="active">Tree</a>
      <a routerLink="/vc/typography" routerLinkActive="active">Typography</a>
    </nav>
  </header>
</div>

<main>
  <router-outlet></router-outlet>
</main>
