@import './typography.scss';

@mixin air-datepicker {
  /**
    * @prop --wpp-datepicker-width:
    * @prop --wpp-datepicker-padding:
    * @prop --wpp-datepicker-box-shadow:
    * @prop --wpp-datepicker-current-date-color:
    * @prop --wpp-datepicker-current-date-color-active:
    * @prop --wpp-datepicker-cell-color-selected:
    * @prop --wpp-datepicker-color-active:
    * @prop --wpp-datepicker-color-hover:
    * @prop --wpp-datepicker-bg-color:
    * @prop --wpp-datepicker-cell-bg-color-hover:
    * @prop --wpp-datepicker-cell-bg-color-active:
    * @prop --wpp-datepicker-border-width:
    * @prop --wpp-datepicker-border-style:
    * @prop --wpp-datepicker-border-color:
    * @prop --wpp-datepicker-border-radius:
    * @prop --wpp-datepicker-z-index:
    * @prop --wpp-datepicker-buttons-height:
    * @prop --wpp-datepicker-title-margin:
    * @prop --wpp-datepicker-label-margin:
    * @prop --wpp-datepicker-cancel-button-color-disabled:
    * @prop --wpp-datepicker-cancel-button-color-active:
    * @prop --wpp-datepicker-month-year-margin:
    * @prop --wpp-datepicker-year-height:
    * @prop --wpp-datepicker-close-icon-color:
    * @prop --wpp-datepicker-close-icon-color-hover:
    * @prop --wpp-datepicker-close-icon-color-active:
    * @prop --wpp-datepicker-calendar-icon-color:
    * @prop --wpp-datepicker-calendar-icon-color-disabled:
    * @prop --wpp-datepicker-header-color:
    * @prop --wpp-datepicker-month-color:
    * @prop --wpp-datepicker-buttons-margin:
    * @prop --wpp-datepicker-day-in-range-border-color:
    * @prop --wpp-datepicker-day-color:
    * @prop --wpp-datepicker-year-color:
    * @prop --wpp-datepicker-title-color:
    * @prop --wpp-datepicker-active-date-color:
    * @prop --wpp-datepicker-years-range-color:
    * @prop --wpp-datepicker-day-active-color:
    * @prop --wpp-datepicker-container-width:
    * @prop --wpp-datepicker-inline-message-margin:
    * @prop --wpp-datepicker-range-bg-color:
    * @prop --wpp-datepicker-range-bg-color-hover:
    * @prop --wpp-datepicker-range-bg-color-active:
    * @prop --wpp-datepicker-range-border-color:
    * @prop --wpp-datepicker-input-border-radius:
    * @prop --wpp-datepicker-input-height-m:
    * @prop --wpp-datepicker-input-height-s:
    * @prop --wpp-datepicker-input-border-color:
    * @prop --wpp-datepicker-input-bg-color-hover:
    * @prop --wpp-datepicker-input-bg-color-disabled:
    * @prop --wpp-datepicker-input-text-color-disabled:
    * @prop --wpp-datepicker-input-border-color-hover:
    * @prop --wpp-datepicker-input-border-color-active:
    * @prop --wpp-datepicker-input-border-color-disabled:
    * @prop --wpp-datepicker-input-first-border-color-focus:
    * @prop --wpp-datepicker-input-second-border-color-focus:
    * @prop --wpp-datepicker-input-padding:
    * @prop --wpp-datepicker-input-padding-m:
    * @prop --wpp-datepicker-input-padding-s:
  */

  --datepicker-button-padding: var(--wpp-datepicker-button-padding, 1px 6px);
  --datepicker-min-width: var(--wpp-datepicker-min-width, 240px);
  --datepicker-padding: var(--wpp-datepicker-padding, 8px);
  --datepicker-box-shadow: var(--wpp-datepicker-box-shadow, var(--wpp-box-shadow-xs));
  --datepicker-current-date-color: var(--wpp-datepicker-current-date-color, var(--wpp-brand-color));
  --datepicker-current-date-color-active: var(--wpp-datepicker-current-date-color-active, var(--wpp-grey-color-000));
  --datepicker-cell-color-selected: var(--wpp-datepicker-cell-color-selected, var(--wpp-brand-color));
  --datepicker-color-active: var(--wpp-datepicker-color-active, var(--wpp-brand-color-active));
  --datepicker-color-hover: var(--wpp-datepicker-color-hover, var(--wpp-brand-color-hover));
  --datepicker-bg-color: var(--wpp-datepicker-bg-color, var(--wpp-grey-color-000));
  --datepicker-cell-bg-color-hover: var(--wpp-datepicker-cell-bg-color-hover, var(--wpp-grey-color-200));
  --datepicker-cell-bg-color-active: var(--wpp-datepicker-cell-bg-color-active, var(--wpp-grey-color-300));
  --datepicker-border-width: var(--wpp-datepicker-border-width, 1px);
  --datepicker-border-style: var(--wpp-datepicker-border-style, solid);
  --datepicker-border-color: var(--wpp-datepicker-border-color, transparent);
  --datepicker-border-radius: var(--wpp-datepicker-border-radius, var(--wpp-border-radius-m));
  --datepicker-z-index: var(--wpp-datepicker-z-index, 1000);
  --datepicker-buttons-height: var(--wpp-datepicker-buttons-height, 48px);
  --datepicker-title-margin: var(--wpp-datepicker-title-margin, 0 0 0 4px);
  --datepicker-label-margin: var(--wpp-datepicker-label-margin, 0 0 8px 0);
  --datepicker-cancel-button-color-disabled: var(
    --wpp-datepicker-cancel-button-color-disabled,
    var(--wpp-grey-color-500)
  );
  --datepicker-cancel-button-color-active: var(--wpp-datepicker-cancel-button-color-active, var(--wpp-grey-color-900));
  --datepicker-month-year-margin: var(--wpp-datepicker-month-year-margin, 2px);
  --datepicker-year-height: var(--wpp-datepicker-year-height, 32px);
  --datepicker-close-icon-color: var(--wpp-datepicker-close-icon-color, var(--wpp-icon-color));
  --datepicker-close-icon-color-hover: var(--wpp-datepicker-close-icon-color-hover, var(--wpp-icon-color-hover));
  --datepicker-close-icon-color-active: var(--wpp-datepicker-close-icon-color-active, var(--wpp-icon-color-active));
  --datepicker-close-icon-color-disabled: var(
    --wpp-datepicker-close-icon-color-disabled,
    var(--wpp-icon-color-disabled)
  );
  --datepicker-calendar-icon-color: var(--wpp-datepicker-calendar-icon-color, var(--wpp-icon-color));
  --datepicker-calendar-icon-color-disabled: var(
    --wpp-datepicker-calendar-icon-color-disabled,
    var(--wpp-icon-color-disabled)
  );
  --datepicker-header-color: var(--wpp-datepicker-header-color, var(--wpp-grey-color-900));
  --datepicker-month-color: var(--wpp-datepicker-month-color, var(--wpp-grey-color-1000));
  --datepicker-buttons-margin: var(--wpp-datepicker-buttons-margin, 0 0 0 4px);
  --datepicker-day-in-range-border-color: var(--wpp-datepicker-day-in-range-border-color, var(--wpp-grey-color-300));
  --datepicker-day-color: var(--wpp-datepicker-day-color, var(--wpp-grey-color-800));
  --datepicker-day-in-range-color: var(--wpp-datepicker-day-in-range-color, var(--wpp-grey-color-1000));
  --datepicker-year-color: var(--wpp-datepicker-year-color, var(--wpp-grey-color-1000));
  --datepicker-title-color: var(--wpp-datepicker-title-color, var(--wpp-grey-color-900));
  --datepicker-active-date-color: var(--wpp-datepicker-active-date-color, var(--wpp-grey-color-000));
  --datepicker-years-range-color: var(--wpp-datepicker-years-range-color, var(--wpp-grey-color-1000));
  --datepicker-day-active-color: var(--wpp-datepicker-day-active-color, var(--wpp-grey-color-1000));
  --datepicker-single-container-width: var(--wpp-datepicker-container-width, 160px);
  --datepicker-range-container-width: var(--wpp-datepicker-container-width, 250px);
  --datepicker-inline-message-margin: var(--wpp-datepicker-inline-message-margin, 4px 0 0 0);
  --datepicker-range-bg-color: var(--wpp-datepicker-range-bg-color, var(--wpp-grey-color-200));
  --datepicker-range-bg-color-hover: var(--wpp-datepicker-range-bg-color-hover, var(--wpp-grey-color-100));
  --datepicker-range-bg-color-active: var(--wpp-datepicker-range-bg-color-active, var(--wpp-grey-color-300));
  --datepicker-range-border-color: var(--wpp-datepicker-range-border-color, none);
  --datepicker-input-border-radius: var(--wpp-datepicker-input-border-radius, var(--wpp-border-radius-m));
  --datepicker-input-height-m: var(--wpp-datepicker-input-m, 40px);
  --datepicker-input-height-s: var(--wpp-datepicker-input-s, 32px);
  --datepicker-input-border-color: var(--wpp-datepicker-input-border-color, var(--wpp-grey-color-600));
  --datepicker-input-bg-color-hover: var(--wpp-datepicker-input-bg-color-hover, var(--wpp-grey-color-200));
  --datepicker-input-bg-color-disabled: var(--wpp-datepicker-input-bg-color-disabled, var(--wpp-grey-color-100));
  --datepicker-input-text-color-disabled: var(
    --wpp-datepicker-input-text-color-disabled,
    var(--wpp-text-color-disabled)
  );
  --datepicker-input-border-color-hover: var(--wpp-datepicker-input-border-color-hover, var(--wpp-grey-color-700));
  --datepicker-input-border-color-active: var(--wpp-datepicker-input-border-color-active, var(--wpp-grey-color-800));
  --datepicker-input-border-color-disabled: var(
    --wpp-datepicker-input-border-color-disabled,
    var(--wpp-grey-color-400)
  );
  --datepicker-input-first-border-color-focus: var(
    --wpp-datepicker-input-first-border-color-focus,
    var(--wpp-grey-color-000)
  );
  --datepicker-input-second-border-color-focus: var(
    --wpp-datepicker-input-second-border-color-focus,
    var(--wpp-brand-color)
  );
  --datepicker-input-padding-m: var(--wpp-datepicker-input-padding-m, 10px 30px 10px 38px);
  --datepicker-input-padding-s: var(--wpp-datepicker-input-padding-s, 5px 30px 5px 38px);

  .label {
    margin: var(--datepicker-label-margin);
  }

  .air-datepicker {
    --adp-color-current-date: var(--datepicker-current-date-color);
    --adp-cell-background-color-selected: var(--datepicker-cell-color-selected);
    --adp-cell-background-color-selected-hover: var(--datepicker-color-hover);
    --adp-background-color: var(--datepicker-bg-color);
    --adp-background-color-hover: var(--datepicker-cell-bg-color-hover);
    --adp-border-color-inline: var(--datepicker-border-color);
    --adp-background-color-selected-other-month: var(--datepicker-current-date-color);
    --adp-background-color-selected-other-month-focused: var(--datepicker-color-hover);
    --adp-cell-background-color-in-range: var(--datepicker-range-bg-color);
    --adp-cell-background-color-in-range-hover: var(--datepicker-range-bg-color-hover);
    --adp-cell-border-color-in-range: var(--datepicker-range-border-color);
    --adp-z-index: var(--datepicker-z-index);
    --adp-background-color-in-range: var(--datepicker-range-bg-color);
    --adp-padding: var(--datepicker-padding) 0;
    --adp-color: var(--datepicker-day-color);
    --adp-color-other-month: var(--datepicker-cancel-button-color-disabled);

    padding: 0 8px;
    border: 0;
    border-radius: var(--datepicker-border-radius);
    box-shadow: var(--wpp-box-shadow-m);

    &.-inline- {
      box-shadow: var(--wpp-box-shadow-m);
    }

    .air-datepicker-cell {
      &.-disabled- {
        cursor: not-allowed;

        &.-month-,
        &.-year-,
        &.-day- {
          color: var(--datepicker-input-text-color-disabled);
        }

        &.-focus- {
          background-color: initial;

          &:hover {
            background-color: initial;
          }
        }
      }

      &.-other-decade-.-year-.-focus- {
        &:hover {
          background-color: var(--adp-cell-background-color-in-range-hover);
        }
      }

      &.-year-.-other-decade-.-selected- {
        color: var(--datepicker-current-date-color-active);
        background-color: var(--datepicker-cell-color-selected);

        &.-focus- {
          background-color: var(--adp-cell-background-color-selected-hover);
        }

        &:active {
          background-color: var(--datepicker-color-active);
        }
      }
    }
  }

  .air-datepicker--pointer {
    display: none;
  }

  .air-datepicker-body {
    &.-days- {
      margin-top: -4px;
    }
  }

  .air-datepicker-cell {
    &.-day- {
      @include typographySBody;

      margin-top: 4px;
      color: var(--datepicker-day-color);

      &:active {
        color: var(--datepicker-day-active-color);
        background-color: var(--datepicker-cell-bg-color-active);
      }

      &.-disabled- {
        color: var(--datepicker-cancel-button-color-disabled);
      }

      &.-in-range- {
        color: var(--datepicker-day-in-range-color);
        border-top: 1px solid var(--datepicker-day-in-range-border-color);
        border-bottom: 1px solid var(--datepicker-day-in-range-border-color);

        &:active {
          background-color: var(--datepicker-range-bg-color-active);
        }
      }
    }

    &.-other-month- {
      --other-month-color-in-range: var(--wpp-other-month-color-in-range, var(--datepicker-range-bg-color));

      color: var(--wpp-grey-color-500);

      &.-in-range- {
        background-color: var(--other-month-color-in-range);

        &.-focus- {
          background-color: var(--datepicker-range-bg-color-hover);
        }
      }

      &.-focus- {
        color: var(--datepicker-day-color);
      }
    }

    &:active {
      background-color: var(--datepicker-cell-bg-color-active);
    }

    &.-selected- {
      color: var(--datepicker-current-date-color-active);

      &:active {
        color: var(--datepicker-current-date-color-active);
        background-color: var(--datepicker-color-active);
      }
    }

    &.-month- {
      @include typographySBody;

      margin: var(--datepicker-month-year-margin);
      color: var(--datepicker-month-color);

      &.-selected- {
        color: var(--datepicker-current-date-color-active);

        &:active {
          background-color: var(--datepicker-color-active);
        }
      }
    }

    &.-year- {
      @include typographySBody;

      height: var(--datepicker-year-height);
      margin: var(--datepicker-month-year-margin);
      color: var(--datepicker-year-color);

      &.-selected- {
        color: var(--datepicker-current-date-color-active);

        &:active {
          background-color: var(--datepicker-color-active);
        }
      }
    }

    &.-current- {
      @include typographySStrong;

      color: var(--datepicker-current-date-color);

      &.-focus- {
        color: var(--datepicker-color-hover);
      }

      &:active {
        color: var(--datepicker-color-active);
      }

      &.-selected- {
        color: var(--datepicker-current-date-color-active);

        &:active {
          color: var(--datepicker-current-date-color-active);
          background-color: var(--datepicker-color-active);
        }
      }
    }
  }

  .air-datepicker-body--day-name {
    @include typographyXSStrong;

    color: var(--datepicker-month-color);
  }

  .air-datepicker-nav--title {
    @include typographySStrong;

    color: var(--datepicker-title-color);

    .datepicker-header {
      @include typographySStrong;

      margin: 0;
      color: var(--datepicker-header-color);
    }

    .header-year {
      margin: var(--datepicker-title-margin);
    }
  }

  .air-datepicker--buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    height: var(--datepicker-buttons-height);
    border-top: none;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      border-top: 1px solid var(--wpp-grey-color-300);
      content: '';
    }
  }

  .air-datepicker-buttons {
    display: flex;
    align-items: center;

    .air-datepicker-button {
      @include typographySStrong;
    }

    .button-apply {
      margin: var(--datepicker-buttons-margin) !important;
      padding: var(--datepicker-button-padding) !important;
      color: var(--wpp-brand-color);

      &.disabled {
        color: var(--datepicker-cancel-button-color-disabled);
        pointer-events: none;
      }

      &:hover {
        color: var(--wpp-brand-color-hover);
      }

      &:active {
        color: var(--wpp-brand-color-active);
      }
    }

    .button-clear {
      padding: var(--datepicker-button-padding) !important;
      color: var(--datepicker-cancel-button-color-active);

      &.disabled {
        color: var(--datepicker-cancel-button-color-disabled);
        pointer-events: none;
      }
    }
  }

  .air-datepicker-nav--action {
    &:hover {
      background-color: transparent;
    }
  }

  .nav-icon {
    color: var(--datepicker-close-icon-color);

    &:hover {
      color: var(--datepicker-close-icon-color-hover);
    }

    &:active {
      color: var(--datepicker-close-icon-color-active);
    }
  }

  .prev-icon {
    transform: rotate(180deg);
  }

  .air-datepicker-body--cells.-years- {
    align-items: center;
  }

  .years {
    margin: 0;
    color: var(--datepicker-years-range-color);

    @include typographySBody;
  }

  .inline-message {
    margin: var(--datepicker-inline-message-margin);
  }

  &.range-selected.with-presets {
    .air-datepicker {
      .air-datepicker--buttons {
        &::before {
          left: -8px;
        }
      }
    }
  }
}
