@mixin inputWithMessage($inputBorderWidth, $inputBorderStyle) {
  &.warning {
    &,
    &:hover {
      border: $inputBorderWidth $inputBorderStyle var(--wpp-warning-color-400);
    }
  }

  &.error {
    &,
    &:hover {
      border: $inputBorderWidth $inputBorderStyle var(--wpp-danger-color-400);
    }
  }
}

@mixin characterLimit($warningColor, $errorColor, $labelColor, $labelWeight) {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 32px;

  &.warning {
    .wpp-typography {
      color: $warningColor;

      &:first-child {
        &::part(typography) {
          color: $warningColor;
        }
      }
    }
  }

  &.error {
    .wpp-typography {
      color: $errorColor;

      &:first-child {
        &::part(typography) {
          color: $errorColor;
        }
      }
    }
  }

  .wpp-typography:first-child {
    --wpp-typography-color: $labelColor;

    white-space: nowrap;

    &::part(typography) {
      color: $labelColor;
      font-weight: $labelWeight;
    }
  }

  .entered-characters {
    margin-left: 2px;
    white-space: nowrap;
  }
}
