@import '../../global/typography.scss';

:host {
  --select-min-width: var(--wpp-select-min-width, 120px);

  display: flex;
  flex-direction: column;
  min-width: var(--select-min-width);

  .wpp-label {
    display: inline-flex;
    margin-bottom: 8px;

    &.disabled {
      .internal-label-wrapper {
        &:hover {
          cursor: not-allowed;
        }
      }
    }
  }

  > .wpp-tooltip {
    width: 100%;

    &::part(anchor) {
      width: 100%;
    }
  }

  .anchor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: var(--wpp-border-radius-m);
    border: 1px solid var(--wpp-grey-color-500);
    position: relative;
    box-sizing: border-box;
    outline: none;

    @include tabFocus(var(--wpp-grey-color-000), var(--wpp-brand-color));

    .icon-start {
      height: 20px;
      margin-right: 9px;
    }

    &.size-s {
      padding: 4px 10px 4px 10px;

      .overflow-container {
        left: 5px;
      }
    }

    &.size-m {
      padding: 8px 10px 8px 10px;

      p .overflow-container {
        left: 9px;
      }
    }

    .slot-hidden {
      display: none;
    }

    .input {
      position: absolute;
      pointer-events: none;
      outline: none;
      padding: 0;
      border: none;
      left: 0;
      bottom: 0;
      opacity: 0;
      color: var(--grey-color-1000);

      @include typographySBody;

      &:hover {
        cursor: pointer;
      }

      &::placeholder {
        @include typographySBody;
      }
    }

    .wpp-icon-chevron {
      transition: transform 0.2s;
      transform: rotateZ(0deg);
      margin-left: 4px;

      &.isOpen {
        transform: rotateZ(180deg);
      }
    }

    .overflow-container {
      display: flex;
      width: 100%;
      min-width: 32px;
      align-items: center;
      color: var(--grey-color-1000);
      height: var(--wpp-typography-s-body-line-height, 22px);
      padding: 0 2px;

      p {
        width: 100%;
        margin: 0;

        @include truncate;
        @include typographySBody;
      }

      .wpp-tooltip {
        width: 100%;

        &::part(anchor) {
          width: 100%;
        }
      }
    }

    &.opened {
      border-color: var(--wpp-grey-color-800);
    }

    &:hover {
      cursor: pointer;
      background-color: var(--wpp-grey-color-200);
      border-color: var(--wpp-grey-color-700);

      --wpp-icon-color: var(--wpp-grey-color-800);

      .input {
        background-color: var(--wpp-grey-color-200);
      }

      .overflow-container {
        background-color: var(--wpp-grey-color-200);
      }
    }

    &:active {
      background-color: var(--wpp-grey-color-300);
      border-color: var(--wpp-grey-color-800);

      --wpp-icon-color: var(--wpp-grey-color-900);

      .input {
        background-color: var(--wpp-grey-color-300);
      }

      .overflow-container {
        background-color: var(--wpp-grey-color-300);
      }
    }

    &.with-errors {
      border-color: var(--wpp-danger-color-400);
    }

    &.with-warnings {
      border-color: var(--wpp-warning-color-400);
    }

    &.disabled {
      background-color: var(--wpp-grey-color-100);
      border-color: var(--wpp-grey-color-400);

      --wpp-text-color: var(--wpp-grey-color-500);

      &:hover {
        cursor: not-allowed;
      }

      --wpp-icon-color: var(--wpp-grey-color-400);

      .input {
        background-color: var(--wpp-grey-color-100);
        color: var(--wpp-grey-color-500);

        &:hover {
          cursor: not-allowed;
        }

        &::placeholder {
          color: var(--wpp-grey-color-500);
        }
      }

      .overflow-container {
        background-color: var(--wpp-grey-color-100);

        p {
          color: var(--wpp-grey-color-500);
        }
      }
    }

    &.anchor-button {
      padding: 0;
      border: none;
      background: none;
      width: fit-content;
    }
  }

  .wpp-select-portal {
    box-shadow: var(--wpp-box-shadow-m);
    border-radius: var(--wpp-border-radius-s);
    display: none;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    max-height: 372px;
    background-color: var(--wpp-white-color);

    .wpp-input {
      --text-input-height-m: var(--wpp-input-select-search-input-height, 40px);
      --wpp-border-radius-m: 0;
      --text-input-border-width: 0;
      --text-input-bg-color: var(--wpp-input-select-search-bg-color, var(--wpp-grey-color-000));
      --text-input-second-border-color-focus: transparent;
      --text-input-first-border-color-focus: transparent;

      width: 100%;
    }

    .nothing-found {
      --wpp-typography-color: var(--wpp-grey-color-700);

      padding: 5px 8px;
    }

    .wpp-divider {
      width: 100%;
    }

    .list {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 4px;
      padding: 8px;
      box-sizing: border-box;
      overflow-y: auto;

      @include scrollbarThin;

      .wpp-list-item {
        --wpp-list-item-width: 100%;

        width: 100%;

        p {
          margin: 0;
        }
      }

      .loading-container {
        display: flex;
        align-items: center;
        height: 32px;
        gap: 4px;
      }
    }

    .multiple-select-folder {
      width: 100%;

      &-buttons {
        padding: 8px;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .wpp-inline-message {
    display: inline-flex;
    margin-top: 4px;
  }

  .default-message {
    &::part(message-icon) {
      display: none;
    }
  }
}

:host(.wpp-text-select) {
  width: auto;

  --wpp-select-min-width: auto;

  .anchor {
    border-radius: var(--wpp-border-radius-s);
    justify-content: flex-start;
    padding: 1px 6px 1px 8px;
    border: none;
    width: fit-content;
  }

  .truncated-text {
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;

    .tooltip {
      max-width: 100%;

      &::part(anchor) {
        max-width: 100%;
      }
    }

    .wpp-typography {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .should-truncate {
    .wpp-typography {
      overflow: hidden;
    }
  }
}

:host(.wpp-combined-select) {
  --combined-select-width: var(--wpp-combined-select-width, 260px);
  --wpp-select-min-width: 80px;

  width: var(--combined-select-width);
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  .wpp-label {
    margin-bottom: 8px;
  }

  .inputs-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .anchor {
      width: auto;
      max-width: 110px;
      min-width: var(--select-min-width);
      border: 1px solid var(--wpp-grey-color-500);
      border-radius: var(--wpp-border-radius-m) 0 0 var(--wpp-border-radius-m);

      &.size-s {
        padding: 4px 10px 4px 12px;
      }
    }

    .wpp-input {
      border: 1px solid var(--wpp-grey-color-500);
      border-radius: 0 var(--wpp-border-radius-m) var(--wpp-border-radius-m) 0;
      border-left: none;

      --wpp-input-height-m: 38px;
      --wpp-input-height-s: 30px;

      &::part(input) {
        border: none;
      }
    }

    &:hover {
      background-color: var(--wpp-grey-color-200);

      .overflow-container {
        background-color: var(--wpp-grey-color-200);
      }

      .anchor,
      .wpp-input {
        background-color: var(--wpp-grey-color-200);
        border: 1px solid var(--wpp-grey-color-700);
      }

      .wpp-input {
        border-left: none;
      }
    }

    &.is-active {
      background-color: transparent;

      .anchor,
      .wpp-input {
        border: 1px solid var(--wpp-grey-color-800);
      }

      .wpp-input {
        border-left: none;

        &::part(input) {
          &:hover {
            background-color: transparent;
          }
        }
      }

      &:hover {
        .overflow-container {
          background-color: transparent;
        }

        .anchor,
        .wpp-input {
          background-color: transparent;
        }
      }
    }

    &.disabled {
      background-color: var(--wpp-grey-color-100);
      color: var(--wpp-grey-color-500);

      .anchor,
      .wpp-input {
        border-color: var(--wpp-grey-color-400);
      }

      &:hover {
        .anchor,
        .wpp-input {
          background-color: var(--wpp-grey-color-100);
          border: 1px solid var(--wpp-grey-color-400);
        }

        .wpp-input {
          border-left: none;
        }

        .overflow-container {
          background-color: var(--wpp-grey-color-100);
        }
      }
    }

    &.with-errors {
      .anchor,
      .wpp-input {
        border-color: var(--wpp-danger-color-400);
      }
    }

    &.with-warnings {
      .anchor,
      .wpp-input {
        border-color: var(--wpp-warning-color-400);
      }
    }
  }
}
