/**
 * @prop --wpp-search-border-radius:
 * @prop --wpp-search-placeholder-color:
 * @prop --wpp-search-placeholder-color-disabled:
 * @prop --wpp-search-hidden-count-text-color-disabled:
 * @prop --wpp-search-trigger-actions-right-position:
 * @prop --wpp-search-inline-message-margin:
 * @prop --wpp-search-label-margin:
 * @prop --wpp-search-limit-lines:
 * @prop --wpp-search-line-height:
 * @prop --wpp-search-box-shadow:
 * @prop --wpp-search-first-border-color-focus:
 * @prop --wpp-search-second-border-color-focus:
 * @prop --wpp-search-height-m:
 * @prop --wpp-search-height-s:
 * @prop --wpp-search-padding-s:
 * @prop --wpp-search-padding-m:
 * @prop --wpp-search-bg-color:
 * @prop --wpp-search-bg-color-hover:
 * @prop --wpp-search-bg-color-active:
 * @prop --wpp-search-bg-color-focused:
 * @prop --wpp-search-bg-color-disabled:
 * @prop --wpp-search-trigger-actions-right-position:
 * @prop --wpp-search-trigger-icon-color-hover:
 * @prop --wpp-search-trigger-icon-color-active:
 * @prop --wpp-search-trigger-icon-color-disabled:
 * @prop --wpp-search-border-color:
 * @prop --wpp-search-border-color-hover:
 * @prop --wpp-search-border-color-active:
 * @prop --wpp-search-border-color-focused:
 * @prop --wpp-search-border-color-disabled:
 * @prop --wpp-search-border-width:
 * @prop --wpp-search-border-style:
 * @prop --wpp-search-single-border-color-disabled:
 * @prop --wpp-search-dropdown-max-height:
 * @prop --wpp-search-dropdown-checkbox-margin:
 * @prop --wpp-search-dropdown-bg-color:
 * @prop --wpp-search-dropdown-border-radius:
 * @prop --wpp-search-create-new-element-color:
 * @prop --wpp-search-nothing-found-message-color:
 * @prop --wpp-search-search-icon-margin-right:
 * @prop --wpp-search-search-icon-margin-right:
 * @prop --wpp-search-item-margin-bottom:
*/

:host {
  --search-border-radius: var(--wpp-search-border-radius, var(--wpp-border-radius-m));
  --search-placeholder-color: var(--wpp-search-placeholder-color, var(--wpp-grey-color-700));
  --search-placeholder-color-disabled: var(--wpp-search-placeholder-color-disabled, var(--wpp-text-color-disabled));
  --search-hidden-count-text-color-disabled: var(
    --wpp-search-hidden-count-text-color-disabled,
    var(--wpp-text-color-disabled)
  );
  --search-trigger-icon-right-position: var(--wpp-search-trigger-actions-right-position, 10px);
  --search-inline-message-margin: var(--wpp-search-inline-message-margin, 4px 0 0 0);
  --search-label-margin: var(--wpp-search-label-margin, 0 0 8px 0);
  --search-limit-lines: var(--wpp-search-limit-lines, 10000); // Virtually unlimited number of lines by default
  --search-line-height: var(--wpp-search-line-height, 34px); // Chip / input height + margins
  --search-box-shadow: var(--wpp-search-box-shadow, var(--wpp-box-shadow-m));
  --search-first-border-color-focus: var(--wpp-search-first-border-color-focus, var(--wpp-grey-color-000));
  --search-second-border-color-focus: var(--wpp-search-second-border-color-focus, var(--wpp-brand-color));

  --search-height-m: var(--wpp-search-height-m, 40px);
  --search-height-s: var(--wpp-search-height-s, 32px);
  --search-padding-s: var(--wpp-search-padding-s, 5px 0 5px 12px);
  --search-padding-m: var(--wpp-search-padding-m, 9px 0 9px 12px);

  --search-bg-color: var(--wpp-search-bg-color, transparent);
  --search-bg-color-hover: var(--wpp-search-bg-color-hover, var(--wpp-grey-color-200));
  --search-bg-color-active: var(--wpp-search-bg-color-active, transparent);
  --search-bg-color-focused: var(--wpp-search-bg-color-focused, var(--wpp-grey-color-000));
  --search-bg-color-disabled: var(--wpp-search-bg-color-disabled, var(--wpp-grey-color-100));

  --search-trigger-icon-color: var(--wpp-search-trigger-actions-right-position, var(--wpp-grey-color-800));
  --search-trigger-icon-color-hover: var(--wpp-search-trigger-icon-color-hover, var(--wpp-grey-color-800));
  --search-trigger-icon-color-active: var(--wpp-search-trigger-icon-color-active, var(--wpp-grey-color-800));
  --search-trigger-icon-color-disabled: var(--wpp-search-trigger-icon-color-disabled, var(--wpp-icon-color-disabled));

  --search-border-color: var(--wpp-search-border-color, var(--wpp-grey-color-500));
  --search-border-color-hover: var(--wpp-search-border-color-hover, var(--wpp-grey-color-700));
  --search-border-color-active: var(--wpp-search-border-color-active, var(--wpp-grey-color-800));
  --search-border-color-focused: var(--wpp-search-border-color-focused, var(--wpp-grey-color-800));
  --search-border-color-disabled: var(--wpp-search-border-color-disabled, var(--wpp-grey-color-400));
  --search-border-width: var(--wpp-search-border-width, var(--wpp-border-width-s));
  --search-border-style: var(--wpp-search-border-style, solid);

  --search-single-border-color-disabled: var(--wpp-search-single-border-color-disabled, var(--wpp-grey-color-400));

  --search-dropdown-max-height: var(--wpp-search-dropdown-max-height, 372px);
  --search-dropdown-checkbox-margin: var(--wpp-search-dropdown-checkbox-margin, 1px 8px 1px 0);
  --search-dropdown-bg-color: var(--wpp-search-dropdown-bg-color, var(--wpp-grey-color-000));
  --search-dropdown-border-radius: var(--wpp-search-dropdown-border-radius, var(--wpp-border-radius-s));
  --search-dropdown-padding: var(--wpp-search-dropdown-padding, 8px);
  --search-dropdown-header-margin: var(--wpp-search-dropdown-header-margin, 0);

  --search-create-new-element-color: var(--wpp-search-create-new-element-color, var(--wpp-primary-color-500));
  --search-nothing-found-message-color: var(--wpp-search-nothing-found-message-color, var(--wpp-grey-color-700));
  --search-search-icon-margin-right: var(--wpp-search-search-icon-margin-right, 8px);

  --search-item-margin-bottom: var(--wpp-search-item-margin-bottom, 4px);
  --search-regular-selected-values-wrapper-padding: var(
    --wpp-search-regular-selected-values-wrapper-padding,
    10px 10px 2px 10px
  );
  --search-extended-selected-values-wrapper-padding: var(
    --wpp-search-extended-selected-values-wrapper-padding,
    10px 10px 2px 10px
  );

  --search-min-width: var(--wpp-search-min-width, 184px);

  position: relative;
  display: block;
  outline: none;
  min-width: var(--search-min-width);

  ::slotted([slot='selected-values']) {
    display: flex;
    flex-wrap: wrap;
  }

  .label:not(.focused):hover {
    & + .trigger {
      background-color: var(--search-bg-color-hover);
      border-color: var(--search-border-color-hover);

      .trigger-actions .wpp-icon-chevron,
      .wpp-icon-cross {
        color: var(--search-trigger-icon-color-hover);
      }

      &.warning {
        border-color: var(--wpp-warning-color-500);
      }

      &.error {
        border-color: var(--wpp-danger-color-500);
      }
    }
  }
}

:host(.wpp-disabled) {
  cursor: not-allowed;

  .label {
    pointer-events: none;
  }
}

.infinite-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
}

.trigger-actions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--search-trigger-icon-right-position);
  display: flex;

  .wpp-icon-chevron,
  .wpp-icon-cross {
    color: var(--search-trigger-icon-color);
    cursor: pointer;
    transition: all 0.15s ease-out 0s;
  }
}

.values {
  @include scrollbarThin;

  display: flex;
  flex: 1 1 auto;
  align-items: center;
  min-width: 0;
  max-height: calc(var(--search-limit-lines) * var(--search-line-height));
  padding-right: 36px; // When changing this, also update the value in `.focused .values`
  overflow-y: auto;

  .hidden-count {
    flex: 0 1 auto;
    margin: 3px 2px;
    min-width: calc(25px + (var(--hidden-number) - 1) * 7.5px);
  }

  .hidden-count {
    @include typographySStrong;
  }

  .search-input {
    @include typographySBody;

    flex: 1 1 70px;
    min-width: 70px;
    padding: 0;
    background: var(--search-bg-color);
    border: none;
    outline: none;

    @include truncate;

    // Hide the input, but leave the possibility to focus it with tab navigation
    &.hidden {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 1px;
      min-width: 1px;
      height: 1px;
      opacity: 0;
    }

    &::-moz-placeholder {
      color: var(--search-placeholder-color);
      opacity: 1;
    }

    &::placeholder {
      color: var(--search-placeholder-color);
    }
  }

  .input-placeholder {
    @include truncate;
    width: 100%;
  }

  .wpp-chip + .search-input {
    margin-left: 6px;
  }
}

.count-block {
  display: none;
}

.with-tooltip {
  display: none;
  &.visible {
    display: flex;
    width: 100%;
    overflow: hidden;
    &::part(anchor) {
      width: 100%;
    }
  }
}

.trigger {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  border: var(--search-border-width) var(--search-border-style) var(--search-border-color);
  border-radius: var(--search-border-radius);
  cursor: text;

  &.size-s {
    height: var(--search-height-s);
    padding: var(--search-padding-s);
  }

  &.size-m {
    height: var(--search-height-m);
    padding: var(--search-padding-m);
  }

  &:hover {
    background-color: var(--search-bg-color-hover);
    border-color: var(--search-border-color-hover);

    .trigger-actions .wpp-icon-chevron,
    .wpp-icon-cross,
    .wpp-icon-search {
      color: var(--search-trigger-icon-color-hover);
    }
  }

  &:active {
    background-color: var(--search-bg-color-active);
    border-color: var(--search-border-color-active);

    .trigger-actions .wpp-icon-chevron,
    .wpp-icon-cross {
      color: var(--search-trigger-icon-color-active);
    }
  }

  &.focused {
    background-color: var(--search-bg-color-focused);
    border-color: var(--search-border-color-focused);

    // An optimized way of triggering ResizeObserver for non-Webkit browsers (Firefox)
    // without using MutationObserver. Covers cases when heights of the values container
    // in idle and focused states remains the same. In such cases there's no reliable way
    // to scroll to the input on search focus apart from using ResizeObserver or MutationObserver.
    .values {
      padding-right: 35px;
    }
  }

  // TODO: redefine warning and error color variables here and in every component
  @include inputWithMessage(var(--search-border-width), var(--search-border-style));
  @include tabFocus(var(--search-first-border-color-focus), var(--search-second-border-color-focus));

  &.disabled {
    background-color: var(--search-bg-color-disabled);
    border-color: var(--search-border-color-disabled);
    pointer-events: none;

    .values {
      .search-input {
        color: var(--wpp-grey-color-500);

        &::placeholder {
          color: var(--search-placeholder-color-disabled);
        }
      }

      .hidden-count {
        .wpp-typography {
          color: var(--search-hidden-count-text-color-disabled);
        }
      }

      .input-placeholder {
        color: var(--search-placeholder-color-disabled);
      }
    }

    .trigger-actions .wpp-icon-chevron,
    .wpp-icon-cross,
    .wpp-icon-search {
      color: var(--search-trigger-icon-color-disabled);
    }
  }

  &.disabled {
    border-color: var(--search-single-border-color-disabled);
  }

  &.error {
    border-color: var(--wpp-danger-color-400);
  }

  &.warning {
    border-color: var(--wpp-warning-color-400);
  }

  &[aria-expanded='true'] > .trigger-actions .wpp-icon-chevron {
    transform: rotate(180deg);
  }

  .wpp-icon-search {
    color: var(--wpp-grey-color-600);
    margin-right: var(--search-search-icon-margin-right);
  }

  &.with-value:not(.disabled) {
    .wpp-icon-search {
      color: var(--wpp-grey-color-800);
    }
  }
}

.wpp-inline-message::part(message-block) {
  margin: var(--search-inline-message-margin);
}

.dropdown {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-height: var(--search-dropdown-max-height);
  overflow: hidden;
  background: var(--search-dropdown-bg-color);
  border-radius: var(--search-dropdown-border-radius);
  box-shadow: var(--search-box-shadow);
  width: var(--custom-dropdown-width);

  .dropdown-header {
    pointer-events: none;
    margin: var(--search-dropdown-header-margin);
  }

  .dropdown-list {
    @include scrollbarThin;

    min-height: 0;
    padding: var(--search-dropdown-padding);
    overflow-x: hidden;
    overflow-y: auto;

    &.hidden {
      display: none;
    }

    &:empty {
      display: none;
    }

    .infinite-loader {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
    }

    .loading {
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 32px;
      padding: 0 8px;

      ::part(info-wrapper) {
        height: inherit;
      }

      .wpp-spinner {
        margin-right: 8px;
      }
    }

    .nothing-found-wrapper {
      pointer-events: none;

      .nothing-found {
        color: var(--search-nothing-found-message-color);
      }
    }

    .nothing-found-divider {
      margin: 8px 0;
    }

    .create-new-option {
      color: var(--search-create-new-element-color);
    }

    .selected-values {
      display: flex;

      &.regular {
        padding: var(--search-regular-selected-values-wrapper-padding);
      }

      &.extended {
        padding: var(--search-extended-selected-values-wrapper-padding);
      }
    }

    ::slotted(.wpp-list-item) {
      width: 100%;
    }

    ::slotted(.wpp-list-item:not(:last-child)) {
      margin-bottom: var(--search-item-margin-bottom);
    }
  }
}

.label {
  margin: var(--search-label-margin);
}
