/**
  * @prop --wpp-list-item-border-radius:
  * @prop --wpp-list-item-height:
  * @prop --wpp-list-item-with-caption-height:
  * @prop --wpp-list-item-width:
  * @prop --wpp-list-item-padding:
  * @prop --wpp-list-item-with-right-icon-padding:
  * @prop --wpp-list-item-text-color-disabled:
  * @prop --wpp-list-item-caption-text-color:
  * @prop --wpp-list-item-icons-color-disabled:
  * @prop --wpp-list-item-left-wrapper-margin-right:
  * @prop --wpp-list-item-right-wrapper-margin-right:
  * @prop --wpp-list-item-label-text-color-selected:
  * @prop --wpp-list-item-label-text-color-selected-hover:
  * @prop --wpp-list-item-label-text-color-selected-active:
  * @prop --wpp-list-item-bg-color:
  * @prop --wpp-list-item-bg-color-hover:
  * @prop --wpp-list-item-bg-color-active:
  * @prop --wpp-list-item-bg-color-selected:
  * @prop --wpp-list-item-icon-color-hover:
  * @prop --wpp-list-item-icon-color-active:
  * @prop --wpp-list-item-left-icon-color:
  * @prop --wpp-list-item-left-icon-color-hover:
  * @prop --wpp-list-item-left-icon-color-active:
  * @prop --wpp-list-item-left-icon-color-selected:
  * @prop --wpp-list-item-right-icon-color-selected:
  * @prop --wpp-list-item-right-text-color:
  * @prop --wpp-list-item-right-text-color-disabled:
*/

:host {
  --li-border-radius: var(--wpp-list-item-border-radius, 6px);
  --li-height: var(--wpp-list-item-height, 32px);
  --li-with-caption-height: var(--wpp-list-item-with-caption-height, 52px);
  --li-width: var(--wpp-list-item-width, 240px);
  --li-padding: var(--wpp-list-item-padding, 0 8px);
  --li-with-right-icon-padding: var(--wpp-list-item-with-right-icon-padding, 0 6px 0 8px);
  --li-text-color-disabled: var(--wpp-list-item-text-color-disabled, var(--wpp-text-color-disabled));
  --li-caption-text-color: var(--wpp-list-item-caption-text-color, var(--wpp-text-color-info));
  --li-icons-color-disabled: var(--wpp-list-item-icons-color-disabled, var(--wpp-icon-color-disabled));
  --li-left-wrapper-margin-right: var(--wpp-list-item-left-wrapper-margin-right, 8px);
  --li-right-wrapper-margin-right: var(--wpp-list-item-right-wrapper-margin-right, -8px);

  --li-label-text-line-height: var(--wpp-list-item-label-text-line-height, 24px);

  --li-label-text-color-selected: var(--wpp-list-item-label-text-color-selected, var(--wpp-brand-color));
  --li-label-text-color-selected-hover: var(
    --wpp-list-item-label-text-color-selected-hover,
    var(--wpp-brand-color-hover)
  );
  --li-label-text-color-selected-active: var(
    --wpp-list-item-label-text-color-selected-active,
    var(--wpp-brand-color-active)
  );

  --li-bg-color: var(--wpp-list-item-bg-color, transparent);
  --li-bg-color-hover: var(--wpp-list-item-bg-color-hover, var(--wpp-grey-color-200));
  --li-bg-color-active: var(--wpp-list-item-bg-color-active, var(--wpp-grey-color-300));
  --li-bg-color-selected: var(--wpp-list-item-bg-color-selected, var(--wpp-primary-color-100));

  --li-icon-color-hover: var(--wpp-list-item-icon-color-hover, var(--wpp-icon-color-hover));
  --li-icon-color-active: var(--wpp-list-item-icon-color-active, var(--wpp-icon-color-active));
  --li-left-icon-color: var(--wpp-list-item-left-icon-color, var(--wpp-grey-color-800));
  --li-left-icon-color-hover: var(--wpp-list-item-left-icon-color-hover, var(--wpp-grey-color-800));
  --li-left-icon-color-active: var(--wpp-list-item-left-icon-color-active, var(--wpp-grey-color-900));
  --li-left-icon-color-selected: var(--wpp-list-item-left-icon-color-selected, var(--wpp-brand-color));
  --li-right-icon-color-selected: var(--wpp-list-item-right-icon-color-selected, var(--wpp-grey-color-600));
  --li-right-text-color: var(--wpp-list-item-right-text-color, var(--wpp-grey-color-800));
  --li-right-text-color-disabled: var(--wpp-list-item-right-text-color-disabled, var(--wpp-grey-color-500));

  --li-info-wrapper-padding: var(--wpp-li-info-wrapper-padding, 0 8px 0 0);

  --li-label-text-font-weight: var(--wpp-list-label-text-font-weight, 400);
  --li-label-text-font-weight-selected: var(--wpp-list-label-text-font-weight-selected, 500);
  --li-highlight-font-weight: var(--wpp-list-item-highlight-font-weight, 800);

  --li-subtitle-text-color: var(--wpp-list-item-subtitle-text-color, var(--wpp-grey-color-1000));
  --li-subtitle-padding: var(--wpp-li-subtitle-padding, 13px 0 5px 8px);

  display: flex;
  flex-direction: column;
  width: fit-content;
  outline: none;

  .subtitle {
    @include slotWrapper;
    @include typographySStrong;

    width: var(--li-width);
    padding: var(--li-subtitle-padding);
    color: var(--li-subtitle-text-color);
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--li-height);
    width: var(--li-width);
    padding: var(--li-padding);
    background-color: var(--li-bg-color);
    border-radius: var(--li-border-radius);
    box-sizing: border-box;
    cursor: pointer;

    .label {
      --wpp-typography-s-body-font-weight: var(--li-label-text-font-weight);
      --wpp-typography-s-body-line-height: var(--li-label-text-line-height);
    }

    .info-wrapper {
      min-width: 0;
      padding: var(--li-info-wrapper-padding);

      .body-wrapper {
        min-width: 0;
        overflow: hidden;

        .highlight-text-wrapper {
          width: 100%;
        }
      }

      .tooltip {
        min-width: 0;

        &::part(anchor) {
          overflow: hidden;
        }
      }

      .label,
      .caption {
        &.slot-hidden {
          display: none;
        }

        .highlight-text,
        ::slotted(*) {
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .highlight-wrapper {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          .highlight {
            @include typographySStrong;

            --wpp-typography-s-strong-font-weight: var(--li-highlight-font-weight);
          }
        }
      }
    }

    ::slotted([slot='right'][type='s-body']) {
      color: var(--li-right-text-color);
    }

    ::slotted(.wpp-icon[slot='left']) {
      color: var(--li-left-icon-color);
    }

    &.non-interactive,
    &.has-toggle {
      cursor: default;
    }

    &:hover:not(.checked):not(.active):not(.loading-item):not(.non-interactive):not(.has-toggle) {
      background-color: var(--li-bg-color-hover);

      ::slotted([slot='left']),
      ::slotted([slot='right']),
      .fallback-icon {
        color: var(--li-icon-color-hover);
      }

      ::slotted(.wpp-icon[slot='left']) {
        color: var(--li-left-icon-color-hover);
      }

      ::slotted([slot='right'][type='s-body']) {
        color: var(--li-right-text-color);
      }
    }

    &:active:not(.checked):not(.active):not(.loading-item):not(.non-interactive):not(.has-toggle),
    &:focus-visible {
      background-color: var(--li-bg-color-active);
      outline: none;

      ::slotted([slot='left']),
      ::slotted([slot='right']),
      .fallback-icon {
        color: var(--li-icon-color-active);
      }

      ::slotted(.wpp-icon[slot='left']) {
        color: var(--li-left-icon-color-active);
      }
    }

    &.with-right-icon {
      padding: var(--li-with-right-icon-padding);
    }

    &.checked:not(.non-interactive):not(.has-toggle),
    .multiple:not(.non-interactive):not(.has-toggle),
    .active:not(.non-interactive):not(.has-toggle) {
      background-color: var(--li-bg-color-selected);

      .info-wrapper {
        .label {
          @include typographySMidi;

          --wpp-typography-s-midi-font-weight: var(--li-label-text-font-weight-selected);
          --wpp-typography-s-body-line-height: var(--li-label-text-line-height);

          line-height: var(--li-label-text-line-height);
          color: var(--li-label-text-color-selected);

          .highlight-wrapper {
            .highlight {
              color: var(--li-label-text-color-selected);
            }
          }
        }
      }

      ::slotted([slot='left']),
      .fallback-icon {
        color: var(--li-left-icon-color-selected);
      }
    }

    &.multiple.checked:not(.non-interactive) {
      &:hover {
        .label {
          color: var(--li-label-text-color-selected-hover);
        }
      }

      &:active {
        .label {
          color: var(--li-label-text-color-selected-active);
        }
      }
    }

    &.with-caption {
      height: var(--li-with-caption-height);

      ::slotted(.wpp-action-button) {
        margin-right: 0;
      }

      .info-wrapper {
        flex-direction: row;
        align-items: center;

        .caption {
          display: flex;
          color: var(--li-caption-text-color);

          &.slot-hidden {
            display: none;
          }
        }
      }

      &.multiple {
        .info-wrapper {
          align-items: flex-start;

          .wpp-checkbox {
            margin-top: 5px;
          }
        }

        .right {
          height: 100%;
          align-items: flex-start;
          margin-top: 4px;

          ::slotted([slot='right'].wpp-tag) {
            margin-top: 3px;
          }

          ::slotted([slot='right'][type='s-body']) {
            margin-top: 4px;
          }
        }
      }
    }

    &.disabled {
      background-color: transparent;
      pointer-events: none;

      .info-wrapper {
        .label,
        .caption {
          color: var(--li-text-color-disabled);
        }
      }

      ::slotted([slot='left']),
      ::slotted([slot='right']),
      .fallback-icon {
        color: var(--li-icons-color-disabled);
      }

      ::slotted(.wpp-avatar[slot='left']) {
        opacity: 0.4;
      }

      ::slotted(.wpp-tag[slot='right']) {
        opacity: 0.5;
      }

      ::slotted([slot='right'][type='s-body']) {
        color: var(--li-right-text-color-disabled);
      }

      ::slotted(.wpp-action-button) {
        --ab-inverted-icon-color: var(--li-icons-color-disabled);
        --ab-tertiary-icon-color: var(--li-icons-color-disabled);
        --ab-secondary-icon-color: var(--li-icons-color-disabled);
        --ab-primary-icon-color: var(--li-icons-color-disabled);
      }
    }

    &.loading-item {
      pointer-events: none;
    }

    &.link {
      text-decoration: none;
    }

    .info-wrapper {
      display: flex;
      align-items: center;
      min-width: 0;

      .body-wrapper {
        min-width: 0;
      }

      .label,
      .caption {
        @include typographySBody;
      }
    }

    .wpp-checkbox,
    .left {
      margin-right: var(--li-left-wrapper-margin-right);
    }

    ::slotted(.wpp-action-button),
    ::slotted(.wpp-menu-context) {
      margin-right: var(--li-right-wrapper-margin-right);
    }

    .label,
    .right,
    .left {
      display: flex;
    }

    .left,
    .caption,
    .right {
      @include slotWrapper;
    }
  }

  &:host(.wpp-disabled) {
    cursor: not-allowed;
  }
}

:host(:focus-visible:not(.wpp-disabled):not(.non-interactive)) {
  .item {
    background-color: var(--li-bg-color-active);

    .wpp-checkbox {
      --checkbox-bg-color: var(--checkbox-bg-color-active);
      --checkbox-border-color: var(--checkbox-border-color-active);
    }

    ::slotted([slot='left']),
    ::slotted([slot='right']),
    .fallback-icon {
      color: var(--li-icon-color-active);
    }

    &.checked {
      background-color: var(--wpp-primary-color-200);

      .wpp-checkbox {
        --checkbox-bg-color-checked: var(--checkbox-bg-color-checked-active);
        --checkbox-border-color-checked: var(--checkbox-border-color-checked-active);
      }

      .info-wrapper {
        .label {
          color: var(--li-label-text-color-selected-active);
        }
      }
    }
  }
}

:host(.wpp-hidden) {
  display: none;
}

:host(.wpp-mounted) {
  .label,
  .caption {
    .highlight-text,
    ::slotted(*) {
      overflow: hidden;
    }
  }
}

.with-tooltip {
  width: 100%;
  &::part(anchor) {
    width: 100%;
  }
}

:host(.wpp-loading) {
  opacity: 0;
}

.ul-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

// adding !important to override the styles from CSS reset (probably from normalize.css or similar), which sets font: inherit - only for the storybook
:host {
  .label.custom-typography ::slotted([slot='label']) {
    font-size: var(--wpp-list-item-label-font-size) !important;
    font-weight: var(--wpp-list-item-label-font-weight) !important;
    font-family: var(--wpp-list-item-label-font-family) !important;
    font-style: var(--wpp-list-item-label-font-style) !important;
    line-height: var(--wpp-list-item-label-line-height) !important;
    letter-spacing: var(--wpp-list-item-label-letter-spacing) !important;
    text-transform: var(--wpp-list-item-label-text-transform) !important;
    text-decoration: var(--wpp-list-item-label-text-decoration) !important;
    color: var(--wpp-list-item-label-color) !important;
  }

  .caption.custom-typography ::slotted([slot='caption']) {
    font-size: var(--wpp-list-item-caption-font-size) !important;
    font-weight: var(--wpp-list-item-caption-font-weight) !important;
    font-family: var(--wpp-list-item-caption-font-family) !important;
    font-style: var(--wpp-list-item-caption-font-style) !important;
    line-height: var(--wpp-list-item-caption-line-height) !important;
    letter-spacing: var(--wpp-list-item-caption-letter-spacing) !important;
    text-transform: var(--wpp-list-item-caption-text-transform) !important;
    text-decoration: var(--wpp-list-item-caption-text-decoration) !important;
    color: var(--wpp-list-item-caption-color) !important;
  }
}

