.colors-generator {
  padding: 0 10px;

  .input-info {
    display: flex;

    .wpp-input {
      width: 400px;
    }

    .color-block {
      margin-right: 50px;
    }

    .left {
      .colors {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .right {
      margin-left: 100px;

      .manipulation-list {
        display: flex;
        flex-wrap: wrap;

        .wpp-input {
          width: 250px;
          margin-right: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .color-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-right: 25px;

    .wpp-typography {
      color: white;
    }
  }

  .generated-colors,
  .colors-list-section {
    margin-top: 20px;

    .colors-list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .tools {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    a {
      display: flex;
      margin: 0;
      color: blue;
      text-decoration: underline;
    }
  }
}
