:host {
  display: inline-flex;

  --wpp-icon-color: var(--wpp-primary-color-500);

  button {
    border: 1px solid var(--wpp-primary-color-500);
    border-radius: var(--wpp-border-radius-m);
    background-color: var(--wpp-white-color);
    height: 20px;
    width: 20px;
    box-sizing: content-box;
    outline: none;

    overflow: hidden;

    @include tabFocus(var(--wpp-grey-color-000), var(--wpp-brand-color));

    &.tab-focus {
      background-color: var(--wpp-primary-color-100);
    }

    &.size-m {
      padding: 10px;
    }

    &.size-s {
      padding: 6px;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--wpp-primary-color-100);
    }

    &:active,
    &.pressed {
      background-color: var(--wpp-primary-color-200);
      border: 1px solid var(--wpp-primary-color-600);

      --wpp-icon-color: var(--wpp-primary-color-600);
    }

    &.disabled {
      border: 1px solid var(--wpp-primary-color-300);
      background-color: var(--wpp-white-color);

      --wpp-icon-color: var(--wpp-primary-color-300);

      &:hover {
        cursor: not-allowed;

        border: 1px solid var(--wpp-primary-color-300);
        background-color: var(--wpp-white-color);

        --wpp-icon-color: var(--wpp-primary-color-300);
      }
    }

    &.loading {
      &:hover {
        cursor: not-allowed;

        border: 1px solid var(--wpp-primary-color-500);
        background-color: var(--wpp-white-color);

        --wpp-icon-color: var(--wpp-primary-color-500);
      }
    }
  }
}
