<div>
  <h2>Information Banners</h2>
  <p>Default Info Banner</p>
  <wpp-banner type="information" class="banner" show>
    USPS has updated their rates. Make sure you know how these changes affect
    your store
  </wpp-banner>

  <p>Closable Info Banner</p>
  <wpp-banner type="information" class="banner" show closable>
    USPS has updated their rates. Make sure you know how these changes affect
    your store
  </wpp-banner>

  <p>Info Banner with Action Button</p>
  <wpp-banner type="information" class="banner" show>
    USPS has updated their rates. Make sure you know how these changes affect
    store
    <div slot="actions">
      <wpp-action-button variant="inverted">Close</wpp-action-button>
    </div>
  </wpp-banner>

  <p>Closable Info Banner with Action Button</p>
  <wpp-banner type="information" class="banner" show closable>
    USPS has updated their rates. Make sure you know how these changes affect
    your store. USPS has updated their rates. Make sure you know how these
    changes affect your store. Make sure you know how these changes affect your
    store. Make sure you know how these changes affect your store
    <div slot="actions">
      <wpp-action-button variant="inverted">Close</wpp-action-button>
    </div>
  </wpp-banner>

  <p>Closable Info Banner with Disabled Action Button</p>
  <wpp-banner type="information" class="banner" show>
    USPS has updated their rates. Make sure you know how these changes affect
    store
    <div slot="actions">
      <wpp-action-button variant="inverted" disabled> Close </wpp-action-button>
    </div>
  </wpp-banner>

  <p>Closable Info Banner with Loading Action Button</p>
  <wpp-banner type="information" class="banner" show>
    USPS has updated their rates. Make sure you know how these changes affect
    store
    <div slot="actions">
      <wpp-action-button variant="inverted" loading> Close </wpp-action-button>
    </div>
  </wpp-banner>

  <h2 class="title">Warning Banners</h2>
  <p>Default Warning Banner</p>
  <wpp-banner type="warning" class="banner" show>
    USPS has updated their rates. Make sure you know how these changes affect
    your store
  </wpp-banner>

  <p>Closable Warning Banner</p>
  <wpp-banner type="warning" class="banner" show closable>
    USPS has updated their rates. Make sure you know how these changes affect
    your store
  </wpp-banner>

  <p>Warning Banner with Action Button</p>
  <wpp-banner type="warning" class="banner" show>
    USPS has updated their rates. Make sure you know how these changes affect
    store
    <div slot="actions">
      <wpp-action-button variant="inverted">Close</wpp-action-button>
    </div>
  </wpp-banner>

  <p>Closable Warning Banner with Action Button</p>
  <wpp-banner type="warning" class="banner" show closable>
    USPS has updated their rates. Make sure you know how these changes affect
    your store. USPS has updated their rates. Make sure you know how these
    changes affect your store
    <div slot="actions">
      <wpp-action-button variant="inverted">Close</wpp-action-button>
    </div>
  </wpp-banner>

  <p>Closable Warning Banner with Disabled Action Button</p>
  <wpp-banner type="warning" class="banner" show>
    USPS has updated their rates. Make sure you know how these changes affect
    store
    <div slot="actions">
      <wpp-action-button variant="inverted" disabled> Close </wpp-action-button>
    </div>
  </wpp-banner>

  <p>Closable Warning Banner with Loading Action Button</p>
  <wpp-banner type="warning" class="banner" show>
    USPS has updated their rates. Make sure you know how these changes affect
    store
    <div slot="actions">
      <wpp-action-button variant="inverted" loading> Close </wpp-action-button>
    </div>
  </wpp-banner>
</div>
