/**
  * @prop --wpp-input-height-m:
  * @prop --wpp-input-height-s:
  * @prop --wpp-input-padding-m:
  * @prop --wpp-input-padding-s:
  * @prop --wpp-input-with-icons-padding-m:
  * @prop --wpp-input-with-icons-padding-s:
  * @prop --wpp-input-label-color:
  * @prop --wpp-input-placeholder-color:
  * @prop --wpp-input-text-color-disabled:
  * @prop --wpp-input-bg-color:
  * @prop --wpp-input-bg-color-hover:
  * @prop --wpp-input-bg-color-active:
  * @prop --wpp-input-bg-color-disabled:
  * @prop --wpp-input-border-color:
  * @prop --wpp-input-border-color-hover:
  * @prop --wpp-input-border-color-active:
  * @prop --wpp-input-border-color-disabled:
  * @prop --wpp-input-first-border-color-focus:
  * @prop --wpp-input-second-border-color-focus:
  * @prop --wpp-input-border-width:
  * @prop --wpp-input-border-style:
  * @prop --wpp-input-icon-start-margin-m:
  * @prop --wpp-input-icon-end-margin-m:
  * @prop --wpp-input-icon-start-margin-s:
  * @prop --wpp-input-icon-end-margin-s:
  * @prop --wpp-input-icon-end-color-hover:
  * @prop --wpp-input-icon-end-color-active:
  * @prop --wpp-input-icon-end-first-border-color-focus:
  * @prop --wpp-input-icon-end-second-border-color-focus:
  * @prop --wpp-input-icon-color:
  * @prop --wpp-input-icon-color-disabled:
*/

:host {
  --text-input-height-m: var(--wpp-input-height-m, 40px);
  --text-input-height-s: var(--wpp-input-height-s, 32px);
  --text-input-padding-m: var(--wpp-input-padding-m, calc(9px - var(--text-input-border-width)) calc(12px - var(--text-input-border-width)));
  --text-input-padding-s: var(--wpp-input-padding-s, calc(5px - var(--text-input-border-width)) calc(12px - var(--text-input-border-width)));
  --text-input-with-icons-padding-m: var(--wpp-input-with-icons-padding-m, 38px);
  --text-input-with-icons-padding-s: var(--wpp-input-with-icons-padding-s, 36px);

  --text-input-label-color: var(--wpp-input-label-color, var(--wpp-text-color-info));
  --text-input-label-margin: var(--wpp-input-label-margin, 0 0 8px 0);
  --text-input-inline-message-margin: var(--wpp-input-inline-message-margin, 4px 0 0 0);
  --text-input-placeholder-color: var(--wpp-input-placeholder-color, var(--wpp-grey-color-700));
  --text-input-text-color-disabled: var(--wpp-input-text-color-disabled, var(--wpp-text-color-disabled));

  --text-input-bg-color: var(--wpp-input-bg-color, transparent);
  --text-input-bg-color-hover: var(--wpp-input-bg-color-hover, var(--wpp-grey-color-200));
  --text-input-bg-color-active: var(--wpp-input-bg-color-active, var(--wpp-grey-color-000));
  --text-input-bg-color-disabled: var(--wpp-input-bg-color-disabled, var(--wpp-grey-color-100));

  --text-input-border-color: var(--wpp-input-border-color, var(--wpp-grey-color-500)); // to do later
  --text-input-border-color-hover: var(--wpp-input-border-color-hover, var(--wpp-grey-color-700)); // to do later
  --text-input-border-color-active: var(--wpp-input-border-color-active, var(--wpp-grey-color-800)); // to do later
  --text-input-border-color-disabled: var(--wpp-input-border-color-disabled, var(--wpp-grey-color-400)); // to do later
  --text-input-first-border-color-focus: var(--wpp-input-first-border-color-focus, var(--wpp-grey-color-000));
  --text-input-second-border-color-focus: var(--wpp-input-second-border-color-focus, var(--wpp-brand-color));

  --text-input-warning-border-color: var(--wpp-input-warning-border-color, var(--wpp-warning-color-400));
  --text-input-warning-border-color-hover: var(--wpp-input-warning-border-color-hover, var(--wpp-warning-color-500));
  --text-input-error-border-color: var(--wpp-input-error-border-color, var(--wpp-danger-color-400));
  --text-input-error-border-color-hover: var(--wpp-input-error-border-color-hover, var(--wpp-danger-color-500));

  --text-input-icon-start-margin-m: var(--wpp-input-icon-start-margin-m, 0 0 0 10px);
  --text-input-icon-end-margin-m: var(--wpp-input-icon-end-margin-m, 0 12px 0 0);
  --text-input-icon-start-margin-s: var(--wpp-input-icon-start-margin-s, 0 0 0 8px);
  --text-input-icon-end-margin-s: var(--wpp-input-icon-end-margin-s, 0 10px 0 0);
  --text-input-icon-end-color-hover: var(--wpp-input-icon-end-color-hover, var(--wpp-icon-color-hover));
  --text-input-icon-end-color-active: var(--wpp-input-icon-end-color-active, var(--wpp-icon-color-active));
  --text-input-icon-end-first-border-color-focus: var(--wpp-input-icon-end-first-border-color-focus, var(--wpp-grey-color-000));
  --text-input-icon-end-second-border-color-focus: var(--wpp-input-icon-end-second-border-color-focus, var(--wpp-brand-color));
  --text-input-icon-color: var(--wpp-input-icon-color, var(--wpp-icon-color));
  --text-input-icon-color-disabled: var(--wpp-input-icon-color-disabled, var(--wpp-icon-color-disabled));

  --text-input-border-width: var(--wpp-input-border-width, var(--wpp-border-width-s));
  --text-input-border-style: var(--wpp-input-border-style, solid);

  position: relative;
  display: flex;
  flex-direction: column;
}

.with-tooltip {
  width: 100%;
  &::part(anchor) {
    width: 100%;
  }
}

.label-wrapper {
  color: var(--text-input-label-color);
}

.label {
  margin: var(--text-input-label-margin)
}

.icon-start,
.icon-end {
  position: absolute;
  top: 50%;
  display: flex;
  max-width: 20px;
  overflow: hidden;
  color: var(--text-input-icon-color);
  transform: translateY(-50%);

  ::slotted(*) {
    color: var(--text-input-icon-color);
  }
}

.icon-start {
  color: var(--wpp-grey-color-600);

  ::slotted(*) {
    color: var(--wpp-grey-color-600);
  }
}

.icon-end {
  right: 0;
  cursor: pointer;

  &:hover {
    color: var(--text-input-icon-end-color-hover);

    ::slotted([slot='icon-end']) {
      color: var(--text-input-icon-end-color-hover);
    }
  }

  &:active {
    color: var(--text-input-icon-end-color-active);

    ::slotted([slot='icon-end']) {
      color: var(--text-input-icon-end-color-active);
    }
  }
}

.input-with-icons {
  position: relative;
  display: flex;
  width: 100%;

  .disabled-icon {
    cursor: not-allowed;
    color: var(--text-input-icon-color-disabled);

    ::slotted([slot='icon-start']),
    ::slotted([slot='icon-end']) {
      color: var(--text-input-icon-color-disabled);
    }
  }

  .icon-end {
    outline: none;

    &:focus-visible {
      @include tabFocusProperties(var(--text-input-icon-end-first-border-color-focus), var(--text-input-icon-end-second-border-color-focus), 3px);

      color: var(--text-input-icon-end-color-hover);
    }
  }

  &:hover {
    .icon-start {
      color: var(--wpp-grey-color-800);

      ::slotted(*) {
        color: var(--wpp-grey-color-800);
      }
    }
  }
}

.wpp-inline-message {
  margin: var(--text-input-inline-message-margin);
}

:host(.wpp-size-m) {
  .input-with-icons {
    .with-icon-start {
      padding-left: var(--text-input-with-icons-padding-m);
    }

    .with-icon-end {
      padding-right: var(--text-input-with-icons-padding-m);
    }

    .icon-start {
      margin: var(--text-input-icon-start-margin-m);
    }

    .icon-end {
      margin: var(--text-input-icon-end-margin-m);
    }
  }
}

:host(.wpp-size-s) {
  .input-with-icons {
    .with-icon-start {
      padding-left: var(--text-input-with-icons-padding-s);
    }

    .with-icon-end {
      padding-right: var(--text-input-with-icons-padding-s);
    }

    .icon-start {
      margin: var(--text-input-icon-start-margin-s);
    }

    .icon-end {
      margin: var(--text-input-icon-end-margin-s);
    }
  }
}

:host([disabled]:not([disabled='false'])) {
  cursor: not-allowed;

  .input-with-icons {
    pointer-events: none;
  }
}

:host(.with-value) {
  .icon-start:not(.disabled-icon) {
    color: var(--wpp-grey-color-800);

    ::slotted(*) {
      color: var(--wpp-grey-color-800);
    }
  }
}

input {
  @include typographySBody;

  box-sizing: border-box;
  width: 100%;
  height: var(--text-input-height-m);
  background-color: var(--text-input-bg-color);
  border: var(--text-input-border-width) var(--text-input-border-style) var(--text-input-border-color);
  border-radius: var(--wpp-border-radius-m);
  outline: none;
  text-overflow: ellipsis;

  &[type='search']::-webkit-search-cancel-button {
    display: none;
  }

  .loading {
    pointer-events: none;
    ::part(info-wrapper) {
      height: inherit;
    }
    .wpp-spinner {
      margin-right: 7px;
    }
  }

    &[type='number'] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  &:hover {
    background: var(--text-input-bg-color-hover);
    border: var(--text-input-border-width) var(--text-input-border-style) var(--text-input-border-color-hover);
  }

  &:active {
    border: var(--text-input-border-width) var(--text-input-border-style) var(--text-input-border-color-active);
  }

  &::placeholder {
    color: var(--text-input-placeholder-color);
  }

  &:focus {
    background: var(--text-input-bg-color-active);
    border: var(--text-input-border-width) var(--text-input-border-style) var(--text-input-border-color-active);
  }

  &:disabled {
    color: var(--text-input-text-color-disabled);
    background: var(--text-input-bg-color-disabled);
    border: var(--text-input-border-width) var(--text-input-border-style) var(--text-input-border-color-disabled);
    cursor: not-allowed;

    &::placeholder {
      color: var(--text-input-text-color-disabled);
    }
  }

  &.size-m {
    @include tabFocus(var(--text-input-first-border-color-focus), var(--text-input-second-border-color-focus), var(--wpp-border-radius-m));

    padding: var(--text-input-padding-m);
  }

  &.size-s {
    @include tabFocus(var(--text-input-first-border-color-focus), var(--text-input-second-border-color-focus), var(--wpp-border-radius-s));

    height: var(--text-input-height-s);
    padding: var(--text-input-padding-s);
    border-radius: var(--wpp-border-radius-s);
  }

  @include inputWithMessage(var(--text-input-border-width), var(--text-input-border-style));

  &.warning {
    border: var(--text-input-border-width) var(--text-input-border-style) var(--wpp-warning-color-400);

    &:hover {
      border: var(--text-input-border-width) var(--text-input-border-style) var(--wpp-warning-color-500);
    }
  }

  &.error, &.with-validation-error {
    border: var(--text-input-border-width) var(--text-input-border-style) var(--wpp-danger-color-400);

    &:hover {
      border: var(--text-input-border-width) var(--text-input-border-style) var(--wpp-danger-color-500);
    }
  }
}

@keyframes onAutoFillStart {
  from {
  }
  to {
  }
}

input {
  &:autofill,
  &:-webkit-autofill {
    animation-name: onAutoFillStart;
    transition: background-color 50000s ease-in-out 0s;
  }
}
