.container {
  display: flex;
  flex-flow: row wrap;
}

.customItem {
  width: 40%;
  margin-bottom: 10px;

  --wpp-list-item-width: 100%;
}

.item {
  margin-bottom: 10px;
}

.items {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.headers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.variants {
  display: flex;
  flex-direction: row;
}
